﻿@using System.Linq;
@model ProntoMVC.Data.Models.Autorizacione
@{
    ViewBag.Title = "Autorizaciones";
}
@*<a>@Html.ActionLink("Nueva Autorizacion", "Edit", new { id = -1 }, new { @class = "btn btn-primary" })</a>*@
@*http://stackoverflow.com/questions/10429510/display-html-within-html-actionlink-with-twitter-bootstrap*@
@*<div class="container-fluid">
    <div>
        <div class="row-fluid">*@
<br />
<div class="" style='font-size: 34px; margin-top: 5px; height: 45px; font-weight: 400; margin-left: 20px;
    text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
    Autorizaciones
</div>

<div class="row-fluid">
<div class="span2 lightblue">
    <br />
    <div id="ArbolFirmas">
    </div>
</div>
<div class="span9 lightblue">
    @* <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'"  class="btn btn-primary"  >
                    Nueva Comparativa
                </button>
                <button onclick="window.location.href='@Url.Action("Imprimir", new { id = -1 })'"  class="btn btn-primary"  >
                    imprimir prueba
                </button>
                <button onclick="firmar()" class="btn btn-primary">
                    firmar prueba
                </button>*@
    <br />
    <div id="progress" class="dialogContent" style="text-align: left; display: none;">
        <img id="loading" src="@Url.Content("~/Content/images/fhhrx.gif")"  style="margin-right: 5px;" />
        <asp:literal id="literalPleaseWait" runat="server" text="Espere por favor..." />
    </div>
    <style>
        /* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
        .modal
        {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8 ) url('http://sampsonresume.com/labs/pIkfp.gif') 50% 50% no-repeat;
        }
        
        /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
        body.loading
        {
            overflow: hidden;
        }
        
        /* Anytime the body has the loading class, our
   modal element will be visible */
        body.loading .modal
        {
            display: block;
        }
    </style>
    <div>
        <input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
    <div>
        <input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
    <div>
        <input id="IdObra" name="IdObra" type="hidden" value=@Request.QueryString["idobra"]></div>
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 14px;">
    </table>
    <div id="ListaPager" class="scroll" style="text-align: center;">
    </div>
    <br />
    @if (false)
    {
        <a class="btn  " style="color: Black" href="@Url.Action("FirmarTodo", new { @id = 1 })">
            @*  <i class="icon-print"></i>*@ &nbsp;Firmar todo</a> }
</div>
</div>
@*         </div>
   </div>
</div>*@
<style>
    .treeview a.selected
    {
        background-color: #eee;
        font-weight: bold !important;
    }
    
    
    .container-fluid
    {
        padding-right: 20px;
        padding-left: 0px;
    }
</style>
<script type="text/javascript">


$("body").on({
    // When ajaxStart is fired, add 'loading' to body class
    ajaxStart: function() { 
        $(this).addClass("loading"); 
    },
    // When ajaxStop is fired, rmeove 'loading' from body class
    ajaxStop: function() { 
        $(this).removeClass("loading"); 
    }    
});



    function getURLParameter(name) {
        return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search) || [, null])[1]
    );
    }

  

    var soloTieneRolFirmas =  @((Roles.IsUserInRole(ViewBag.NombreUsuario, "Firmas") && Roles.GetRolesForUser(ViewBag.NombreUsuario).Length == 1).ToString().ToLower()) // tenes que poner tolower porque si no razor devuelve False y javascript no entiende........ 



    function EsconderTodo() {
        
        pageLayout.close('west');
        pageLayout.hide('west');
        pageLayout.close('east');
        pageLayout.hide('east');
        // no llamar ni al armado del menu ni al armado del arbol
        $("#spanDelSuperbuscador").hide();

        $("[name='MenusesPronto']").hide();
    }

    $(document).ready(function () {

        if (soloTieneRolFirmas) {
        EsconderTodo();
        }
        else{
        pageLayout.show('west');
        
        }



        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("Autorizaciones", "Autorizacion")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); },
                'FechaFinal': function () { return $("#FechaFinal").val(); },
                'IdObra': getURLParameter("IdAutoriza") //1 // 411 //1 // 411
                // 'IdObra': function () { return $("#IdObra").val(); } 
            },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', '', '',
                          '', 'Tipo', 'Numero', 'Fecha',

            'Proveedor',
                            'Monto comp.',

                             'Monto prev.',
             'Orden',
             'Aprobo',
             'Mon.',
             'Obra',
             'Sector',
             'Centro de costo',
             'Cliente',

             'IdFormulario',
                          'Nro.Orden',

             'SectorEmisor',
             'IdObra',
             'Cotizacion'
            //'Liberado por',
            //'Importe Iva',
            //'IdAutoriza',


            ],




            colModel: [
                    { name: 'editar', index: 'act', align: 'center', width: 50, sortable: false, editable: false, search: false, hidden: true }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                    {name: 'editar', index: 'act', align: 'center', width: 50, sortable: false, editable: false, search: false, hidden: true }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                    {name: 'Imprimir', index: 'Imprimir', align: 'center', width: 50, sortable: false, 
                    editable: false, search: false, hidden: true }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Imprimir")'} },

                    {name: 'firmar', index: 'Imprimir', align: 'center', width: 50, sortable: false, editable: false, search: false }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Imprimir")'} },


                    {name: 'Documento', index: '', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'Numero', index: '', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'Fecha', index: '', align: 'right', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn']} },

                    { name: 'Proveedor', index: '', align: 'right', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'Monto p/compra', index: '', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'Monto previsto', index: '', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'orden', index: '', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'Aprobo', index: '', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },

                    { name: 'moneda', index: '', align: 'right', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'obra', index: '', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'sector', index: '', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'centro de costo', index: '', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'cliente', index: '', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },



                    { name: 'norden', index: '', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                    { name: '', index: '', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },

                          { name: '', index: '', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                    { name: '', index: '', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                    { name: '', index: '', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },




                    ],
            //            onSelectRow: function (id) {
            //                if (id && id !== lastSelectedId) {
            //                    if (typeof lastSelectedId !== "undefined") {
            //                        grid.jqGrid('restoreRow', lastSelectedId);
            //                    }
            //                    lastSelectedId = id;
            //                }
            //            },
            //            gridComplete: function () {
            //                $("a#firmalink").click(function () {
            //                    PedirFirma(this);
            //                });
            //            },
         



                  pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50, 100],
            sortname: 'FechaAutorizacion',
            sortorder: 'desc',
            viewrecords: true,


            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,



            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true

               , multiboxonly: true


            //imgpath: '/content/cupertino/images',
            //loadonce: true,

//            caption: '<b>Autorizaciones</b>'

        });
        //jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { edit: false, add: false, del: false, refresh: true, search: true });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 0, closeOnEscape: true, closeAfterSearch: true });

        //        jQuery("#Lista").jqGrid('gridResize', { minWidth: 350,
        //            maxWidth: 1500,
        //            minHeight: 80, maxHeight: 500
        //        });


        $("#Aux3").change(function () {

            alert('222');
        });




          function GrabarFirma2() {
            //alert('GrabarFirma2');
            var idusuario = $("#mySelect").val();
            var idComparativa = $("#Aux10").val();
            //var idFormulario = 5; // ojo q es diferente q IdFormulario


            var idFormulario = $("#Aux5").val();
            var IdComprobante = $("#Aux2").val();
            var IdAutorizacion = $("#Aux3").val();
            var IdAutoriza = $("#Aux1").val();


            if ($.isNumeric(idusuario)) {

                //alert('Firmando...');


                if (!$.isNumeric(IdComprobante)) {
                    idFormulario = 3; // alta de requerimiento, parche
                    IdComprobante = -1;
                }


                var urlpath = ROOT + 'Autorizacion/Firmar' + '?idFormulario=' + idFormulario + '&IdComprobante=' + IdComprobante + '&OrdenAutorizacion=' + 1 + '&IdAutorizo=' + idusuario
                //alert(urlpath);
                //con $.post no me anduvo bien...

                // http: //stackoverflow.com/questions/9416556/jquery-how-to-disable-the-entire-page
                //ShowProgressAnimation();

                //        $("body").on({
                //            ajaxStart: function () {
                //                $(this).addClass("loading");
                //            },
                //            ajaxStop: function () {
                //                $(this).removeClass("loading");
                //            }
                //        });  


                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: urlpath,
                    //            beforeSend: function () {
                    //                $("#loading").show();
                    //            },
                    //            complete: function () {
                    //                $("#loading").hide();
                    //            },
                    success: function (data) {
                        $("#Lista").trigger("reloadGrid")
                        alert('Firmado!');


                    }
                });



            }
            else {
                // alert('No tengo los datos! ' + urlpath);
            }
        }



        armarArbolAutorizaciones();


               
        // configuro el comportamiento del dialog, por si me madrugó el que está puesto en el layout
        $("#dialog-password").dialog({
                            buttons: {
                                'Aceptar': function () {
                                    //alert('hola');
                                    // $(this).dialog('close');
                                    // http://stackoverflow.com/questions/1031674/how-do-i-write-a-jquery-function-that-accepts-a-callback-as-a-parameter
                                    validatePwd2(GrabarFirma2, function () { });
                                    $(this).dialog('close');
                                },
                                'Cancelar': function () {
                                    $(this).dialog('close');
                                }
                            },
                            open: function () {

                            }
                        });

        $("#Firmar").change(function () {
            var IdAprobo = $("#Aprobo > option:selected").attr("value");
            var Aprobo = $("#Aprobo > option:selected").html();
            $("#Aux1").val(IdAprobo);
            $("#Aux2").val(Aprobo);
            $("#Aux3").val("");
            $("#Aux10").val("");


     


            $('#dialog-password').data('Combo', 'Aprobo');
            $('#dialog-password').dialog('open');




        });




        
      



        $("#anular").click(function () {
            $("#Aux1").val("");
            $("#Aux2").val("");
            $("#Aux3").val("");
            $("#Aux10").val("anularRM");
            $('#dialog-password').dialog('open');
        });

    });








    function armarArbolAutorizaciones() {


        $.post(ROOT + "Autorizacion/ArbolAutorizaciones", null, function (data) {
            var menu_html = '<ul id="Tablas233" class="filetree treeview-famfamfam"   >';
            var longitud = 0
            for (var i = 0; i < data.length; i++) {
                if (longitud > 0) {
                    if (longitud - data[i].IdItem.length == 3) { menu_html += '</ul></li>' }
                    if (longitud - data[i].IdItem.length == 6) { menu_html += '</ul></li></ul></li>' }
                    if (longitud - data[i].IdItem.length == 9) { menu_html += '</ul></li></ul></li></ul></li>' }
                    // if (longitud - data[i].IdItem.length == 12) { menu_html += '</ul></li></ul></li></ul></li></ul></li>' }
                    if (longitud - data[i].IdItem.length == 12) { menu_html += '</ul></li></ul></li></ul></li>' }
                }
                if (data[i].EsPadre == "SI" && longitud - data[i].IdItem.length < 12) {

                    if (data[i].Link.length > 0) {
                        menu_html += '<li><span class="folder" id="' + data[i].Clave + '">' + data[i].Descripcion + '</span><ul>'
                    }
                    else {
                        menu_html += '<li><span class="folder" id="' + data[i].Clave + '">' + data[i].Descripcion + '</span><ul>'
                    }

                }
                else {

                    menu_html += '<li  style="padding: 6px; margin-left: 15px"><a href="' + ROOT + data[i].Link + '">  ' + data[i].Descripcion + '</a></li>'

                    //                    if (data[i].Link.length > 0) {
                    //                        menu_html += '<li><span class="leaf country" id="' + data[i].Clave + '">' + data[i].Descripcion + '</span>' + '</li>'
                    //                    }
                    //                    else {
                    //                        menu_html += '<li><span class="leaf country" id="' + data[i].Clave + '">' + data[i].Descripcion + '</span></li>'
                    //                    }
                }
                longitud = data[i].IdItem.length;
            }
            if (longitud > 0) {
                if (longitud - 2 == 3) { menu_html += '</ul></li>' }
                if (longitud - 2 == 6) { menu_html += '</ul></li></ul></li>' }
                if (longitud - 2 == 9) { menu_html += '</ul></li></ul></li></ul></li>' }
                //                    if (longitud - 2 == 12) { menu_html += '</ul></li></ul></li></ul></li></ul></li>' }
                if (longitud - 2 == 12) { menu_html += '</ul></li></ul></li></ul></li>' }
            }
            menu_html += '</ul>';
            $("#ArbolFirmas").empty().append(menu_html);


            ReestableceScroll();


            $("#Tablas233").treeview({
                collapsed: false,
                //unique: true,  // to have only one item expanded at a time.
                animated: "fast", //  "medium",
                control: "#sidetreecontrol",
                persist: "location"



            });



        });




    }

</script>
@*



es un tx o un tl para llenar los firmantes?
Edu De Santis says:
te digo
Autorizaciones_TX_PorFormulario, fijate los parametros que dependen de lo que vas a firmar, este sp analiza lo que vas a firmar y te trae la lista de idempleados que lo puede firmar
I say:
oka, y cuando firmo llamo otro sp o escribo directo sobre tabla?
Edu De Santis says:
Entonces ahi agregas un registro en
Set oAut = oAp.AutorizacionesPorComprobante.Item(-1)
With oAut.Registro
.Fields("IdFormulario".Value = Columnas(13)
.Fields("IdComprobante".Value = Columnas(17)
.Fields("OrdenAutorizacion".Value = Columnas(14)
.Fields("IdAutorizo".Value = mvarIdAutorizo
.Fields("FechaAutorizacion".Value = Now
End With
oAut.Guardar
Set oAut = Nothing
y corres el sp : 
AutorizacionesPorComprobante_Generar
I say:
joya
Edu De Santis says:
el ultimo sp refresca los comprobantes a firmar
joya
Edu De Santis says:
el ultimo sp refresca los comprobantes a firmar
para vos tenes que correr un AutorizacionesPorComprobante_A
I say:
ok*@