﻿<div style="padding-left: 15px; padding-right: 15px;">
    <h3>Regimen de informacion de compras y ventas</h3>
    <div class="row-fluid">
        <div class="span3 lightblue">
            <div class="row-fluid">
                <div class="span3 lightblue">
                    Fecha inicial : 
                </div>
                <div class="span3 lightblue">
                    <input type="text" name="FechaInicial" id="FechaInicial" style="text-align: center; font-size: 20px; font-weight: bold; background-color: #e8eef4; " />
                    <script>
                        $("#FechaInicial").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'dd/mm/yy'
                            //numberOfMonths: 2,
                        });
                    </script>
                </div>
                <div class="span1 lightblue">
                </div>
            </div>
        </div>
        <div class="span3 lightblue">
            <div class="row-fluid">
                <div class="span3 lightblue">
                    Fecha final :
                </div>
                <div class="span3 lightblue">
                    <input type="text" name="FechaFinal" id="FechaFinal" style="text-align: center; font-size: 20px; font-weight: bold; background-color: #e8eef4; " />
                    <script>
                        $("#FechaFinal").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'dd/mm/yy'
                            //numberOfMonths: 2,
                        });
                    </script>
                </div>
                <div class="span1 lightblue">
                </div>
            </div>
        </div>
        <div class="span5 lightblue">
            <div class="span2 lightblue">
                <input type="button" id="Aceptar" value="Ejecutar consulta" class="btn btn-primary pull-right" usesubmitbehavior="false" />
            </div>
            <div class="span2 lightblue">
                <input type="button" id="Generar" value="Generar TXT" class="btn btn-primary pull-right" usesubmitbehavior="false" />
            </div>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        $('#Generar:button').attr('disabled', 'disabled');

        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Aceptar').click(function () {
            var Fecha;

            Fecha = $("#FechaInicial").val();
            if (Fecha.length == 0) {
                alert("Debe ingresar la fecha inicial");
                return;
            }
            Fecha = $("#FechaFinal").val();
            if (Fecha.length == 0) {
                alert("Debe ingresar la fecha final");
                return;
            }

            $('#Generar:button').removeAttr('disabled');

            $('#Lista').jqGrid('GridUnload');
            $('#Lista').jqGrid({
                url: '@Url.Action("RegimenDeInformacionDeComprasYVentas_Informe", "Reporte")',
                postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); } },
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Acciones', 'IdAux', 'T.Reg.', 'Fecha', 'Registro2', 'T.Comp.', 'Pto.Vta.', 'Nro.Comprob.1', 'Nro.Comprob.2', 'T.Doc.',
                           'Nro. Documento', 'Razon social', 'Importe total', 'Importe no gravado', 'Percepcion a no categorizados', 'Importe exento', 'Importe pago a cta. impuestos municipales',
                           'Importe percepciones IIBB', 'Importe percepciones impuestos municipales', 'Importe impuestos internos', 'Moneda', 'Cotizacion', 'Cantidad alicuotas IVA', 'Cod. ope.',
                           'Otros tributos', 'Importe gravado', 'Cod. alicuota IVA', 'Importe IVA discriminado', 'Numero despacho', 'Importe percepciones pagos IVA',
                           'Importe percepciones pagos impuestos nacionales', 'Credito fiscal computable', 'Cuit emisor corredor', 'Denominacion emisor corredor', 'Registro'],
                colModel: [
                            { name: 'act', index: 'act', align: 'center', width: 0, sortable: false, editable: false, search: false, hidden: true },
                            { name: 'IdAux', index: 'IdAux', align: 'left', width: 0, editable: false, hidden: true },
                            { name: 'TipoRegistro', index: 'TipoRegistro', align: 'center', width: 30, editable: false, hidden: false },
                            { name: 'Fecha', index: 'Fecha', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                            { name: 'Registro2', index: 'Registro2', align: 'left', width: 1000, editable: false, hidden: false },
                            { name: 'TipoComprobante2', index: 'TipoComprobante2', align: 'center', width: 40, editable: false, hidden: false },
                            { name: 'PuntoVenta', index: 'PuntoVenta', align: 'right', width: 40, editable: false, hidden: false },
                            { name: 'NumeroComprobante1', index: 'NumeroComprobante1', align: 'right', width: 80, editable: false, hidden: false },
                            { name: 'NumeroComprobante2', index: 'NumeroComprobante2', align: 'right', width: 80, editable: false, hidden: false },
                            { name: 'TipoDocumentoIdentificacion', index: 'TipoDocumentoIdentificacion', align: 'center', width: 30, editable: false, hidden: false },
                            { name: 'NumeroDocumentoIdentificacion', index: 'NumeroDocumentoIdentificacion', align: 'center', width: 100, editable: false, hidden: false },
                            { name: 'RazonSocial', index: 'RazonSocial', align: 'left', width: 300, editable: false, hidden: false },
                            { name: 'ImporteTotal', index: 'ImporteTotal', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'ImporteNoGravado', index: 'ImporteNoGravado', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'PercepcionANoCategorizados', index: 'PercepcionANoCategorizados', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'ImporteExento', index: 'ImporteExento', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'ImportePagoACuentaImpuestosMunicipales', index: 'ImportePagoACuentaImpuestosMunicipales', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'ImportePercepcionesIIBB', index: 'ImportePercepcionesIIBB', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'ImportePercepcionesImpuestosMunicipales', index: 'ImportePercepcionesImpuestosMunicipales', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'ImporteImpuestosInternos', index: 'ImporteImpuestosInternos', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'Moneda', index: 'Moneda', align: 'center', width: 40, editable: false, hidden: false },
                            { name: 'CotizacionMoneda', index: 'CotizacionMoneda', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'CantidadAlicuotasIVA', index: 'CantidadAlicuotasIVA', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'CodigoOperacion', index: 'CodigoOperacion', align: 'center', width: 30, editable: false, hidden: false },
                            { name: 'OtrosTributos', index: 'OtrosTributos', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'ImporteGravado', index: 'ImporteGravado', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'CodigoAlicuotaIVA', index: 'CodigoAlicuotaIVA', align: 'center', width: 40, editable: false, hidden: false },
                            { name: 'ImporteIVADiscriminado', index: 'ImporteIVADiscriminado', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'NumeroDespacho', index: 'NumeroDespacho', align: 'left', width: 50, editable: false, hidden: false },
                            { name: 'ImportePercepcionesOPagosImpuestoAlValorAgregado', index: 'ImportePercepcionesOPagosImpuestoAlValorAgregado', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'ImportePercepcionesOPagosImpuestosNacionales', index: 'ImportePercepcionesOPagosImpuestosNacionales', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'CreditoFiscalComputable', index: 'CreditoFiscalComputable', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'CuitEmisorCorredor', index: 'CuitEmisorCorredor', align: 'center', width: 100, editable: false, hidden: false },
                            { name: 'DenominacionEmisorCorredor', index: 'DenominacionEmisorCorredor', align: 'left', width: 200, editable: false, hidden: false },
                            { name: 'Registro', index: 'Registro', align: 'left', width: 1000, editable: false, hidden: false },
                ],
                onSelectRow: function (id) {
                    if (id && id !== lastSelectedId) {
                        if (typeof lastSelectedId !== "undefined") {
                            grid.jqGrid('restoreRow', lastSelectedId);
                        }
                        lastSelectedId = id;
                    }
                },
                pager: $('#ListaPager'),
                rowNum: 5000,
                rowList: [10, 20, 5000],
                sortname: 'IdAux',
                sortorder: 'asc',
                viewrecords: true,
                width: 'auto',
                height: '100%',
                altRows: false,
                footerrow: true,
                userDataOnFooter: true,
                caption: '',
                autowidth: true,
                shrinkToFit: false
            });
            jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
            jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
        });

        $('#Generar').click(function () {
            var cm, colModel, dataIds, data1, filename, valor, iddeta, h, i, j;

            $grid = $('#Lista');
            colModel = $grid.jqGrid('getGridParam', 'colModel');
            dataIds = $grid.jqGrid('getDataIDs');

            for (h = 1; h <= 5; h++) {
                data1 = "";
                filename = "RegimenDeInformacionDeComprasYVentas_" + h +".txt";
                for (i = 0; i < dataIds.length; i++) {
                    try {
                        data = $grid.jqGrid('getRowData', dataIds[i]);
                        if (data["TipoRegistro"] == h) {
                            valor = data['Registro'];
                            data1 = data1 + valor + '\r\n';
                        }
                    }
                    catch (ex) {
                        alert("Generar TXT: No se pudo generar el TXT : " + ex);
                        return;
                    }
                };
                data1 = data1.substring(0, data1.length - 1)
                //Rutina para pasarle al cliente el archivo generado
                var element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(data1));
                element.setAttribute('download', filename);
                element.style.display = 'none';
                document.body.appendChild(element);
                element.click();
                document.body.removeChild(element);
            };

        });

    });
</script>
