﻿<div style="padding-left: 15px; padding-right: 15px;">
    <h3>SIFERE Retenciones IIBB (Pagos)</h3>
    <div class="row-fluid">
        <div class="span3 lightblue">
            <div class="row-fluid">
                <div class="span3 lightblue">
                    Desde :
                </div>
                <div class="span3 lightblue">
                    <input type="text" name="FechaInicial" id="FechaInicial" style="text-align: center; font-size: 20px; font-weight: bold; background-color: #e8eef4; " />
                    <script>
                        $("#FechaInicial").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'dd/mm/yy'
                            //numberOfMonths: 2,
                        });
                    </script>
                </div>
                <div class="span1 lightblue">
                </div>
            </div>
        </div>
        <div class="span3 lightblue">
            <div class="row-fluid">
                <div class="span3 lightblue">
                    Hasta :
                </div>
                <div class="span3 lightblue">
                    <input type="text" name="FechaFinal" id="FechaFinal" style="text-align: center; font-size: 20px; font-weight: bold; background-color: #e8eef4; " />
                    <script>
                        $("#FechaFinal").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'dd/mm/yy'
                            //numberOfMonths: 2,
                        });
                    </script>
                </div>
                <div class="span1 lightblue">
                </div>
            </div>
        </div>
        <div class="span2 lightblue">
            <div class="row-fluid">
                <div class="span4 lightblue">
                    Actividad :
                </div>
                <div class="span5 lightblue">
                    <select id="Combo_1" style="width: 50px;">
                        <option>""</option>
                    </select>
                    <script>
                        var combo = $("#Combo_1")
                        combo.find("option:gt(0)").remove();
                        combo.find("option:first").text("Cargando...");
                        $.getJSON(ROOT + 'Articulo/GetStoreProcSinParametros?sp=IBCondiciones_TX_PorCodigoActividadParaCombo', {
                        }, function (json) {
                            combo.find("option:first").text("");
                            for (var i = 0; i < json.length; i++) {
                                $("<option/>").attr("value", json[i].value).text(json[i].title).appendTo(combo);
                            }
                        });
                    </script>
                </div>
                @*<div class="span1 lightblue">
                </div>*@
            </div>
        </div>
        <div class="span4 lightblue">
            <div class="span3 lightblue">
                <input type="button" id="Aceptar" value="Ejecutar consulta" class="btn btn-primary pull-right" usesubmitbehavior="false" />
            </div>
            <div class="span3 lightblue">
                <input type="button" id="Generar" value="Generar TXT" class="btn btn-primary pull-right" usesubmitbehavior="false" />
            </div>
        </div>
    </div>
    <br />
    <div><input id="CodigoActividad" name="CodigoActividad" type="hidden" /></div>
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        $('#Generar:button').attr('disabled', 'disabled');

        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Aceptar').click(function () {
            var Fecha, CodigoActividad;

            Fecha = $("#FechaInicial").val();
            if (Fecha.length == 0) {
                alert("Debe ingresar la fecha inicial");
                return;
            }
            Fecha = $("#FechaFinal").val();
            if (Fecha.length == 0) {
                alert("Debe ingresar la fecha final");
                return;
            }
            CodigoActividad = $("#CodigoActividad").val();
            if (CodigoActividad.length == 0) {
                alert("Debe ingresar el codigo de actividad");
                return;
            }

            $('#Generar:button').removeAttr('disabled');

            $('#Lista').jqGrid('GridUnload');
            $('#Lista').jqGrid({
                url: '@Url.Action("SIFERE_RetencionesIIBBPagos_Proveedores_Informe", "Reporte")',
                postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); }, 'CodigoActividad': function () { return $("#CodigoActividad").val(); } },
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Acciones', 'IdAux', 'IdDetalleOrdenPagoImpuestos', 'Origen', 'Proveedor', 'Direccion proveedor', 'Localidad proveedor', 'Provincia proveedor', 'Cuit proveedor',
                           'Fecha', 'Numero', 'Cod. cond.', 'Importe total', 'Base calculo', 'Alicuota', 'Importe retencion', 'Numero certificado', 'Numero comprobante imputado', 'IdProvinciaImpuesto',
                           'Provincia impuesto', 'Tipo registro', 'IdIBCondicion', 'Condicion IIBB', 'Cuit empresa', 'Numero inscripcion IIBB', 'Codigo condicion IIBB', 'Letra comp. imputado',
                           'Jurisdiccion proveedor', 'Numero orden', 'Registro', 'Registro1', 'IdCodigoIva', 'Importe IVA', 'Suc. comprob. imputado', 'Cod. comprob.', 'Fecha comprobante',
                           'Importe comprobante', 'Cod. norma', 'Cod. comprob.', 'Cod. actividad', 'Codigo articulo inciso', 'Otros conceptos', 'Cod. cat. IIBB alter.'],
                colModel: [
                            { name: 'act', index: 'act', align: 'center', width: 0, sortable: false, editable: false, search: false, hidden: true },
                            { name: 'IdAux', index: 'IdAux', align: 'left', width: 0, editable: false, hidden: true },
                            { name: 'IdDetalleOrdenPagoImpuestos', index: 'IdDetalleOrdenPagoImpuestos', align: 'left', width: 0, editable: false, hidden: true },
                            { name: 'Origen', index: 'Origen', align: 'center', width: 40, editable: false, hidden: false },
                            { name: 'Proveedor', index: 'Proveedor', align: 'left', width: 400, editable: false, hidden: false },
                            { name: 'DireccionProveedor', index: 'DireccionProveedor', align: 'left', width: 200, editable: false, hidden: false },
                            { name: 'LocalidadProveedor', index: 'LocalidadProveedor', align: 'left', width: 200, editable: false, hidden: false },
                            { name: 'ProvinciaProveedor', index: 'ProvinciaProveedor', align: 'left', width: 200, editable: false, hidden: false },
                            { name: 'CuitProveedor', index: 'CuitProveedor', align: 'center', width: 100, editable: false, hidden: false },
                            { name: 'Fecha', index: 'Fecha', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                            { name: 'Numero', index: 'Numero', align: 'right', width: 60, editable: false, hidden: false },
                            { name: 'CodigoCondicion', index: 'CodigoCondicion', align: 'center', width: 40, editable: false, hidden: false },
                            { name: 'ImporteTotal', index: 'ImporteTotal', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'BaseCalculo', index: 'BaseCalculo', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'Alicuota', index: 'Alicuota', align: 'right', width: 50, editable: false, hidden: false },
                            { name: 'ImporteRetencion', index: 'ImporteRetencion', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'NumeroCertificado', index: 'NumeroCertificado', align: 'right', width: 80, editable: false, hidden: false },
                            { name: 'NumeroComprobanteImputado', index: 'NumeroComprobanteImputado', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'IdProvinciaImpuesto', index: 'IdProvinciaImpuesto', align: 'right', width: 120, editable: false, hidden: true },
                            { name: 'ProvinciaImpuesto', index: 'ProvinciaImpuesto', align: 'left', width: 200, editable: false, hidden: false },
                            { name: 'TipoRegistro', index: 'TipoRegistro', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'IdIBCondicion', index: 'IdIBCondicion', align: 'right', width: 120, editable: false, hidden: true },
                            { name: 'IBCondicion', index: 'IBCondicion', align: 'left', width: 300, editable: false, hidden: false },
                            { name: 'CuitEmpresa', index: 'CuitEmpresa', align: 'center', width: 100, editable: false, hidden: false },
                            { name: 'IBNumeroInscripcion', index: 'IBNumeroInscripcion', align: 'right', width: 120, editable: false, hidden: false },
                            { name: 'CodigoIBCondicion', index: 'CodigoIBCondicion', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'LetraComprobanteImputado', index: 'LetraComprobanteImputado', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'JurisdiccionProveedor', index: 'JurisdiccionProveedor', align: 'left', width: 50, editable: false, hidden: false },
                            { name: 'NumeroOrden', index: 'NumeroOrden', align: 'right', width: 50, editable: false, hidden: false },
                            { name: 'Registro', index: 'Registro', align: 'left', width: 400, editable: false, hidden: false },
                            { name: 'Registro1', index: 'Registro1', align: 'left', width: 400, editable: false, hidden: false },
                            { name: 'IdCodigoIva', index: 'IdCodigoIva', align: 'right', width: 120, editable: false, hidden: true },
                            { name: 'ImporteIVA', index: 'ImporteIVA', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'SucursalComprobanteImputado', index: 'SucursalComprobanteImputado', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'CodigoComprobante', index: 'CodigoComprobante', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'FechaComprobante', index: 'FechaComprobante', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                            { name: 'ImporteComprobante', index: 'ImporteComprobante', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'CodigoNorma', index: 'CodigoNorma', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'CodigoComprobante', index: 'CodigoComprobante', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'CodigoActividad', index: 'CodigoActividad', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'CodigoArticuloInciso', index: 'CodigoArticuloInciso', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'OtrosConceptos', index: 'OtrosConceptos', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'CodigoCategoriaIIBBAlternativo', index: 'CodigoCategoriaIIBBAlternativo', align: 'center', width: 50, editable: false, hidden: false }
                ],
                onSelectRow: function (id) {
                    if (id && id !== lastSelectedId) {
                        if (typeof lastSelectedId !== "undefined") {
                            grid.jqGrid('restoreRow', lastSelectedId);
                        }
                        lastSelectedId = id;
                    }
                },
                pager: $('#ListaPager'),
                rowNum: 5000,
                rowList: [10, 20, 5000],
                sortname: 'IdAux',
                sortorder: 'asc',
                viewrecords: true,
                width: 'auto',
                height: '100%',
                altRows: false,
                footerrow: true,
                userDataOnFooter: true,
                caption: '',
                autowidth: true,
                shrinkToFit: false
            });
            jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
            jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
        });

        $('#Generar').click(function () {
            var cm, colModel, dataIds, data1, filename, valor, valor2, valor3, Condicion, iddeta, h, i, j, Provincias, arr, arr2;

            $grid = $('#Lista');
            colModel = $grid.jqGrid('getGridParam', 'colModel');
            dataIds = $grid.jqGrid('getDataIDs');
            
            Provincias = "";
            for (i = 0; i < dataIds.length; i++) {
                try {
                    data = $grid.jqGrid('getRowData', dataIds[i]);
                    valor = data['ProvinciaImpuesto'];
                    valor2 = data['IdIBCondicion'];
                    valor3 = valor + '?' + valor2 + '|';
                    if (Provincias.indexOf(valor3) == -1) {
                        Provincias = Provincias + valor3;
                    }
                }
                catch (ex) {
                    alert("Generar TXT: No se pudo generar el TXT : " + ex);
                    return;
                }
            };
            Provincias = Provincias.substring(0, Provincias.length - 1)

            arr = Provincias.split('|');
            $.each(arr, function (number) {
                arr2 = arr[number].split('?');
                data1 = "";
                Condicion = "";
                for (i = 0; i < dataIds.length; i++) {
                    try {
                        data = $grid.jqGrid('getRowData', dataIds[i]);
                        valor = data['ProvinciaImpuesto'];
                        valor2 = data['IdIBCondicion'];
                        if (valor.length > 0 && valor == arr2[0] && valor2 == arr2[1]) {
                            valor3 = data['Registro'];
                            data1 = data1 + valor3 + '\r\n';
                            if (Condicion.length == 0) {
                                Condicion = data['IBCondicion'];
                            }
                        }
                    }
                    catch (ex) {
                        alert("Generar TXT: No se pudo generar el TXT : " + ex);
                        return;
                    }
                };
                data1 = data1.substring(0, data1.length - 1)
                filename = "IIBB_" + arr2[0] + ' [' + Condicion + '].txt';
                //Rutina para pasarle al cliente el archivo generado
                var element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(data1));
                element.setAttribute('download', filename);
                element.style.display = 'none';
                document.body.appendChild(element);
                element.click();
                document.body.removeChild(element);
            });
        });

        $("#Combo_1").change(function () {
            //var idusuario = $("#Combo_1 option:selected").val()
            var CodigoActividad = $("#Combo_1 > option:selected").html();
            //$("#usuario").val(usuario);
            $("#CodigoActividad").val(CodigoActividad);
        });

    });
</script>
