﻿<div style="padding-left: 15px; padding-right: 15px;">
    <h3>SIRCREB</h3>
    <div class="row-fluid">
        <div class="span3 lightblue">
            <div class="row-fluid">
                <div class="span3 lightblue">
                    Desde :
                </div>
                <div class="span3 lightblue">
                    <input type="text" name="FechaInicial" id="FechaInicial" style="text-align: center; font-size: 20px; font-weight: bold; background-color: #e8eef4; " />
                    <script>
                        $("#FechaInicial").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'dd/mm/yy'
                            //numberOfMonths: 2,
                        });
                    </script>
                </div>
                <div class="span1 lightblue">
                </div>
            </div>
        </div>
        <div class="span3 lightblue">
            <div class="row-fluid">
                <div class="span3 lightblue">
                    Hasta :
                </div>
                <div class="span3 lightblue">
                    <input type="text" name="FechaFinal" id="FechaFinal" style="text-align: center; font-size: 20px; font-weight: bold; background-color: #e8eef4; " />
                    <script>
                        $("#FechaFinal").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'dd/mm/yy'
                            //numberOfMonths: 2,
                        });
                    </script>
                </div>
                <div class="span1 lightblue">
                </div>
            </div>
        </div>
        <div class="span2 lightblue">
            <div class="row-fluid">
                <div class="span4 lightblue">
                    Tipo :
                </div>
                <div class="span5 lightblue">
                    <select id="Combo_1" style="width: 100px;">
                        <option>""</option>
                    </select>
                    <script>
                        var combo = $("#Combo_1")
                        combo.find("option:gt(0)").remove();
                        combo.find("option:first").text("Cargando...");
                        $.getJSON(ROOT + 'IBCondicion/GetTiposArchivoExportado', {
                        }, function (json) {
                            combo.find("option:first").text("");
                            for (var i = 0; i < json.items.length; i++) {
                                $("<option/>").attr("value", json.items[i].value).text(json.items[i].title).appendTo(combo);
                            }
                        });
                    </script>
                </div>
                @*<div class="span1 lightblue">
                </div>*@
            </div>
        </div>
        <div class="span4 lightblue">
            <div class="span3 lightblue">
                <input type="button" id="Aceptar" value="Ejecutar consulta" class="btn btn-primary pull-right" usesubmitbehavior="false" />
            </div>
            <div class="span3 lightblue">
                <input type="button" id="Generar" value="Generar TXT" class="btn btn-primary pull-right" usesubmitbehavior="false" />
            </div>
        </div>
    </div>
    <br />
    <div><input id="TipoArchivo" name="TipoArchivo" type="hidden" /></div>
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        $('#Generar:button').attr('disabled', 'disabled');

        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Aceptar').click(function () {
            var Fecha, TipoArchivo;

            Fecha = $("#FechaInicial").val();
            if (Fecha.length == 0) {
                alert("Debe ingresar la fecha inicial");
                return;
            }
            Fecha = $("#FechaFinal").val();
            if (Fecha.length == 0) {
                alert("Debe ingresar la fecha final");
                return;
            }
            TipoArchivo = $("#TipoArchivo").val();
            if (TipoArchivo.length == 0) {
                alert("Debe ingresar el tipo de archivo");
                return;
            }

            $('#Generar:button').removeAttr('disabled');

            $('#Lista').jqGrid('GridUnload');
            $('#Lista').jqGrid({
                url: '@Url.Action("SIFERE_SIRCREB_Proveedores_Informe", "Reporte")',
                postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); }, 'TipoArchivo': function () { return $("#TipoArchivo").val(); } },
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Acciones', 'IdAux', 'IdProvincia', 'Provincia', 'Jurisdiccion', 'Cuit', 'CBU', 'Tipo de cuenta', 'Mes', 'Año', 'Tipo de moneda', 'Importe IIBB', 'Registro'],
                colModel: [
                            { name: 'act', index: 'act', align: 'center', width: 0, sortable: false, editable: false, search: false, hidden: true },
                            { name: 'IdAux', index: 'IdAux', align: 'left', width: 0, editable: false, hidden: true },
                            { name: 'IdProvincia', index: 'IdProvincia', align: 'left', width: 0, editable: false, hidden: true },
                            { name: 'Provincia', index: 'Provincia', align: 'left', width: 200, editable: false, hidden: false },
                            { name: 'Jurisdiccion', index: 'Jurisdiccion', align: 'center', width: 60, editable: false, hidden: false },
                            { name: 'Cuit', index: 'Cuit', align: 'center', width: 100, editable: false, hidden: false },
                            { name: 'CBU', index: 'CBU', align: 'center', width: 100, editable: false, hidden: false },
                            { name: 'TipoCuenta', index: 'TipoCuenta', align: 'left', width: 200, editable: false, hidden: false },
                            { name: 'Mes', index: 'Mes', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'Año', index: 'Año', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'TipoMoneda', index: 'TipoMoneda', align: 'center', width: 50, editable: false, hidden: false },
                            { name: 'ImporteIIBB', index: 'ImporteIIBB', align: 'right', width: 100, editable: false, hidden: false },
                            { name: 'Registro', index: 'Registro', align: 'left', width: 400, editable: false, hidden: false }
                ],
                onSelectRow: function (id) {
                    if (id && id !== lastSelectedId) {
                        if (typeof lastSelectedId !== "undefined") {
                            grid.jqGrid('restoreRow', lastSelectedId);
                        }
                        lastSelectedId = id;
                    }
                },
                pager: $('#ListaPager'),
                rowNum: 5000,
                rowList: [10, 20, 5000],
                sortname: 'IdAux',
                sortorder: 'asc',
                viewrecords: true,
                width: 'auto',
                height: '100%',
                altRows: false,
                footerrow: true,
                userDataOnFooter: true,
                caption: '',
                autowidth: true,
                shrinkToFit: false
            });
            jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
            jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
        });

        $('#Generar').click(function () {
            var cm, colModel, dataIds, data1, filename, valor, iddeta, h, i, j;

            $grid = $('#Lista');
            colModel = $grid.jqGrid('getGridParam', 'colModel');
            dataIds = $grid.jqGrid('getDataIDs');

            data1 = "";
            filename = "PercepcionesIIBB_SIRCREB.txt";
            for (i = 0; i < dataIds.length; i++) {
                try {
                    data = $grid.jqGrid('getRowData', dataIds[i]);
                    valor = data['Registro'];
                    data1 = data1 + valor + '\r\n';
                }
                catch (ex) {
                    alert("Generar TXT: No se pudo generar el TXT : " + ex);
                    return;
                }
            };
            data1 = data1.substring(0, data1.length - 1)
            //Rutina para pasarle al cliente el archivo generado
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(data1));
            element.setAttribute('download', filename);
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        });

        $("#Combo_1").change(function () {
            //var idusuario = $("#Combo_1 option:selected").val()
            var TipoArchivo = $("#Combo_1 > option:selected").html();
            //$("#usuario").val(usuario);
            $("#TipoArchivo").val(TipoArchivo);
        });

    });
</script>
