﻿@model ProntoMVC.Data.Models.Proveedor
@{
    ViewBag.Title = "Proveedor " + Model.RazonSocial;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)
    <script src="@Url.Content("~/Scripts/ScriptProveedor.js?1519")"  type="text/javascript"></script> 

    <div class="container-fluid">
        <div>@Html.Hidden("IdProveedor", Model.IdProveedor)</div>
        <div>@Html.Hidden("Eventual", Model.Eventual)</div>
        <div class="row-fluid" style="margin-bottom: 15px; margin-top: 5px;">
            <div class="span5 lightblue">
                @Html.TextBox("CopiaPuntoVenta", Model.RazonSocial, new { style = "font-weight: 400; text-shadow: 0 1px 0  lightgray; font-size: 24px; border: 0; padding: 0 ; text-align: left; background: transparent;  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Lucida', Tahoma, Arial,'sans-serif'; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; ", @class = "span8", @readonly = "readonly" })
            </div>
            <script>
                $(function () {
                    $('#Eventual').val("SI");
                    function resizeInput() {
                        // $(this).attr('size', $(this).val().length + 2);
                        $(this).css('width', $(this).val().length * 32);
                    }

                })
            </script>
            <div class="span3 lightblue">
                <input type="button" id="grabar2" value="Aceptar" class="btn btn-primary" />
                @if (Model.IdProveedor > 0)
                { @Html.ActionLink("Eliminar", "DeleteConfirmed", new { id = Model.IdProveedor }, new { @class = "btn  btn-default" }) }
                @Html.ActionLink("Volver al listado", "IndexEventuales", null, new { @class = "btn btn-link" })
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4 lightblue">
                @Html.LabelFor(model => model.RazonSocial, "Razon Social")
                @Html.TextBoxFor(model => model.RazonSocial, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.RazonSocial)
            </div>
            <div class="span2 lightblue">
            </div>
            <div class="span2 lightblue">
                @Html.LabelFor(model => model.IdActividad, "Actividad")
                @Html.DropDownList("IdActividad", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                @Html.ValidationMessageFor(model => model.IdActividad)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 lightblue">
                @Html.LabelFor(model => model.Telefono1, "Telefono")
                @Html.TextBoxFor(model => model.Telefono1, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.Telefono1)
            </div>
            <div class="span2 lightblue">
                @Html.LabelFor(model => model.IdCodigoIva, "Condicion IVA")
                @Html.DropDownList("IdCodigoIVA", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                @Html.ValidationMessageFor(model => model.IdCodigoIva)
            </div>
            <div class="span2 lightblue">
                @Html.LabelFor(model => model.Cuit)
                @Html.TextBoxFor(model => model.Cuit, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.Cuit)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 lightblue">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="span4 lightblue">
                @Html.LabelFor(model => model.PaginaWeb, "Pagina web")
                @Html.TextBoxFor(model => model.PaginaWeb, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.PaginaWeb)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8 lightblue">
                @Html.LabelFor(model => model.Observaciones)
                @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12", @style = "height: 50px;" })
                @Html.ValidationMessageFor(model => model.Observaciones)
            </div>
        </div>
    </div>
}
