﻿@model ProntoMVC.Data.Models.Proveedor
@{
    ViewBag.Title = "Proveedor " + Model.RazonSocial;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)
    <script src="@Url.Content("~/Scripts/ScriptProveedor.js?1519")" type="text/javascript"></script>



    <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <form class="form-horizontal" style=" margin-bottom: 0px;">


            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100%  " @*Height of the footer *@>

                @*http://stackoverflow.com/questions/6431881/css-layout-for-fixed-header-and-100-content-height*@



                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; top: 50px;
                padding-left: 25px; padding-right: 25px; overflow-x: hidden;">

                    <div>@Html.Hidden("IdProveedor", Model.IdProveedor)</div>
                    <div class="row-fluid" style="margin-bottom: 15px; margin-top: 5px;">
                        <div class="span12 lightblue titulo">
                            Proveedor @Model.RazonSocial
                            @*@Html.TextBox("CopiaPuntoVenta", Model.RazonSocial, new { style = "font-weight: 400; text-shadow: 0 1px 0  lightgray; font-size: 24px; border: 0; padding: 0 ; text-align: left; background: transparent;  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Lucida', Tahoma, Arial,'sans-serif'; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; ", @class = "span8", @readonly = "readonly" })*@
                        </div>
                        <script>
                            $(function () {
                                function resizeInput() {
                                    // $(this).attr('size', $(this).val().length + 2);
                                    $(this).css('width', $(this).val().length * 32);
                                }
                            })
                        </script>

                    </div>
                    <style>
                        .nav-tabs > li > a {
                            border: 1px solid rgba(0, 0, 0, 0.03);
                        }
                    </style>
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a href="#red" data-toggle="tab">Datos generales</a></li>
                        <li><a href="#contactos" data-toggle="tab">Contactos</a></li>
                        <li><a href="#retenciones" data-toggle="tab">Informacion para retenciones</a></li>
                        <li><a href="#rubros" data-toggle="tab">Rubros provistos</a></li>
                        <li><a href="#datosadicionales" data-toggle="tab">Datos adicionales</a></li>
                    </ul>
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="red">
                            <div class="row-fluid">
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.CodigoProveedor, "Codigo")
                                    @Html.TextBoxFor(model => model.CodigoProveedor, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.CodigoProveedor)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.TipoProveedor, "Tipo")
                                    @Html.RadioButtonFor(model => model.TipoProveedor, "1") CL
                                    @Html.RadioButtonFor(model => model.TipoProveedor, "2") CE
                                    @Html.RadioButtonFor(model => model.TipoProveedor, "3") CV
                                    @Html.RadioButtonFor(model => model.TipoProveedor, "4") CO
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.Exterior, "Exterior")
                                    @Html.CheckBox("Exterior", Model.Exterior == "SI")
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.RazonSocial, "Razon Social")
                                    @Html.TextBoxFor(model => model.RazonSocial, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.RazonSocial)
                                </div>
                                <div class="span3 lightblue">
                                    @Html.LabelFor(model => model.BienesOServicios, "Tipo de materiales provistos") <br />
                                    @Html.RadioButtonFor(model => model.BienesOServicios, "B") Bienes
                                    @Html.RadioButtonFor(model => model.BienesOServicios, "S") Servicios
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdActividad, "Actividad")
                                    @Html.DropDownList("IdActividad", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdActividad)
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.NombreFantasia, "Nombre Comercial")
                                    @Html.TextBoxFor(model => model.NombreFantasia, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.NombreFantasia)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdEstado, "Estado actual")
                                    @Html.DropDownList("IdEstado", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdEstado)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdMoneda, "Moneda habitual")
                                    @Html.DropDownList("IdMoneda", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdMoneda)
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.Direccion)
                                    @Html.TextBoxFor(model => model.Direccion, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Direccion)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdCodigoIva, "Condicion IVA")
                                    @Html.DropDownList("IdCodigoIVA", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdCodigoIva)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.Cuit)
                                    @Html.TextBoxFor(model => model.Cuit, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Cuit)
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.HiddenFor(model => model.IdLocalidad)
                                    @Html.LabelFor(model => model.IdLocalidad, "Localidad")
                                    @Html.TextBox("Localidad", (Model.Localidad == null ? "" : Model.Localidad.Nombre), new { @class = "span12" })
                                    <script type="text/jscript">
                                        $("#Localidad").autocomplete({
                                            source: '@Url.Action("GetLocalidadesAutocomplete","Localidad")',
                                            minLength: 0,
                                            messages: { noResults: "", results: function () { } },
                                            select: function (event, ui) {
                                                $("#IdLocalidad").val(ui.item.id);
                                                $("#Localidad").val(ui.item.value);
                                                $("#IdProvincia").val(ui.item.idprovincia);
                                                event.preventDefault();
                                            }
                                        });
                                    </script>
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.CodigoPostal, "Codigo Postal")
                                    @Html.TextBoxFor(model => model.CodigoPostal, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.CodigoPostal)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdCondicionCompra, "Condicion de compra")
                                    @Html.DropDownList("IdCondicionCompra", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdCondicionCompra)
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.Provincia, "Provincia")
                                    @Html.DropDownList("IdProvincia", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.Provincia)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdPais, "Pais")
                                    @Html.DropDownList("IdPais", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.Pais)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.FechaLimiteCondicionIVA, "Fecha limite condicion IVA")
                                    @Html.TextBoxFor(model => model.FechaLimiteCondicionIVA, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                    @Html.ValidationMessageFor(model => model.FechaLimiteCondicionIVA)
                                    <script>
                                        $("#FechaLimiteCondicionIVA").datepicker({
                                            changeMonth: true,
                                            changeYear: true,
                                            dateFormat: 'dd/mm/yy'
                                            //numberOfMonths: 2,
                                        });
                                    </script>
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.FechaInicialControlComprobantes, "Fecha inicial control comprobantes")
                                    @Html.TextBoxFor(model => model.FechaInicialControlComprobantes, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                    @Html.ValidationMessageFor(model => model.FechaInicialControlComprobantes)
                                    <script>
                                        $("#FechaInicialControlComprobantes").datepicker({
                                            changeMonth: true,
                                            changeYear: true,
                                            dateFormat: 'dd/mm/yy'
                                            //numberOfMonths: 2,
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.Telefono1, "Telefono")
                                    @Html.TextBoxFor(model => model.Telefono1, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Telefono1)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.Telefono2, "Telefono adic.")
                                    @Html.TextBoxFor(model => model.Telefono2, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Telefono2)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.Fax)
                                    @Html.TextBoxFor(model => model.Fax, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Fax)
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.Email)
                                    @Html.TextBoxFor(model => model.Email, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.PaginaWeb, "Pagina web")
                                    @Html.TextBoxFor(model => model.PaginaWeb, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.PaginaWeb)
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.ChequesALaOrdenDe, "Cheques a la orden de")
                                    @Html.TextBoxFor(model => model.ChequesALaOrdenDe, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.ChequesALaOrdenDe)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.InformacionAuxiliar, "Informacion auxiliar")
                                    @Html.TextBoxFor(model => model.InformacionAuxiliar, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.InformacionAuxiliar)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.Calificacion, "Calificacion")
                                    @Html.TextBoxFor(model => model.Calificacion, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Calificacion)
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.LimiteCredito, "Limite de credito")
                                    @Html.TextBoxFor(model => model.LimiteCredito, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.LimiteCredito)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdListaPrecios, "Lista de precios")
                                    @Html.DropDownList("IdListaPrecios", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdListaPrecios)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.RegistrarMovimientosEnCuentaCorriente, "El proveedor no registra mov. en cta. cte.")
                                    @Html.CheckBox("RegistrarMovimientosEnCuentaCorriente", Model.RegistrarMovimientosEnCuentaCorriente == "NO")
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span8 lightblue">
                                    @Html.LabelFor(model => model.Observaciones)
                                    @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12", @style = "height: 50px;" })
                                    @Html.ValidationMessageFor(model => model.Observaciones)
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="contactos">
                            <div class="row-fluid">
                                <div class="span8 lightblue">
                                    @Html.LabelFor(model => model.Contacto, "Contacto Principal")
                                    @Html.TextBoxFor(model => model.Contacto, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Contacto)
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span8 lightblue">
                                    <table id="ListaContactos" class="scroll" cellpadding="0" cellspacing="0"></table>
                                    <div id="PagerContactos" class="scroll"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="retenciones">
                            <div class="well well-sm" style="height: 90px; width: 900px;">
                                <h5>Ganancias</h5>
                                <div class="row-fluid">
                                    <div class="span4 lightblue">
                                        @Html.RadioButtonFor(model => model.IGCondicion, "1") Exento
                                        @Html.RadioButtonFor(model => model.IGCondicion, "2") Inscripto
                                    </div>
                                    <div class="span5 lightblue">
                                        @Html.LabelFor(model => model.IdTipoRetencionGanancia, "Categoria por defecto")
                                        @Html.DropDownList("IdTipoRetencionGanancia", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdTipoRetencionGanancia)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.FechaLimiteExentoGanancias, "Fecha limite para la condicion de exento")
                                        @Html.TextBoxFor(model => model.FechaLimiteExentoGanancias, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.FechaLimiteExentoGanancias)
                                        <script>
                                            $("#FechaLimiteExentoGanancias").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm" style="height: 150px; width: 900px;">
                                <h5>Datos para retencion IVA</h5>
                                <div class="row-fluid">
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.IvaExencionRetencion, "Exceptuado 100 %")
                                        @Html.CheckBox("IvaExencionRetencion", Model.IvaExencionRetencion == "SI")
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.IvaPorcentajeExencion, "% de excepcion")
                                        @Html.TextBoxFor(model => model.IvaPorcentajeExencion, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.IvaPorcentajeExencion)
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.IvaFechaInicioExencion, "Fecha inicio exencion")
                                        @Html.TextBoxFor(model => model.IvaFechaInicioExencion, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.IvaFechaInicioExencion)
                                        <script>
                                            $("#IvaFechaInicioExencion").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.IvaFechaCaducidadExencion, "Fecha caducidad exencion")
                                        @Html.TextBoxFor(model => model.IvaFechaCaducidadExencion, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.IvaFechaCaducidadExencion)
                                        <script>
                                            $("#IvaFechaCaducidadExencion").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.InscriptoRegistroFiscalOperadoresGranos_1, "Inscr.Reg.Fiscal Oper.Granos")
                                        @Html.CheckBox("Exterior", Model.InscriptoRegistroFiscalOperadoresGranos_1 == "SI")
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.CodigoSituacionRetencionIVA, "Codigo de situacion retencion IVA")
                                        @Html.TextBoxFor(model => model.CodigoSituacionRetencionIVA, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.CodigoSituacionRetencionIVA)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.CodigoRetencionIVA, "Codigo retencion IVA (opcional)")
                                        @Html.TextBoxFor(model => model.CodigoRetencionIVA, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.CodigoRetencionIVA)
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm" style="height: 120px; width: 900px;">
                                <h5>SUSS</h5>
                                <div class="row-fluid">
                                    <div class="span6 lightblue">
                                        @Html.RadioButtonFor(model => model.RetenerSUSS, "SI") Alcanzado
                                        @Html.RadioButtonFor(model => model.RetenerSUSS, "EX") Exento
                                        @Html.RadioButtonFor(model => model.RetenerSUSS, "NO") No Alcanzado
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.IdImpuestoDirectoSUSS, "Categoria")
                                        @Html.DropDownList("IdImpuestoDirectoSUSS", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdImpuestoDirectoSUSS)
                                    </div>
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.SUSSFechaCaducidadExencion, "Fecha caducidad exencion")
                                        @Html.TextBoxFor(model => model.SUSSFechaCaducidadExencion, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.SUSSFechaCaducidadExencion)
                                        <script>
                                            $("#SUSSFechaCaducidadExencion").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.SUSSFechaInicioVigencia, "Fecha vigencia (p/calculo acumulado año calendario)")
                                        @Html.TextBoxFor(model => model.SUSSFechaInicioVigencia, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.SUSSFechaInicioVigencia)
                                        <script>
                                            $("#SUSSFechaInicioVigencia").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm" style="height: 470px; width: 900px;">
                                <h5>Ingresos brutos</h5>
                                <div class="row-fluid">
                                    <div class="span10 lightblue">
                                        @*@Html.LabelFor(model => model.IBCondicion, "Condicion")*@
                                        @Html.RadioButtonFor(model => model.IBCondicion, "1") Exento
                                        @Html.RadioButtonFor(model => model.IBCondicion, "2") Inscripto convenio multilateral
                                        @Html.RadioButtonFor(model => model.IBCondicion, "3") Inscripto Jurisdicion Local
                                        @Html.RadioButtonFor(model => model.IBCondicion, "4") No alcanzado
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.IBNumeroInscripcion, "Nro. Inscripcion")
                                        @Html.TextBoxFor(model => model.IBNumeroInscripcion, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.IBNumeroInscripcion)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.CodigoCategoriaIIBBAlternativo, "Codigo categoria alternativo")
                                        @Html.TextBoxFor(model => model.CodigoCategoriaIIBBAlternativo, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.CodigoCategoriaIIBBAlternativo)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.FechaLimiteExentoIIBB, "Fecha inicial control comprobantes")
                                        @Html.TextBoxFor(model => model.FechaLimiteExentoIIBB, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.FechaLimiteExentoIIBB)
                                        <script>
                                            $("#FechaLimiteExentoIIBB").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.RegimenEspecialConstruccionIIBB, "Regimen esp. construccion")
                                        @Html.CheckBox("Exterior", Model.RegimenEspecialConstruccionIIBB == "SI")
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.IdIBCondicionPorDefecto, "Categoria IIBB por defecto")
                                        @Html.DropDownList("IdIBCondicionPorDefecto", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdIBCondicionPorDefecto)
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.CoeficienteIIBBUnificado, "Coef.Unif.%")
                                        @Html.TextBoxFor(model => model.CoeficienteIIBBUnificado, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.CoeficienteIIBBUnificado)
                                    </div>
                                    <div class="span1 lightblue">
                                        @Html.LabelFor(model => model.SujetoEmbargado, "Embargado")
                                        @Html.CheckBox("Exterior", Model.SujetoEmbargado == "SI")
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.SaldoEmbargo, "Saldo embargo")
                                        @Html.TextBoxFor(model => model.SaldoEmbargo, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.SaldoEmbargo)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.DetalleEmbargo, "Detalle embargo")
                                        @Html.TextBoxFor(model => model.DetalleEmbargo, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.DetalleEmbargo)
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span2 lightblue">
                                        Buenos Aires :
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.PorcentajeIBDirecto, "%IB directo 1")
                                        @Html.TextBoxFor(model => model.PorcentajeIBDirecto, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.PorcentajeIBDirecto)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.FechaInicioVigenciaIBDirecto, "Fecha inicio vigencia 1")
                                        @Html.TextBoxFor(model => model.FechaInicioVigenciaIBDirecto, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.FechaInicioVigenciaIBDirecto)
                                        <script type="text/jscript">
                                            $("#FechaInicioVigenciaIBDirecto").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.FechaFinVigenciaIBDirecto, "Fecha fin vigencia 1")
                                        @Html.TextBoxFor(model => model.FechaFinVigenciaIBDirecto, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.FechaFinVigenciaIBDirecto)
                                        <script type="text/jscript">
                                            $("#FechaFinVigenciaIBDirecto").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.GrupoIIBB, "Grupo 1")
                                        @Html.TextBoxFor(model => model.GrupoIIBB, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.GrupoIIBB)
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span2 lightblue">
                                        Capital :
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.PorcentajeIBDirectoCapital, "%IB directo 2")
                                        @Html.TextBoxFor(model => model.PorcentajeIBDirectoCapital, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.PorcentajeIBDirectoCapital)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.FechaInicioVigenciaIBDirectoCapital, "Fecha inicio vigencia 2")
                                        @Html.TextBoxFor(model => model.FechaInicioVigenciaIBDirectoCapital, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.FechaInicioVigenciaIBDirectoCapital)
                                        <script type="text/jscript">
                                            $("#FechaInicioVigenciaIBDirectoCapital").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.FechaFinVigenciaIBDirectoCapital, "Fecha fin vigencia 2")
                                        @Html.TextBoxFor(model => model.FechaFinVigenciaIBDirectoCapital, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.FechaFinVigenciaIBDirectoCapital)
                                        <script type="text/jscript">
                                            $("#FechaFinVigenciaIBDirectoCapital").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.GrupoIIBBCapital, "Grupo 2")
                                        @Html.TextBoxFor(model => model.GrupoIIBBCapital, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.GrupoIIBBCapital)
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span9 lightblue">
                                        <table id="ListaIIBB" class="scroll" cellpadding="0" cellspacing="0"></table>
                                        <div id="PagerIIBB" class="scroll"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm" style="height: 170px; width: 900px;">
                                <h5>Informacion sobre presentacion de documentacion impositiva</h5>
                                <div class="row-fluid">
                                    <div class="span6 lightblue">
                                        @Html.LabelFor(model => model.FechaUltimaPresentacionDocumentacion, "Fecha de ultima presentacion de documentos del proveedor")
                                        @Html.TextBoxFor(model => model.FechaUltimaPresentacionDocumentacion, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.FechaUltimaPresentacionDocumentacion)
                                        <script>
                                            $("#FechaUltimaPresentacionDocumentacion").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12 lightblue">
                                        @Html.LabelFor(model => model.ObservacionesPresentacionDocumentacion)
                                        @Html.TextAreaFor(model => model.ObservacionesPresentacionDocumentacion, new { @class = "span12", @style = "height: 50px;" })
                                        @Html.ValidationMessageFor(model => model.ObservacionesPresentacionDocumentacion)
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="rubros">
                            <div class="row-fluid">
                                <div class="span12 lightblue">
                                    <table id="ListaRubros" class="scroll" cellpadding="0" cellspacing="0"></table>
                                    <div id="PagerRubros" class="scroll"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="datosadicionales">
                            <div class="well well-sm" style="height: 90px; width: 900px;">
                                <h5>Datos contables</h5>
                                <div class="row-fluid">
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.IdCuenta, "Cuenta proveedores")
                                        @Html.DropDownList("IdCuenta", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdCuenta)
                                    </div>
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.IdCuentaProvision, "Cuenta provision")
                                        @Html.DropDownList("IdCuentaProvision", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdCuentaProvision)
                                    </div>
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.IdCuentaAplicacion, "Cuenta aplicacion (opcional)")
                                        @Html.DropDownList("IdCuentaAplicacion", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdCuentaAplicacion)
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm" style="height: 90px; width: 900px;">
                                <h5>Datos para importaciones</h5>
                                <div class="row-fluid">
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.Importaciones_NumeroInscripcion, "Numero de inscripcion")
                                        @Html.TextBoxFor(model => model.Importaciones_NumeroInscripcion, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.Importaciones_NumeroInscripcion)
                                    </div>
                                    <div class="span6 lightblue">
                                        @Html.LabelFor(model => model.Importaciones_DenominacionInscripcion, "Denomicacion de la inscripcion")
                                        @Html.TextBoxFor(model => model.Importaciones_DenominacionInscripcion, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.Importaciones_DenominacionInscripcion)
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm" style="height: 90px; width: 900px;">
                                <h5>Transportista relacionado</h5>
                                <div class="row-fluid">
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.IdTransportista, "Transportista")
                                        @Html.DropDownList("IdTransportista", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdTransportista)
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm" style="height: 90px; width: 900px;">
                                <h5>Modalidad de cancelacion de deuda</h5>
                                <div class="row-fluid">
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.CancelacionInmediataDeDeuda, "Emision inmediata de pago al ingreso de los comprobantes de compra")
                                        @Html.CheckBox("CancelacionInmediataDeDeuda", Model.CancelacionInmediataDeDeuda == "SI")
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.DebitoAutomaticoPorDefecto, "Modalidad de debito automatico ( por defecto )")
                                        @Html.CheckBox("DebitoAutomaticoPorDefecto", Model.DebitoAutomaticoPorDefecto == "SI")
                                    </div>
                                    <div class="span5 lightblue">
                                        @Html.LabelFor(model => model.FechaVencimientoParaEgresosProyectados, "Tomar fecha de vto. desde las condiciones de compra y no desde el vto. del comprobante para proyecciones de egresos")
                                        @Html.CheckBox("FechaVencimientoParaEgresosProyectados", Model.FechaVencimientoParaEgresosProyectados == "SI")
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm" style="height: 200px; width: 900px;">
                                <h5>Otros datos</h5>
                                <div class="row-fluid">
                                    <div class="span6 lightblue">
                                        @Html.LabelFor(model => model.Nombre1, "Datos adicional 1")
                                        @Html.TextBoxFor(model => model.Nombre1, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.Nombre1)
                                    </div>
                                    <div class="span6 lightblue">
                                        @Html.LabelFor(model => model.Nombre2, "Datos adicional 2")
                                        @Html.TextBoxFor(model => model.Nombre2, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.Nombre2)
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.TextoAuxiliar1, "Datos adicional 3")
                                        @Html.TextBoxFor(model => model.TextoAuxiliar1, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.TextoAuxiliar1)
                                    </div>
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.TextoAuxiliar2, "Datos adicional 4")
                                        @Html.TextBoxFor(model => model.TextoAuxiliar2, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.TextoAuxiliar2)
                                    </div>
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.TextoAuxiliar3, "Datos adicional 5")
                                        @Html.TextBoxFor(model => model.TextoAuxiliar3, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.TextoAuxiliar3)
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6 lightblue">
                                        @Html.LabelFor(model => model.OperacionesMercadoInternoEntidadVinculada, "Regimen informativo de operaciones en el mercado interno - Sujeto / Entidad vinculada")
                                        @Html.CheckBox("OperacionesMercadoInternoEntidadVinculada", Model.OperacionesMercadoInternoEntidadVinculada == "SI")
                                    </div>
                                    <div class="span6 lightblue">
                                        @Html.LabelFor(model => model.ResolucionAfip3668, "El proveedor esta incluido en la resolucion AFIP 3668")
                                        @Html.CheckBox("ResolucionAfip3668", Model.ResolucionAfip3668 == "SI")
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm" style="height: 90px; width: 900px;">
                                <h5>Archivos adjuntos</h5>
                                <div class="row-fluid">
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.ArchivoAdjunto1, "Archivo 1")
                                        @Html.TextBoxFor(model => model.ArchivoAdjunto1, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.ArchivoAdjunto1)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.ArchivoAdjunto2, "Archivo 2")
                                        @Html.TextBoxFor(model => model.ArchivoAdjunto2, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.ArchivoAdjunto2)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.ArchivoAdjunto3, "Archivo 3")
                                        @Html.TextBoxFor(model => model.ArchivoAdjunto3, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.ArchivoAdjunto3)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.ArchivoAdjunto4, "Archivo 4")
                                        @Html.TextBoxFor(model => model.ArchivoAdjunto4, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.ArchivoAdjunto4)
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236);
                width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span8 ">
                        </div>
                        

                            <div class="span4 lightblue">
                                <input type="button" id="grabar2" value="Aceptar" class="btn btn-large  btn-primary" />
                                @if (Model.IdProveedor > 0)
                                {
                                    @Html.ActionLink("Eliminar", "DeleteConfirmed", new { id = Model.IdProveedor }, new { @class = "btn btn-large   btn-default" })
                                    @*@Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-link " }*@
                                }
                            </div>
                        </div>
                </div>
            </div>

        </form>
    </div>


    <script type="text/javascript">

        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();

            $("#conscroll").height($(window).height() - 120);
        });

    </script>


}
