﻿@model IEnumerable<ProntoMVC.Data.Models.Proveedor>
@{
    ViewBag.Title = "Proveedores Eventuales";
}
@*<p>@Html.ActionLink("Nuevo Proveedor", "Edit", new { id = -1 }, null)</p>*@

<br />
<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("EditEventual", new { id = -1 })'" class="btn btn-primary">Nuevo proveedor</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("ProveedoresEventuales", "Proveedor")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Acciones', 'IdProveedor', 'Razon social', 'Cuit', 'Condicion iva', 'Telefono', 'Email', 'Actividad', 'Ingreso', 'Fecha ingreso', 'Modifico', 'Fecha modifico'],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 80, sortable: false, editable: false, search: false },
                        { name: 'IdProveedor', index: 'IdProveedor', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'Razonsocial', index: 'Razonsocial', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Cuit', index: 'Cuit', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'DescripcionIva', index: 'DescripcionIva', align: 'left', width: 140, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Telefono1', index: 'Telefono1', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Email', index: 'Email', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Actividad', index: 'Actividad', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Ingreso', index: 'Ingreso', align: 'left', width: 120, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'FechaIngreso', index: 'FechaIngreso', align: 'center', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Modifico', index: 'Modifico', align: 'left', width: 120, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'FechaModifico', index: 'FechaModifico', align: 'center', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } }
                    ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 20,
            rowList: [10, 20, 50, 100],
            sortname: 'RazonSocial',
            sortorder: 'asc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar',
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true,
            multiboxonly: true,
            caption: '<b>PROVEEDORES EVENTUALES</b>'
    });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
    });
</script>
