﻿@model IEnumerable<ProntoMVC.Data.Models.Proveedor>
@{
    ViewBag.Title = "Proveedores";
}
@*<p>@Html.ActionLink("Nuevo Proveedor", "Edit", new { id = -1 }, null)</p>*@

<br />
<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nuevo proveedor</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("Proveedores_DynamicGridData", "Proveedor")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Acciones', 'IdProveedor', 'Razon social', 'Codigo', 'Direccion', 'Localidad', 'Cod. postal', 'Provincia', 'Pais', 'Telefono', 'Telefono adic.', 'Fax', 'Email', 'Cuit',
                       'Condicion iva', 'Contacto', 'Fecha alta', 'Fecha ult. compra', 'Estado', 'Actividad', 'Condicion compra', 'Pagina web', 'Habitual', 'Nombre comercial', 'Dato adicional 1', 
                       'Dato adicional 2', 'Observaciones', 'Inscr. gan.', 'Categoria ganancias', 'Cuenta contable', 'Categoria  IIBB', 'Fecha lim. exen. IIBB', 'Nro. inscr. IIBB', 'Condicion IIBB',
                       'Fecha ult. pres. documen.', 'Cod. sit. ret. iva', 'Ingreso', 'Fecha ingreso', 'Modifico', 'Fecha modifico', 'Embargado', 'Saldo embargo', 'Calificacion', 'Cuenta contable provision',
                       'Archivo adjunto 1', 'Archivo adjunto 2', 'Archivo adjunto 3', 'Archivo adjunto 4'],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 80, sortable: false, editable: false, search: false },
                        { name: 'IdProveedor', index: 'IdProveedor', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'Razonsocial', index: 'Razonsocial', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Codigo', index: 'Codigo', align: 'left', width: 70, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Direccion', index: 'Direccion', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Localidad', index: 'Localidad', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'CodigoPostal', index: 'CodigoPostal', align: 'left', width: 70, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Provincia', index: 'Provincia', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Pais', index: 'Pais', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Telefono1', index: 'Telefono1', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Telefono2', index: 'Telefono2', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Fax', index: 'Fax', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Email', index: 'Email', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Cuit', index: 'Cuit', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'DescripcionIva', index: 'DescripcionIva', align: 'left', width: 140, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Contacto', index: 'Contacto', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'FechaAlta', index: 'FechaAlta', align: 'center', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'FechaUltimaCompra', index: 'FechaUltimaCompra', align: 'center', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Estado', index: 'Estado', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Actividad', index: 'Actividad', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'CondicionCompra', index: 'CondicionCompra', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'PaginaWeb', index: 'PaginaWeb', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Habitual', index: 'Habitual', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'NombreComercial', index: 'NombreComercial', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'DatosAdicionales1', index: 'DatosAdicionales1', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'DatosAdicionales2', index: 'DatosAdicionales2', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'InscriptoGanancias', index: 'InscriptoGanancias', align: 'left', width: 40, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'CategoriaGanancias', index: 'CategoriaGanancias', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'CuentaContable', index: 'CuentaContable', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'CategoriaIIBB', index: 'CategoriaIIBB', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'FechaLimiteExentoIIBB', index: 'FechaLimiteExentoIIBB', align: 'center', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'IBNumeroInscripcion', index: 'IBNumeroInscripcion', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'CondicionIIBB', index: 'CondicionIIBB', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'FechaUltimaPresentacionDocumentacion', index: 'FechaUltimaPresentacionDocumentacion', align: 'center', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CodigoSituacionRetencionIVA', index: 'CodigoSituacionRetencionIVA', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Ingreso', index: 'Ingreso', align: 'left', width: 120, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'FechaIngreso', index: 'FechaIngreso', align: 'center', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Modifico', index: 'Modifico', align: 'left', width: 120, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'FechaModifico', index: 'FechaModifico', align: 'center', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'SujetoEmbargado', index: 'SujetoEmbargado', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'SaldoEmbargo', index: 'SaldoEmbargo', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Calificacion', index: 'Calificacion', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'CuentaContableProvision', index: 'CuentaContableProvision', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'ArchivoAdjunto1', index: 'ArchivoAdjunto1', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'ArchivoAdjunto2', index: 'ArchivoAdjunto2', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'ArchivoAdjunto3', index: 'ArchivoAdjunto3', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'ArchivoAdjunto4', index: 'ArchivoAdjunto4', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn']} }
                    ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 20,
            rowList: [10, 20, 50, 100],
            sortname: 'RazonSocial',
            sortorder: 'asc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar',
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true,
            multiboxonly: true,
            caption: '<b>PROVEEDORES</b>'
    });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
    });
</script>
