﻿@model ProntoMVC.Data.Models.Condiciones_Compra
@{
    ViewBag.Title = "Condicion compra / venta " + Model.Descripcion;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)
    <div class="container-fluid">
        <div>@Html.Hidden("IdCondicionCompra", Model.IdCondicionCompra)</div>
        <div class="row-fluid" style="margin-bottom: 15px; margin-top: 5px;">
            <div class="span5 lightblue">
                @Html.TextBox("Titulo", "CONDICION DE COMPRA / VENTA", new { style = "font-weight: 400; text-shadow: 0 1px 0  lightgray; font-size: 24px; border: 0; padding: 0 ; text-align: left; background: transparent;  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Lucida', Tahoma, Arial,'sans-serif'; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; ", @class = "span10", @readonly = "readonly" })
            </div>
            <div class="span4 lightblue">
                <input type="button" id="grabar2" value="Aceptar" class="btn btn-primary" />
                @if (Model.IdCondicionCompra > 0)
                { @Html.ActionLink("Eliminar", "DeleteConfirmed", new { id = Model.IdCondicionCompra }, new { @class = "btn  btn-default" }) }
                @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-link" })
            </div>
        </div>

        <div class="row-fluid">
            <div class="span2 lightblue">
                @Html.LabelFor(model => model.CodigoCondicion, "Codigo")
                @Html.TextBoxFor(model => model.CodigoCondicion, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.CodigoCondicion)
            </div>
            <div class="span6 lightblue">
                @Html.LabelFor(model => model.Descripcion, "Descripcion")
                @Html.TextBoxFor(model => model.Descripcion, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div class="row-fluid">
            <div class="span2 lightblue">
                @Html.LabelFor(model => model.PorcentajeBonificacion, "% Bonificacion (ventas)")
                @Html.TextBoxFor(model => model.PorcentajeBonificacion, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.PorcentajeBonificacion)
            </div>
            <div class="span2 lightblue">
                @Html.LabelFor(model => model.ContraEntregaDeValores, "Contra entrega de valores")
                @Html.CheckBox("ContraEntregaDeValores", Model.ContraEntregaDeValores == "SI")
            </div>
            <div class="span4 lightblue">
                @Html.LabelFor(model => model.Observaciones)
                @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.Observaciones)
            </div>
        </div>

        <div class="row-fluid">
            <div class="span1 lightblue">
                n° Cuota
            </div>
            <div class="span1 lightblue">
                Días
            </div>
            <div class="span1 lightblue">
                %
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1 lightblue">
                cuota 1
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.CantidadDias1, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.CantidadDias1)
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.Porcentaje1, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.Porcentaje1)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1 lightblue">
                cuota 2
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.CantidadDias2, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.CantidadDias2)
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.Porcentaje2, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.Porcentaje2)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1 lightblue">
                cuota 3
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.CantidadDias3, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.CantidadDias3)
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.Porcentaje3, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.Porcentaje3)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1 lightblue">
                cuota 4
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.CantidadDias4, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.CantidadDias4)
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.Porcentaje4, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.Porcentaje4)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1 lightblue">
                cuota 5
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.CantidadDias4, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.CantidadDias5)
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.Porcentaje5, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.Porcentaje5)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1 lightblue">
                cuota 6
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.CantidadDias6, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.CantidadDias6)
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.Porcentaje6, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.Porcentaje6)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1 lightblue">
                cuota 7
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.CantidadDias7, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.CantidadDias7)
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.Porcentaje8, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.Porcentaje8)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1 lightblue">
                cuota 8
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.CantidadDias8, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.CantidadDias8)
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.Porcentaje8, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.Porcentaje8)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1 lightblue">
                cuota 9
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.CantidadDias9, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.CantidadDias9)
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.Porcentaje9, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.Porcentaje9)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1 lightblue">
                cuota 10
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.CantidadDias10, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.CantidadDias10)
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.Porcentaje10, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.Porcentaje10)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1 lightblue">
                cuota 11
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.CantidadDias11, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.CantidadDias11)
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.Porcentaje11, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.Porcentaje11)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1 lightblue">
                cuota 12
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.CantidadDias12, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.CantidadDias12)
            </div>
            <div class="span1 lightblue">
                @Html.TextBoxFor(model => model.Porcentaje12, new { @class = "span10" })
                @Html.ValidationMessageFor(model => model.Porcentaje12)
            </div>
        </div>

        <div class="row-fluid">
            <div class="span1 lightblue">
                Total
            </div>
            <div class="span1 lightblue"></div>
            <div class="span1 lightblue">
                @Html.TextBox("Suma", "", new { @class = "span10", @readonly = "readonly" })
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function sumarPorcentajes() {
            var total = 0, parcial = 0, i;

            $("#Suma").val("");

            for (i = 1; i <= 12; i++) {
                parcial = $("#Porcentaje" + i).val();
                parcial = parseFloat(parcial);
                if (!isNaN(parcial)) {
                    total += parcial;
                }
            }
            $("#Suma").val(total);
        }

        $(document).ready(function () {
            sumarPorcentajes();

            $("#Porcentaje1").change(function () {
                sumarPorcentajes();
            });
            $("#Porcentaje2").change(function () { sumarPorcentajes(); });
            $("#Porcentaje3").change(function () { sumarPorcentajes(); });
            $("#Porcentaje4").change(function () { sumarPorcentajes(); });
            $("#Porcentaje5").change(function () { sumarPorcentajes(); });
            $("#Porcentaje6").change(function () { sumarPorcentajes(); });
            $("#Porcentaje7").change(function () { sumarPorcentajes(); });
            $("#Porcentaje8").change(function () { sumarPorcentajes(); });
            $("#Porcentaje9").change(function () { sumarPorcentajes(); });
            $("#Porcentaje10").change(function () { sumarPorcentajes(); });
            $("#Porcentaje11").change(function () { sumarPorcentajes(); });
            $("#Porcentaje12").change(function () { sumarPorcentajes(); });

            ////////////////////////////////////////////////////////// SERIALIZACION //////////////////////////////////////////////////////////
            function SerializaForm() {
                var chk, valor;
                var cabecera = $("#formid").serializeObject();
                //cabecera.Descripcion = $("#Descripcion").val();

                chk = $('#ContraEntregaDeValores').is(':checked');
                if (chk) {
                    cabecera.ContraEntregaDeValores = "SI";
                } else {
                    cabecera.ContraEntregaDeValores = "NO";
                };

                return cabecera;
            }

            $('#grabar2').click(function () {
                var cabecera = SerializaForm();

                $('html, body').css('cursor', 'wait');
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: ROOT + 'CondicionVenta/BatchUpdate',
                    dataType: 'json',
                    data: JSON.stringify({ CondicionCompra: cabecera }),
                    success: function (result) {
                        if (result) {
                            $('html, body').css('cursor', 'auto');
                            window.location = (ROOT + "CondicionVenta/Edit/" + result.IdCondicionCompra);
                        } else {
                            alert('No se pudo grabar el objeto.');
                            $('.loading').html('');
                            $('html, body').css('cursor', 'auto');
                            $('#grabar2').attr("disabled", false).val("Aceptar");
                        }
                    },
                    beforeSend: function () {
                        $("#loading").show();
                        $('#grabar2').attr("disabled", true).val("Espere...");
                    },
                    complete: function () {
                        $("#loading").hide();
                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                        try {
                            var errorData = $.parseJSON(xhr.responseText);
                            var errorMessages = [];
                            for (var key in errorData) { errorMessages.push(errorData[key]); }
                            $('html, body').css('cursor', 'auto');
                            $('#grabar2').attr("disabled", false).val("Aceptar");
                            $("#textoMensajeAlerta").html(errorData.Errors.join("<br />"));
                            $("#mensajeAlerta").show();
                            alert(errorData.Errors.join("\n").replace(/<br\/>/g, '\n'));
                        } catch (e) {
                            $('html, body').css('cursor', 'auto');
                            $('#grabar2').attr("disabled", false).val("Aceptar");
                            $("#textoMensajeAlerta").html(xhr.responseText);
                            $("#mensajeAlerta").show();
                        }
                    }
                });
            });

        });
    </script>
}
