﻿@model IEnumerable<ProntoMVC.Data.Models.Condiciones_Compra>
@{
    ViewBag.Title = "Condiciones de compra/venta";
}
@*<p>@Html.ActionLink("Nuevo Proveedor", "Edit", new { id = -1 }, null)</p>*@

<br />
<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nueva condicion</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("TT", "CondicionVenta")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Acciones', 'IdCondicionCompra', 'Codigo', 'Descripcion', 'Dias (1)', '% (1)', 'Dias (2)', '% (2)', 'Dias (3)', '% (3)', 'Dias (4)', '% (4)', 'Dias (5)', '% (5)',
                       'Dias (6)', '% (6)', 'Dias (7)', '% (7)', 'Dias (8)', '% (8)', 'Dias (9)', '% (9)', 'Dias (10)', '% (10)', 'Dias (10)', '% (11)', 'Dias (11)', '% (12)',
                       '% Bonificacion (ventas)', 'Contra entrega valores', 'Observaciones'],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 80, sortable: false, editable: false, search: false },
                        { name: 'IdCondicionCompra', index: 'IdCondicionCompra', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'CodigoCondicion', index: 'CodigoCondicion', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Descripcion', index: 'Descripcion', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CantidadDias1', index: 'CantidadDias1', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Porcentaje1', index: 'Porcentaje1', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CantidadDias2', index: 'CantidadDias2', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Porcentaje2', index: 'Porcentaje2', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CantidadDias3', index: 'CantidadDias3', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Porcentaje3', index: 'Porcentaje3', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CantidadDias4', index: 'CantidadDias4', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Porcentaje4', index: 'Porcentaje4', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CantidadDias5', index: 'CantidadDias5', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Porcentaje5', index: 'Porcentaje5', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CantidadDias6', index: 'CantidadDias6', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Porcentaje6', index: 'Porcentaje6', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CantidadDias7', index: 'CantidadDias7', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Porcentaje7', index: 'Porcentaje7', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CantidadDias8', index: 'CantidadDias8', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Porcentaje8', index: 'Porcentaje8', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CantidadDias9', index: 'CantidadDias9', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Porcentaje9', index: 'Porcentaje9', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CantidadDias10', index: 'CantidadDias10', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Porcentaje10', index: 'Porcentaje10', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CantidadDias11', index: 'CantidadDias11', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Porcentaje11', index: 'Porcentaje11', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CantidadDias12', index: 'CantidadDias12', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Porcentaje12', index: 'Porcentaje12', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'PorcentajeBonificacion', index: 'PorcentajeBonificacion', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'ContraEntregaDeValores', index: 'ContraEntregaDeValores', align: 'left', width: 150, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn'] } }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 20,
            rowList: [10, 20, 50, 100],
            sortname: 'Descripcion',
            sortorder: 'asc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar',
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true,
            multiboxonly: true,
            caption: '<b>CONDICIONES DE COMPRA/VENTA</b>'
        });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
    });
</script>
