﻿@model ProntoMVC.Data.Models.Factura
@{
    ViewBag.Title = "Factura";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptFactura.js")" type="text/javascript"></script>

    <style>
        .subtotales input {
            /*height: 16px;*/
            min-height: 18px !important;
            line-height: 18px;
            padding: 0;
            margin: 0;
            font-size: 12px;
            text-align: right;
            font-weight: bold;
            background-color: #e8eef4;
        }

            .subtotales input[readonly] {
                background: transparent;
                border: 0;
            }

        .subtotales select {
            /* height : 16px; */
            min-height: 18px !important;
            line-height: 18px;
            padding: 0;
            margin: 0;
            font-size: 10px;
        }

        table td {
            padding: 0px;
            border: solid 1px;
            border-color: transparent;
        }
    </style>

    <div id="principal" class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100%  " @*Height of the footer *@>
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; 
top: 50px; padding-left: 25px; padding-right: 25px; overflow-x: hidden;">

                    <div class="row-fluid" style="margin-bottom: 15px; margin-top: 5px;">
                        @* <div class="span5 lightblue" style="font-weight: bold; font-size: 34px; vertical-align: "> *@
                        <div class="" 
                             >
                            <span class="span8 titulo" style="padding-top: 15px; ">
                                Factura
                                @*@Html.DisplayFor(model => model.TipoABC, new { style = "height: 50px ;  font-weight: 400; text-shadow: 0 1px 0  lightgray; font-size: 34px; border: 0; padding: 0 ; text-align: right; background: transparent;  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Lucida', Tahoma, Arial,'sans-serif';                    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;                   ", @class = "", @readonly = "readonly" })
            @Html.DisplayFor(model => model.PuntoVenta, new { style = "height: 50px ;  font-weight: 400; text-shadow: 0 1px 0  lightgray; font-size: 34px; border: 0; padding: 0 ; text-align: right; background: transparent;  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Lucida', Tahoma, Arial,'sans-serif';                    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;                   ", @class = "", @readonly = "readonly" })
            @Html.DisplayFor(model => model.NumeroFactura, new { style = "height: 50px ;  font-weight: 400; text-shadow: 0 1px 0  lightgray; font-size: 34px; border: 0; padding: 0 ; text-align: right; background: transparent;  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Lucida', Tahoma, Arial,'sans-serif';                    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;                   ", @class = "", @readonly = "readonly" })*@

                                <div>@Html.Hidden("IdFactura", Model.IdFactura)</div>
                                <div>@Html.Hidden("IdFactura99", Model.IdFactura)</div>
                                <div>@Html.Hidden("IdCliente", Model.IdCliente)</div>
                                <div>@Html.Hidden("Anulada", Model.Anulada)</div>
                                <div>@Html.Hidden("FechaAnulacion", Model.FechaAnulacion)</div>
                                <div>@Html.Hidden("IdAutorizaAnulacion", Model.IdAutorizaAnulacion)</div>
                                <div>@Html.Hidden("IdCodigoIva", Model.IdCodigoIva)</div>
                                <div>@Html.Hidden("IVANoDiscriminado", Model.IVANoDiscriminado)</div>
                                <div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
                                <div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
                                <input type="hidden" name="BaseMinimaParaPercepcionIVA" id="BaseMinimaParaPercepcionIVA" style="font-size: 15px; text-align: left;" class="span12" />
                                <input type="hidden" name="EsAgenteRetencionIVA" id="EsAgenteRetencionIVA" style="font-size: 15px; text-align: left;" class="span12" />
                                <input type="hidden" name="CantidadDias1" id="CantidadDias1" style="font-size: 15px; text-align: left;" class="span12" />
</div>
                    </div>

                    <div class="row-fluid">
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.IdPuntoVenta, "P. Venta")
                            @Html.DropDownList("IdPuntoVenta", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdPuntoVenta)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.NumeroFactura, "Número")
                            @Html.TextBoxFor(model => model.NumeroFactura, new { style = "text-align: center; font-weight: bold; font-size: 18px;", @class = "span12", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.NumeroFactura)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.FechaFactura, "Fecha")
                            @Html.TextBoxFor(model => model.FechaFactura, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaFactura)
                            <script>
                                $("#FechaFactura").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <div class="span1 lightblue">
                            @Html.TextBoxFor(model => model.TipoABC, new { style = "width: 50px; height: 50px; font-weight: 400; font-size: 20px; border: 2px solid black; padding: ; text-align: center; font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Lucida', Tahoma, Arial,'sans-serif';  ", @class = "span1", @readonly = "readonly" })
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.IdCondicionVenta, "Condicion de venta")
                            @Html.DropDownList("IdCondicionVenta", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdCondicionVenta)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.FechaVencimiento, "Fecha vencimiento")
                            @Html.TextBoxFor(model => model.FechaVencimiento, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaVencimiento)
                            <script>
                                $("#FechaVencimiento").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.IdObra, "Obra")
                            @Html.DropDownList("IdObra", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdObra)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4 lightblue">
                            <label for="ArticuloAsociado">Cliente</label>
                            <input type="text" name="Cliente" id="Cliente" style="font-size: 15px; text-align: left;" class="span12" />
                            <script type="text/jscript">
                                $("#Cliente").autocomplete({
                                    source: '@Url.Action("GetClientesAutocomplete", "Cliente")',
                                    minLength: 0,
                                    messages: { noResults: "", results: function () { } },
                                    select: function (event, ui) {
                                        $("#IdCliente").val(ui.item.id);
                                        $("#Cliente").val(ui.item.value);
                                        $("#IdCodigoIva").val(ui.item.IdCodigoIva);
                                        $("#IdCondicionVenta").val(ui.item.IdCondicionVenta);
                                        event.preventDefault();
                                        ActualizarDatos();
                                        ActualizarPuntosDeVenta()
                                    }
                                });
                            </script>
                        </div>
                        <div class="span2 lightblue">
                            <label for="CondicionIva">Condicion Iva</label>
                            <input type="text" name="CondicionIva" id="CondicionIva" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span1 lightblue">
                            <label for="Cuit">Cuit</label>
                            <input type="text" name="Cuit" id="Cuit" style="font-size: 10px; text-align: center;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span5 lightblue">
                            @Html.LabelFor(model => model.IdIBCondicion, "Categoria IIBB (1)")
                            @Html.DropDownList("IdIBCondicion", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdIBCondicion)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span3 lightblue">
                            <label for="Direccion">Direccion</label>
                            <input type="text" name="Direccion" id="Direccion" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span2 lightblue">
                            <label for="Localidad">Localidad</label>
                            <input type="text" name="Localidad" id="Localidad" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span2 lightblue">
                            <label for="Provincia">Provincia</label>
                            <input type="text" name="Provincia" id="Provincia" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span5 lightblue">
                            @Html.LabelFor(model => model.IdIBCondicion2, "Categoria IIBB (2)")
                            @Html.DropDownList("IdIBCondicion2", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdIBCondicion2)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span1 lightblue">
                            <label for="CodigoPostal">Cod. postal</label>
                            <input type="text" name="CodigoPostal" id="CodigoPostal" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span4 lightblue">
                            <label for="Email">Email</label>
                            <input type="text" name="Email" id="Email" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span2 lightblue">
                            <label for="Telefono">Telefono</label>
                            <input type="text" name="Telefono" id="Telefono" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span5 lightblue">
                            @Html.LabelFor(model => model.IdIBCondicion3, "Categoria IIBB (3)")
                            @Html.DropDownList("IdIBCondicion3", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdIBCondicion3)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12 lightblue">
                            <table id="ListaArticulos" class=" separacion AltoRenglones" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager1" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                    </div>
                    <br />
                    <div class="row-fluid">
                        <div class="span4 lightblue">
                            <table id="Adicionales" class="span12" width="" border="0" cellspacing="0" cellpadding="0"
                                   style="margin: 0px 0px 0px 0px; height:; padding: 0px; border-width: 0px; border-spacing: 0px; font-size: xx-small;">
                                <tr class="">
                                    <td width="220"><label for="CAE">CAE :</label></td>
                                    <td width="200">@Html.TextBoxFor(model => model.CAE, new { @class = "span12" })</td>
                                </tr>
                                <tr class="">
                                    <td width="220"><label for="FechaCAE">Fecha vto. CAE :</label></td>
                                    <td width="200">@Html.TextBoxFor(model => model.FechaVencimientoORechazoCAE, new { @class = "span12" })</td>
                                </tr>
                                <tr class="">
                                    <td width="220"><label for="CAE">Lista de precio :</label></td>
                                    <td width="200">
                                        @Html.DropDownList("IdListaPrecios", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdListaPrecios)
                                    </td>
                                </tr>
                                <tr class="">
                                    <td width="220"><label for="CAE">No incluir en cubos de venta :</label></td>
                                    <td width="200">
                                        @Html.CheckBox("NoIncluirEnCubos", Model.NoIncluirEnCubos == "SI")
                                    </td>
                                </tr>
                                <tr class="">
                                    <td width="220"><label for="CAE">Contabilizar segun fecha de vto. :</label></td>
                                    <td width="200">
                                        @Html.CheckBox("ContabilizarAFechaVencimiento", Model.ContabilizarAFechaVencimiento == "SI")
                                    </td>
                                </tr>
                                <tr class="">
                                    <td width="120"></td>
                                    <td width="300">
                                        @if (Model.FechaAnulacion != null)
                                        {
                                            <span style="margin: 0px 0px 0px 0px; height:; padding: 5px;  border-spacing: 0px; font-size: 15px; background-color: rgb(100%, 88%, 88%); ">ANULADA</span>
                                        }
                                    </td>
                                </tr>
                            </table>
                            <script>
                                $("#FechaVencimientoORechazoCAE").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <div class="span8 lightblue">
                            <table id="Totales" class="subtotales span12" width="" border="0" cellspacing="0" cellpadding="0"
                                   style="margin: 0px 0px 0px 0px; height:; padding: 20px;  border-spacing: 0px; font-size: xx-small; background-color: #E0ECFF; ">
                                <tr class="">
                                    <td width="100">MONEDA</td>
                                    <td width="100">@Html.DropDownList("IdMoneda", null, "", new { @class = "span12 ", @style = "height: 15px;   line-height: 14px;" })</td>
                                    <td width="10"></td>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">SUBTOTAL</td>
                                    <td width="60"></td>
                                    <td width="150"><input type="text" name="Subtotal" id="Subtotal" style="width: 83%; text-align: right; font-size: 15px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td width="100">CONV.PESOS</td>
                                    <td width="100">@Html.TextBoxFor(model => model.CotizacionMoneda, new { @class = "span8 subtotales" })</td>
                                    <td width="10"></td>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">IMPORTE IVA</td>
                                    <td width="60">@Html.TextBoxFor(model => model.PorcentajeIva1, new { @class = "span8 subtotales", @style = "background-color: #e8eef4;" })</td>
                                    <td width="150">@Html.TextBoxFor(model => model.ImporteIva1, new { @class = "span10 subtotales", @readonly = "readonly", @style = "background-color: #e8eef4;font-size: 15px" })</td>

                                </tr>
                                <tr>
                                    <td width="100">COTIZ DOLAR</td>
                                    <td width="100">@Html.TextBoxFor(model => model.CotizacionDolar, new { @class = "span8 subtotales" })</td>
                                    <td width="10"></td>
                                    <td id="LabelPercepcionIVA" width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">Percep IVA</td>
                                    <td width="60">@Html.TextBoxFor(model => model.PorcentajePercepcionIVA, new { @class = "span8 subtotales", @readonly = "readonly", @style = "background-color: #e8eef4;" })</td>
                                    <td width="150">@Html.TextBoxFor(model => model.PercepcionIVA, new { @class = "span10 subtotales", @readonly = "readonly", @style = "background-color: #e8eef4;font-size: 15px" })</td>
                                </tr>
                                <tr>
                                    <td width="100"></td>
                                    <td width="100"></td>
                                    <td width="10"></td>
                                    <td id="LabelRetencionIBrutos1" width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">Percep IIBB (1)</td>
                                    <td width="60">@Html.TextBoxFor(model => model.PorcentajeIBrutos1, new { @class = "span8 subtotales", @readonly = "readonly", @style = "background-color: #e8eef4;" })</td>
                                    <td width="150">@Html.TextBoxFor(model => model.RetencionIBrutos1, new { @class = "span10 subtotales", @readonly = "readonly", @style = "background-color: #e8eef4;font-size: 15px" })</td>
                                </tr>
                                <tr>
                                    <td width="100"></td>
                                    <td width="100"></td>
                                    <td width="10"></td>
                                    <td id="LabelRetencionIBrutos2" width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">Percep IIBB (2)</td>
                                    <td width="60">@Html.TextBoxFor(model => model.PorcentajeIBrutos2, new { @class = "span8 subtotales", @readonly = "readonly", @style = "background-color: #e8eef4;" })</td>
                                    <td width="150">@Html.TextBoxFor(model => model.RetencionIBrutos2, new { @class = "span10 subtotales", @readonly = "readonly", @style = "background-color: #e8eef4;font-size: 15px" })</td>
                                </tr>
                                <tr>
                                    <td width="100"></td>
                                    <td width="100"></td>
                                    <td width="10"></td>
                                    <td id="LabelRetencionIBrutos3" width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">Percep IIBB (3)</td>
                                    <td width="60">@Html.TextBoxFor(model => model.PorcentajeIBrutos3, new { @class = "span8 subtotales", @readonly = "readonly", @style = "background-color: #e8eef4;" })</td>
                                    <td width="150">@Html.TextBoxFor(model => model.RetencionIBrutos3, new { @class = "span10 subtotales", @readonly = "readonly", @style = "background-color: #e8eef4;font-size: 15px" })</td>
                                </tr>
                                <tr>
                                    <td width="100"></td>
                                    <td width="100"></td>
                                    <td width="10"></td>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">TOTAL</td>
                                    <td width="60"></td>
                                    <td width="150">@Html.TextBoxFor(model => model.ImporteTotal, new { @class = "span10 subtotales", @readonly = "readonly", @style = "background-color: #e8eef4;font-size: 17px" })</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12 lightblue">
                            @Html.LabelFor(model => model.Observaciones)
                            @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Observaciones)
                        </div>
                        <!--/span-->
                    </div>
                </div>

                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236); width: 100%;
 height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span7 pull-left"></div>

                        <div class="span5 lightblue">
                            <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />

                            @if (Model.IdFactura > 0)
                            {
                                <input type="button" id="anular" value="Anular" class="btn  btn-large btn-primary" />
                                <a class="btn  btn-large" style="color: Black" href="@Url.Action("ImprimirConInteropPDF", new { @id = Model.IdFactura })">
                                    <i class="icon-print"></i>&nbsp;Imprimir
                                </a>
                            }
                            @*<input type="button" id="probar" value="Probar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />*@

                            <script>
                                $(function () {
                                    $("#anular").click(function () {
                                        $("#dialog-password").dialog({
                                            buttons: {
                                                'Aceptar': function () {
                                                    //window.location.href = ROOT + 'OrdenPago/Anular/' + $("#IdOrdenPago").val();
                                                    var idAux = $("#Aux1").val();
                                                    $("#Anulada").val("SI");
                                                    $("#FechaAnulacion").val(Hoy());
                                                    $("#IdAutorizaAnulacion").val(idAux);
                                                    $('#grabar2').click();
                                                },
                                                'Cancelar': function () {
                                                    $(this).dialog('close');
                                                }
                                            },
                                            open: function () {
                                            }
                                        });
                                        $('#dialog-password').dialog('open');
                                        $('#mySelect').prop("disabled", false);
                                        CargarUsuariosConPermisoDeAnulacion();
                                    });

                                    function CargarUsuariosConPermisoDeAnulacion() {
                                        var combo = $("#mySelect")
                                        combo.find("option:gt(0)").remove();
                                        combo.find("option:first").text("Cargando...");
                                        $.getJSON(ROOT + 'Articulo/GetStoreProc?sp=Empleados_TX_ParaAnularPorFormulario&p1=23', {
                                        }, function (json) {
                                            combo.find("option:first").text("");
                                            for (var i = 0; i < json.length; i++) {
                                                $("<option/>").attr("value", json[i].value).text(json[i].title).appendTo(combo);
                                            }
                                        });
                                    }
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();
            $("#conscroll").height($(window).height() - 120);
        });
    </script>
}
