﻿@model IEnumerable<ProntoMVC.Data.Models.Factura>
@{
    ViewBag.Title = "Facturas";
}

<div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
<div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>

<br />

<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nueva Factura</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("TT_DynamicGridData", "Factura")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', '', 'IdFactura', 'Letra', 'Punto venta', 'Numero', 'Fecha', 'Sucursal', 'Anulada', 'Sub cod', 'Codigo cliente', 'Cliente', 'Condicion iva', 'CUIT', 'Condicion de venta',
                       'Fecha vencimiento', 'Lista de precio', 'Ordenes de compra', 'Remitos', 'Total gravado', 'Bonificacion', 'Total iva', 'Ajuste iva', 'Total IIBB', 'Total percepcion iva',
                       'Otras Percepciones', 'Importe total', 'Mon.', 'Obra', 'Vendedor', 'Provincia destino', 'Items', 'Abonos', 'Grupo', 'Fecha contabilizacion', 'Fecha anulacion', 'Usuario anulo',
                       'Fecha ingreso', 'Usuario ingreso', 'CAE', 'Rechazo CAE', 'Fecha Vto. o Rech. CAE', 'Observaciones'],
            colModel: [
                        { name: 'ver', index: 'ver', hidden: false, width: 50, search: false },
                        { name: 'Emitir', index: 'Emitir', hidden: false, width: 50, search: false },
                        { name: 'IdFactura', index: 'IdFactura', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'TipoABC', index: 'TipoABC', align: 'center', width: 40, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq'] , enableClear: true } },
                        { name: 'PuntoVenta', index: 'PuntoVenta', align: 'center', width: 40, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  , clearSearch: false } },
                        { name: 'NumeroFactura', index: 'NumeroFactura', align: 'right', width: 80, editable: false, hidden: false, searchoptions: { sopt: ['cn','eq']  , enableClear: false } },
                        {
                            name: 'FechaFactura', index: 'FechaFactura', width: 100, align: 'center',
                            sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' },
                            datefmt: 'dd/mm/yy',

                            search: true,
                            searchrules: {
                                date: true
                            },
                            searchoptions: { // http://stackoverflow.com/questions/14632735/jqgrid-searching-dates
                                sopt: ['ge', 'le', 'eq'],
                                dataInit: function (elem) {
                                    $(elem).datepicker({
                                        dateFormat: 'dd/mm/yy',
                                        changeYear: true,
                                        changeMonth: true,
                                        showButtonPanel: true,
                                        onSelect: function () {
                                            $(this).keydown();
                                        }
                                    });
                                }
                            }

                        },

                        { name: 'Sucursal', index: 'Sucursal', align: 'center', width: 100, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'Anulada', index: 'Anulada', align: 'center', width: 50, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'SubCod', index: 'SubCod', align: 'center', width: 30, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'Cliente.Codigo', index: 'Cliente.Codigo', align: 'center', width: 60, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq'] , enableClear: false } },
                        { name: 'Cliente', index: 'Cliente.RazonSocial', align: 'left', width: 400, editable: false, search: true, searchoptions: { sopt: ['cn','eq'] , enableClear: false } },
                        { name: 'DescripcionIva', index: 'DescripcionIva.Descripcion', align: 'left', width: 170, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'Cliente.Cuit', index: 'Cliente.Cuit', align: 'center', width: 120, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'CondicionVenta', index: 'Condiciones_Compra.Descripcion', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'FechaVencimiento', index: 'FechaVencimiento', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'ListaDePrecio', index: 'ListasPrecio.NumeroLista', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'OCompras', index: 'OCompras', align: 'left', width: 150, editable: false, search: true, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'Remitos', index: 'Remitos', align: 'left', width: 150, editable: false, search: true, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'TotalGravado', index: 'TotalGravado', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Bonificacion', index: 'ImporteBonificacion', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'TotalIva', index: 'ImporteIva1', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'AjusteIva', index: 'AjusteIva', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'TotalIIBB', index: 'TotalIIBB', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'TotalPercepcionIVA', index: 'PercepcionIVA', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'TotalOtrasPercepciones', index: 'TotalOtrasPercepciones', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'ImporteTotal', index: 'ImporteTotal', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Moneda', index: 'Moneda.Abreviatura', align: 'center', width: 40, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'Obra', index: 'Obra.NumeroObra', align: 'center', width: 120, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'Vendedor', index: 'Vendedore.Nombre', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'ProvinciaDestino', index: 'Provincia.Nombre', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'CantidadItems', index: 'CantidadItems', align: 'center', width: 40, editable: false, search: false, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'CantidadAbonos', index: 'CantidadAbonos', align: 'center', width: 40, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'GrupoFacturacionAutomatica', index: 'GrupoFacturacionAutomatica', align: 'center', width: 40, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'FechaContabilizacion', index: 'FechaContabilizacion', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'FechaAnulacion', index: 'FechaAnulacion', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'UsuarioAnulo', index: 'Empleado.Nombre', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'FechaIngreso', index: 'FechaIngreso', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'UsuarioIngreso', index: 'Empleado1.Nombre', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'CAE', index: 'CAE', align: 'left', width: 120, editable: false, hidden: false },
                        { name: 'RechazoCAE', index: 'RechazoCAE', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'FechaVencimientoORechazoCAE', index: 'FechaVencimientoORechazoCAE', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 500, editable: false, hidden: false }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },




            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50],
            sortname: 'FechaFactura', // 'FechaFactura,NumeroFactura',
            sortorder: "desc",
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar', //,


            ///////////////////////////////
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            //////////////////////////////

            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true
            // ,caption: '<b>FACTURAS</b>'

            , gridview: true
            , multiboxonly: true
            , multipleSearch: true




        });



   

        jQuery("#Lista").jqGrid('navGrid', '#ListaPager',
         { csv: true, refresh: true, add: false, edit: false, del: false }, {}, {}, {},
         {
             //sopt: ["cn"]
             //sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc', 'nu', 'nn', 'in', 'ni'],
             //width: 700,
             closeOnEscape: true, closeAfterSearch: true, multipleSearch: true, overlay: false
         }
        );


        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false 
        }); // si queres sacar el clearSearch, definilo en las searchoptions de la columna específica http://www.trirand.com/blog/?page_id=393/help/clearing-the-clear-icon-in-a-filtertoolbar/





        jQuery("#Lista").jqGrid('navButtonAdd', '#ListaPager', {
            caption: "",
            buttonicon: "ui-icon-calculator",
            title: "Choose columns",
            onClickButton: function () {
                $(this).jqGrid('columnChooser',
                    { width: 550, msel_opts: { dividerLocation: 0.5 }, modal: true });
                $("#colchooser_" + $.jgrid.jqID(this.id) + ' div.available>div.actions')
                    .prepend('<label style="float:left;position:relative;margin-left:0.6em;top:0.6em">Search:</label>');
            }
        });



        jQuery("#Lista").jqGrid('navButtonAdd', '#ListaPager',
        {
            caption: "Filter", title: "Toggle Searching Toolbar",
            buttonicon: 'ui-icon-pin-s',
            onClickButton: function () { myGrid[0].toggleToolbar(); }
        });




        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////











        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });

        pageLayout.hide('east');
        pageLayout.hide('south');
    });

</script>


<style>
table td {
    padding: 0; 
    /*border: none;*/
}

</style>

@*<style>

    .ui-jqgrid{
    -moz-box-sizing: content-box;
}
.ui-jqgrid-btable{
	border-collapse: separate;
}
.ui-jqgrid-htable{
	border-collapse: separate;
}
.ui-jqgrid-titlebar{
    height: 40px;
    line-height: 15px;
    color: #999999;
    background-color: #F9F9F9;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.ui-jqgrid .ui-jqgrid-title {
    float: left;
    margin: 1.1em 1em 0.2em;
}
.ui-jqgrid .ui-jqgrid-titlebar { 
	position: relative; 
	border-left: 1 solid;
	border-right: 1 solid; 
	border-top: 1 solid;
}
.ui-widget-header{
    background: none;
    background-image: none;
    background-color: #F9F9F9;
    text-transform: uppercase;
    border-top-left-radius:  6px;
    border-top-right-radius: 6px;
}
.ui-jqgrid tr.ui-row-ltr td {
    border-right-color: inherit;
    border-right-style: solid;
    border-right-width: 1px;
    text-align: left;
    border-color: #DDDDDD;
    background-color: inherit;
}
.ui-search-toolbar input[type="text"]{
    font-size: 12px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 0px;                
}                

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {    
    background: #F9F9F9;
    border: 1px solid #D3D3D3;               
    line-height: 15px;
    font-weight: bold;
    color: #777777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.ui-widget-content {
	box-sizing: content-box;
}
.ui-icon-triangle-1-n {
    background-position: 1px -16px;
}
.ui-jqgrid tr.ui-search-toolbar th { 
    border-top-width: 0px !important; 
    border-top-color: inherit !important; 
    border-top-style: ridge !important 
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {  
    background: #dadada;
    border-collapse: separate;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { 
    border: 1px solid #aaaaaa; 
    background: #ffffff; 
    font-weight: normal; color: #212121; 
}
.ui-jqgrid .ui-pg-input {
    font-size: inherit;
    width: 50px;
    border: 1px solid #CCCCCC;
    height: 15px;
}
.ui-jqgrid .ui-pg-selbox {
    display: block;
    font-size: 1em;
    height: 25px;
    line-height: 18px;
    margin: 0;
    width: auto;
}
.ui-jqgrid .ui-pager-control {
    position: relative;
}
.ui-jqgrid .ui-jqgrid-pager {
    height: 32px;
    position: relative;
}
.ui-pg-table .navtable .ui-corner-all{
    border-radius: 0px;
}
.ui-jqgrid .ui-pg-button:hover {
    padding: 1px;
    border: 0px;
}
.ui-jqgrid .loading {
    position: absolute; 
    top: 45%;
    left: 45%;
    width: auto;
    height: auto;
    z-index:101;
    padding: 6px; 
    margin: 5px;
    text-align: center;
    font-weight: bold;
    display: none;
    border-width: 2px !important; 
    font-size:11px;
}
.ui-jqgrid .form-control {
	height: 10px;
	width: auto;
	display: inline;	
	padding: 10px 12px;
}
.ui-jqgrid-pager {
	height: 32px;	
}

</style>*@