﻿@model ProntoMVC.Data.Models.OtrosIngresosAlmacen
@{
    ViewBag.Title = "Otros Ingresos a almacen";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptOtroIngresoAlmacen.js")" type="text/javascript"></script>

    <div id="principal" class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100%  " @*Height of the footer *@>
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; top: 50px; padding-left: 25px; padding-right: 25px; overflow-x: hidden;">
                    <div class="row-fluid">
                        <div class="span3 lightblue">
                            <legend>Otros Ingresos a almacen</legend>
                        </div>
                        <div class="span1 lightblue">
                            <div>@Html.Hidden("IdOtroIngresoAlmacen", Model.IdOtroIngresoAlmacen)</div>
                            <div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
                            <div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
                        </div>
                        <div class="span1 lightblue">
                        </div>
                        <div class="span2 lightblue">
                        </div>
                        <div class="span4 lightblue">
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.NumeroOtroIngresoAlmacen, "Numero")
                            @Html.TextBoxFor(model => model.NumeroOtroIngresoAlmacen, new { style = "text-align: center; font-weight: bold; font-size: 18px;", @class = "span12", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.NumeroOtroIngresoAlmacen)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.FechaOtroIngresoAlmacen, "Fecha")
                            @Html.TextBoxFor(model => model.FechaOtroIngresoAlmacen, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaOtroIngresoAlmacen)
                            <script>
                                $("#FechaOtroIngresoAlmacen").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span9 lightblue">
                            @Html.LabelFor(model => model.TipoIngreso, "Tipo de ingreso")
                            @Html.RadioButtonFor(model => model.TipoIngreso, 0) Devolucion de fabrica
                            @Html.RadioButtonFor(model => model.TipoIngreso, 1) Devolucion prestamo
                            @Html.RadioButtonFor(model => model.TipoIngreso, 2) Devolucion muestra
                            @Html.RadioButtonFor(model => model.TipoIngreso, 3) Devolucion de obra
                            @Html.RadioButtonFor(model => model.TipoIngreso, 4) Otros ingresos
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.Emitio, "Emitio")
                            @Html.DropDownList("Emitio", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.Emitio)
                        </div>
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.Aprobo, "Aprobo")
                            @Html.DropDownList("Aprobo", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.Aprobo)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span10 lightblue">
                            <table id="ListaArticulos" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager1" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span10 lightblue">
                            @Html.LabelFor(model => model.Observaciones)
                            @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Observaciones)
                        </div>
                    </div>

                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236); width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span4 lightblue">
                            <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />
                            @if (Model.IdOtroIngresoAlmacen > 0)
                            {<input type="button" id="anular" value="Anular" class="btn  btn-large btn-primary" />}
                            @*<input type="button" id="probar" value="Probar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />*@
                            <script>
                                $(function () {
                                    $("#anular").click(function () {
                                        $("#dialog-password").dialog({
                                            buttons: {
                                                'Aceptar': function () {
                                                    //window.location.href = ROOT + 'OrdenPago/Anular/' + $("#IdOrdenPago").val();
                                                    var idAux = $("#Aux1").val();
                                                    $("#Anulada").val("SI");
                                                    $("#FechaAnulacion").val(Hoy());
                                                    $("#IdUsuarioAnulacion").val(idAux);
                                                    $('#grabar2').click();
                                                },
                                                'Cancelar': function () {
                                                    $(this).dialog('close');
                                                }
                                            },
                                            open: function () {
                                            }
                                        });
                                        $('#dialog-password').dialog('open');
                                        $('#mySelect').prop("disabled", false);
                                        CargarUsuariosConPermisoDeAnulacion();
                                    });

                                    function CargarUsuariosConPermisoDeAnulacion() {
                                        var combo = $("#mySelect")
                                        combo.find("option:gt(0)").remove();
                                        combo.find("option:first").text("Cargando...");
                                        $.getJSON(ROOT + 'Articulo/GetStoreProc?sp=Empleados_TX_ParaAnularPorFormulario&p1=10', {
                                        }, function (json) {
                                            combo.find("option:first").text("");
                                            for (var i = 0; i < json.length; i++) {
                                                $("<option/>").attr("value", json[i].value).text(json[i].title).appendTo(combo);
                                            }
                                        });
                                    }
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();
            $("#conscroll").height($(window).height() - 120);
        });
    </script>
}