﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Unofficial Channels
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120723
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>@ViewBag.Title</title>

		<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Content/unofficialchannels/style.css")" rel="stylesheet" type="text/css" />
        @*<link href="@Url.Content("~/Content/cupertino/jquery-ui-1.9.1.custom.min.css")" rel="stylesheet" type="text/css" />*@
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/jquery-grid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.autocomplete.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Content/jquery-ui-layout/layout-default-latest.css")" rel="stylesheet" type="text/css" />
        @*<link href="@Url.Content("~/Content/jquery-ui-layout/jquery.ui.all.css")" rel="stylesheet" type="text/css" />*@
        <link href="@Url.Content("~/Content/jquery.treeview.css")" rel="stylesheet" type="text/css" />
        @*<link href="@Url.Content("~/Content/jMenu.jquery.css")" rel="stylesheet" type="text/css" />*@

        <script src="@Url.Content("~/Scripts/js/jquery-1.8.2.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/js/jquery-ui-1.9.0.custom.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/jquery-grid/grid.locale-es.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/jquery-grid/grid.base.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-grid/grid.celledit.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-grid/grid.common.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-grid/grid.formedit.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-grid/grid.inlinedit.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-grid/grid.jqueryui.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-grid/jqModal.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/json/jquery.json-2.3.min.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-es.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/TreeView/jquery.treeview.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/TreeView/jquery.treeview.edit.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/TreeView/jquery.cookie.js")" type="text/javascript"></script>
    
        <script src="@Url.Content("~/Scripts/jquery-layout/jquery-ui-latest.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-layout/jquery.layout-latest.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-layout/jquery.layout.resizePaneAccordions.min-1.0.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-layout/jquery.layout.resizeTabLayout.min-1.1.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-layout/jquery.layout.state.js")" type="text/javascript"></script>

        <style type="text/css">  
            /* fix the size of the pager */  
            input.ui-pg-input { width: auto; }  
        </style> 

        <script type="text/javascript">
            // bind save() to window.onunload
            $(window).unload(function () { layoutState.save('myLayout') });

            var myLayout, a; // create global var for the layout-instance object

            $(document).ready(function () {
                // OUTER/PAGE LAYOUT
                pageLayout = $("body").layout({ // DO NOT use "var pageLayout" here
                    west__size: .20
		            , east__size: .20
		            , south__initClosed: false
		            , north__initClosed: false
		            , east__initClosed: true
		            , west__onresize: $.layout.callbacks.resizePaneAccordions // west accordion a child of pane
		            , east__onresize: $.layout.callbacks.resizePaneAccordions // east accordion nested inside a tab-panel
                });

                // load & used 'saved-state' to override defaults
                pageLayout = $("body").layout($.extend(a, layoutState.load('myLayout')));

                // TABS INSIDE EAST-PANE
                pageLayout.panes.east.tabs({
                    show: $.layout.callbacks.resizePaneAccordions // resize tab2-accordion when tab is activated
                });
                pageLayout.sizeContent("east"); // resize pane-content-elements after creating east-tabs

                // INIT ALL ACCORDIONS - EVEN THOSE NOT VISIBLE
                $("#accordion-west").accordion({ fillSpace: true });
                $("#accordion-east").accordion({ fillSpace: true });

                // if a new theme is applied, it could change the height of some content,
                // so call resizeAll to 'correct' any header/footer heights affected
                // NOTE: this is only necessary because we are changing CSS *AFTER LOADING* using themeSwitcher
                setTimeout(pageLayout.resizeAll, 2000); /* allow time for browser to re-render with new theme */


                $.post("/Home/Arbol", null, function (data) {
                    var menu_html = '<ul id="Tablas1" class="filetree treeview-famfamfam">';
                    var longitud = 0
                    for (var i = 0; i < data.length; i++) {
                        if (longitud > 0) {
                            if (longitud - data[i].IdItem.length == 3) { menu_html += '</ul></li>' }
                            if (longitud - data[i].IdItem.length == 6) { menu_html += '</ul></li></ul></li>' }
                            if (longitud - data[i].IdItem.length == 9) { menu_html += '</ul></li></ul></li></ul></li>' }
                            if (longitud - data[i].IdItem.length == 12) { menu_html += '</ul></li></ul></li></ul></li></ul></li>' }
                        }
                        if (data[i].EsPadre == "SI") {
                            menu_html += '<li><span class="folder" id="' + data[i].Clave + '">' + data[i].Descripcion + '</span><ul>'
                        }
                        else {
                            if (data[i].Link.length > 0) {
                                menu_html += '<li><span class="leaf country" id="' + data[i].Clave + '">' + data[i].Link + '</span>' + '</li>'
                            }
                            else {
                                menu_html += '<li><span class="leaf country" id="' + data[i].Clave + '">' + data[i].Descripcion + '</span></li>'
                            }
                        }
                        longitud = data[i].IdItem.length;
                    }
                    if (longitud > 0) {
                        if (longitud - 2 == 3) { menu_html += '</ul></li>' }
                        if (longitud - 2 == 6) { menu_html += '</ul></li></ul></li>' }
                        if (longitud - 2 == 9) { menu_html += '</ul></li></ul></li></ul></li>' }
                        if (longitud - 2 == 12) { menu_html += '</ul></li></ul></li></ul></li></ul></li>' }
                    }
                    menu_html += '</ul>'
                    $("#Accord1").empty().append(menu_html);

                    $("#Tablas1").treeview({
                        collapsed: true,
                        animated: "medium",
                        control: "#sidetreecontrol",
                        persist: "location"
                    });
                });

                //TREE VIEW
                //Agrega un submenu
                $("#add").click(function () {
                    var branches = $("<li><span class='folder'>New Sublist</span><ul>" +
					"<li><span class='file'>Item1</span></li>" +
					"<li><span class='file'>Item2</span></li></ul></li>").appendTo("#browser");
                    $("#Tablas").treeview({
                        add: branches
                    });
                    branches = $("<li class='closed'><span class='folder'>New Sublist</span><ul><li><span class='file'>Item1</span></li><li><span class='file'>Item2</span></li></ul></li>").prependTo("#folder21");
                    $("#Tablas").treeview({
                        add: branches
                    });
                });

                //Boton derecho elimina un submenu o item de menu
                $("#Tablas").bind("contextmenu", function (event) {
                    if ($(event.target).is("li") || $(event.target).parents("li").length) {
                        $("#Tablas").treeview({
                            remove: $(event.target).parents("li").filter(":first")
                        });
                        return false;
                    }
                });
            });
        </script> 
    </head>

	<body>
        <div class="ui-layout-north ui-widget-content add-padding">
            Pronto
			<div id="nav">
				<ul>
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
				</ul><br class="clear" />
			</div>

			<div id="banner">
				<div class="captions">
					<h2>PRONTO - SISTEMA DE GESTION</h2>
				</div>
				<img src="../../Content/unofficialchannels/images/banner.jpg" alt="" />
			</div>
        </div> 
        
        <div class="ui-layout-south ui-widget-content add-padding">
			&copy; BDL Consultores. Design by <a href="http://www.bdlconsultores.com.ar/">BDLConsultores.com.ar</a>
        </div> 

        <div class="ui-layout-west no-scrollbar add-padding grey">
	        <div id="accordion-west" style=" font-size:12px;">
			    <h5><a href="#">ADMINISTRACION</a></h5>
                    <div id="Accord1"></div>
			    <h5><a href="#">SUELDOS Y JORNALES</a></h5>
					<div>
						<p>
                            SyJ
						</p>
					</div>

			    <h5><a href="#">MANTENIMIENTO DE EQUIPOS</a></h5>
					<div>
						<p>
                            Mantenimiento de equipos
						</p>
					</div>

			    <h5><a href="#">HERRAMIENTAS</a></h5>
					<div>
						<p>
                            Herramientas
						</p>
					</div>
	        </div>
        </div>

        <div id="tabs-center" class="ui-layout-center no-scrollbar add-padding grey">
            @RenderBody()
        </div>

        <div id="tabs-east" class="ui-layout-east no-padding no-scrollbar">
	        <div class="ui-widget-header no-scrollbar add-padding" style="margin: 0 1px; font-size:12px;">
		        TABLAS DE AYUDA
	        </div>
	        @*<div id="east-toolbar" class="ui-state-highlight ui-widget-content no-scrollbar add-padding"
	        style="position: relative; margin: 0 1px;">
		        <button onClick="pageLayout.resizeAll()" title="Resize All Layouts (after theme change)">Resize</button>
		        <button onClick="removeUITheme(); pageLayout.resizeAll()" title="Remove Custom Theme">Revert</button>
	        </div>*@
	        <ul class="allow-overflow" style="margin: 0 1px; font-size:12px;">
		        <li><a href="#tab-panel-east-1">Lista de materiales</a></li>
		        <li><a href="#tab-panel-east-2">Tab 2</a></li>
		        <li><a href="#tab-panel-east-3">Tab 3</a></li>
	        </ul>
	        <div class="ui-layout-content ui-widget-content no-scrollbar" style="border-top: 0;">

		        <div id="tab-panel-east-1" class="full-height no-padding add-scrollbar">
			        <div class="ui-tabs-panel outline">
                        <table id="ListaDrag" class="scroll" cellpadding="0" cellspacing="0" style="margin: 0 1px; font-size:12px;"></table>
                        <div id="ListaDragPager" class="scroll" style="text-align: center; margin: 0 1px; font-size:12px;"></div>
			        </div>
		        </div>

		        <div id="tab-panel-east-3" class="full-height no-padding add-scrollbar">
			        <div class="ui-tabs-panel outline">
				        <p>Cras nec arcu sed nisi varius fermentum ut non nulla. Pellentesque ultricies condimentum nibh, 
				        nec imperdiet felis laoreet sit amet.</p>
			        </div>
		        </div>

		        <div id="tab-panel-east-2" class="full-height no-padding no-scrollbar">
			        <div id="accordion-east" class="full-height">
		
					        <h3><a href="#">Section 1</a></h3>
					        <div>
						        <b>Accordion inside a Tab inside a content-div inside a layout-pane</b>
						        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							        Vestibulum condimentum neque a velit laoreet dapibus. 
							        Etiam eleifend tempus pharetra.
						        </p>
						        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
						        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
						        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
					        </div>
		
					        <h3><a href="#">Section 2</a></h3>
					        <div>
						        <p style="font-weight: bold;">Sed Non Urna</p>
		
						        <p>Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus.
							        Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit,
							        faucibus interdum tellus libero ac justo.</p>
						        <p>Vivamus non quam. In suscipit faucibus urna.</p>
					        </div>
		
					        <h3><a href="#">Section 3</a></h3>
					        <div>
						        <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
							        Phasellus pellentesque purus in massa. Aenean in pede.</p>
					        </div>
		
					        <h3><a href="#">Section 4</a></h3>
					        <div>
						        <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
							        ac turpis egestas.</p>
						        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
							        Aenean lacinia mauris vel est.</p>
						        <p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
							        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
					        </div>
			        </div>
		        </div>
	        </div>
        </div>	</body>
</html>