﻿@*el que maneja esto es el ErrorController.cs
    ojo con la confusion de la vista Error.cshtml en el \Shared\ y la que esta en \ErrorPages\
*@

@{
    Layout = null;
}

@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Disculpame";
}


@if (false) // (@Model.Exception.Message.Contains("Permisos"))
{
    <br />
    <br />
    <br />
    <center>
        <strong>
            Te faltan permisos
        </strong>
        <br />  <br />
        <p>
            @Model.Exception.Message
        </p>
    </center>
}
else
{
    <center>
        <img src="@Url.Content("~/Content/images/logosolo.gif")" alt="" style="text-align: left; width: 100px;" />
        <strong>Disculpame. Tuve un problema </strong>
        <p>
            Pagenotfound-1
            Le mandé un mail con detalles al Administrador. Por favor, comunicate con él.
        </p>


        <p>ver detalles </p>
        <p>
            @if (Model != null)
            {
                if (Model.Exception != null)
                { @Model.Exception.Message.NullSafeToString();
                }
            }

        </p>
        <p>
            @*Controller = @Model.ControllerName*@
        </p>
        <p>
            @*Action = @Model.ActionName*@
        </p>
        <p>
            @*Message = @Model.Exception.Message*@
        </p>
        <p>
            StackTrace :
        </p>
        <pre>@*@Model.Exception.StackTrace*@</pre>
    </center>
}
