/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Unofficial Channels
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120723
*/

* {
	margin: 0;
	padding: 1;
}

a {
	text-decoration: underline;
	color: #383838;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 12pt;
	line-height: 1.8em;
	font-family: Arial, sans-serif;
	background: #dddddd;
	color: #656565;
}

br.clear {
	clear: both;
}

h1,h2,h3,h4 {
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: -1px;
}

h2,h3,h4 {
	margin-bottom: 1.5em;
	font-family: Arvo, serif;
	color: #000000;
}

strong {
	color: #000000;
}

img.left {
	float: left;
	margin: 0 20px 20px 0;
}

img.top {
	margin: 8px 0 20px 0;
}

p {
	margin-bottom: 1.25em;
}

ul {
	margin-bottom: 1.25em;
}

.date {
	background: #222222;
	color: #ffffff;
	font-size: 0.75em;
	padding: 2px;
	display: inline-block;
	width: 45px;
	text-align: center;
	margin-right: 1em;
}

.imageList {
	list-style: none;
}

.imageList li {
	clear: both;
}

.box {
	margin: 0 0 30px 0;
	overflow: hidden;
}

#bg1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 542px;
	background: #ccc;
	z-index: 1;
	box-shadow: inset 0px 280px 60px 0px rgba(0,0,0,0.3);
}

#bg2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 243px;
	background: #262626;
	z-index: 2;
	box-shadow: inset 0px 10px 60px 0px rgba(0,0,0,0.7);
}

#banner {
	position: relative;
	width: 100%;
	height: 200px;
}

#banner .captions {
	position: absolute;
	right: 0;
	top: 55px;
	text-shadow: 2px 2px 0px rgba(0,0,0,1.0);
}

#banner .captions h2 {
	background: rgba(0,0,0,0.7);
	color: #ffffff;
	padding: 28px;
	margin: 0;
}

#banner .captions h3 {
	background: rgba(10,127,153,0.8);
	color: #ffffff;
	padding: 28px;
	margin: 0;
}

#content {
	width: 954px;
	margin: 0 0 0 200px;
	padding: 0;
}

#copyright {
	padding: 40px 0 80px 0;
	text-align: center;
	color: #777777;
}

#copyright a {
	color: #777777;
}

#header {
	position: relative;
	padding: 28px;
	height: 125px;
	background: #0a7f99;
	color: #ffffff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	box-shadow: inset 0px -40px 60px 0px #005B6D;
	border-bottom: solid 1px #003B47;
}

#logo {
	position: absolute;
	bottom: 0;
	left: 28px;
	height: 138px;
	line-height: 138px;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
}

#logo h1 {
	font-size: 2.25em;
	font-family: Arvo, serif;
}

#main {
	position: relative;
	padding: 10px 8px 0px 8px;
	width: 1124px;
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 8px 0 8px 0;
	border-top: solid 1px #d1d1d1;
}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
}

#nav {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 28px 0 28px;
	width: 100%;
	height: 48px;
	line-height: 48px;
	margin: 0 0 28px 0;
	background: #007289;
	font-size: 0.9em;
	border-bottom: solid 1px #009FBF;
	border-top: solid 1px #1098B3;
	box-shadow: inset 0px -10px 40px 0px #005B6D;
}

#nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	display: inline;
	padding: 0 12px 0 12px;
}

#nav ul li.first {
	padding-left: 0;
}

#outer {
	position: relative;
	z-index: 3;
	width: 1180px;
	margin: 60px auto 0 auto;
	background: #ffffff;
	box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
}

#search {
	position: absolute;
	bottom: 0;
	right: 28px;
	height: 100px;
	line-height: 100px;
}

#search input.text {
	padding: 10px 40px 10px 10px;
	background: #ffffff url(images/search.png) top right no-repeat;
	border: 0;
	width: 250px;
	color: #777;
}

#sidebar {
	width: 200px;
	float: left;
	padding: 0;
}