@using PagedList.Mvc
@model ProntoMVC.Areas.MvcMembership.Models.UserAdministration.ConfiguracionViewModel
@{
    ViewBag.Title = "Administración";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="" method="post" enctype="multipart/form-data">
    <div style="padding-left: 15px; padding-right: 15px;">
        <br />
        <div class="" style='font-size: 34px; margin-top: 5px; height: 60px; font-weight: 400;
    text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
            Configuración
        </div>
        @if (Roles.IsUserInRole("SuperAdmin") || Roles.IsUserInRole("Administrador"))
        {




            <p>@*Version de storeproc*@    </p>

            
            <a href="@System.Configuration.ConfigurationManager.AppSettings["ReportServer"]">Servidor de informes</a>
            <br />
            <a href="localhost/Reports_MSSQLSERVER2/Pages/Folder.aspx?ViewMode=Detail">
                Interfaz local
            </a>
            <br />
            <a href="@System.Configuration.ConfigurationManager.AppSettings["ReportServer"].Replace("ReportServer", "Reports") ">
                Interfaz web
            </a>

            <br />
            <br />

            <p>
                @*Logs de RRSS en la base (tablas [ExecutionLogStorage] ?)
                    http://stackoverflow.com/questions/491389/where-does-reporting-services-store-its-log-files
                    C:\Program Files\Microsoft SQL Server\MSRS10_50.BDL\Reporting Services\LogFiles*@
            </p>



            @Html.LabelFor(model => model.CartelAviso, "Aviso") @*para que quede el espacio*@
            <br />
            @Html.TextAreaFor(m => m.CartelAviso, new { id = "Aviso", @class = "span8" })

            <br />
            <br />
            @Html.LabelFor(model => model.ProximoComprobanteProveedorReferencia, "Numeradores:") @*para que quede el espacio*@
            <br />
            @Html.LabelFor(model => model.ProximoComprobanteProveedorReferencia, "Compr. Proveedor") @*para que quede el espacio*@
            <br />
            @Html.TextBoxFor(m => m.ProximoComprobanteProveedorReferencia, new { id = "Aviso", @class = "span2" })

            <br /><br />

            @Html.LabelFor(model => model.PathPlantillas, "Directorio de plantillas y archivo .APP") @*para que quede el espacio*@
    <br />
            @Html.TextBoxFor(m => m.PathPlantillas, new { id = "Aviso", @class = "span6" })


            using (Html.BeginForm("SubirPlantilla", "UserAdministration"))
            {

                <br />      <br />
                <div>
                    @Html.LabelFor(model => model.ProximoComprobanteProveedorReferencia, "Plantilla de Requerimientos")
                    <br />
                    @*para que quede el espacio*@
                    <input type="file" name="file" />
                    <input type="submit" class="btn" value="Subir" />
                    <br />
                    <a class="btn  " style="color: Black" href="@Url.Action("BajarPlantilla")">
                        @*<i class="icon-print">
                            </i>&nbsp;*@
                        Descargar
                    </a>
                </div>

                <br />
                <br />


                @*<input type="submit" value="Eliminar" class="btn" />*@
            }


            <br />
            <input type="submit" value='Aceptar' class="btn  btn-large btn-primary" style="width: 100px;
        height: 40px" />

        }
        @if (Roles.IsUserInRole("SuperAdmin"))
        {

            @* <a class="btn  " style="color: Black" href="@Url.Action("actualizarSql")"><i class="icon-print">
                </i>&nbsp;actualizar sql</a>*@


        }
    </div>
</form>
