@using System.Globalization
@model ProntoMVC.Areas.MvcMembership.Models.UserAdministration.DetailsViewModel
@{
    ViewBag.Title = "User Details: " + Model.DisplayName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding-left: 15px; padding-right: 15px;">
    <br />
    <link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />
    <div class="" style='font-size: 34px; margin-top: 5px; height: 60px; font-weight: 400;
        text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
        Usuario @Model.DisplayName [@Model.Status]
    </div>
    <ul class="mvcMembership-tabs">
        <li>@Html.ActionLink("Detalles", "Details", "UserAdministration", new { id = Model.User.ProviderUserKey }, null)</li>
        <li>Empresas</li>
        <li>@Html.ActionLink("Contraseņa", "Password", "UserAdministration", new { id = Model.User.ProviderUserKey }, null)</li>
        <li>@Html.ActionLink("Roles", "UsersRoles", "UserAdministration", new { id = Model.User.ProviderUserKey }, null)</li>
        <li>@Html.ActionLink("Accesos", "Edit", "Acceso", new { nombre = Model.User.UserName, area = "" }, null)</li>
    </ul>
    <h3 class="mvcMembership">
        Empresas</h3>
    <div class="mvcMembership-userRoles">
        @foreach (var empresa in Model.Empresas)
        {

            if (empresa.Key == "") { continue; }
        
            <div class="row-fluid">
                <div class="span2">
                    @Html.ActionLink(empresa.Key, "empresa", new { id = empresa.Key })
                </div>
                <div class="span4">
                    @if (empresa.Value)
                    {
                        using (Html.BeginForm("RemoveFromEmpresa", "UserAdministration", new { id = Model.User.ProviderUserKey, empresa = empresa.Key }))
                        {
                        <input type="submit" value="Quitar" />
                    
                     

@*
                    @Html.ActionLink("Accesos detalle", "Edit", "Acceso", new { Area = "", id = empleadoEnEstaEmpresa(empresa.Key, Model.User.ProviderUserKey) }, new { })
                    *@

                        }
                    }
                    else
                    {
                        using (Html.BeginForm("AddToEmpresa", "UserAdministration", new { id = Model.User.ProviderUserKey, empresa = empresa.Key }))
                        {
                        <input type="submit" value="Agregar" />
                        }
                    }
                </div>
            </div>          
        }
    </div>
</div>
</div>