﻿@model ProntoMVC.Data.Models.Valore
@{
    ViewBag.Title = "Gasto bancario";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptGastoBancario.js")" type="text/javascript"></script>

    <div id="principal" class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100%  " @*Height of the footer *@>
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; top: 50px; padding-left: 25px; padding-right: 25px; overflow-x: hidden;">
                    <div class="row-fluid">
                        <div class="span3 lightblue">
                            <legend>Gasto bancario</legend>
                        </div>
                        <div class="span1 lightblue">
                            <div>@Html.Hidden("IdValor", Model.IdValor)</div>
                            <div>@Html.Hidden("Anulado", Model.Anulado)</div>
                            <div>@Html.Hidden("FechaAnulacion", Model.FechaAnulacion)</div>
                            <div>@Html.Hidden("IdUsuarioAnulo", Model.IdUsuarioAnulo)</div>
                            <div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
                            <div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
                        </div>
                        <div class="span1 lightblue">
                        </div>
                        <div class="span2 lightblue">
                        </div>
                        <div class="span4 lightblue">
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.IdTipoComprobante, "Tipo")
                            @Html.DropDownList("IdTipoComprobante", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdTipoComprobante)
                        </div>
                        <div class="span4 lightblue">
                            @Html.LabelFor(model => model.IdCuentaBancaria, "Banco")
                            @Html.DropDownList("IdCuentaBancaria", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdCuentaBancaria)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.NumeroComprobante, "Numero")
                            @Html.TextBoxFor(model => model.NumeroComprobante, new { style = "text-align: center; font-weight: bold; font-size: 18px;", @class = "span12" })
                            @Html.ValidationMessageFor(model => model.NumeroComprobante)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.FechaGasto, "Fecha")
                            @Html.TextBoxFor(model => model.FechaGasto, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaGasto)
                            <script>
                                $("#FechaGasto").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.FechaComprobante, "Fecha contable")
                            @Html.TextBoxFor(model => model.FechaComprobante, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaComprobante)
                            <script>
                                $("#FechaComprobante").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span1 lightblue">
                            <label for="label1">Codigo</label>
                            <input type="text" name="CodigoCuenta" id="CodigoCuenta" style="font-size: 12px; text-align: center;" class="span12" />
                        </div>
                        <div class="span2 lightblue">
                            <label for="label1">Busqueda de cuenta x nombre</label>
                            <input type="text" name="Cuenta" id="Cuenta" style="font-size: 15px; text-align: left;" class="span12" />
                            <script type="text/jscript">
                                $("#Cuenta").autocomplete({
                                    source: '@Url.Action("GetCuentasAutocomplete", "Cuenta")',
                                    minLength: 0,
                                    messages: { noResults: "", results: function () { } },
                                    select: function (event, ui) {
                                        $("#IdCuentaContable").val(ui.item.id);
                                        $("#Cuenta").val(ui.item.Descripcion);
                                        $("#CodigoCuenta").val(ui.item.codigo);
                                        $("#IdObra").val(ui.item.IdObra);
                                        $("#IdCuentaGasto").val(ui.item.IdCuentaGasto);
                                        $("#IdTipoCuentaGrupo").val(ui.item.IdTipoCuentaGrupo);

                                        newOptions = TraerCuentaPorCodigo2(ui.item.codigo);
                                        if (newOptions.length > 0) {
                                            $("select#IdCuenta").empty();
                                            $("select#IdCuenta").append(newOptions);
                                        }
                                        event.preventDefault();
                                    }
                                });
                            </script>
                        </div>
                        <div class="span2 lightblue">
                            <label for="label1">Cuenta seleccionada x lista</label>
                            @Html.DropDownList("IdCuentaContable", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdCuentaContable)
                        </div>
                        <div class="span2 lightblue">
                            <label for="label1">Obra</label>
                            @Html.DropDownList("IdObra", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdObra)
                        </div>
                        <div class="span1 lightblue">
                            <label for="label1">Cuentas gasto</label>
                            @Html.DropDownList("IdCuentaGasto", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdCuentaGasto)
                        </div>
                        <div class="span1 lightblue">
                            <label for="label1">Grupo</label>
                            @Html.DropDownList("IdTipoCuentaGrupo", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.IdMoneda, "Moneda")
                            @Html.DropDownList("IdMoneda", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdMoneda)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.CotizacionMoneda, "Conversion a pesos")
                            @Html.TextBoxFor(model => model.CotizacionMoneda, new { style = "text-align: right; font-weight: bold; font-size: 18px;", @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CotizacionMoneda)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.Importe, "Importe")
                            @Html.TextBoxFor(model => model.Importe, new { style = "text-align: right; font-weight: bold; font-size: 18px;", @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Importe)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.IdCuentaIVA, "Cuenta contable iva")
                            @Html.DropDownList("IdCuentaIVA", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdCuentaIVA)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.PorcentajeIVA, "Porcentaje iva")
                            @Html.TextBoxFor(model => model.PorcentajeIVA, new { style = "text-align: right; font-weight: bold; font-size: 18px;", @class = "span12" })
                            @Html.ValidationMessageFor(model => model.PorcentajeIVA)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.Iva, "Importe iva")
                            @Html.TextBoxFor(model => model.Iva, new { style = "text-align: right; font-weight: bold; font-size: 18px;", @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Iva)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.CertificadoRetencion, "Certificado de retencion")
                            @Html.TextBoxFor(model => model.CertificadoRetencion, new { style = "text-align: left; font-weight: bold; font-size: 18px;", @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CertificadoRetencion)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span8 lightblue">
                            @Html.LabelFor(model => model.Detalle, "Detalle")
                            @Html.TextBoxFor(model => model.Detalle, new { style = "text-align: left; font-weight: bold; font-size: 18px;", @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Detalle)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.AsientoManual, "Asiento Manual")
                            @Html.CheckBox("AsientoManual", Model.AsientoManual == "SI")
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5 lightblue">
                            <table id="ListaRubrosContables" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager1" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                        <div class="span4 lightblue">
                            <table id="ListaProvincias" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager2" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span9 lightblue">
                            <table id="ListaContable" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager3" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                    </div>

                </div>

                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236); width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span4 lightblue">
                            <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />
                            <input type="button" id="ActualizarDatos" value="Calcular" class="btn  btn-large btn-primary " usesubmitbehavior="false" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();
            $("#conscroll").height($(window).height() - 120);
        });
    </script>
}