﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Unofficial Channels
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120723
-->
<html xmlns="http://www.w3.org/1999/xhtml" style="height: 100%">
<head>
    <link rel="SHORTCUT ICON" href="../../Content/images/favicon.png" />
    <style>



.cssLogin
{
    background-repeat:  repeat; 
    /* background-image:  url(" ");*/
   /*  background-image: url("~/Content/Images/bg_texture.jpg");    */
   @* background-image: "@Url.Content("~/Content/Images/bg_texture.jpg")";   *@/* url(" ");*/
    

    @*
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DDE4EA), color-stop(100%, #AFBCC8)) !important;
    background-image: -moz-linear-gradient(90deg, #AFBCC8 0%, #DDE4EA) !important; /* background-image: -webkit-gradient(linear, left top, left bottom, from( #F4F8FF), color-stop(40%,  #8DADDF)) !important;     background-image: -moz-linear-gradient(90deg, #1F8DD6 60%, #C8D1E2)  !important;*/
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#DDE4EA', EndColorStr='#AFBCC8'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#DDE4EA', EndColorStr='#AFBCC8')"; /* IE8 */
    *@
}

</style>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/unofficialchannels/style.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/cupertino/jquery-ui-1.9.1.custom.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-grid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.autocomplete.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/jquery-ui-layout/layout-default-latest.css")" rel="stylesheet" type="text/css" />*@
    @*<link href="@Url.Content("~/Content/jquery-ui-layout/jquery.ui.all.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/jquery.treeview.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/jMenu.jquery.css")" rel="stylesheet" type="text/css" />*@
    <script src="@Url.Content("~/Scripts/js/jquery-1.8.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/jquery-ui-1.9.0.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-grid/grid.locale-es.js")" type="text/javascript"></script>
   
    <script src="@Url.Content("~/Scripts/jquery-grid/grid.base.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-grid/grid.celledit.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-grid/grid.common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-grid/grid.formedit.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-grid/grid.inlinedit.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-grid/grid.jqueryui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-grid/jqModal.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json/jquery.json-2.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-es.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/TreeView/jquery.treeview.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/TreeView/jquery.treeview.edit.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/TreeView/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-layout/jquery-ui-latest.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-layout/jquery.layout-latest.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-layout/jquery.layout.resizePaneAccordions.min-1.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-layout/jquery.layout.resizeTabLayout.min-1.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-layout/jquery.layout.state.js")" type="text/javascript"></script>
</head>
<body class="cssLogin" style="height: 100%; overflow: hidden;background-image: @Url.Content("~/Content/Images/bg_texture.jpg"); >
    <div id="">@* class="ui-layout-center no-scrollbar add-padding grey">*@
        @RenderBody()
    </div>
</body>
</html>
