﻿@model ProntoMVC.Data.Models.ImpuestosDirecto
@{
    ViewBag.Title = "Impuesto directo " + Model.Descripcion;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)
    <div class="container-fluid">
        <div>@Html.Hidden("IdImpuestoDirecto", Model.IdImpuestoDirecto)</div>
        <div class="row-fluid" style="margin-bottom: 15px; margin-top: 5px;">
            <div class="span5 lightblue">
                @Html.TextBox("Titulo", "OTROS IMPUESTOS DIRECTOS", new { style = "font-weight: 400; text-shadow: 0 1px 0  lightgray; font-size: 24px; border: 0; padding: 0 ; text-align: left; background: transparent;  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Lucida', Tahoma, Arial,'sans-serif'; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; ", @class = "span10", @readonly = "readonly" })
            </div>
            <div class="span4 lightblue">
                <input type="button" id="grabar2" value="Aceptar" class="btn btn-primary" />
                @if (Model.IdImpuestoDirecto > 0)
                { @Html.ActionLink("Eliminar", "DeleteConfirmed", new { id = Model.IdImpuestoDirecto }, new { @class = "btn  btn-default" }) }
                @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-link" })
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 lightblue">
                @Html.LabelFor(model => model.Descripcion, "Descripcion")
                @Html.TextBoxFor(model => model.Descripcion, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div class="row-fluid">
            <div class="span3 lightblue">
                @Html.LabelFor(model => model.IdTipoImpuesto, "Tipo de impuesto")
                @Html.DropDownList("IdTipoImpuesto", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                @Html.ValidationMessageFor(model => model.IdTipoImpuesto)
            </div>
            <div class="span2 lightblue">
                @Html.LabelFor(model => model.Codigo, "Codigo")
                @Html.TextBoxFor(model => model.Codigo, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.Codigo)
            </div>
            <div class="span1 lightblue">
                @Html.LabelFor(model => model.CodigoRegimen, "Codigo regimen")
                @Html.TextBoxFor(model => model.CodigoRegimen, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.CodigoRegimen)
            </div>
            <div class="span2 lightblue">
                @Html.LabelFor(model => model.Tasa, "Tasa")
                @Html.TextBoxFor(model => model.Tasa, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.Tasa)
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4 lightblue">
                @Html.LabelFor(model => model.IdCuenta, "Cuenta contable")
                @Html.DropDownList("IdCuenta", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                @Html.ValidationMessageFor(model => model.IdCuenta)
            </div>
            <div class="span2 lightblue">
                @Html.LabelFor(model => model.BaseMinima, "Base minima")
                @Html.TextBoxFor(model => model.BaseMinima, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.BaseMinima)
            </div>
            <div class="span2 lightblue">
                @Html.LabelFor(model => model.ProximoNumeroCertificado, "Prox. nro. certificado")
                @Html.TextBoxFor(model => model.ProximoNumeroCertificado, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.ProximoNumeroCertificado)
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4 lightblue">
                @Html.LabelFor(model => model.TopeAnual, "Tope anual")
                @Html.TextBoxFor(model => model.TopeAnual, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.TopeAnual)
            </div>
            <div class="span4 lightblue">
                @Html.LabelFor(model => model.ParaInscriptosEnRegistroFiscalOperadoresGranos, "Inscripto en registro fiscal operadores de granos")
                @Html.CheckBox("ParaInscriptosEnRegistroFiscalOperadoresGranos", Model.ParaInscriptosEnRegistroFiscalOperadoresGranos == "SI")
            </div>
        </div>

        <div class="well well-sm" style="height: 150px; width: 900px;">
            <h5>NUMERACION POR GRUPO</h5>
            <div class="row-fluid">
                <div class="span4 lightblue">
                    @Html.LabelFor(model => model.ActivaNumeracionPorGrupo, "Activa numeracion por grupo?")
                    @Html.RadioButtonFor(model => model.ActivaNumeracionPorGrupo, "SI") SI
                    @Html.RadioButtonFor(model => model.ActivaNumeracionPorGrupo, "NO") NO
                </div>
                <div class="span3 lightblue">
                    @Html.LabelFor(model => model.Grupo, "Grupo")
                    @Html.TextBoxFor(model => model.Grupo, new { @class = "span12" })
                    @Html.ValidationMessageFor(model => model.Grupo)
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            ////////////////////////////////////////////////////////// SERIALIZACION //////////////////////////////////////////////////////////
            function SerializaForm() {
                var chk, valor;
                var cabecera = $("#formid").serializeObject();
                //cabecera.Descripcion = $("#Descripcion").val();

                chk = $('#ParaInscriptosEnRegistroFiscalOperadoresGranos').is(':checked');
                if (chk) {
                    cabecera.ParaInscriptosEnRegistroFiscalOperadoresGranos = "SI";
                } else {
                    cabecera.ParaInscriptosEnRegistroFiscalOperadoresGranos = "NO";
                };

                valor = $("input[name='ActivaNumeracionPorGrupo']:checked").val();
                if (typeof valor == "undefined") { $("#ActivaNumeracionPorGrupo").val(""); }

                return cabecera;
            }

            $('#grabar2').click(function () {
                var cabecera = SerializaForm();

                $('html, body').css('cursor', 'wait');
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: ROOT + 'ImpuestosDirecto/BatchUpdate',
                    dataType: 'json',
                    data: JSON.stringify({ ImpuestosDirecto: cabecera }),
                    success: function (result) {
                        if (result) {
                            $('html, body').css('cursor', 'auto');
                            window.location = (ROOT + "ImpuestosDirecto/Edit/" + result.IdImpuestoDirecto);
                        } else {
                            alert('No se pudo grabar el objeto.');
                            $('.loading').html('');
                            $('html, body').css('cursor', 'auto');
                            $('#grabar2').attr("disabled", false).val("Aceptar");
                        }
                    },
                    beforeSend: function () {
                        $("#loading").show();
                        $('#grabar2').attr("disabled", true).val("Espere...");
                    },
                    complete: function () {
                        $("#loading").hide();
                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                        try {
                            var errorData = $.parseJSON(xhr.responseText);
                            var errorMessages = [];
                            for (var key in errorData) { errorMessages.push(errorData[key]); }
                            $('html, body').css('cursor', 'auto');
                            $('#grabar2').attr("disabled", false).val("Aceptar");
                            $("#textoMensajeAlerta").html(errorData.Errors.join("<br />"));
                            $("#mensajeAlerta").show();
                            alert(errorData.Errors.join("\n").replace(/<br\/>/g, '\n'));
                        } catch (e) {
                            $('html, body').css('cursor', 'auto');
                            $('#grabar2').attr("disabled", false).val("Aceptar");
                            $("#textoMensajeAlerta").html(xhr.responseText);
                            $("#mensajeAlerta").show();
                        }
                    }
                });
            });

        });

    </script>
}
