﻿@model ProntoMVC.Data.Models.Comparativa
@{
    ViewBag.Title = "Comparativa";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{

    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptComparativa.js")" type="text/javascript"></script>       @*aparentemente tengo que llamarla despues de cargar las div*@


    <style>
        /*    To wrap a cell's text (non header) include this CSS after all of the jquery & jqgrid css has loaded:  */

        /* esto está jodiendo tambien el wrap del arbol. cómo hago? */

        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
        }
        /* And to wrap a column cell's text: */

        .ui-jqgrid .ui-jqgrid-htable th div {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            position: relative;
            overflow: hidden;
        }
    </style>





    <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <div class="modal" id="loading">
            <img src="@Url.Content("~/Content/images/fhhrx.gif")" style="margin-right: 5px;" />
            Cargando...
        </div>
        <style>
            .container-fluid {
                padding-left: 0px; /*    margin-right: 15px; */
            }
        </style>
        @if (true)
        {
            <style>
                .cvteste {
                    background-color: #F1F1F1 !important; /*  esto es el color de las columna impares */
                }
            </style>


            <style>
                .ui-jqdialog td {
                    border: 0px !important;
                }

                .ui-jqdialog table {
                    border: 0px !important;
                }

                .ui-jqdialog .ui-jqdialog-titlebar {
                    padding: 0;
                    position: relative;
                }


                .ui-jqdialog-titlebar {
                    height: 15px;
                }

                .ui-jqdialog button {
                }

                /*   http://stackoverflow.com/questions/14954587/jqgrid-for-twitter-bootstrap  */
                input.ui-pg-input {
                    width: auto;
                    padding: 0px;
                    margin: 0px;
                    line-height: normal;
                }



                select.ui-pg-selbox {
                    width: auto;
                    padding: 0px;
                    margin: 0px;
                    line-height: normal;
                }

                .ui-widget select {
                    margin-bottom: 0px !important; /* para que en la edicion inline de la grilla no me haga mas alto el renglon   */
                }




                .ui-widget-content button {
                    background: rgb(231, 231, 231);
                    color: black !important;
                }

                .ui-jqgrid tr.footrow-ltr {
                    font-size: 9px;
                }


                .AltoRenglones tr.jqgrow td /* .ui-jqgrid tr.jqgrow td */ {
                    /* height: 30px; */
                }



                .ui-jqgrid tr.ui-row-ltr td {
                    border-right-style: none; /* lineas de las grillas */
                    border-left-style: none;
                }

                .ui-icon, .ui-widget-content .ui-icon {
                    /*  background-image: none; */
                }
            </style>


            <style>
                /* jqGrid builds some additional divs over the main grid table. The outer div has the class ui-jqgrid. So if you need to remove right and left border existing over the whole grid you can use the following CSS: */

                .ui-jqgrid {
                    border-right-width: 0px;
                    border-left-width: 0px;
                }
                    /* If you need to remove all grid's borders you can use

                .ui-jqgrid { border-width: 0px; }
                If you want additionally remove vertical border between the cells in the grid you can use */

                    .ui-jqgrid tr.ui-row-ltr td {
                        border-right-color: transparent;
                    }


                    .ui-jqgrid tr.footrow-ltr td {
                        border-right-color: transparent !important;
                        border: 0 transparent !important;
                    }

                    /*To remove horizontal border between the rows you can use */

                    .ui-jqgrid tr.ui-row-ltr td {
                        border-bottom-color: transparent;
                    }
                /*To remove vertical borders between the column headers you can use */

                th.ui-th-column {
                    border-right-color: transparent !important;
                }
                /* or alternatively (without the usage of !important) */

                .ui-jqgrid-labels .ui-th-column {
                    border-right-color: transparent;
                }
            </style>
        }
        <form class="form-horizontal">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative;  " @*Height of the footer *@>
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll;
                padding-left: 25px; padding-right: 25px; overflow-x: hidden;">
                    <br />
                    <div>@Html.Hidden("IdComparativa", Model.IdComparativa)</div>
                    <div>@Html.Hidden("Numero", Model.Numero)</div>




                    <div class="row-fluid" style="">
                        <div class="" style='font-size: 34px; margin-top: 5px; height: 45px; font-weight: 400;
                        text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
                            Comparativa @Model.Numero
                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span4 lightblue">
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.Fecha, "Fecha")
                            @Html.TextBoxFor(model => model.Fecha, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.Fecha)
                            <script>
                                $("#FechaOrdenPago").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <script type="text/jscript">


                            $("#CodigoProveedor").autocomplete({
                                source: '@Url.Action("GetCodigosProveedorAutocomplete", "Proveedor")', minLength: 0,
                                messages: { noResults: "", results: function () { } },
                                select: proveedorSeleccionado,
                                autoFocus: true
                            })

                            $("#DescripcionProveedor").autocomplete({
                                source: '@Url.Action("GetCodigosProveedorAutocomplete", "Proveedor")',
                                minLength: 0,
                                messages: { noResults: "", results: function () { } },
                                select: proveedorSeleccionado,
                                autoFocus: true

                            });









                            function proveedorSeleccionado(event, ui) {

                                ActualizarProveedor(ui.item);
                                ///////////////////////
                                event.preventDefault();
                            }

                            function ActualizarProveedor(item) {
                                $("#IdProveedor").val(item.id);
                                $("#CodigoProveedor").val(item.codigo || "");
                                $("#DescripcionProveedor").val(item.value || "");
                                $("#IdCodigoIva").val(item.idCodigoIva);

                                $("#Proveedor_Email").val(item.Email || "");
                                $("#Proveedor_Telefono").val(item.Telefono || "");
                                $("#Proveedor_Direccion").val(item.Direccion || "");
                                $("#Proveedor_Provincia_Nombre").val(item.Provincia || "");
                                $("#Proveedor_Localidad_Nombre").val(item.Localidad || "");
                                $("#Proveedor_Fax").val(item.Fax || "");
                                $("#Proveedor_Cuit").val(item.Cuit) || "";
                                $("#IdCondicionVenta").val(item.IdCondicionVenta);
                                $("#IdListaPrecios").val(item.IdListaPrecios);



                                $("#Proveedor_EsAgenteRetencionIVA").val(item.EsAgenteRetencionIVA || "");
                                $("#Proveedor_BaseMinimaParaPercepcionIVA").val(item.BaseMinimaParaPercepcionIVA) || "";
                                $("#Proveedor_PorcentajePercepcionIVA").val(item.PorcentajePercepcionIVA) || "";


                                $("#IdIBCondicionPorDefecto").val(item.IdIBCondicionPorDefecto);
                                $("#IdIBCondicionPorDefecto2").val(item.IdIBCondicionPorDefecto2);
                                $("#IdIBCondicionPorDefecto3").val(item.IdIBCondicionPorDefecto3);
                                var someNumericValue = '@(ViewBag.someStringValue)'; //http://stackoverflow.com/questions/10389649/possible-to-access-mvc-viewbag-object-from-javascript-file
                                $("#Proveedor_PercepcionIIBB").val(someNumericValue);
                                $('#Proveedor_IBCondicionCat1_AlicuotaPercepcion').val(item.AlicuotaPercepcion1);
                                $('#Proveedor_IBCondicionCat2_AlicuotaPercepcion').val(item.AlicuotaPercepcion2);
                                $('#Proveedor_IBCondicionCat3_AlicuotaPercepcion').val(item.AlicuotaPercepcion3);


                                ActualizarPercepcionIIBB();
                                // ActualizarListaPuntoVenta();
                                // ActualizarPuntoVenta();
                            }


                            function ActualizarPercepcionIIBB() {
                                var mvarIBCondicion, mvarPercepcionIIBB, mvarId;

                                mvarIBCondicion = $("#Proveedor_IBCondicion"); // IBCondicion del Proveedor elegido
                                mvarPercepcionIIBB = $("#PercepcionIIBB"); // PercepcionIIBB de parametros generales -los parametros generales los debo incluir en el model, o en el viewmodel? -agregalos al viewbag...



                                if (mvarIBCondicion == 1 || mvarIBCondicion == 4 || (mvarId < 0 && mvarPercepcionIIBB != "SI")) {

                                    $("#IdIBCondicionPorDefecto").prop('disabled', true);
                                    $("#IdIBCondicionPorDefecto2").prop('disabled', true);
                                    $("#IdIBCondicionPorDefecto3").prop('disabled', true);

                                    //            dcfields(4).Enabled = False
                                    //            dcfields(5).Enabled = False
                                    //            dcfields(6).Enabled = False
                                    //            .Fields("IdIBCondicion").Value = Null
                                    //            .Fields("IdIBCondicion2").Value = Null
                                    //            .Fields("IdIBCondicion3").Value = Null
                                    //            With Check1(0)
                                    //               .Value = 0
                                    //               .Enabled = False
                                    //            End With
                                    //            With Check1(1)
                                    //               .Value = 0
                                    //               .Enabled = False
                                    //            End With
                                    //            With Check1(2)
                                    //               .Value = 0
                                    //               .Enabled = False
                                    //            End With
                                } else {
                                    $("#IdIBCondicionPorDefecto").prop('disabled', false);
                                    $("#IdIBCondicionPorDefecto2").prop('disabled', false);
                                    $("#IdIBCondicionPorDefecto3").prop('disabled', false);
                                    //            Check1(0).Enabled = True
                                    //            If IsNull(.Fields("IdIBCondicion").Value) Then
                                    //               .Fields("IdIBCondicion").Value = mvarIdIBCondicion
                                    //               If mvarIdIBCondicion <> 0 Then Check1(0).Value = 1
                                    //            End If
                                    //            If Check1(0).Value = 1 Then dcfields(4).Enabled = True Else dcfields(4).Enabled = False
                                    //            Check1(1).Enabled = True
                                    //            If IsNull(.Fields("IdIBCondicion2").Value) And mvarIdIBCondicion2 <> 0 Then
                                    //               .Fields("IdIBCondicion2").Value = mvarIdIBCondicion2
                                    //               If mvarIdIBCondicion2 <> 0 Then Check1(1).Value = 1
                                    //            End If
                                    //            If Check1(1).Value = 1 Then dcfields(5).Enabled = True Else dcfields(5).Enabled = False
                                    //            Check1(2).Enabled = True
                                    //            If IsNull(.Fields("IdIBCondicion3").Value) And mvarIdIBCondicion3 <> 0 Then
                                    //               .Fields("IdIBCondicion3").Value = mvarIdIBCondicion3
                                    //               If mvarIdIBCondicion3 <> 0 Then Check1(2).Value = 1
                                    //            End If
                                    //            If Check1(2).Value = 1 Then dcfields(6).Enabled = True Else dcfields(6).Enabled = False
                                }
                            }

                            function AutocompleteManual(term) {
                                $.ajax({
                                    type: 'POST',
                                    contentType: 'application/json; charset=utf-8',
                                    url: ROOT + 'Proveedor/GetCodigosProveedorAutocomplete',
                                    dataType: 'json',
                                    // data:JSON.stringify( {formulario: colData , grilla: dataToSend })
                                    data: JSON.stringify({ term: term }),
                                    success: function (result) {
                                        var item = result[0];

                                        ActualizarProveedor(item);
                                    }
                                })
                            }


                            function ActualizarDatosProveedor(cadenaAutoComplete) {
                                // var code = "OPELMEC";
                                // simulo un ingreso y clic en el autocomplete (tiene que tener puesto el autofocus: true)
                                // http: //stackoverflow.com/questions/8036143/jquery-autocomplete-select-first-item
                                AutocompleteManual(cadenaAutoComplete);
                                return;
                                $("#DescripcionProveedor").val(cadenaAutoComplete);
                                $("#DescripcionProveedor").autocomplete('search', cadenaAutoComplete);
                                $(".ui-menu-item:first a").click();
                                // '@Url.Action("GetCodigosProveedorAutocomplete", "Proveedor")'
                            };


                        </script>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.IdAprobo, "Aprobo")
                            @Html.DropDownList("IdAprobo", null, String.Empty, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.IdAprobo)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.IdConfecciono, "Confeccionó")
                            @Html.DropDownList("IdConfecciono", null, String.Empty, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.IdConfecciono)
                        </div>
                        <!--/span-->
                        <div class="span2 lightblue">
                            <a target="_blank" href="@Url.Action("Autorizaciones", "Edit", new { @id = -1 })">
                                @Html.Label("Autorizaciones")
                            </a>
                            <form>
                                @{

        // con jquery se llama despues a  "Requerimiento/Autorizaciones" para tildar y a Aprobado() para el primer check
        <input type="checkbox" id="chk0" readonly="readonly" disabled="disabled" class="GridCheckBox"
               title="" />

        int ca = ViewBag.CantidadAutorizaciones;

        int j = 1;

        for (var i = 1; i <= ca; i++)
        { <input type="checkbox" id="chk@(i)" readonly="readonly" disabled="disabled" class="GridCheckBox" title="" /> }


                                }
                            </form>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-bottom: 2px;">
                        <div id="divGrilla" class="span12 lightblue" style="padding-left: 0px; padding-right: 2px;
                    min-height: 150px">
                            <table id="Lista" class="scroll separacion AltoRenglones" cellpadding="0" cellspacing="0"
                                   style="font-size: 14px; "></table>
                        </div>


                    </div>
                    <input type="button" class="btn btn-small" id="addData" value="+ Agregar" style="display: none" />
                    <input type="button" class="btn btn-small" id="edtData" value="Modificar" style="display: none" />
                    <input type="button" class="btn btn-small" id="delData" value="Borrar" style="display: none" />
                    <input type="button" class="btn btn-small" id="btnMenorPrecio" value="Resaltar menor precio" />
                    <input type="button" class="btn btn-small" id="btnDesmarcarTodo" value="Desmarcar todo" />
                    @*<input type="button" class="btn btn-small" id="btnOrdenarArt" value="Ordenar por artículo" />*@
                    <div class="btn-group" data-toggle="buttons-radio">
                        <input type="button" class="btn btn-small active" id="btnMultiPresupuesto" value="Multipresupuesto" />
                        <input type="button" class="btn btn-small" id="btnMonoPresupuesto" value="Elegir un solo presupuesto" />
                    </div>
                    @*  <input type="button " class="btn btn-small pull-right span1" id="" value="<" onclick="conmutarPanelesDerecho();   pageLayout.hide('south'); pageLayout.hide('north'); RefrescaAnchoGrillaDetalle();" />*@
                    <script>

                        $(function () {


                            $("#btnDesmarcarTodo").click(function () {
                                $("input:checked").prop('checked', false);


                            });

                            $("#btnMonoPresupuesto").click(function () {
                                // $("#Lista [id=1] :checkbox").hide();

                                var grid = $("#Lista");
                                var ids = grid.getDataIDs();
                                var rengs = ids.length;
                                for (i = 2; i < rengs - 6; i++) {
                                    var ret = [];
                                    $("#Lista   [id=" + i + "] input:checkbox").hide();
                                }

                            });

                            $("#btnMultiPresupuesto").click(function () {
                                // $("#Lista [id=1] :checkbox").show();

                                var grid = $("#Lista");
                                var ids = grid.getDataIDs();
                                var rengs = ids.length;
                                for (i = 2; i < rengs - 6; i++) {
                                    var ret = [];
                                    $("#Lista   [id=" + i + "] input:checkbox").show();
                                }

                            });


                            /////////////////////////////////////////////
                            /////////////////////////////////////////////
                            /////////////////////////////////////////////
                            $("#btnMenorPrecio").click(function () {

                                var grid = $("#Lista");
                                var ids = grid.getDataIDs();
                                grid.setRowData(ids[0], false, { height: 50 });


                                //                    for (var i = 0; i = ids.length - 6; i++) {
                                //                        $("#Lista [id=" + i + " ] :checkbox").prop('checked', false);

                                //                        $("#Lista [id=2] [aria-describedby*='Precio']")[0]
                                //                        $("#Lista [id=2] [aria-describedby*='Precio']")[0]

                                //                        var preciosDelRenglon = $("#Lista [id=1] [aria-describedby*='Precio'] ")


                                //                        .min().checked(true);
                                //                    }



                                //                    http: //jsbin.com/oveva3/1/edit


                                var grid = $("#Lista");
                                var ids = grid.getDataIDs();
                                var rengs = ids.length;


                                for (i = 2; i < rengs - 6; i++) {
                                    var ret = [];
                                    var rows = $("#Lista [id=" + i + " ] [aria-describedby*='Precio'] ").toArray();


                                    $.each(rows, function (index, item) {
                                        var n= parseFloat($(item).text().replace(",", "."))

                                        if (!isNaN(n)) {
                                            ret.push(n);
                                        }
                                    });
                                    var m = Math.min.apply(0, ret)

                                    $.each(rows, function (index, item) {
                                        if (m == $(item).text().replace(",", ".")) {
                                            $(item).css({ color: 'red' });
                                        }
                                    });

                                }


                                //                    rows.each(function (row, v) {
                                //                        $(this).find("td").each(function (cell, v) {
                                //                            if (typeof rows[cell] === 'undefined') rows[cell] = [];
                                //                            rows[cell][row] = $(this).text();
                                //                        });
                                //                    });



                            });

                            /////////////////////////////////////////////
                            /////////////////////////////////////////////

                            ///////////////////////////////////////

                            $("checkbox").click(function () {
                                $("#Lista tr :checkbox").min();
                                $("input:checked").prop('checked', false);
                            });



                            $("#selectAll").click(function () {
                                grid.jqGrid('resetSelection');
                                var ids = grid.jqGrid('getDataIDs');
                                for (var i = 0, il = ids.length; i < il; i++) {
                                    grid.jqGrid('setSelection', ids[i], true);
                                }
                            });

                            $("#clear").click(function () {
                                grid.jqGrid('resetSelection');
                            });

                            $("#getSelected").click(function () {
                                var ids = grid.jqGrid('getGridParam', 'selarrrow');
                                if (ids.length > 0) {
                                    var names = [];
                                    for (var i = 0, il = ids.length; i < il; i++) {
                                        var name = grid.jqGrid('getCell', ids[i], 'Name');
                                        names.push(name);
                                    }
                                    //alert ("Names: " + names.join(", ") + "; ids: " + ids.join(", "));
                                    $("#names").html(names.join(", "));
                                    $("#dialog-confirm").dialog({
                                        height: 280,
                                        modal: true,
                                        buttons: {
                                            'Cancel': function () {
                                                $(this).dialog('close');
                                            },
                                            'Confirm': function () {
                                                alert("Confirm");
                                                //alert ("Names: " + names.join(", ") + "; ids: " + ids.join(", "));
                                                /*$.ajax({
                                                type: "POST",
                                                url:  "/cpsb/unprocessedOrders.do",
                                                data: { method: "releaseTowics",
                                                orderNum: JSON.stringify(ids),
                                                names: JSON.stringify(names)
                                                },
                                                dataType: "json"
                                                success: function(msg){
                                                alert(msg);
                                                },
                                                error: function(res, status, exeption) {
                                                alert(res);
                                                }
                                                });*/
                                            }
                                        }
                                    });
                                }
                            });
                        })
                    </script>
                    <br />
                    <br />
                    <div class="row-fluid">
                        <div class="span5 lightblue">
                            <div class="accordion" id="accordion4">
                                <div class="accordion-group" style="border: 0px; padding: 0px;">
                                    <div class="accordion-heading" style="border: 0px; padding: 0px;">



                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseAdicionales"
                                           style="border: 0px; padding: 0px; color: #9C0000; font-size: 12px">RESUMEN...</a>



                                    </div>
                                    <div id="collapseAdicionales" class="accordion-body collapse" style="border: 0px;
                                padding: 0px;">
                                        @*si pones "collapse in" empieza abierto*@
                                        <div class="accordion-inner" style="border: 0px; padding: 0px;">
                                            <br />
                                            <div class="row-fluid">
                                                <div class="span4 lightblue">
                                                    @Html.LabelFor(model => model.MontoParaCompra, "  Monto para compra")
                                                    @Html.TextBoxFor(model => model.MontoParaCompra, new { @class = "span12", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.MontoParaCompra)
                                                </div>
                                                <div class="span4 lightblue">
                                                    @Html.LabelFor(model => model.MontoPrevisto, "Monto previsto")
                                                    @Html.TextBoxFor(model => model.MontoPrevisto, new { @class = "span12", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.MontoPrevisto)
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span4 lightblue">
                                                    @Html.LabelFor(model => model.ImporteComparativaCalculado, "Proveedor")
                                                    @Html.TextBoxFor(model => model.ImporteComparativaCalculado, new { @class = "span12", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.ImporteComparativaCalculado)
                                                </div>
                                                <div class="span4 lightblue">
                                                    @Html.LabelFor(model => model.MontoPrevisto, "Plazo de entrega")
                                                    @Html.TextBoxFor(model => model.MontoPrevisto, new { @class = "span12", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.MontoPrevisto)
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span4 lightblue">
                                                    @Html.LabelFor(model => model.Obras, "Validez de oferta")
                                                    @Html.TextBoxFor(model => model.Obras, new { @class = "span12", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.Obras)
                                                </div>
                                                <div class="span6 lightblue">
                                                    @Html.LabelFor(model => model.MontoPrevisto, "Condiciones de compra")
                                                    @Html.TextBoxFor(model => model.MontoPrevisto, new { @class = "span12", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.MontoPrevisto)
                                                </div>
                                            </div>
                                            <div>
                                                <div class="span4 lightblue">
                                                    @Html.LabelFor(model => model.Obras, "Obras")
                                                    @Html.TextBoxFor(model => model.Obras, new { @class = "span12", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.Obras)
                                                </div>
                                                <div class="span4 lightblue">
                                                    @Html.LabelFor(model => model.NumeroRequerimiento, "Numeros de RMs")
                                                    @Html.TextBoxFor(model => model.NumeroRequerimiento, new { @class = "span12", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.NumeroRequerimiento)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <style>
                                .subtotales input {
                                    /*height: 16px;*/
                                    min-height: 18px !important;
                                    line-height: 18px;
                                    padding: 0;
                                    margin: 0;
                                    font-size: 10px;
                                }

                                .subtotales select {
                                    /* height : 16px; */
                                    min-height: 18px !important;
                                    line-height: 18px;
                                    padding: 0;
                                    margin: 0;
                                    font-size: 10px;
                                }

                                table td {
                                    padding: 0px;
                                    border: solid 1px;
                                    border-color: transparent;
                                }
                            </style>
                            <table id="Totales" class="subtotales span12" width="" border="0" cellspacing="0"
                                   cellpadding="0" style="margin: 0px 0px 0px 0px; height: ; padding: 0px; border-style: none;
                        display: none; border-width: thin; border-spacing: 0px; font-size: xx-small">
                                <tr class="">
                                    <td width="100" colspan="2">
                                        SUBTOTAL
                                    </td>
                                    <td width="100" align="">
                                        <input type="text" name="Subtotal1" id="Subtotal1" style="width: 85%; text-align: right;"
                                               readonly="readonly" />
                                    </td>
                                    <td width="100" class="subtotales">
                                        MONEDA
                                    </td>
                                    <td width="100" style="height: 15px; line-height: 14px;" class=""></td>
                                </tr>
                                <tr>
                                    <td width="100" colspan="2">
                                        BONIFICACION ITEMS
                                    </td>
                                    <td width="100">
                                        <input type="text" name="TotalBonificacionItems" id="TotalBonificacionItems" style="width: 85%;
                                    text-align: right;" readonly="readonly" />
                                    </td>
                                    <td width="100">
                                        CONV.PESOS
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">
                                        BONIF GLOBAL
                                    </td>
                                    <td width="100" class="span2 subtotales"></td>
                                    <td width="100">
                                        <input type="text" name="TotalBonificacionGlobal" id="TotalBonificacionGlobal" style="width: 85%;
                                    text-align: right;" readonly="readonly" />
                                    </td>
                                    <td width="100">
                                        COTIZ DOLAR
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100" colspan="2">
                                        SUBTOTAL
                                    </td>
                                    <td width="100">
                                        <input type="text" name="Subtotal2" id="Subtotal2" style="width: 85%; text-align: right;"
                                               readonly="readonly" />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100" colspan="2">
                                        IVA
                                    </td>
                                    <td width="100">
                                        <input type="text" name="TotalIva" id="TotalIva" style="width: 85%; text-align: right;"
                                               readonly="readonly" />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100" colspan="2">
                                        TOTAL
                                    </td>
                                    <td width="100">
                                        <input type="text" name="Total" id="Total" style="width: 85%; text-align: right;"
                                               readonly="readonly" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="span1 lightblue">
                        </div>

                    </div>

                    <div class="row-fluid">

                        <div class="span12 lightblue">
                            @Html.LabelFor(model => model.Observaciones)
                            @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Observaciones)
                        </div>
                        <!--/span-->
                    </div>
                </div>
                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236);
                width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid">
                        <div class="span8 lightblue"></div>
                        <div class="span4 lightblue">

                            <br />
                            <div>
                                @if (Model.FechaAnulacion == null)
                                {
                                    if (Model.IdAprobo == null)
                                    {

                                        <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary" />
                                        @*<input type="button" id="grabar3" value="grabar3" class="btn  btn-large btn-primary" />*@
                                    }
                                    else
                                    {
                                        <span class="label label-info">Liberado</span>

                                    }

                                    if (Model.IdComparativa <= 0)
                                    {
                                    }
                                    else
                                    {


                                        @* <div class="btn-group ">*@
                                        <a class="btn  btn-large" style="color: Black" href="@Url.Action("Imprimir", new { @id = Model.IdComparativa })">
                                            <i class="icon-print"></i>&nbsp;Imprimir
                                        </a>
                                        @*   <button class="btn dropdown-toggle btn-large" data-toggle="dropdown">
                                                <span class="caret "></span>
                                            </button>
                                            <ul class="dropdown-menu ">
                                                <li><a class="" href="@Url.Action("Imprimir", new { @id = Model.IdComparativa, @bAgruparItems = true })">
                                                    <i class="icon-print"></i>&nbsp;Agrupar items</a></li>
                                            </ul>*@
                                        @*</div>*@


                                        <a class="btn btn-link" style="color: Black" href="@Url.Action("Anular", new { @id = Model.IdComparativa })">
                                            <i class=""></i>&nbsp;Anular
                                        </a>
                                    }
                                }
                                else
                                {
                                    <span class="label error-info">ANULADA</span>
                                }
                                @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-link" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </form>
    </div>


    <script type="text/javascript">
        //    function theimage(){
        //     var filename = document.getElementById('file-id').value;
        //     document.getElementById('file-path').value = filename;
        //     var filename1 = $('#file-id').next().val();
        //     alert(filename);
        //    }

        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();

            $("#conscroll").height($(window).height() - 120);
        });
    </script>


}
