﻿@model IEnumerable<ProntoMVC.Data.Models.Factura>
@{
    ViewBag.Title = "Comparativas";
}
@*<a>@Html.ActionLink("Nueva Factura", "Edit", new { id = -1 }, new { @class = "btn btn-primary" })</a>*@
@*http://stackoverflow.com/questions/10429510/display-html-within-html-actionlink-with-twitter-bootstrap*@
@if (false)
{
    <style>
                /* jqGrid builds some additional divs over the main grid table. The outer div has the class ui-jqgrid. So if you need to remove right and left border existing over the whole grid you can use the following CSS: */



                .ui-widget-content {
                    border: 0px solid #aaaaaa;
                }

                .ui-jqgrid {
                    border-right-width: 0px;
                    border-left-width: 0px;
                }
                    /* If you need to remove all grid's borders you can use

        .ui-jqgrid { border-width: 0px; }
        If you want additionally remove vertical border between the cells in the grid you can use */

                    .ui-jqgrid tr.ui-row-ltr td {
                        border-right-color: #E4E4E4;
                    }


                    .ui-jqgrid tr.footrow-ltr td {
                        border-right-color: #E4E4E4 !important;
                    }

                    /*To remove horizontal border between the rows you can use */

                    .ui-jqgrid tr.ui-row-ltr td {
                        border-bottom-color: #E4E4E4;
                    }
                /*To remove vertical borders between the column headers you can use */

                th.ui-th-column {
                    border-right-color: #E4E4E4 !important;
                }
                /* or alternatively (without the usage of !important) */

                .ui-jqgrid-labels .ui-th-column {
                    border-right-color: #E4E4E4;
                }
    </style>
}

<div class="container-fluid">
    <br />
    <div>
        <div class="row-fluid">
            <div class="span12 lightblue">
                <div class="span2">
                    <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'"  class="btn btn-primary"  >
                        Nueva Comparativa
                    </button>
                </div>
                @*<div class="span10">
                    <div class="input-prepend ">
                        <div class="btn-group ">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                En todo <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                Requerimientos
                            </div>
                            <ul class="dropdown-menu">
                                Número
                            </ul>
                        </div>
                        <input id="BuscadorListado" type="text" class="" placeholder="Filtrar" style="" />
                    </div>
                </div>*@
                @*
                <button onclick="window.location.href='@Url.Action("Imprimir", new { id = -1 })'"  class="btn btn-primary"  >
                    imprimir prueba
                </button>
                <button onclick="firmar()" class="btn btn-primary">
                    firmar prueba
                </button>*@
                <div>
                    <input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
                <div>
                    <input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
                <div>
                    <input id="IdObra" name="IdObra" type="hidden" value=@Request.QueryString["idobra"]></div>
            </div>
        </div>
        <br />

        <div class="row-fluid">
            <div class="span12 lightblue">
               

                <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px;
        "></table>
                <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("Comparativas_DynamicGridData", "Comparativa")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); }, 'IdObra': function () { return $("#IdObra").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', '', '', 'Circuito Firmas Completo', 'IdComparativa', 'Numero', 'Fecha',

            'Tipo seleccion',
                            'Confecciono',
                            'Aprobo',
                             'Monto previsto',
             'Monto p/cpra',

             'Cant.Sol.',
             'Archivo adjunto 1',
             'Archivo adjunto 2',
             'Anulada',
             'Fecha anulacion',

             'Anulo',
             'Motivo anulacion'


            ],




            colModel: [
                    { name: 'editar', index: 'act', align: 'center', width: 50, sortable: false, editable: false, search: false, hidden: true }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                    {name: 'Imprimir', index: 'Imprimir', align: 'center', width: 0, sortable: false, editable: false, search: false }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Imprimir")'} },
                    {name: 'firmar', index: 'Imprimir', align: 'center', width: 0, sortable: false, editable: false, search: false, hidden: true }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Imprimir")'} },

                    {name: 'CircuitoFirmasCompleto', index: 'CircuitoFirmasCompleto', align: 'left', width: 0, hidden: true,
                        editable: false, search: true, searchoptions: { sopt: ['cn'] }
                    },

                    { name: 'IdComparativa', index: 'IdFactura', align: 'left', width: 0, editable: false, hidden: true },
                    { name: 'Numero', index: 'TipoABC', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn','eq'] } },
                    { name: 'Fecha', index: 'PuntoVenta', align: 'center', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn','eq'] } },

                    { name: 'seleccion', index: '', align: 'right', width: 120, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'Confecciono', index: '', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'Aprobo', index: '', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'Monto', index: '', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'Monto', index: '', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },

                    { name: 'Cant', index: '', align: 'right', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'adjunto', index: '', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'adjunto', index: '', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'Anulada', index: '', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'Fecha', index: '', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn']} },



                    { name: 'Anulo', index: '', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    { name: 'Motivo', index: '', align: 'left', width: 150, editable: false, search: true, searchoptions: { sopt: ['cn']} }




                    ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }


            },


            ondblClickRow: function (idrow) {
                window.location.href = ROOT + 'Comparativa/Edit/' + idrow;


                // $("#edtData").click();

                //edicion inline
                // http://stackoverflow.com/questions/8163106/form-editing-with-inline-editing-to-same-jqgrid
                //                if(id && id!==lastSel){ 
                //                    jQuery('#Lista').restoreRow(lastSel); 
                //                    lastSel=id; 
                //                }
                //                jQuery('#Lista').editRow(id, true); 
                //   

            },

            gridComplete: function () {
                $("a#firmalink").click(function () {
                    PedirFirma(this);
                });

            },
            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50, 100],
            sortname: 'FechaFactura',
            sortorder: 'desc',
            viewrecords: true,


            ///////////////////////////////
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            //////////////////////////////

            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true
            // ,caption: '<b>FACTURAS</b>'

            , gridview: true
            , multiboxonly: true
            , multipleSearch: true




            // caption: '<b>Comparativas</b>'

        });
        //jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { edit: false, add: false, del: false, refresh: true, search: true });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        //        jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });

        jQuery("#Lista").jqGrid('navGrid', '#ListaPager',
 { csv: true, refresh: true, add: false, edit: false, del: false }, {}, {}, {},
 {
     //sopt: ["cn"]
     //sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc', 'nu', 'nn', 'in', 'ni'],
     width: 700, closeOnEscape: true, closeAfterSearch: true, multipleSearch: true, overlay: false
 }
);


        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        }); // si queres sacar el enableClear, definilo en las searchoptions de la columna específica http://www.trirand.com/blog/?page_id=393/help/clearing-the-clear-icon-in-a-filtertoolbar/



        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });

        $("#Aux3").change(function () {

            alert('222');
        });






        $("#Firmar").change(function () {
            var IdAprobo = $("#Aprobo > option:selected").attr("value");
            var Aprobo = $("#Aprobo > option:selected").html();
            $("#Aux1").val(IdAprobo);
            $("#Aux2").val(Aprobo);
            $("#Aux3").val("");
            $("#Aux10").val("");
            $('#dialog-password').data('Combo', 'Aprobo');
            $('#dialog-password').dialog('open');
        });

        $("#anular").click(function () {
            $("#Aux1").val("");
            $("#Aux2").val("");
            $("#Aux3").val("");
            $("#Aux10").val("anularRM");
            $('#dialog-password').dialog('open');
        });

    });

</script>
@*



es un tx o un tl para llenar los firmantes?
Edu De Santis says:
te digo
Autorizaciones_TX_PorFormulario, fijate los parametros que dependen de lo que vas a firmar, este sp analiza lo que vas a firmar y te trae la lista de idempleados que lo puede firmar
I say:
oka, y cuando firmo llamo otro sp o escribo directo sobre tabla?
Edu De Santis says:
Entonces ahi agregas un registro en
Set oAut = oAp.AutorizacionesPorComprobante.Item(-1)
With oAut.Registro
.Fields("IdFormulario".Value = Columnas(13)
.Fields("IdComprobante".Value = Columnas(17)
.Fields("OrdenAutorizacion".Value = Columnas(14)
.Fields("IdAutorizo".Value = mvarIdAutorizo
.Fields("FechaAutorizacion".Value = Now
End With
oAut.Guardar
Set oAut = Nothing
y corres el sp : 
AutorizacionesPorComprobante_Generar
I say:
joya
Edu De Santis says:
el ultimo sp refresca los comprobantes a firmar
joya
Edu De Santis says:
el ultimo sp refresca los comprobantes a firmar
para vos tenes que correr un AutorizacionesPorComprobante_A
I say:
ok*@