﻿@model IEnumerable<ProntoMVC.Data.Models.NotasDebito>
@{
    ViewBag.Title = "Nota de debito";
}

<div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
<div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>

<br />

<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nueva Nota de Debito</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("TT_DynamicGridData", "NotaDebito")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', '', 'IdNotaDebito', 'Tipo', 'Letra', 'Punto venta', 'Numero', 'Fecha', 'Anulada', 'Codigo cliente', 'Cliente', 'Condicion iva', 'CUIT', 'Total gravado', 'Total iva', 'Total IIBB',
                       'Total percepcion iva', 'Otras Percepciones', 'Importe total', 'Mon.', 'Obra', 'Vendedor', 'Provincia destino', 'Fecha anulacion', 'Usuario anulo', 'Fecha ingreso', 'Usuario ingreso',
                       'Nro. cuota', 'CAE', 'Rechazo CAE', 'Fecha Vto. o Rech. CAE', 'Observaciones'],
            colModel: [
                        { name: 'ver', index: 'ver', hidden: false, width: 50, search: false },
                        { name: 'Emitir', index: 'Emitir', hidden: false, width: 50, search: false },
                        { name: 'IdNotaDebito', index: 'IdNotaDebito', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'Tipo', index: 'CtaCte', align: 'left', width: 70, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'TipoABC', index: 'TipoABC', align: 'center', width: 40, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'PuntoVenta', index: 'PuntoVenta', align: 'center', width: 40, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'NumeroNotaDebito', index: 'NumeroNotaDebito', align: 'right', width: 80, editable: false, hidden: false },
                        {
                            name: 'FechaNotaDebito', index: 'FechaNotaDebito', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy',

                            
                            search: true,
                            searchrules: {
                                date: true
                            },
                            searchoptions: { // http://stackoverflow.com/questions/14632735/jqgrid-searching-dates
                                sopt: ['ge', 'le', 'eq'],
                                dataInit: function (elem) {
                                    $(elem).datepicker({
                                        dateFormat: 'dd/mm/yy',
                                        changeYear: true,
                                        changeMonth: true,
                                        showButtonPanel: true,
                                        onSelect: function () {
                                            $(this).keydown();
                                        }
                                    });
                                }
                            }

                        },
                
                
                        { name: 'Anulada', index: 'Anulada', align: 'center', width: 50, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'ClienteCodigo', index: 'Cliente.Codigo', align: 'center', width: 60, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'ClienteNombre', index: 'Cliente.RazonSocial', align: 'left', width: 400, editable: false, search: true, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'DescripcionIva', index: 'DescripcionIva.Descripcion', align: 'left', width: 170, editable: false, search: true, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'Cliente.Cuit', index: 'Cliente.Cuit', align: 'center', width: 120, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'TotalGravado', index: 'TotalGravado', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'TotalIva', index: 'TotalIva', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'TotalIIBB', index: 'TotalIIBB', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'TotalPercepcionIVA', index: 'TotalPercepcionIVA', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'TotalOtrasPercepciones', index: 'TotalOtrasPercepciones', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'ImporteTotal', index: 'ImporteTotal', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'MonedaAbreviatura', index: 'Moneda.Abreviatura', align: 'center', width: 40, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'Obra', index: 'Obra.NumeroObra', align: 'center', width: 80, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'Vendedor', index: 'Vendedore.Nombre', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'ProvinciaDestino', index: 'Provincia.Nombre', align: 'left', width: 150, editable: false, hidden: false },

                        { name: 'FechaAnulacion', index: 'FechaAnulacion', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'UsuarioAnulo', index: 'Empleado.Nombre', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'FechaIngreso', index: 'FechaIngreso', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'UsuarioIngreso', index: 'Empleado1.Nombre', align: 'left', width: 150, editable: false, hidden: false },

                       { name: 'NumeroCuota', index: 'NumeroCuota', align: 'center', width: 50, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'CAE', index: 'CAE', align: 'left', width: 200, editable: false, hidden: false },
                        { name: 'RechazoCAE', index: 'RechazoCAE', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'FechaVencimientoORechazoCAE', index: 'FechaVencimientoORechazoCAE', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 500, editable: false, hidden: false }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },

            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50],
            sortname: 'FechaNotaDebito', // 'FechaRecibo,NumeroRecibo',
            sortorder: 'desc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar', //,


            ///////////////////////////////
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            //////////////////////////////

            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true
            // ,caption: '<b>FACTURAS</b>'

            , gridview: true
            , multiboxonly: true
            , multipleSearch: true






        });
        jQuery("#Lista").jqGrid('bindKeys');

        jQuery("#Lista").jqGrid('navGrid', '#ListaPager',
         { csv: true, refresh: true, add: false, edit: false, del: false }, {}, {}, {},
         {
             //sopt: ["cn"]
             //sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc', 'nu', 'nn', 'in', 'ni'],
             width: 700, closeOnEscape: true, closeAfterSearch: true, multipleSearch: true, overlay: false
         }
        );


        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        }); // si queres sacar el enableClear, definilo en las searchoptions de la columna específica http://www.trirand.com/blog/?page_id=393/help/clearing-the-clear-icon-in-a-filtertoolbar/



        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });

        pageLayout.hide('east');
        pageLayout.hide('south');
    });

</script>
