﻿@model ProntoMVC.Data.Models.PlazosFijo
@{
    ViewBag.Title = "Plazo fijo";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptPlazoFijo.js")" type="text/javascript"></script>

    <div id="principal" class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100%  " @*Height of the footer *@>
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; top: 50px; padding-left: 25px; padding-right: 25px; overflow-x: hidden;">
                    <div class="row-fluid">
                        <div class="span3 lightblue">
                            <legend>Plazo fijo</legend>
                        </div>
                        <div class="span1 lightblue">
                            <div>@Html.Hidden("IdPlazoFijo", Model.IdPlazoFijo)</div>
                            <div>@Html.Hidden("Anulado", Model.Anulado)</div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5 lightblue">
                            @Html.LabelFor(model => model.IdBanco, "Banco")
                            @Html.DropDownList("IdBanco", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdBanco)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.NumeroCertificado1, "Numero certif.")
                            @Html.TextBoxFor(model => model.NumeroCertificado1, new { style = "text-align: center; font-weight: bold; font-size: 18px;", @class = "span12" })
                            @Html.ValidationMessageFor(model => model.NumeroCertificado1)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.FechaInicioPlazoFijo, "Fecha inicio")
                            @Html.TextBoxFor(model => model.FechaInicioPlazoFijo, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaInicioPlazoFijo)
                            <script>
                                $("#FechaInicioPlazoFijo").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.FechaVencimiento, "Fecha vencimiento")
                            @Html.TextBoxFor(model => model.FechaVencimiento, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaVencimiento)
                            <script>
                                $("#FechaVencimiento").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5 lightblue">
                            @Html.LabelFor(model => model.IdPlazoFijoOrigen, "Plazo fijo origen")
                            @Html.DropDownList("IdPlazoFijoOrigen", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdPlazoFijoOrigen)
                        </div>
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.AcreditarInteresesAlFinalizar, "Acreditar interese al finalizar el plazo fijo :")
                            @Html.CheckBox("AcreditarInteresesAlFinalizar", Model.AcreditarInteresesAlFinalizar == "SI")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span1 lightblue">
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.IdCajaOrigen, "Origen fondos")
                            @Html.RadioButton("OrigenFondosTipo", "Caja") Caja
                            @Html.RadioButton("OrigenFondosTipo", "Banco") Banco
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.IdCajaOrigen, "Caja")
                            @Html.DropDownList("IdCajaOrigen", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdCajaOrigen)
                        </div>
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.IdCuentaBancariaOrigen, "Banco")
                            @Html.DropDownList("IdCuentaBancariaOrigen", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdCuentaBancariaOrigen)
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.Finalizado, "Finalizado")
                            @Html.CheckBox("Finalizado", Model.Finalizado == "SI")
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.IdCajaDestino, "Destino fondos")
                            @Html.RadioButton("DestinoFondosTipo", "Caja") Caja
                            @Html.RadioButton("DestinoFondosTipo", "Banco") Banco
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.IdCajaDestino, "Caja")
                            @Html.DropDownList("IdCajaDestino", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdCajaDestino)
                        </div>
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.IdCuentaBancariaDestino, "Banco")
                            @Html.DropDownList("IdCuentaBancariaDestino", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdCuentaBancariaDestino)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.DireccionEmisionYPago, "Direccion de emision y pago")
                            @Html.TextBoxFor(model => model.DireccionEmisionYPago, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.DireccionEmisionYPago)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.Orden, "Orden")
                            @Html.TextBoxFor(model => model.Orden, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Orden)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.Titulares, "Titulares")
                            @Html.TextBoxFor(model => model.Titulares, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Titulares)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.Detalle, "Detalle")
                            @Html.TextBoxFor(model => model.Detalle, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Detalle)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.PlazoEnDias, "Plazo en dias")
                            @Html.TextBoxFor(model => model.PlazoEnDias, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.PlazoEnDias)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.TasaNominalAnual, "Tasa anual")
                            @Html.TextBoxFor(model => model.TasaNominalAnual, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.TasaNominalAnual)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.TasaEfectivaMensual, "Tasa mensual")
                            @Html.TextBoxFor(model => model.TasaEfectivaMensual, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.TasaEfectivaMensual)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.CodigoDeposito, "Codigo deposito")
                            @Html.TextBoxFor(model => model.CodigoDeposito, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CodigoDeposito)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.CodigoClase, "Codigo clase")
                            @Html.TextBoxFor(model => model.CodigoClase, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CodigoClase)
                        </div>
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.NoExigirRubroContable, "Transferencia entre cuentas propias :")
                            @Html.CheckBox("NoExigirRubroContable", Model.NoExigirRubroContable == "SI")
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4 lightblue">
                            <table id="ListaRubrosContablesEgreso" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager1" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                        <div class="span4 lightblue">
                            <table id="ListaRubrosContablesIngreso" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager2" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 lightblue">
                            <table id="Adicionales" class="span12" width="" border="0" cellspacing="0" cellpadding="0"
                                   style="margin: 0px 0px 0px 0px; height:; padding: 0px; border-width: 0px; border-spacing: 0px; font-size: xx-small;">
                                <tr class="">
                                    <td width="50"></td>
                                    <td width="300"></td>
                                </tr>
                                <tr class="">
                                    <td width="50"></td>
                                    <td width="300"></td>
                                </tr>
                                <tr class="">
                                    <td width="50"></td>
                                    <td width="300">
                                        @if (Model.Anulado == "SI")
                                        {
                                            <span style="margin: 0px 0px 0px 0px; height:; padding: 5px;  border-spacing: 0px; font-size: 15px; background-color: rgb(100%, 88%, 88%); ">ANULADO</span>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="span6 lightblue">
                            <table id="Totales" class="subtotales span12" width="" border="0" cellspacing="0" cellpadding="0"
                                   style="margin: 0px 0px 0px 0px; height:; padding: 20px;  border-spacing: 0px; font-size: xx-small; background-color: #E0ECFF; ">
                                <tr>
                                    <td width="50" style="font-size: 12px; font-weight: bold; ">MONEDA</td>
                                    <td width="150">@Html.DropDownList("IdMoneda", null, "", new { @class = "span12 ", @style = "height: 15px;   line-height: 14px;" })</td>
                                    <td width="10"></td>
                                    <td width="50" style="font-size: 12px; font-weight: bold; ">CONV.$ (INICIAL)</td>
                                    <td width="100">@Html.TextBoxFor(model => model.CotizacionMonedaAlInicio, new { @class = "span8 subtotales", @style = "font-size: 15px; text-align: right" })</td>
                                    <td width="10"></td>
                                    <td width="50" style="font-size: 12px; font-weight: bold; ">CONV.$ (FINAL)</td>
                                    <td width="100">@Html.TextBoxFor(model => model.CotizacionMonedaAlFinal, new { @class = "span8 subtotales", @style = "font-size: 15px; text-align: right" })</td>
                                    <td width="100" style="font-size: 12px; font-weight: bold; ">IMPORTE</td>
                                    <td width="100">@Html.TextBoxFor(model => model.Importe, new { @class = "span11 subtotales", @style = "background-color: #e8eef4;font-size: 15px; text-align: right" })</td>
                                </tr>
                                <tr class="">
                                    <td width="50"></td>
                                    <td width="150"></td>
                                    <td width="10"></td>
                                    <td width="50"></td>
                                    <td width="100"></td>
                                    <td width="10"></td>
                                    <td width="50"></td>
                                    <td width="100"></td>
                                    <td width="100" style="font-size: 12px; font-weight: bold; ">INTERESES</td>
                                    <td width="100">@Html.TextBoxFor(model => model.ImporteIntereses, new { @class = "span11 subtotales", @style = "background-color: #e8eef4;font-size: 15px; text-align: right" })</td>
                                </tr>
                                <tr class="">
                                    <td width="50"></td>
                                    <td width="150"></td>
                                    <td width="10"></td>
                                    <td width="50"></td>
                                    <td width="100"></td>
                                    <td width="10"></td>
                                    <td width="50"></td>
                                    <td width="100"></td>
                                    <td width="100" style="font-size: 12px; font-weight: bold; ">RET.GANACIAS</td>
                                    <td width="100">@Html.TextBoxFor(model => model.RetencionGanancia, new { @class = "span11 subtotales", @style = "background-color: #e8eef4;font-size: 15px; text-align: right" })</td>
                                </tr>
                                <tr>
                                    <td width="50"></td>
                                    <td width="150"></td>
                                    <td width="10"></td>
                                    <td width="50"></td>
                                    <td width="100"></td>
                                    <td width="10"></td>
                                    <td width="50"></td>
                                    <td width="100"></td>
                                    <td width="100" style="font-size: 12px; font-weight: bold; ">TOTAL PLAZO FIJO</td>
                                    <td width="100"><input type="text" name="TotalPlazoFijo" id="TotalPlazoFijo" style="width: 83%; text-align: right; font-size: 15px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>



                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236); width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span4 lightblue">
                            <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />
                            @if (Model.IdPlazoFijo > 0)
                            {<input type="button" id="anular" value="Anular" class="btn  btn-large btn-primary" />}
                            @*<input type="button" id="probar" value="Probar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />*@
                            <script>
                                $(function () {
                                    $("#anular").click(function () {
                                        $("#dialog-password").dialog({
                                            buttons: {
                                                'Aceptar': function () {
                                                    //window.location.href = ROOT + 'OrdenPago/Anular/' + $("#IdOrdenPago").val();
                                                    var idAux = $("#Aux1").val();
                                                    $("#Anulado").val("SI");
                                                    //$("#FechaAnulacion").val(Hoy());
                                                    //$("#IdAutorizaAnulacion").val(idAux);
                                                    $('#grabar2').click();
                                                },
                                                'Cancelar': function () {
                                                    $(this).dialog('close');
                                                }
                                            },
                                            open: function () {
                                            }
                                        });
                                        $('#dialog-password').dialog('open');
                                        $('#mySelect').prop("disabled", false);
                                        CargarUsuariosConPermisoDeAnulacion();
                                    });

                                    function CargarUsuariosConPermisoDeAnulacion() {
                                        var combo = $("#mySelect")
                                        combo.find("option:gt(0)").remove();
                                        combo.find("option:first").text("Cargando...");
                                        $.getJSON(ROOT + 'Articulo/GetStoreProc?sp=Empleados_TX_ParaAnularPorFormulario&p1=54', {
                                        }, function (json) {
                                            combo.find("option:first").text("");
                                            for (var i = 0; i < json.length; i++) {
                                                $("<option/>").attr("value", json[i].value).text(json[i].title).appendTo(combo);
                                            }
                                        });
                                    }
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();
            $("#conscroll").height($(window).height() - 120);
        });
    </script>
}