﻿@model IEnumerable<ProntoMVC.Data.Models.PlazosFijo>
@{
    ViewBag.Title = "Plazos fijos";
}

<div><input id="Tipo" name="Tipo" type="hidden" value=@Request.QueryString["Tipo"]></div>

<br />

<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nuevo plazo fijo</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; font-family: 'Helvetica Narrow', 'Arial Narrow', Tahoma, Arial, Helvetica, sans-serif;"></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("TT", "PlazoFijo")',
            postData: { 'Tipo': function () { return $("#Tipo").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', 'IdPlazoFijo', 'IdBanco', 'IdMoneda', 'IdCajaOrigen', 'IdCuentaBancariaOrigen', 'IdCajaDestino', 'IdCuentaBancariaDestino', 'IdPlazoFijoOrigen', 'Banco',
                       'Numero certificado', 'Anul.', 'Titulares', 'Plazo en dias', 'Tasa anual', 'Tasa mensual', 'Fecha inicio', 'Fecha vencimiento', 'Tipo orig. fondos', 'Origen de los fondos',
                       'Tipo dest. fondos', 'Destino de los fondos', 'Plazo fijo origen', 'Importe', 'Intereses', 'Ret. ganancia', 'Importe total', 'Mon.', 'Cotiz. inicio', 'Cotiz. final',
                       'Finalizado', 'Acreditar int. al finalizar', 'Direccion de emision y pago', 'Codigo deposito', 'Codigo clase', 'Orden', 'Detalle'],
            colModel: [
                        { name: 'ver', index: 'ver', hidden: false, width: 50 },
                        { name: 'IdPlazoFijo', index: 'IdPlazoFijo', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdBanco', index: 'IdBanco', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdMoneda', index: 'IdMoneda', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdCajaOrigen', index: 'IdCajaOrigen', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdCuentaBancariaOrigen', index: 'IdCuentaBancariaOrigen', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdCajaDestino', index: 'IdCajaDestino', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdCuentaBancariaDestino', index: 'IdCuentaBancariaDestino', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdPlazoFijoOrigen', index: 'IdPlazoFijoOrigen', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'Banco', index: 'Banco', align: 'left', width: 300, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'NumeroCertificado1', index: 'NumeroCertificado1', align: 'left', width: 80, editable: false, hidden: false },
                        { name: 'Anulado', index: 'Anulado', align: 'center', width: 50, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'Titulares', index: 'Titulares', align: 'left', width: 300, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'PlazoEnDias', index: 'PlazoEnDias', align: 'center', width: 60, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'TasaNominalAnual', index: 'TasaNominalAnual', align: 'right', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'TasaEfectivaMensual', index: 'TasaEfectivaMensual', align: 'right', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'FechaInicioPlazoFijo', index: 'FechaInicioPlazoFijo', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'FechaVencimiento', index: 'FechaVencimiento', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'OrigenFondosTipo', index: 'OrigenFondosTipo', align: 'center', width: 50, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'OrigenFondos', index: 'OrigenFondos', align: 'left', width: 350, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'DestinoFondosTipo', index: 'DestinoFondosTipo', align: 'center', width: 50, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'DestinoFondos', index: 'DestinoFondos', align: 'left', width: 350, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'PlazoFijoOrigen', index: 'PlazoFijoOrigen', align: 'left', width: 100, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'Importe', index: 'Importe', align: 'right', width: 120, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'ImporteIntereses', index: 'ImporteIntereses', align: 'right', width: 120, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'RetencionGanancia', index: 'RetencionGanancia', align: 'right', width: 120, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'ImporteTotal', index: 'ImporteTotal', align: 'right', width: 120, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Moneda', index: 'Moneda', align: 'center', width: 50, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'CotizacionMonedaAlInicio', index: 'CotizacionMonedaAlInicio', align: 'right', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CotizacionMonedaAlFinal', index: 'CotizacionMonedaAlFinal', align: 'right', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Finalizado', index: 'Finalizado', align: 'center', width: 60, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'AcreditarInteresesAlFinalizar', index: 'AcreditarInteresesAlFinalizar', align: 'center', width: 50, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'DireccionEmisionYPago', index: 'DireccionEmisionYPago', align: 'left', width: 300, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'CodigoDeposito', index: 'CodigoDeposito', align: 'center', width: 100, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'CodigoClase', index: 'CodigoClase', align: 'center', width: 100, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'Orden', index: 'Orden', align: 'left', width: 300, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'Detalle', index: 'Detalle', align: 'left', width: 300, sortable: false, editable: false, search: false, hidden: false }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 20,
            rowList: [10, 20, 50, 20000],
            sortname: 'Banco',
            sortorder: 'asc',
            viewrecords: true,
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: '100%',
            altRows: false,
            footerrow: false,
            userDataOnFooter: true,
            caption: '<b>PLAZOS FIJOS ('+$("#Tipo").val()+')</b>'
        });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        //jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
        //jQuery("#Lista").jqGrid('setFrozenColumns');

        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });

        pageLayout.hide('east');
        pageLayout.hide('south');
    });

</script>
