﻿@model ProntoMVC.Data.Models.Recepcione
@{
    ViewBag.Title = "Recepcion";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptRecepcion.js")" type="text/javascript"></script>

    <style>
        .subtotales input {
            /*height: 16px;*/
            min-height: 18px !important;
            line-height: 18px;
            padding: 0;
            margin: 0;
            font-size: 12px;
            text-align: right;
            font-weight: bold;
            background-color: #e8eef4;
        }

            .subtotales input[readonly] {
                background: transparent;
                border: 0;
            }

        .subtotales select {
            /* height : 16px; */
            min-height: 18px !important;
            line-height: 18px;
            padding: 0;
            margin: 0;
            font-size: 10px;
        }

        table td {
            padding: 0px;
            border: solid 1px;
            border-color: transparent;
        }
    </style>

    <div id="principal" class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100%  " @*Height of the footer *@>
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; top: 50px; padding-left: 25px; padding-right: 25px; overflow-x: hidden;">
                    <div class="row-fluid">
                        <div class="span6 lightblue titulo">
                            Recepción
                        </div>
                        <div class="span1 lightblue">
                            <div>@Html.Hidden("IdRecepcion", Model.IdRecepcion)</div>
                            <div>@Html.Hidden("IdProveedor", Model.IdProveedor)</div>
                            <div>@Html.Hidden("Anulada", Model.Anulada)</div>
                            <div>@Html.Hidden("FechaAnulacion", Model.FechaAnulacion)</div>
                            <div>@Html.Hidden("IdUsuarioAnulo", Model.IdUsuarioAnulo)</div>
                            <div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
                            <div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
                        </div>
                        <div class="span1 lightblue"></div>
                        <div class="span2 lightblue"></div>
                        <div class="span4 lightblue">
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.NumeroRecepcionAlmacen, "Numero interno")
                            @Html.TextBoxFor(model => model.NumeroRecepcionAlmacen, new { style = "text-align: center; font-weight: bold; font-size: 18px;", @class = "span12", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.NumeroRecepcionAlmacen)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.NumeroRecepcion1, "Numero")
                            @Html.TextBoxFor(model => model.NumeroRecepcion1, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.NumeroRecepcion1)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.NumeroRecepcion2, ":")
                            @Html.TextBoxFor(model => model.NumeroRecepcion2, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.NumeroRecepcion2)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.FechaRecepcion, "Fecha")
                            @Html.TextBoxFor(model => model.FechaRecepcion, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaRecepcion)
                            <script>
                                $("#FechaRecepcion").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <div class="span6 lightblue">
                            @Html.LabelFor(model => model.TipoRecepcion, "Tipo de origen") <br />
                            @Html.RadioButtonFor(model => model.TipoRecepcion, 1) Proveedor
                            @Html.RadioButtonFor(model => model.TipoRecepcion, 2) Otras obras / internas
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.IdObra, "Obra")
                            @Html.DropDownList("IdObra", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdObra)
                        </div>
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.IdTransportista, "Transportista")
                            @Html.DropDownList("IdTransportista", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdTransportista)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4 lightblue">
                            <label for="EntidadLabel" id="EntidadLabel">Proveedor</label>
                            <input type="text" name="Proveedor" id="Proveedor" style="font-size: 15px; text-align: left;" class="span12" />
                            <script type="text/jscript">
                                $("#Proveedor").autocomplete({
                                    source: '@Url.Action("GetProveedoresAutocomplete2", "Proveedor")',
                                    minLength: 0,
                                    messages: { noResults: "", results: function () { } },
                                    select: function (event, ui) {
                                        $("#IdProveedor").val(ui.item.id);
                                        $("#Proveedor").val(ui.item.value);
                                        event.preventDefault();
                                        ActualizarDatos();
                                    }
                                });
                            </script>
                        </div>
                        <div class="span1 lightblue">
                            <label for="Cuit">Cuit</label>
                            <input type="text" name="Cuit" id="Cuit" style="font-size: 10px; text-align: center;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span3 lightblue">
                            <label for="Email">Email</label>
                            <input type="text" name="Email" id="Email" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5 lightblue">
                            <label for="Direccion">Direccion</label>
                            <input type="text" name="Direccion" id="Direccion" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span2 lightblue">
                            <label for="Localidad">Localidad</label>
                            <input type="text" name="Localidad" id="Localidad" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span2 lightblue">
                            <label for="Provincia">Provincia</label>
                            <input type="text" name="Provincia" id="Provincia" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span1 lightblue">
                            <label for="CodigoPostal">Cod Postal</label>
                            <input type="text" name="CodigoPostal" id="CodigoPostal" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span2 lightblue">
                            <label for="Telefono">Telefono</label>
                            <input type="text" name="Telefono" id="Telefono" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.Patente, "Patente")
                            @Html.TextBoxFor(model => model.Patente, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Patente)
                        </div>
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.Chofer, "Chofer")
                            @Html.TextBoxFor(model => model.Chofer, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Chofer)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.NumeroDocumentoChofer, "Documento chofer")
                            @Html.TextBoxFor(model => model.NumeroDocumentoChofer, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.NumeroDocumentoChofer)
                        </div>
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.NumeroRemitoTransporte1, "Remito transporte")
                            @Html.TextBoxFor(model => model.NumeroRemitoTransporte1, new { @class = "span12" })
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.NumeroRemitoTransporte2, ":")
                            @Html.TextBoxFor(model => model.NumeroRemitoTransporte2, new { @class = "span12" })
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12 lightblue">
                            <table id="ListaArticulos" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager1" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4 lightblue">
                            @if (Model.FechaAnulacion != null)
                            {
                                <span style="margin: 0px 0px 0px 0px; height:; padding: 5px; border-style: groove; border-width: 0px; border-spacing: 0px; font-size: 15px; background-color: rgb(100%, 88%, 88%); ">ANULADA</span>
                            }
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12 lightblue">
                            @Html.LabelFor(model => model.Observaciones)
                            @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Observaciones)
                        </div>
                        <!--/span-->
                    </div>

                </div>

                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236); width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span8 ">
                        </div>


                        <div class="span4 lightblue">
                            <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />
                            @if (Model.IdRecepcion > 0)
                                {<input type="button" id="anular" value="Anular" class="btn  btn-large btn-primary" />}
                            <script>
                                    $(function () {
                                        $("#anular").click(function () {
                                            $("#dialog-password").dialog({
                                                buttons: {
                                                    'Aceptar': function () {
                                                        var idAux = $("#Aux1").val();
                                                        $("#Anulada").val("SI");
                                                        $("#FechaAnulacion").val(Hoy());
                                                        $("#IdUsuarioAnulo").val(idAux);
                                                        $('#grabar2').click();
                                                    },
                                                    'Cancelar': function () {
                                                        $(this).dialog('close');
                                                    }
                                                },
                                                open: function () {
                                                }
                                            });
                                            $('#dialog-password').dialog('open');
                                            $('#mySelect').prop("disabled", false);
                                            CargarUsuariosConPermisoDeAnulacion();
                                        });

                                        function CargarUsuariosConPermisoDeAnulacion() {
                                            var combo = $("#mySelect")
                                            combo.find("option:gt(0)").remove();
                                            combo.find("option:first").text("Cargando...");
                                            $.getJSON(ROOT + 'Articulo/GetStoreProc?sp=Empleados_TX_ParaAnularPorFormulario&p1=11', {
                                            }, function (json) {
                                                combo.find("option:first").text("");
                                                for (var i = 0; i < json.length; i++) {
                                                    $("<option/>").attr("value", json[i].value).text(json[i].title).appendTo(combo);
                                                }
                                            });
                                        }
                                    })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();
            $("#conscroll").height($(window).height() - 120);
        });
    </script>
}