﻿@model ProntoMVC.Data.Models.DepositosBancario
@{
    ViewBag.Title = "Deposito bancario";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptDepositoBancario.js")" type="text/javascript"></script>

    <div id="principal" class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100%  " @*Height of the footer *@>
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; top: 50px; padding-left: 25px; padding-right: 25px; overflow-x: hidden;">
                    <div class="row-fluid">
                        <div class="span3 lightblue">
                            <legend>Deposito bancario</legend>
                        </div>
                        <div class="span1 lightblue">
                            <div>@Html.Hidden("IdDepositoBancario", Model.IdDepositoBancario)</div>
                            <div>@Html.Hidden("Anulado", Model.Anulado)</div>
                            <div>@Html.Hidden("FechaAnulacion", Model.FechaAnulacion)</div>
                            <div>@Html.Hidden("IdAutorizaAnulacion", Model.IdAutorizaAnulacion)</div>
                            <div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
                            <div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
                        </div>
                        <div class="span1 lightblue">
                        </div>
                        <div class="span2 lightblue">
                        </div>
                        <div class="span4 lightblue">
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span1 lightblue">
                            @Html.LabelFor(model => model.NumeroDeposito, "Numero")
                            @Html.TextBoxFor(model => model.NumeroDeposito, new { style = "text-align: center; font-weight: bold; font-size: 18px;", @class = "span12" })
                            @Html.ValidationMessageFor(model => model.NumeroDeposito)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.FechaDeposito, "Fecha")
                            @Html.TextBoxFor(model => model.FechaDeposito, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaDeposito)
                            <script>
                                $("#FechaDeposito").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <div class="span5 lightblue">
                            @Html.LabelFor(model => model.IdCuentaBancaria, "Banco")
                            @Html.DropDownList("IdCuentaBancaria", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdCuentaBancaria)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span8 lightblue">
                            <table id="Lista" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager1" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span2 lightblue">
                            <table id="Adicionales" class="span12" width="" border="0" cellspacing="0" cellpadding="0"
                                   style="margin: 0px 0px 0px 0px; height:; padding: 0px; border-width: 0px; border-spacing: 0px; font-size: xx-small;">
                                <tr class="">
                                    <td width="50"></td>
                                    <td width="300"></td>
                                </tr>
                                <tr class="">
                                    <td width="50"></td>
                                    <td width="300"></td>
                                </tr>
                                <tr class="">
                                    <td width="50"></td>
                                    <td width="300">
                                        @if (Model.FechaAnulacion != null)
                                        {
                                            <span style="margin: 0px 0px 0px 0px; height:; padding: 5px;  border-spacing: 0px; font-size: 15px; background-color: rgb(100%, 88%, 88%); ">ANULADO</span>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="span6 lightblue">
                            <table id="Totales" class="subtotales span12" width="" border="0" cellspacing="0" cellpadding="0"
                                   style="margin: 0px 0px 0px 0px; height:; padding: 20px;  border-spacing: 0px; font-size: xx-small; background-color: #E0ECFF; ">
                                <tr class="">
                                    <td width="50"></td>
                                    <td width="150"></td>
                                    <td width="10"></td>
                                    <td width="50"></td>
                                    <td width="100"></td>
                                    <td width="10"></td>
                                    <td width="50"></td>
                                    <td width="100"></td>
                                    <td width="100" style="font-size: 12px; font-weight: bold; ">CHEQUES</td>
                                    <td width="100"><input type="text" name="TotalCheques" id="TotalCheques" style="width: 83%; text-align: right; font-size: 15px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td width="50" style="font-size: 12px; font-weight: bold; ">CAJA</td>
                                    <td width="150">@Html.DropDownList("IdCaja", null, "", new { @class = "span12 ", @style = "height: 15px;   line-height: 14px;" })</td>
                                    <td width="10"></td>
                                    <td width="50" style="font-size: 12px; font-weight: bold; ">MONEDA</td>
                                    <td width="100">@Html.DropDownList("IdMonedaEfectivo", null, "", new { @class = "span12 ", @style = "height: 15px;   line-height: 14px;" })</td>
                                    <td width="10"></td>
                                    <td width="50" style="font-size: 12px; font-weight: bold; ">CONV.$</td>
                                    <td width="100">@Html.TextBoxFor(model => model.CotizacionMoneda, new { @class = "span8 subtotales", @style = "font-size: 15px; text-align: right" })</td>
                                    <td width="100" style="font-size: 12px; font-weight: bold; ">EFECTIVO</td>
                                    <td width="100">@Html.TextBoxFor(model => model.Efectivo, new { @class = "span11 subtotales", @style = "background-color: #e8eef4;font-size: 15px; text-align: right" })</td>
                                </tr>
                                <tr>
                                    <td width="50"></td>
                                    <td width="150"></td>
                                    <td width="10"></td>
                                    <td width="50"></td>
                                    <td width="100"></td>
                                    <td width="10"></td>
                                    <td width="50"></td>
                                    <td width="100"></td>
                                    <td width="100" style="font-size: 12px; font-weight: bold; ">TOTAL DEPOSITO</td>
                                    <td width="100"><input type="text" name="TotalDeposito" id="TotalDeposito" style="width: 83%; text-align: right; font-size: 15px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span8 lightblue">
                            @Html.LabelFor(model => model.Observaciones)
                            @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Observaciones)
                        </div>
                    </div>
                </div>

                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236); width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span4 lightblue">
                            <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />
                            @if (Model.IdDepositoBancario > 0)
                            {<input type="button" id="anular" value="Anular" class="btn  btn-large btn-primary" />}
                            @*<input type="button" id="probar" value="Probar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />*@
                            <script>
                                $(function () {
                                    $("#anular").click(function () {
                                        $("#dialog-password").dialog({
                                            buttons: {
                                                'Aceptar': function () {
                                                    //window.location.href = ROOT + 'OrdenPago/Anular/' + $("#IdOrdenPago").val();
                                                    var idAux = $("#Aux1").val();
                                                    $("#Anulado").val("SI");
                                                    $("#FechaAnulacion").val(Hoy());
                                                    $("#IdAutorizaAnulacion").val(idAux);
                                                    $('#grabar2').click();
                                                },
                                                'Cancelar': function () {
                                                    $(this).dialog('close');
                                                }
                                            },
                                            open: function () {
                                            }
                                        });
                                        $('#dialog-password').dialog('open');
                                        $('#mySelect').prop("disabled", false);
                                        CargarUsuariosConPermisoDeAnulacion();
                                    });

                                    function CargarUsuariosConPermisoDeAnulacion() {
                                        var combo = $("#mySelect")
                                        combo.find("option:gt(0)").remove();
                                        combo.find("option:first").text("Cargando...");
                                        $.getJSON(ROOT + 'Articulo/GetStoreProc?sp=Empleados_TX_ParaAnularPorFormulario&p1=51', {
                                        }, function (json) {
                                            combo.find("option:first").text("");
                                            for (var i = 0; i < json.length; i++) {
                                                $("<option/>").attr("value", json[i].value).text(json[i].title).appendTo(combo);
                                            }
                                        });
                                    }
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();
            $("#conscroll").height($(window).height() - 120);
        });
    </script>
}