﻿@model IEnumerable<ProntoMVC.Data.Models.Concepto>
@{
    ViewBag.Title = "Conceptos";
}
@*<h2>Index</h2>*@ @* <div class="container-fluid">*@

<br />

<div class="row-fluid">
    <div class="span10 lightblue">
        <table id="Lista" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="ListaPager" class="scroll" style="text-align: center; height: 30px"></div>
    </div>
</div>

<style>
    .myLink {
        text-decoration: underline;
        cursor: pointer;
    }
</style>

<script type="text/javascript">

    var $grid = "";
    var lastSelectedId;
    var lastSelectediCol;
    var lastSelectediRow;
    var lastSelectediCol2;
    var lastSelectediRow2;
    var inEdit;
    var selICol;
    var selIRow;
    var gridCellWasClicked = false;
    var grillaenfoco = false;
    var getColumnIndexByName = function (grid, columnName) {
        var cm = grid.jqGrid('getGridParam', 'colModel'), i, l = cm.length;
        for (i = 0; i < l; i++) {
            if (cm[i].name === columnName) {
                return i; // return the index
            }
        }
        return -1;
    };
    var saveIcon = '<span class="ui-state-default" style="border:0"><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span></span>'

    $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

    $.extend($.jgrid.inlineEdit, {
        keys: true
    });

    window.parent.document.body.onclick = saveEditedCell; // attach to parent window if any
    document.body.onclick = saveEditedCell; // attach to current document.

    function saveEditedCell(evt) {
        var target = $(evt.target);

        if ($grid) {
            var isCellClicked = $grid.find(target).length; // check if click is inside jqgrid
            if (gridCellWasClicked && !isCellClicked) // check if a valid click
            {
                gridCellWasClicked = false;
                $grid.jqGrid("saveCell", lastSelectediRow2, lastSelectediCol2);
            }
        }

        //$grid = "";
        gridCellWasClicked = false;

        if (jQuery("#Lista").find(target).length) {
            $grid = $('#Lista');
            grillaenfoco = true;
        }
        if (grillaenfoco) {
            gridCellWasClicked = true;
            lastSelectediRow2 = lastSelectediRow;
            lastSelectediCol2 = lastSelectediCol;
        }
    };

    $().ready(function () {
        'use strict';

        $('#Lista').jqGrid({
            url: ROOT + 'Concepto/TT/',
            postData: { congrupo: "NO" },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Acciones', 'IdConcepto', 'IdCuenta', 'Grupo', 'Descripcion', 'Cuenta contable', 'ValorRechazado', 'Codigo', 'Gravado por default', 'Codigo AFIP', 'CoeficienteAuxiliar_1',
                       'Genera comision vendedor?', 'Tipos de concepto'],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 30, editable: false, hidden: false },
                        { name: 'IdConcepto', index: 'IdConcepto', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'IdCuenta', index: 'IdCuenta', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'Grupo', index: 'Grupo', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'Descripcion', index: 'Descripcion', width: 200, align: 'left', editable: false, editrules: { required: false } },
                        { name: 'Cuenta', index: 'Cuenta', width: 200, align: 'left', editable: false, editrules: { required: false } },
                        { name: 'ValorRechazado', index: 'ValorRechazado', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'CodigoConcepto', index: 'CodigoConcepto', align: 'left', width: 100, editable: false, hidden: false },
                        { name: 'GravadoDefault', index: 'GravadoDefault', align: 'left', width: 100, editable: false, hidden: false },
                        { name: 'CodigoAFIP', index: 'CodigoAFIP', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'CoeficienteAuxiliar_1', index: 'CoeficienteAuxiliar_1', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'GeneraComision', index: 'GeneraComision', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'TiposConcepto', index: 'TiposConcepto', align: 'left', width: 100, editable: false, hidden: true }
            ],
            onCellSelect: function (rowid, iCol, cellcontent, e) {
                var $this = $(this);
                var iRow = $('#' + $.jgrid.jqID(rowid))[0].rowIndex;
                lastSelectedId = rowid;
                lastSelectediCol = iCol;
                lastSelectediRow = iRow;
            },
            pager: $('#ListaPager'),
            rowNum: 20,
            rowList: [10, 20, 50, 100],
            sortname: 'Descripcion',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: true,
            shrinkToFit: true,
            width: 'auto',
            height: '100%',
            altRows: false,
            footerrow: false,
            userDataOnFooter: true,
            caption: '<b>CONCEPTOS</b>',
            cellEdit: true,
            cellsubmit: 'clientArray',
            editurl: ROOT + 'Empleado/EditGridData/'
        });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { search: false, refresh: false, add: false, edit: false, del: false }, {}, {}, {}, {});
    });

</script>
