﻿@model ProntoMVC.Data.Models.Articulo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Articulo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdArticulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdArticulo)
            @Html.ValidationMessageFor(model => model.IdArticulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdRubro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdRubro)
            @Html.ValidationMessageFor(model => model.IdRubro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdSubrubro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdSubrubro)
            @Html.ValidationMessageFor(model => model.IdSubrubro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdFamilia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdFamilia)
            @Html.ValidationMessageFor(model => model.IdFamilia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Productivo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Productivo)
            @Html.ValidationMessageFor(model => model.Productivo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ancho)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ancho)
            @Html.ValidationMessageFor(model => model.Ancho)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCalidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCalidad)
            @Html.ValidationMessageFor(model => model.IdCalidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Diametro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Diametro)
            @Html.ValidationMessageFor(model => model.Diametro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Espesor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Espesor)
            @Html.ValidationMessageFor(model => model.Espesor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdGrado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdGrado)
            @Html.ValidationMessageFor(model => model.IdGrado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Largo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Largo)
            @Html.ValidationMessageFor(model => model.Largo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdMaterial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdMaterial)
            @Html.ValidationMessageFor(model => model.IdMaterial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdAcabado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdAcabado)
            @Html.ValidationMessageFor(model => model.IdAcabado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdTipo)
            @Html.ValidationMessageFor(model => model.IdTipo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Serie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Serie)
            @Html.ValidationMessageFor(model => model.Serie)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTratamiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdTratamiento)
            @Html.ValidationMessageFor(model => model.IdTratamiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUnidad, "Unidad")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdUnidad", String.Empty)
            @Html.ValidationMessageFor(model => model.IdUnidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Autorizacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Autorizacion)
            @Html.ValidationMessageFor(model => model.Autorizacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdInventario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdInventario)
            @Html.ValidationMessageFor(model => model.IdInventario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCuenta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCuenta)
            @Html.ValidationMessageFor(model => model.IdCuenta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdScheduler)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdScheduler)
            @Html.ValidationMessageFor(model => model.IdScheduler)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad1)
            @Html.ValidationMessageFor(model => model.Unidad1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad2)
            @Html.ValidationMessageFor(model => model.Unidad2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad3)
            @Html.ValidationMessageFor(model => model.Unidad3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad4)
            @Html.ValidationMessageFor(model => model.Unidad4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad5)
            @Html.ValidationMessageFor(model => model.Unidad5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad6)
            @Html.ValidationMessageFor(model => model.Unidad6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad7)
            @Html.ValidationMessageFor(model => model.Unidad7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad8)
            @Html.ValidationMessageFor(model => model.Unidad8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad9)
            @Html.ValidationMessageFor(model => model.Unidad9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad10)
            @Html.ValidationMessageFor(model => model.Unidad10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Peso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Peso)
            @Html.ValidationMessageFor(model => model.Peso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiametroInterno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiametroInterno)
            @Html.ValidationMessageFor(model => model.DiametroInterno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCodigoUniversal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCodigoUniversal)
            @Html.ValidationMessageFor(model => model.IdCodigoUniversal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdRelacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdRelacion)
            @Html.ValidationMessageFor(model => model.IdRelacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdForma)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdForma)
            @Html.ValidationMessageFor(model => model.IdForma)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdSerie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdSerie)
            @Html.ValidationMessageFor(model => model.IdSerie)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Altura)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Altura)
            @Html.ValidationMessageFor(model => model.Altura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Diametro2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Diametro2)
            @Html.ValidationMessageFor(model => model.Diametro2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdColor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdColor)
            @Html.ValidationMessageFor(model => model.IdColor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdNorma)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdNorma)
            @Html.ValidationMessageFor(model => model.IdNorma)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Capacidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Capacidad)
            @Html.ValidationMessageFor(model => model.Capacidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Potencia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Potencia)
            @Html.ValidationMessageFor(model => model.Potencia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdRango)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdRango)
            @Html.ValidationMessageFor(model => model.IdRango)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdAlimentacionElectrica)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdAlimentacionElectrica)
            @Html.ValidationMessageFor(model => model.IdAlimentacionElectrica)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdModelo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdModelo)
            @Html.ValidationMessageFor(model => model.IdModelo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdMarca)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdMarca)
            @Html.ValidationMessageFor(model => model.IdMarca)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdAnioNorma)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdAnioNorma)
            @Html.ValidationMessageFor(model => model.IdAnioNorma)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad11)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad11)
            @Html.ValidationMessageFor(model => model.Unidad11)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad12)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad12)
            @Html.ValidationMessageFor(model => model.Unidad12)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad13)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad13)
            @Html.ValidationMessageFor(model => model.Unidad13)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad14)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad14)
            @Html.ValidationMessageFor(model => model.Unidad14)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad15)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad15)
            @Html.ValidationMessageFor(model => model.Unidad15)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCuantificacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCuantificacion)
            @Html.ValidationMessageFor(model => model.IdCuantificacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdControlCalidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdControlCalidad)
            @Html.ValidationMessageFor(model => model.IdControlCalidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCodigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCodigo)
            @Html.ValidationMessageFor(model => model.IdCodigo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Charpy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Charpy)
            @Html.ValidationMessageFor(model => model.Charpy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCentroCosto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCentroCosto)
            @Html.ValidationMessageFor(model => model.IdCentroCosto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UsuarioAlta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UsuarioAlta)
            @Html.ValidationMessageFor(model => model.UsuarioAlta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaAlta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaAlta)
            @Html.ValidationMessageFor(model => model.FechaAlta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaUltimaModificacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaUltimaModificacion)
            @Html.ValidationMessageFor(model => model.FechaUltimaModificacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EspesorBase)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EspesorBase)
            @Html.ValidationMessageFor(model => model.EspesorBase)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EspesorRevestimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EspesorRevestimiento)
            @Html.ValidationMessageFor(model => model.EspesorRevestimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCalidadBase)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCalidadBase)
            @Html.ValidationMessageFor(model => model.IdCalidadBase)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCalidadRevestimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCalidadRevestimiento)
            @Html.ValidationMessageFor(model => model.IdCalidadRevestimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdGradoBase)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdGradoBase)
            @Html.ValidationMessageFor(model => model.IdGradoBase)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdGradoRevestimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdGradoRevestimiento)
            @Html.ValidationMessageFor(model => model.IdGradoRevestimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdBiselado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdBiselado)
            @Html.ValidationMessageFor(model => model.IdBiselado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCalidadClad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCalidadClad)
            @Html.ValidationMessageFor(model => model.IdCalidadClad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoRosca)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdTipoRosca)
            @Html.ValidationMessageFor(model => model.IdTipoRosca)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdDensidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdDensidad)
            @Html.ValidationMessageFor(model => model.IdDensidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rpm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rpm)
            @Html.ValidationMessageFor(model => model.Rpm)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Datos1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Datos1)
            @Html.ValidationMessageFor(model => model.Datos1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Datos2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Datos2)
            @Html.ValidationMessageFor(model => model.Datos2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Datos3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Datos3)
            @Html.ValidationMessageFor(model => model.Datos3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Datos4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Datos4)
            @Html.ValidationMessageFor(model => model.Datos4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Datos5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Datos5)
            @Html.ValidationMessageFor(model => model.Datos5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Datos6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Datos6)
            @Html.ValidationMessageFor(model => model.Datos6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Datos7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Datos7)
            @Html.ValidationMessageFor(model => model.Datos7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Datos8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Datos8)
            @Html.ValidationMessageFor(model => model.Datos8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Datos9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Datos9)
            @Html.ValidationMessageFor(model => model.Datos9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Datos10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Datos10)
            @Html.ValidationMessageFor(model => model.Datos10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad16)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad16)
            @Html.ValidationMessageFor(model => model.Unidad16)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad17)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad17)
            @Html.ValidationMessageFor(model => model.Unidad17)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad18)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad18)
            @Html.ValidationMessageFor(model => model.Unidad18)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad19)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad19)
            @Html.ValidationMessageFor(model => model.Unidad19)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unidad20)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unidad20)
            @Html.ValidationMessageFor(model => model.Unidad20)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnviarEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnviarEmail)
            @Html.ValidationMessageFor(model => model.EnviarEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Codigo)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegistrarStock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegistrarStock)
            @Html.ValidationMessageFor(model => model.RegistrarStock)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StockMinimo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StockMinimo)
            @Html.ValidationMessageFor(model => model.StockMinimo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DefineKit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DefineKit)
            @Html.ValidationMessageFor(model => model.DefineKit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CostoPPP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostoPPP)
            @Html.ValidationMessageFor(model => model.CostoPPP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AlicuotaIVA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AlicuotaIVA)
            @Html.ValidationMessageFor(model => model.AlicuotaIVA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CostoPPPDolar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostoPPPDolar)
            @Html.ValidationMessageFor(model => model.CostoPPPDolar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUbicacionStandar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdUbicacionStandar)
            @Html.ValidationMessageFor(model => model.IdUbicacionStandar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CostoReposicion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostoReposicion)
            @Html.ValidationMessageFor(model => model.CostoReposicion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CostoReposicionDolar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostoReposicionDolar)
            @Html.ValidationMessageFor(model => model.CostoReposicionDolar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdLocalidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdLocalidad)
            @Html.ValidationMessageFor(model => model.IdLocalidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdProvincia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdProvincia)
            @Html.ValidationMessageFor(model => model.IdProvincia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdPais)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdPais)
            @Html.ValidationMessageFor(model => model.IdPais)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodigoPostal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CodigoPostal)
            @Html.ValidationMessageFor(model => model.CodigoPostal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroManzana)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroManzana)
            @Html.ValidationMessageFor(model => model.NumeroManzana)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroLote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroLote)
            @Html.ValidationMessageFor(model => model.NumeroLote)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActivoFijo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActivoFijo)
            @Html.ValidationMessageFor(model => model.ActivoFijo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoActivoFijo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstadoActivoFijo)
            @Html.ValidationMessageFor(model => model.EstadoActivoFijo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroActivoFijo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroActivoFijo)
            @Html.ValidationMessageFor(model => model.NumeroActivoFijo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdGrupoActivoFijo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdGrupoActivoFijo)
            @Html.ValidationMessageFor(model => model.IdGrupoActivoFijo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BienImpositivo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BienImpositivo)
            @Html.ValidationMessageFor(model => model.BienImpositivo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BienContable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BienContable)
            @Html.ValidationMessageFor(model => model.BienContable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amortiza)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amortiza)
            @Html.ValidationMessageFor(model => model.Amortiza)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaCompra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaCompra)
            @Html.ValidationMessageFor(model => model.FechaCompra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCuentaAmortizacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCuentaAmortizacion)
            @Html.ValidationMessageFor(model => model.IdCuentaAmortizacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VidaUtilImpositiva)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VidaUtilImpositiva)
            @Html.ValidationMessageFor(model => model.VidaUtilImpositiva)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VidaUtilContable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VidaUtilContable)
            @Html.ValidationMessageFor(model => model.VidaUtilContable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValorOrigenContable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValorOrigenContable)
            @Html.ValidationMessageFor(model => model.ValorOrigenContable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValorOrigenImpositivo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValorOrigenImpositivo)
            @Html.ValidationMessageFor(model => model.ValorOrigenImpositivo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValorActualizado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValorActualizado)
            @Html.ValidationMessageFor(model => model.ValorActualizado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValorResidual)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValorResidual)
            @Html.ValidationMessageFor(model => model.ValorResidual)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValorResidualActualizado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValorResidualActualizado)
            @Html.ValidationMessageFor(model => model.ValorResidualActualizado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AmortizacionEjercicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AmortizacionEjercicio)
            @Html.ValidationMessageFor(model => model.AmortizacionEjercicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AmortizacionEjercicioActualizada)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AmortizacionEjercicioActualizada)
            @Html.ValidationMessageFor(model => model.AmortizacionEjercicioActualizada)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AmortizacionesAcumuladas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AmortizacionesAcumuladas)
            @Html.ValidationMessageFor(model => model.AmortizacionesAcumuladas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AmortizacionesAcumuladasActualizada)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AmortizacionesAcumuladasActualizada)
            @Html.ValidationMessageFor(model => model.AmortizacionesAcumuladasActualizada)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VidaUtilImpositivaRestante)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VidaUtilImpositivaRestante)
            @Html.ValidationMessageFor(model => model.VidaUtilImpositivaRestante)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VidaUtilContableRestante)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VidaUtilContableRestante)
            @Html.ValidationMessageFor(model => model.VidaUtilContableRestante)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaPrimeraAmortizacionImpositiva)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaPrimeraAmortizacionImpositiva)
            @Html.ValidationMessageFor(model => model.FechaPrimeraAmortizacionImpositiva)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaPrimeraAmortizacionContable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaPrimeraAmortizacionContable)
            @Html.ValidationMessageFor(model => model.FechaPrimeraAmortizacionContable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUbicacionActivoFijo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdUbicacionActivoFijo)
            @Html.ValidationMessageFor(model => model.IdUbicacionActivoFijo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdSector)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdSector)
            @Html.ValidationMessageFor(model => model.IdSector)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaBajaAmortizacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaBajaAmortizacion)
            @Html.ValidationMessageFor(model => model.FechaBajaAmortizacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParaMantenimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParaMantenimiento)
            @Html.ValidationMessageFor(model => model.ParaMantenimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUnidadLecturaMantenimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdUnidadLecturaMantenimiento)
            @Html.ValidationMessageFor(model => model.IdUnidadLecturaMantenimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LecturaAcumulada)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LecturaAcumulada)
            @Html.ValidationMessageFor(model => model.LecturaAcumulada)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LecturaBase)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LecturaBase)
            @Html.ValidationMessageFor(model => model.LecturaBase)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UltimaLectura)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UltimaLectura)
            @Html.ValidationMessageFor(model => model.UltimaLectura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaUltimaLectura)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaUltimaLectura)
            @Html.ValidationMessageFor(model => model.FechaUltimaLectura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstimadoAnual)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstimadoAnual)
            @Html.ValidationMessageFor(model => model.EstimadoAnual)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroInventario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroInventario)
            @Html.ValidationMessageFor(model => model.NumeroInventario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModeloMotor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModeloMotor)
            @Html.ValidationMessageFor(model => model.ModeloMotor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EquipoEnObra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EquipoEnObra)
            @Html.ValidationMessageFor(model => model.EquipoEnObra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoEquipo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstadoEquipo)
            @Html.ValidationMessageFor(model => model.EstadoEquipo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EsConsumible)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EsConsumible)
            @Html.ValidationMessageFor(model => model.EsConsumible)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaUltimaModificacionArticulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaUltimaModificacionArticulo)
            @Html.ValidationMessageFor(model => model.FechaUltimaModificacionArticulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EntidadOrigen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EntidadOrigen)
            @Html.ValidationMessageFor(model => model.EntidadOrigen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ComprobanteCompra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ComprobanteCompra)
            @Html.ValidationMessageFor(model => model.ComprobanteCompra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModeloEspecifico)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModeloEspecifico)
            @Html.ValidationMessageFor(model => model.ModeloEspecifico)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroPatente)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroPatente)
            @Html.ValidationMessageFor(model => model.NumeroPatente)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroMotor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroMotor)
            @Html.ValidationMessageFor(model => model.NumeroMotor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroChasis)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroChasis)
            @Html.ValidationMessageFor(model => model.NumeroChasis)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AñoFabricacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AñoFabricacion)
            @Html.ValidationMessageFor(model => model.AñoFabricacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AñosAmortizacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AñosAmortizacion)
            @Html.ValidationMessageFor(model => model.AñosAmortizacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AñoAlta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AñoAlta)
            @Html.ValidationMessageFor(model => model.AñoAlta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Caracteristicas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Caracteristicas)
            @Html.ValidationMessageFor(model => model.Caracteristicas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroGarantia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroGarantia)
            @Html.ValidationMessageFor(model => model.NumeroGarantia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaCaducidadGarantia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaCaducidadGarantia)
            @Html.ValidationMessageFor(model => model.FechaCaducidadGarantia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipoCoberturaSeguro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TipoCoberturaSeguro)
            @Html.ValidationMessageFor(model => model.TipoCoberturaSeguro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroPolizaSeguro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroPolizaSeguro)
            @Html.ValidationMessageFor(model => model.NumeroPolizaSeguro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompañiaSeguro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompañiaSeguro)
            @Html.ValidationMessageFor(model => model.CompañiaSeguro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaVigenciaSeguro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaVigenciaSeguro)
            @Html.ValidationMessageFor(model => model.FechaVigenciaSeguro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaVencimientoVerificacionTecnica)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaVencimientoVerificacionTecnica)
            @Html.ValidationMessageFor(model => model.FechaVencimientoVerificacionTecnica)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CalculaAmortizacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CalculaAmortizacion)
            @Html.ValidationMessageFor(model => model.CalculaAmortizacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UltimoRevaluoContable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UltimoRevaluoContable)
            @Html.ValidationMessageFor(model => model.UltimoRevaluoContable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaUltimoRevaluo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaUltimoRevaluo)
            @Html.ValidationMessageFor(model => model.FechaUltimoRevaluo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodigoLoteo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CodigoLoteo)
            @Html.ValidationMessageFor(model => model.CodigoLoteo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Adrema)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Adrema)
            @Html.ValidationMessageFor(model => model.Adrema)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observaciones)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Observaciones)
            @Html.ValidationMessageFor(model => model.Observaciones)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConsumoStandarCombustible)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConsumoStandarCombustible)
            @Html.ValidationMessageFor(model => model.ConsumoStandarCombustible)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UbicacionActivoFijo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UbicacionActivoFijo)
            @Html.ValidationMessageFor(model => model.UbicacionActivoFijo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CalculaValorActualizado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CalculaValorActualizado)
            @Html.ValidationMessageFor(model => model.CalculaValorActualizado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParaPRONTO_MANTENIMIENTO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParaPRONTO_MANTENIMIENTO)
            @Html.ValidationMessageFor(model => model.ParaPRONTO_MANTENIMIENTO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PosicionAduana)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PosicionAduana)
            @Html.ValidationMessageFor(model => model.PosicionAduana)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Alquilado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Alquilado)
            @Html.ValidationMessageFor(model => model.Alquilado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdMarcaMotor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdMarcaMotor)
            @Html.ValidationMessageFor(model => model.IdMarcaMotor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroSerieMotor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroSerieMotor)
            @Html.ValidationMessageFor(model => model.NumeroSerieMotor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VidaUtilTecnica)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VidaUtilTecnica)
            @Html.ValidationMessageFor(model => model.VidaUtilTecnica)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValorCompra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValorCompra)
            @Html.ValidationMessageFor(model => model.ValorCompra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdMonedaCompra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdMonedaCompra)
            @Html.ValidationMessageFor(model => model.IdMonedaCompra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaBaja)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaBaja)
            @Html.ValidationMessageFor(model => model.FechaBaja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentoAlta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DocumentoAlta)
            @Html.ValidationMessageFor(model => model.DocumentoAlta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentoBaja)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DocumentoBaja)
            @Html.ValidationMessageFor(model => model.DocumentoBaja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdArticuloAsociado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdArticuloAsociado)
            @Html.ValidationMessageFor(model => model.IdArticuloAsociado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegistroUnicoTransporteAutomotor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegistroUnicoTransporteAutomotor)
            @Html.ValidationMessageFor(model => model.RegistroUnicoTransporteAutomotor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TieneGPS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TieneGPS)
            @Html.ValidationMessageFor(model => model.TieneGPS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CondicionActual)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CondicionActual)
            @Html.ValidationMessageFor(model => model.CondicionActual)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SituacionActual)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SituacionActual)
            @Html.ValidationMessageFor(model => model.SituacionActual)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activo)
            @Html.ValidationMessageFor(model => model.Activo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar1)
            @Html.ValidationMessageFor(model => model.Auxiliar1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar2)
            @Html.ValidationMessageFor(model => model.Auxiliar2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar3)
            @Html.ValidationMessageFor(model => model.Auxiliar3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar4)
            @Html.ValidationMessageFor(model => model.Auxiliar4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar5)
            @Html.ValidationMessageFor(model => model.Auxiliar5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar6)
            @Html.ValidationMessageFor(model => model.Auxiliar6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar7)
            @Html.ValidationMessageFor(model => model.Auxiliar7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar8)
            @Html.ValidationMessageFor(model => model.Auxiliar8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar9)
            @Html.ValidationMessageFor(model => model.Auxiliar9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar10)
            @Html.ValidationMessageFor(model => model.Auxiliar10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar11)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar11)
            @Html.ValidationMessageFor(model => model.Auxiliar11)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar12)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar12)
            @Html.ValidationMessageFor(model => model.Auxiliar12)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar13)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar13)
            @Html.ValidationMessageFor(model => model.Auxiliar13)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar14)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar14)
            @Html.ValidationMessageFor(model => model.Auxiliar14)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar15)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar15)
            @Html.ValidationMessageFor(model => model.Auxiliar15)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar16)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar16)
            @Html.ValidationMessageFor(model => model.Auxiliar16)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar17)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar17)
            @Html.ValidationMessageFor(model => model.Auxiliar17)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar18)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar18)
            @Html.ValidationMessageFor(model => model.Auxiliar18)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar19)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar19)
            @Html.ValidationMessageFor(model => model.Auxiliar19)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar20)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar20)
            @Html.ValidationMessageFor(model => model.Auxiliar20)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar21)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar21)
            @Html.ValidationMessageFor(model => model.Auxiliar21)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar22)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar22)
            @Html.ValidationMessageFor(model => model.Auxiliar22)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar23)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar23)
            @Html.ValidationMessageFor(model => model.Auxiliar23)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar24)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar24)
            @Html.ValidationMessageFor(model => model.Auxiliar24)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Auxiliar25)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Auxiliar25)
            @Html.ValidationMessageFor(model => model.Auxiliar25)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarString1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarString1)
            @Html.ValidationMessageFor(model => model.AuxiliarString1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarString2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarString2)
            @Html.ValidationMessageFor(model => model.AuxiliarString2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarString3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarString3)
            @Html.ValidationMessageFor(model => model.AuxiliarString3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarString4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarString4)
            @Html.ValidationMessageFor(model => model.AuxiliarString4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarString5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarString5)
            @Html.ValidationMessageFor(model => model.AuxiliarString5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarString6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarString6)
            @Html.ValidationMessageFor(model => model.AuxiliarString6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarString7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarString7)
            @Html.ValidationMessageFor(model => model.AuxiliarString7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarString8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarString8)
            @Html.ValidationMessageFor(model => model.AuxiliarString8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarString9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarString9)
            @Html.ValidationMessageFor(model => model.AuxiliarString9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarString10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarString10)
            @Html.ValidationMessageFor(model => model.AuxiliarString10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodigoAlternativo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CodigoAlternativo)
            @Html.ValidationMessageFor(model => model.CodigoAlternativo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCuentaCompras)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCuentaCompras)
            @Html.ValidationMessageFor(model => model.IdCuentaCompras)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StockReposicion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StockReposicion)
            @Html.ValidationMessageFor(model => model.StockReposicion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MarcaStock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MarcaStock)
            @Html.ValidationMessageFor(model => model.MarcaStock)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CostoInicial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostoInicial)
            @Html.ValidationMessageFor(model => model.CostoInicial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConsumirPorOT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConsumirPorOT)
            @Html.ValidationMessageFor(model => model.ConsumirPorOT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTransportista)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdTransportista)
            @Html.ValidationMessageFor(model => model.IdTransportista)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoEquipo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdTipoEquipo)
            @Html.ValidationMessageFor(model => model.IdTipoEquipo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Replica)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Replica)
            @Html.ValidationMessageFor(model => model.Replica)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdPresupuestoObraRubro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdPresupuestoObraRubro)
            @Html.ValidationMessageFor(model => model.IdPresupuestoObraRubro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoArticulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdTipoArticulo)
            @Html.ValidationMessageFor(model => model.IdTipoArticulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaUltimoCostoReposicion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaUltimoCostoReposicion)
            @Html.ValidationMessageFor(model => model.FechaUltimoCostoReposicion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ADistribuirEnPresupuestoDeObra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ADistribuirEnPresupuestoDeObra)
            @Html.ValidationMessageFor(model => model.ADistribuirEnPresupuestoDeObra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCuentaComprasActivo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCuentaComprasActivo)
            @Html.ValidationMessageFor(model => model.IdCuentaComprasActivo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarNumerico1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarNumerico1)
            @Html.ValidationMessageFor(model => model.AuxiliarNumerico1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarNumerico2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarNumerico2)
            @Html.ValidationMessageFor(model => model.AuxiliarNumerico2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarNumerico3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarNumerico3)
            @Html.ValidationMessageFor(model => model.AuxiliarNumerico3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarNumerico4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarNumerico4)
            @Html.ValidationMessageFor(model => model.AuxiliarNumerico4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuxiliarNumerico5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuxiliarNumerico5)
            @Html.ValidationMessageFor(model => model.AuxiliarNumerico5)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>
