﻿@model ProntoMVC.Data.Models.Articulo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Articulo</legend>

    <div class="display-label">IdArticulo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdArticulo)
    </div>

    <div class="display-label">IdRubro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdRubro)
    </div>

    <div class="display-label">IdSubrubro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSubrubro)
    </div>

    <div class="display-label">IdFamilia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdFamilia)
    </div>

    <div class="display-label">Descripcion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">Productivo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Productivo)
    </div>

    <div class="display-label">Ancho</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ancho)
    </div>

    <div class="display-label">IdCalidad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCalidad)
    </div>

    <div class="display-label">Diametro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Diametro)
    </div>

    <div class="display-label">Espesor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Espesor)
    </div>

    <div class="display-label">IdGrado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdGrado)
    </div>

    <div class="display-label">Largo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Largo)
    </div>

    <div class="display-label">IdMaterial</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdMaterial)
    </div>

    <div class="display-label">IdAcabado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdAcabado)
    </div>

    <div class="display-label">IdTipo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdTipo)
    </div>

    <div class="display-label">Serie</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Serie)
    </div>

    <div class="display-label">IdTratamiento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdTratamiento)
    </div>

    <div class="display-label">Unidad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad.Descripcion)
    </div>

    <div class="display-label">Autorizacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Autorizacion)
    </div>

    <div class="display-label">IdInventario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdInventario)
    </div>

    <div class="display-label">IdCuenta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCuenta)
    </div>

    <div class="display-label">IdScheduler</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdScheduler)
    </div>

    <div class="display-label">Unidad1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad1)
    </div>

    <div class="display-label">Unidad2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad2)
    </div>

    <div class="display-label">Unidad3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad3)
    </div>

    <div class="display-label">Unidad4</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad4)
    </div>

    <div class="display-label">Unidad5</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad5)
    </div>

    <div class="display-label">Unidad6</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad6)
    </div>

    <div class="display-label">Unidad7</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad7)
    </div>

    <div class="display-label">Unidad8</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad8)
    </div>

    <div class="display-label">Unidad9</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad9)
    </div>

    <div class="display-label">Unidad10</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad10)
    </div>

    <div class="display-label">Peso</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Peso)
    </div>

    <div class="display-label">DiametroInterno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiametroInterno)
    </div>

    <div class="display-label">IdCodigoUniversal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCodigoUniversal)
    </div>

    <div class="display-label">IdRelacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdRelacion)
    </div>

    <div class="display-label">IdForma</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdForma)
    </div>

    <div class="display-label">IdSerie</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSerie)
    </div>

    <div class="display-label">Altura</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Altura)
    </div>

    <div class="display-label">Diametro2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Diametro2)
    </div>

    <div class="display-label">IdColor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdColor)
    </div>

    <div class="display-label">IdNorma</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdNorma)
    </div>

    <div class="display-label">Capacidad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capacidad)
    </div>

    <div class="display-label">Potencia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Potencia)
    </div>

    <div class="display-label">IdRango</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdRango)
    </div>

    <div class="display-label">IdAlimentacionElectrica</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdAlimentacionElectrica)
    </div>

    <div class="display-label">IdModelo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdModelo)
    </div>

    <div class="display-label">IdMarca</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdMarca)
    </div>

    <div class="display-label">IdAnioNorma</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdAnioNorma)
    </div>

    <div class="display-label">Unidad11</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad11)
    </div>

    <div class="display-label">Unidad12</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad12)
    </div>

    <div class="display-label">Unidad13</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad13)
    </div>

    <div class="display-label">Unidad14</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad14)
    </div>

    <div class="display-label">Unidad15</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad15)
    </div>

    <div class="display-label">IdCuantificacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCuantificacion)
    </div>

    <div class="display-label">IdControlCalidad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdControlCalidad)
    </div>

    <div class="display-label">IdCodigo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCodigo)
    </div>

    <div class="display-label">Charpy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Charpy)
    </div>

    <div class="display-label">IdCentroCosto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCentroCosto)
    </div>

    <div class="display-label">UsuarioAlta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsuarioAlta)
    </div>

    <div class="display-label">FechaAlta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaAlta)
    </div>

    <div class="display-label">FechaUltimaModificacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaUltimaModificacion)
    </div>

    <div class="display-label">EspesorBase</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EspesorBase)
    </div>

    <div class="display-label">EspesorRevestimiento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EspesorRevestimiento)
    </div>

    <div class="display-label">IdCalidadBase</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCalidadBase)
    </div>

    <div class="display-label">IdCalidadRevestimiento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCalidadRevestimiento)
    </div>

    <div class="display-label">IdGradoBase</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdGradoBase)
    </div>

    <div class="display-label">IdGradoRevestimiento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdGradoRevestimiento)
    </div>

    <div class="display-label">IdBiselado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdBiselado)
    </div>

    <div class="display-label">IdCalidadClad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCalidadClad)
    </div>

    <div class="display-label">IdTipoRosca</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdTipoRosca)
    </div>

    <div class="display-label">IdDensidad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdDensidad)
    </div>

    <div class="display-label">Rpm</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rpm)
    </div>

    <div class="display-label">Datos1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datos1)
    </div>

    <div class="display-label">Datos2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datos2)
    </div>

    <div class="display-label">Datos3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datos3)
    </div>

    <div class="display-label">Datos4</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datos4)
    </div>

    <div class="display-label">Datos5</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datos5)
    </div>

    <div class="display-label">Datos6</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datos6)
    </div>

    <div class="display-label">Datos7</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datos7)
    </div>

    <div class="display-label">Datos8</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datos8)
    </div>

    <div class="display-label">Datos9</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datos9)
    </div>

    <div class="display-label">Datos10</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datos10)
    </div>

    <div class="display-label">Unidad16</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad16)
    </div>

    <div class="display-label">Unidad17</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad17)
    </div>

    <div class="display-label">Unidad18</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad18)
    </div>

    <div class="display-label">Unidad19</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad19)
    </div>

    <div class="display-label">Unidad20</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unidad20)
    </div>

    <div class="display-label">EnviarEmail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnviarEmail)
    </div>

    <div class="display-label">Codigo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>

    <div class="display-label">RegistrarStock</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrarStock)
    </div>

    <div class="display-label">StockMinimo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StockMinimo)
    </div>

    <div class="display-label">DefineKit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DefineKit)
    </div>

    <div class="display-label">CostoPPP</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CostoPPP)
    </div>

    <div class="display-label">AlicuotaIVA</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlicuotaIVA)
    </div>

    <div class="display-label">CostoPPPDolar</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CostoPPPDolar)
    </div>

    <div class="display-label">IdUbicacionStandar</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdUbicacionStandar)
    </div>

    <div class="display-label">CostoReposicion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CostoReposicion)
    </div>

    <div class="display-label">CostoReposicionDolar</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CostoReposicionDolar)
    </div>

    <div class="display-label">Direccion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">IdLocalidad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdLocalidad)
    </div>

    <div class="display-label">IdProvincia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdProvincia)
    </div>

    <div class="display-label">IdPais</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdPais)
    </div>

    <div class="display-label">CodigoPostal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodigoPostal)
    </div>

    <div class="display-label">NumeroManzana</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroManzana)
    </div>

    <div class="display-label">NumeroLote</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroLote)
    </div>

    <div class="display-label">ActivoFijo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivoFijo)
    </div>

    <div class="display-label">EstadoActivoFijo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoActivoFijo)
    </div>

    <div class="display-label">NumeroActivoFijo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroActivoFijo)
    </div>

    <div class="display-label">IdGrupoActivoFijo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdGrupoActivoFijo)
    </div>

    <div class="display-label">BienImpositivo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BienImpositivo)
    </div>

    <div class="display-label">BienContable</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BienContable)
    </div>

    <div class="display-label">Amortiza</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amortiza)
    </div>

    <div class="display-label">FechaCompra</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCompra)
    </div>

    <div class="display-label">IdCuentaAmortizacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCuentaAmortizacion)
    </div>

    <div class="display-label">VidaUtilImpositiva</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VidaUtilImpositiva)
    </div>

    <div class="display-label">VidaUtilContable</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VidaUtilContable)
    </div>

    <div class="display-label">ValorOrigenContable</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorOrigenContable)
    </div>

    <div class="display-label">ValorOrigenImpositivo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorOrigenImpositivo)
    </div>

    <div class="display-label">ValorActualizado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorActualizado)
    </div>

    <div class="display-label">ValorResidual</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorResidual)
    </div>

    <div class="display-label">ValorResidualActualizado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorResidualActualizado)
    </div>

    <div class="display-label">AmortizacionEjercicio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AmortizacionEjercicio)
    </div>

    <div class="display-label">AmortizacionEjercicioActualizada</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AmortizacionEjercicioActualizada)
    </div>

    <div class="display-label">AmortizacionesAcumuladas</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AmortizacionesAcumuladas)
    </div>

    <div class="display-label">AmortizacionesAcumuladasActualizada</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AmortizacionesAcumuladasActualizada)
    </div>

    <div class="display-label">VidaUtilImpositivaRestante</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VidaUtilImpositivaRestante)
    </div>

    <div class="display-label">VidaUtilContableRestante</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VidaUtilContableRestante)
    </div>

    <div class="display-label">FechaPrimeraAmortizacionImpositiva</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaPrimeraAmortizacionImpositiva)
    </div>

    <div class="display-label">FechaPrimeraAmortizacionContable</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaPrimeraAmortizacionContable)
    </div>

    <div class="display-label">IdUbicacionActivoFijo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdUbicacionActivoFijo)
    </div>

    <div class="display-label">IdSector</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSector)
    </div>

    <div class="display-label">FechaBajaAmortizacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaBajaAmortizacion)
    </div>

    <div class="display-label">ParaMantenimiento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParaMantenimiento)
    </div>

    <div class="display-label">IdUnidadLecturaMantenimiento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdUnidadLecturaMantenimiento)
    </div>

    <div class="display-label">LecturaAcumulada</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LecturaAcumulada)
    </div>

    <div class="display-label">LecturaBase</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LecturaBase)
    </div>

    <div class="display-label">UltimaLectura</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UltimaLectura)
    </div>

    <div class="display-label">FechaUltimaLectura</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaUltimaLectura)
    </div>

    <div class="display-label">EstimadoAnual</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimadoAnual)
    </div>

    <div class="display-label">NumeroInventario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroInventario)
    </div>

    <div class="display-label">ModeloMotor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModeloMotor)
    </div>

    <div class="display-label">EquipoEnObra</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EquipoEnObra)
    </div>

    <div class="display-label">EstadoEquipo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoEquipo)
    </div>

    <div class="display-label">EsConsumible</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EsConsumible)
    </div>

    <div class="display-label">FechaUltimaModificacionArticulo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaUltimaModificacionArticulo)
    </div>

    <div class="display-label">EntidadOrigen</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EntidadOrigen)
    </div>

    <div class="display-label">ComprobanteCompra</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ComprobanteCompra)
    </div>

    <div class="display-label">ModeloEspecifico</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModeloEspecifico)
    </div>

    <div class="display-label">NumeroPatente</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroPatente)
    </div>

    <div class="display-label">NumeroMotor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroMotor)
    </div>

    <div class="display-label">NumeroChasis</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroChasis)
    </div>

    <div class="display-label">AñoFabricacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AñoFabricacion)
    </div>

    <div class="display-label">AñosAmortizacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AñosAmortizacion)
    </div>

    <div class="display-label">AñoAlta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AñoAlta)
    </div>

    <div class="display-label">Caracteristicas</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Caracteristicas)
    </div>

    <div class="display-label">NumeroGarantia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroGarantia)
    </div>

    <div class="display-label">FechaCaducidadGarantia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCaducidadGarantia)
    </div>

    <div class="display-label">TipoCoberturaSeguro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoCoberturaSeguro)
    </div>

    <div class="display-label">NumeroPolizaSeguro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroPolizaSeguro)
    </div>

    <div class="display-label">CompañiaSeguro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompañiaSeguro)
    </div>

    <div class="display-label">FechaVigenciaSeguro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaVigenciaSeguro)
    </div>

    <div class="display-label">FechaVencimientoVerificacionTecnica</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaVencimientoVerificacionTecnica)
    </div>

    <div class="display-label">CalculaAmortizacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CalculaAmortizacion)
    </div>

    <div class="display-label">UltimoRevaluoContable</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UltimoRevaluoContable)
    </div>

    <div class="display-label">FechaUltimoRevaluo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaUltimoRevaluo)
    </div>

    <div class="display-label">CodigoLoteo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodigoLoteo)
    </div>

    <div class="display-label">Adrema</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adrema)
    </div>

    <div class="display-label">Observaciones</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Observaciones)
    </div>

    <div class="display-label">ConsumoStandarCombustible</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConsumoStandarCombustible)
    </div>

    <div class="display-label">UbicacionActivoFijo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UbicacionActivoFijo)
    </div>

    <div class="display-label">CalculaValorActualizado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CalculaValorActualizado)
    </div>

    <div class="display-label">ParaPRONTO_MANTENIMIENTO</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParaPRONTO_MANTENIMIENTO)
    </div>

    <div class="display-label">PosicionAduana</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PosicionAduana)
    </div>

    <div class="display-label">Alquilado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Alquilado)
    </div>

    <div class="display-label">IdMarcaMotor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdMarcaMotor)
    </div>

    <div class="display-label">NumeroSerieMotor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroSerieMotor)
    </div>

    <div class="display-label">VidaUtilTecnica</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VidaUtilTecnica)
    </div>

    <div class="display-label">ValorCompra</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorCompra)
    </div>

    <div class="display-label">IdMonedaCompra</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdMonedaCompra)
    </div>

    <div class="display-label">FechaBaja</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaBaja)
    </div>

    <div class="display-label">DocumentoAlta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentoAlta)
    </div>

    <div class="display-label">DocumentoBaja</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentoBaja)
    </div>

    <div class="display-label">IdArticuloAsociado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdArticuloAsociado)
    </div>

    <div class="display-label">RegistroUnicoTransporteAutomotor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistroUnicoTransporteAutomotor)
    </div>

    <div class="display-label">TieneGPS</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TieneGPS)
    </div>

    <div class="display-label">CondicionActual</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CondicionActual)
    </div>

    <div class="display-label">SituacionActual</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SituacionActual)
    </div>

    <div class="display-label">Activo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activo)
    </div>

    <div class="display-label">Auxiliar1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar1)
    </div>

    <div class="display-label">Auxiliar2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar2)
    </div>

    <div class="display-label">Auxiliar3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar3)
    </div>

    <div class="display-label">Auxiliar4</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar4)
    </div>

    <div class="display-label">Auxiliar5</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar5)
    </div>

    <div class="display-label">Auxiliar6</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar6)
    </div>

    <div class="display-label">Auxiliar7</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar7)
    </div>

    <div class="display-label">Auxiliar8</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar8)
    </div>

    <div class="display-label">Auxiliar9</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar9)
    </div>

    <div class="display-label">Auxiliar10</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar10)
    </div>

    <div class="display-label">Auxiliar11</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar11)
    </div>

    <div class="display-label">Auxiliar12</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar12)
    </div>

    <div class="display-label">Auxiliar13</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar13)
    </div>

    <div class="display-label">Auxiliar14</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar14)
    </div>

    <div class="display-label">Auxiliar15</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar15)
    </div>

    <div class="display-label">Auxiliar16</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar16)
    </div>

    <div class="display-label">Auxiliar17</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar17)
    </div>

    <div class="display-label">Auxiliar18</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar18)
    </div>

    <div class="display-label">Auxiliar19</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar19)
    </div>

    <div class="display-label">Auxiliar20</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar20)
    </div>

    <div class="display-label">Auxiliar21</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar21)
    </div>

    <div class="display-label">Auxiliar22</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar22)
    </div>

    <div class="display-label">Auxiliar23</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar23)
    </div>

    <div class="display-label">Auxiliar24</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar24)
    </div>

    <div class="display-label">Auxiliar25</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auxiliar25)
    </div>

    <div class="display-label">AuxiliarString1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarString1)
    </div>

    <div class="display-label">AuxiliarString2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarString2)
    </div>

    <div class="display-label">AuxiliarString3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarString3)
    </div>

    <div class="display-label">AuxiliarString4</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarString4)
    </div>

    <div class="display-label">AuxiliarString5</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarString5)
    </div>

    <div class="display-label">AuxiliarString6</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarString6)
    </div>

    <div class="display-label">AuxiliarString7</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarString7)
    </div>

    <div class="display-label">AuxiliarString8</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarString8)
    </div>

    <div class="display-label">AuxiliarString9</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarString9)
    </div>

    <div class="display-label">AuxiliarString10</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarString10)
    </div>

    <div class="display-label">CodigoAlternativo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodigoAlternativo)
    </div>

    <div class="display-label">IdCuentaCompras</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCuentaCompras)
    </div>

    <div class="display-label">StockReposicion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StockReposicion)
    </div>

    <div class="display-label">MarcaStock</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MarcaStock)
    </div>

    <div class="display-label">CostoInicial</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CostoInicial)
    </div>

    <div class="display-label">ConsumirPorOT</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConsumirPorOT)
    </div>

    <div class="display-label">IdTransportista</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdTransportista)
    </div>

    <div class="display-label">IdTipoEquipo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdTipoEquipo)
    </div>

    <div class="display-label">Replica</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Replica)
    </div>

    <div class="display-label">IdPresupuestoObraRubro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdPresupuestoObraRubro)
    </div>

    <div class="display-label">IdTipoArticulo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdTipoArticulo)
    </div>

    <div class="display-label">FechaUltimoCostoReposicion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaUltimoCostoReposicion)
    </div>

    <div class="display-label">ADistribuirEnPresupuestoDeObra</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADistribuirEnPresupuestoDeObra)
    </div>

    <div class="display-label">IdCuentaComprasActivo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCuentaComprasActivo)
    </div>

    <div class="display-label">AuxiliarNumerico1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarNumerico1)
    </div>

    <div class="display-label">AuxiliarNumerico2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarNumerico2)
    </div>

    <div class="display-label">AuxiliarNumerico3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarNumerico3)
    </div>

    <div class="display-label">AuxiliarNumerico4</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarNumerico4)
    </div>

    <div class="display-label">AuxiliarNumerico5</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuxiliarNumerico5)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Volver al listado", "Index")
    </p>
}
