﻿@model ProntoMVC.Data.Models.Articulo
@{
    ViewBag.Title = "Artículo";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{

    <script src="@Url.Content("~/Scripts/jsArticulo.js?1500")" type="text/javascript">  </script> // es VITAL poner el tag de cierre separado!!! si pones:  ...... type="text/javascript" />  estas frito!!!!!!
    // hay que poner un ? con numero de version para refrescar el javascript  http://stackoverflow.com/questions/32414/how-can-i-force-clients-to-refresh-javascript-files
    // o F12 en Chrome?
    // http://stackoverflow.com/questions/7078953/how-to-force-chromes-script-debugger-to-reload-javascript
    // http://superuser.com/questions/220179/how-can-i-do-a-cache-refresh-in-google-chrome



    <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100% ">

                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; padding-left: 25px; padding-right: 25px; overflow-x: hidden;">


                    <div class="modal" id="loading">
                        <img src="@Url.Content(" ~ />Content/images/fhhrx.gif")" style="margin-right: 5px;" />
                        Cargando...
                    </div>

                    <div class="row-fluid" style="">
                        <br />
                        <div class="" style='font-size: 34px; margin-top: 5px; height: 45px; font-weight: 400;
                text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
                            Artículo
                            @Html.DisplayFor(model => model.Descripcion, new { style = "height: 45px ; font-weight: bold; font-size: 34px; border: 0; padding: 0; background: transparent;", @class = "", @readonly = "readonly" })
                        </div>
                    </div>
                    @Html.ValidationSummary(true)
                    <div>@Html.HiddenFor(model => model.IdArticulo)</div>


                    <div class="row-fluid">

                        <div class="span8 lightblue">
                            @Html.LabelFor(model => model.Descripcion, "Descripción")
                            @Html.TextBoxFor(model => model.Descripcion, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Descripcion)
                        </div>
                    </div>

                    @*<div class="row-fluid">
                            <div class="span2 lightblue">
                                @Html.LabelFor(model => model.Codigo, "Código")
                                @Html.TextBoxFor(model => model.Codigo, new { @class = "span12" })
                                @Html.ValidationMessageFor(model => model.Codigo)
                            </div>
                            <div class="span2 lightblue">
                                @Html.LabelFor(model => model.AlicuotaIVA, "Alicuota IVA")
                                @Html.TextBoxFor(model => model.AlicuotaIVA, new { @class = "span12" })
                                @Html.ValidationMessageFor(model => model.AlicuotaIVA)
                            </div>

                            <div class="span2 lightblue">
                                @Html.LabelFor(model => model.CostoReposicion, "Costo Reposición")
                                @Html.TextBoxFor(model => model.Descripcion, new { @class = "span12" })
                                @Html.ValidationMessageFor(model => model.Descripcion)
                            </div>
                            <div class="span2 lightblue">
                                @Html.LabelFor(model => model.IdUnidad, "Unidad")
                                @Html.DropDownList("IdUnidad", null, "", new { @class = "span12" })
                                @Html.ValidationMessageFor(model => model.IdUnidad)
                            </div>
                        </div>*@







                    <div class="row-fluid">
                        <div class="span4 lightblue">
                            @*                // verificar que pongo el cuarto parametro de SelectList que elige el item del combo *@
                            @Html.LabelFor(model => model.IdRubro, "Rubro")
                            @Html.DropDownList("IdRubro", null, "", new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.IdRubro)
                            <script>
                                $(function () {
                                    $('#IdRubro').change(function () {
                                        //ActualizarPuntoVenta();
                                        RefrescarM();
                                    });

                                });

                            </script>
                        </div>
                        <div class="span4 lightblue">
                            @Html.LabelFor(model => model.IdSubrubro, "Subrubro")
                            @Html.DropDownList("IdSubrubro", null, "", new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.IdSubrubro)
                            @*<input type="button" id="refreshButton" value="Refrescar" class="btn btn-link" />*@
                            <script>
                            $(function () {
                                $("#IdSubrubro").change(function () {
                                    //                            $("#DataTypeOptions").load('<%= Url.Action( "GetDataTypeOptions" ) %>?dataType=' + $(this).val());
                                    RefrescarM();
                                });
                            });
                            </script>
                            @*  @Html.ActionLink("Refrescar", "RefrescarMascara", null, new { @class = "btn btn-link" })*@
                            <script>
                            $('#refreshButton').click(function () {
                                RefrescarM();
                            });

                            function RefrescarM() {
                                var o = {
                                    IdRubro: $("#IdRubro").val(),
                                    IdSubrubro: $("#IdSubrubro").val()
                                };


                                $.ajax({
                                    url: ROOT + 'Articulo/RefrescarMascara',
                                    data: o,
                                    datatype: 'html',
                                    success: function (data) {
                                        $('#post_comments').empty().html(data);
                                    },


                                    beforeSend: function () {
                                        $("#loading").show();
                                    },
                                    complete: function () {
                                        $("#loading").hide();
                                    }
                                });


                            }




                            </script>
                        </div>
                    </div>
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a href="#red" data-toggle="tab">Sección 1</a></li>
                        @*
                            <li><a href="#contactos" data-toggle="tab">Sección 2</a></li>
                            <li><a href="#retenc" data-toggle="tab">Sección 3</a></li>
                        *@
                    </ul>
                    @*<div class="alert">
                            Allllllllll
                            @Html.Raw(ViewBag.Errores)
                            <button type="button" class="close" data-dismiss="alert">
                                &times;
                            </button>
                        </div>*@
                    <div id="my-tab-content" class="tab-content " style="overflow: visible">
                        <div class="tab-pane active" id="red">
                            <div id="post_comments">
                                @Html.Partial("PartialMascara", Model)
                            </div>
                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @*  ////////////////////////////////////////////////////////////////////
                                        ////////////////////////////////////////////////////////////////////
                                        ////////////////////////////////////////////////////////////////////*@
                                    <table id="ListaDocumentos" class="scroll" cellpadding="0" cellspacing="0" style="width: 100%"></table>
                                    @*pinta que al no usar el tag de cierre separado se vuelve loco*@
                                    <div id="PagerDocumentos" class="scroll">
                                    </div>
                                    <input type="button" id="addDataDocumentos" class="btn btn-mini" value="Agregar item" />
                                    <input type="button" id="edtDataDocumentos" class="btn btn-mini" value="Modificar item" />
                                    <input type="button" id="delDataDocumentos" class="btn btn-mini" value="Borrar item" />
                                    @* ////////////////////////////////////////////////////////////////////
                                        ////////////////////////////////////////////////////////////////////
                                        ////////////////////////////////////////////////////////////////////
                                        ////////////////////////////////////////////////////////////////////*@
                                </div>
                                <!--/span-->
                                <div class="span4 lightblue">
                                    @*  ////////////////////////////////////////////////////////////////////
                                        ////////////////////////////////////////////////////////////////////
                                        ////////////////////////////////////////////////////////////////////*@
                                    <table id="ListaUnidades" class="scroll" cellpadding="0" cellspacing="0" style="width: 100%"></table>
                                    @*pinta que al no usar el tag de cierre separado se vuelve loco*@
                                    <div id="PagerUnidades" class="scroll">
                                    </div>
                                    <input type="button" id="addDataUnidades" class="btn btn-mini" value="Agregar item" />
                                    <input type="button" id="edtDataUnidades" class="btn btn-mini" value="Modificar item" />
                                    <input type="button" id="delDataUnidades" class="btn btn-mini" value="Borrar item" />
                                    @* ////////////////////////////////////////////////////////////////////
                                        ////////////////////////////////////////////////////////////////////
                                        ////////////////////////////////////////////////////////////////////
                                        ////////////////////////////////////////////////////////////////////*@
                                </div>
                                <!--/span-->
                            </div>
                        </div>
                        <div class="tab-pane" id="contactos">
                            secc 2
                            <hr />
                            <div class="row-fluid">
                                <div class="span6 lightblue">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="retenc">
                            secc 3
                            <hr />
                            <div class="row-fluid">
                                <div class="span6 lightblue">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row-fluid">
                        <div class="span12 lightblue">

                        </div>
                        <div id="progress" class="dialogContent" style="text-align: left; display: none;">
                            @* http://stackoverflow.com/questions/4015159/using-jquery-to-display-a-modal-please-wait-dialog-box-message*@
                            @*       <img src="../../global/style/default/images/ajax-loader.gif" style="margin-right: 5px;" />*@
                            <asp:literal id="literalPleaseWait" runat="server" text="Please wait..." />
                        </div>
                    </div>

                </div>

                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236); width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span4 pull-left">
                        </div>
                        <div class="span8 pull-right">
                            @if (Model.IdArticulo <= 0 || true)
                            {
                            <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary" />
                            @*<input type="button" id="grabarNormal" value="Guardar generico" class="btn btn-primary" />*@

                            }
                            else
                            {
                            <a class="btn btn-link" style="color: Black" href="@Url.Action(" imprimir", new { @id=Model.IdArticulo })">
                                <i class="icon-print"></i>&nbsp;Imprimir
                            </a>

                            if (Model.Activo != "SI")
                            {
                            <a class="btn btn-link" style="color: Black" href="@Url.Action(" anular", new { @id=Model.IdArticulo })">
                                <i class=""></i>&nbsp;Anular
                            </a>
                            }
                            @*@Html.ActionLink("Imprimir", "Imprimir", new { @id = Model.IdFactura }, new { @class = "btn btn-link" })
                                @Html.ActionLink("Borrar", "DeleteConfirmedDirecto", new { id = Model.IdFactura }, new { @class = "btn btn-link" }) *@
                            }
                            @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-link" })
                            @*<input type="button" id="anular" class="boton" value="Anular RM" />*@
                        </div>
                    </div>
                </div>

            </div>




        </form>
    </div>


    <script type="text/javascript">

        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();

            $("#conscroll").height($(window).height() - 120);
        });
    </script>
}
