﻿@model ProntoMVC.Data.Models.Articulo
@*@for (var themeIndex = 0; themeIndex < ViewBag.Mascara.Count(); themeIndex++)
    {    ProntoMVC.Data.Models.DefinicionArticulo prod = ViewBag.Mascara;
    }*@
@foreach (ProntoMVC.Data.Models.DefinicionArticulo prod in @ViewBag.Mascara)
{


    <div class="row-fluid">



        @if (prod.TablaCombo == null && prod.CampoSiNo != "SI")
        {
            <div class="span8 lightblue">
                @Html.Label(prod.Etiqueta)
                @Html.TextBox(prod.Campo, null, new { @class = "span12" })
            </div>
        }
        else if (prod.CampoSiNo == "SI" || prod.TablaCombo == "SiNo")
        {

            // es un checkbox
            <div class="span2 lightblue">

                @Html.Label(prod.Etiqueta)
                @Html.DropDownList(prod.Campo, null, new { @class = "span12" })

            </div>
        }
        else if (prod.TablaCombo != null)
        {
            try
            {
                <div class="span8 lightblue">
                    @Html.Label(prod.Etiqueta)
                    @Html.DropDownList(prod.Campo, null, new { @class = "span12" })
                </div>
            }
            catch (Exception)
            {

                // throw;
            }

        }

        @Html.ValidationMessage(prod.Campo)
    </div>
    
}