﻿@model ProntoMVC.ViewModels.ViewModelComprobanteProveedor
@{
    ViewBag.Title = "Comp Prov " + ((Model.IdComprobanteProveedor == -1) ? "Nuevo" : Model.NumeroReferencia.NullSafeToString());
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{





    @Html.ValidationSummary(true)

    @*http://stackoverflow.com/questions/32414/how-can-i-force-clients-to-refresh-javascript-files*@
    @*http://stackoverflow.com/questions/32414/how-can-i-force-clients-to-refresh-javascript-files*@
    @*http://stackoverflow.com/questions/32414/how-can-i-force-clients-to-refresh-javascript-files*@
    @*http://stackoverflow.com/questions/32414/how-can-i-force-clients-to-refresh-javascript-files*@
    <script src="@Url.Content("~/Scripts/ScriptComprobanteProveedor.js?1518")" type="text/javascript"></script>       @*aparentemente tengo que llamarla despues de cargar las div*@
    @*http://stackoverflow.com/questions/32414/how-can-i-force-clients-to-refresh-javascript-files*@
    @*http://stackoverflow.com/questions/32414/how-can-i-force-clients-to-refresh-javascript-files*@
    @*http://stackoverflow.com/questions/32414/how-can-i-force-clients-to-refresh-javascript-files*@
    @*http://stackoverflow.com/questions/32414/how-can-i-force-clients-to-refresh-javascript-files*@

    <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <div class="modal" id="loading">
            <img src="@Url.Content("~/Content/images/fhhrx.gif")" style="margin-right: 5px;" />
            Cargando...
        </div>
        <style>
            .container-fluid {
                padding-left: 0px; /*    margin-right: 15px; */
            }
        </style>
        <style>
            .ui-jqgrid tr.footrow-ltr td {
                border-right-color: transparent !important;
                border: 0 transparent !important;
            }
        </style>
        <style>
            .accordion-heading {
                /*   font-size: 25px !important;  */
            }

            /* http://stackoverflow.com/questions/13778703/adding-open-closed-icon-to-twitter-bootstrap-collapsibles-accordions */
            .accordion-caret .accordion-toggle:hover {
                text-decoration: none;
            }

                .accordion-caret .accordion-toggle:hover span, .accordion-caret .accordion-toggle:hover strong {
                    text-decoration: underline;
                }

            .accordion-caret .accordion-toggle:before {
                font-size: 20px;
                vertical-align: -3px;
            }

            .accordion-caret .accordion-toggle:not(.collapsed):before {
                content: "▾";
                margin-right: 0px;
            }

            .accordion-caret .accordion-toggle.collapsed:before {
                content: "▸";
                margin-right: 0px;
            }
        </style>

        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100%  " @*Height of the footer *@>
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll;
                padding-left: 25px; padding-right: 25px; overflow-x: hidden;">
                    @*  <legend>Solicitud de cotizacion</legend>*@
                    <div>@Html.Hidden("IdComprobanteProveedor", Model.IdComprobanteProveedor)</div>
                    <div>@Html.Hidden("IdProveedor", Model.IdProveedor)</div>
                    <br />


                    <div class="row-fluid">

                        @* <div class="span5 lightblue" style="font-weight: bold; font-size: 34px; vertical-align: "> *@
                        <div class="span8" style='font-size: 34px; margin-top: 5px; height: 45px; font-weight: 400;
                                    text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
                            Cpbte Prov
                            @Html.DisplayFor(model => model.NumeroReferencia, new { style = "height: 42px ; font-weight: bold; font-size: 34px; border: 0; padding: ; text-align: right; background: transparent; ", @class = "span4", @readonly = "readonly" })
                            @Html.Hidden("NumeroReferencia", Model.NumeroReferencia)
                            @*@Html.TextBoxFor(model => model.SubNumero, new { style = "height: 42px ; font-weight: bold; font-size: 34px; border: ; padding: ; background: ; width: 40px", @class = "" })*@
                        </div>
                        <div class="span4" style='font-size: 34px; margin-top: 5px; height: 45px; font-weight: 400;
                                    display: none; text-align: right; text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
                            @*   @Html.Display("TotalTitulo","4444") *@
                            <input type="text" name="Total" id="TotalTitulo"
                                   style="width: 200px; height: 42px; font-weight: 400; text-shadow: 0 1px 0  lightgray; font-size: 34px; border: 0; padding: ;
                                             text-align: right; background: transparent;  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Lucida', Tahoma, Arial,'sans-serif';  "
                                   readonly="readonly" value="@((Model.TotalComprobante ?? 0).ToString()) " />
                        </div>
                    </div>








                    <div class="accordion" id="accordion2">
                        <div class="accordion-group  accordion-caret " style="border: 0; padding: 0;">
                            <div class="accordion-heading" style="border: 0px; padding: 0px;">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"
                                   style="border: 0px; padding: 0px; color: #9C0000; font-size: 12px">
                                    ENCABEZADO
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in" style="border: 0px; padding: 0px;">


                                @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
                                @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
                                @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
                                @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@


                                <div class="accordion-inner" style="border: 0px; padding: 0px;">
                                    <div class="row-fluid">
                                        <div class="span2 lightblue" style="text-align: right;">
                                            @Html.LabelFor(model => model.IdTipoComprobante, "Tipo")
                                        </div>
                                        <div class="span3 lightblue">
                                            @Html.DropDownList("IdTipoComprobante", null, "Elija el tipo", new { @class = "span12" })
                                            @Html.ValidationMessageFor(model => model.IdTipoComprobante)
                                        </div>
                                        @* <div class="span2 lightblue">
                                                @Html.LabelFor(model => model.IdTipoComprobante, ".")
                                            </div>*@
                                        <div class="span2 lightblue">
                                            @*<select class="span12" id="MetaTipo">
                                                    <option selected="true">Cta Cte </option>
                                                    <option>Fondo fijo </option>
                                                    <option>Otros </option>
                                                </select>*@

                                            @*@Html.DropDownList("MetaTipo", new SelectList(new string[] { "Cta Cte ", "Otros" }), "Elija el tipo", new { @class = "span12" })*@
                                            @Html.Hidden("MetaTipo", "Cta Cte")
                                        </div>
                                        <div class="span2 lightblue" style="text-align: right;">
                                            @Html.LabelFor(model => model.IdTipoComprobante, "Número")
                                        </div>
                                        <div class="span3 lightblue">
                                            <div class="row-fluid">
                                                <div class="span2 lightblue">
                                                    @* @Html.LabelFor(model => model.Letra, "Letra")*@
                                                    @Html.TextBoxFor(model => model.Letra, new { @class = "span12" })
                                                    @Html.ValidationMessageFor(model => model.Letra)
                                                </div>
                                                <div class="span4 lightblue">
                                                    @*   @Html.LabelFor(model => model.NumeroComprobante1, "Número")*@
                                                    @Html.TextBoxFor(model => model.NumeroComprobante1, new { @class = "span12" })
                                                    @Html.ValidationMessageFor(model => model.NumeroComprobante1)
                                                </div>
                                                <!--/span-->
                                                <div class="span6 lightblue">
                                                    @* @Html.LabelFor(model => model.NumeroComprobante2, "Número")*@
                                                    @Html.TextBoxFor(model => model.NumeroComprobante2, new { @class = "span12" })
                                                    @Html.ValidationMessageFor(model => model.NumeroComprobante2)
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span2 lightblue">
                                            @Html.LabelFor(model => model.IdProveedor, "Proveedor") @*para que quede el espacio*@
                                        </div>
                                        <div class="span6 lightblue">
                                            <div class="input-prepend input-append span12" style="margin: 0;">
                                                @Html.TextBoxFor(m => m.Proveedor.RazonSocial, new { id = "DescripcionProveedor", @class = "span12" })
                                                @*<button onclick="  " class="btn append">
                                                    ...</button>*@ @*    <a href="#myModalss" role="button" class="btn" data-toggle="modal">
                                                                <i class="icon-search"></i>
                                                            </a>

                                                    <a href="#myModal" role="button" class="btn" data-toggle="modal"> <i class="icon-plus" ></i>
                                                    </a>*@
                                                </div>
                                                <script type="text/jscript">


                                                    $("#CodigoProveedor").autocomplete({
                                                        source: '@Url.Action("GetCodigosProveedorAutocomplete", "Proveedor")', minLength: 0,
                                                        messages: { noResults: "", results: function () { } },
                                                        select: proveedorSeleccionado,
                                                        autoFocus: true
                                                    })

                                                    $("#DescripcionProveedor").autocomplete({
                                                        source: '@Url.Action("GetCodigosProveedorAutocomplete", "Proveedor")',
                                                        minLength: 0,
                                                        messages: { noResults: "", results: function () { } },
                                                        select: proveedorSeleccionado,
                                                        autoFocus: true

                                                    });









                                                    function proveedorSeleccionado(event, ui) {

                                                        ActualizarProveedor(ui.item);
                                                        ///////////////////////
                                                        event.preventDefault();
                                                    }

                                                    function ActualizarProveedor(item) {
                                                        $("#IdProveedor").val(item.id);
                                                        $("#CodigoProveedor").val(item.codigo || "");
                                                        $("#DescripcionProveedor").val(item.value || "");
                                                        $("#IdCodigoIva").val(item.idCodigoIva);

                                                        $("#Proveedor_Email").val(item.Email || "");
                                                        $("#Proveedor_Telefono").val(item.Telefono || "");
                                                        $("#Proveedor_Direccion").val(item.Direccion || "");
                                                        $("#Proveedor_Provincia_Nombre").val(item.Provincia || "");
                                                        $("#Proveedor_Localidad_Nombre").val(item.Localidad || "");
                                                        $("#Proveedor_Fax").val(item.Fax || "");
                                                        $("#Proveedor_Cuit").val(item.Cuit) || "";
                                                        $("#IdCondicionVenta").val(item.IdCondicionVenta);
                                                        $("#IdListaPrecios").val(item.IdListaPrecios);



                                                        $("#Proveedor_EsAgenteRetencionIVA").val(item.EsAgenteRetencionIVA || "");
                                                        $("#Proveedor_BaseMinimaParaPercepcionIVA").val(item.BaseMinimaParaPercepcionIVA) || "";
                                                        $("#Proveedor_PorcentajePercepcionIVA").val(item.PorcentajePercepcionIVA) || "";


                                                        $("#IdIBCondicionPorDefecto").val(item.IdIBCondicionPorDefecto);
                                                        $("#IdIBCondicionPorDefecto2").val(item.IdIBCondicionPorDefecto2);
                                                        $("#IdIBCondicionPorDefecto3").val(item.IdIBCondicionPorDefecto3);
                                                        var someNumericValue = '@(ViewBag.someStringValue)'; //http://stackoverflow.com/questions/10389649/possible-to-access-mvc-viewbag-object-from-javascript-file
                                                        $("#Proveedor_PercepcionIIBB").val(someNumericValue);
                                                        $('#Proveedor_IBCondicionCat1_AlicuotaPercepcion').val(item.AlicuotaPercepcion1);
                                                        $('#Proveedor_IBCondicionCat2_AlicuotaPercepcion').val(item.AlicuotaPercepcion2);
                                                        $('#Proveedor_IBCondicionCat3_AlicuotaPercepcion').val(item.AlicuotaPercepcion3);


                                                        ActualizarPercepcionIIBB();
                                                        // ActualizarListaPuntoVenta();
                                                        // ActualizarPuntoVenta();
                                                    }


                                                    function ActualizarPercepcionIIBB() {
                                                        var mvarIBCondicion, mvarPercepcionIIBB, mvarId;

                                                        mvarIBCondicion = $("#Proveedor_IBCondicion"); // IBCondicion del Proveedor elegido
                                                        mvarPercepcionIIBB = $("#PercepcionIIBB"); // PercepcionIIBB de parametros generales -los parametros generales los debo incluir en el model, o en el viewmodel? -agregalos al viewbag...



                                                        if (mvarIBCondicion == 1 || mvarIBCondicion == 4 || (mvarId < 0 && mvarPercepcionIIBB != "SI")) {

                                                            $("#IdIBCondicionPorDefecto").prop('disabled', true);
                                                            $("#IdIBCondicionPorDefecto2").prop('disabled', true);
                                                            $("#IdIBCondicionPorDefecto3").prop('disabled', true);

                                                            //            dcfields(4).Enabled = False
                                                            //            dcfields(5).Enabled = False
                                                            //            dcfields(6).Enabled = False
                                                            //            .Fields("IdIBCondicion").Value = Null
                                                            //            .Fields("IdIBCondicion2").Value = Null
                                                            //            .Fields("IdIBCondicion3").Value = Null
                                                            //            With Check1(0)
                                                            //               .Value = 0
                                                            //               .Enabled = False
                                                            //            End With
                                                            //            With Check1(1)
                                                            //               .Value = 0
                                                            //               .Enabled = False
                                                            //            End With
                                                            //            With Check1(2)
                                                            //               .Value = 0
                                                            //               .Enabled = False
                                                            //            End With
                                                        } else {
                                                            $("#IdIBCondicionPorDefecto").prop('disabled', false);
                                                            $("#IdIBCondicionPorDefecto2").prop('disabled', false);
                                                            $("#IdIBCondicionPorDefecto3").prop('disabled', false);
                                                            //            Check1(0).Enabled = True
                                                            //            If IsNull(.Fields("IdIBCondicion").Value) Then
                                                            //               .Fields("IdIBCondicion").Value = mvarIdIBCondicion
                                                            //               If mvarIdIBCondicion <> 0 Then Check1(0).Value = 1
                                                            //            End If
                                                            //            If Check1(0).Value = 1 Then dcfields(4).Enabled = True Else dcfields(4).Enabled = False
                                                            //            Check1(1).Enabled = True
                                                            //            If IsNull(.Fields("IdIBCondicion2").Value) And mvarIdIBCondicion2 <> 0 Then
                                                            //               .Fields("IdIBCondicion2").Value = mvarIdIBCondicion2
                                                            //               If mvarIdIBCondicion2 <> 0 Then Check1(1).Value = 1
                                                            //            End If
                                                            //            If Check1(1).Value = 1 Then dcfields(5).Enabled = True Else dcfields(5).Enabled = False
                                                            //            Check1(2).Enabled = True
                                                            //            If IsNull(.Fields("IdIBCondicion3").Value) And mvarIdIBCondicion3 <> 0 Then
                                                            //               .Fields("IdIBCondicion3").Value = mvarIdIBCondicion3
                                                            //               If mvarIdIBCondicion3 <> 0 Then Check1(2).Value = 1
                                                            //            End If
                                                            //            If Check1(2).Value = 1 Then dcfields(6).Enabled = True Else dcfields(6).Enabled = False
                                                        }
                                                    }

                                                    function AutocompleteManual(term) {
                                                        $.ajax({
                                                            type: 'POST',
                                                            contentType: 'application/json; charset=utf-8',
                                                            url: ROOT + 'Proveedor/GetCodigosProveedorAutocomplete',
                                                            dataType: 'json',
                                                            // data:JSON.stringify( {formulario: colData , grilla: dataToSend })
                                                            data: JSON.stringify({ term: term }),
                                                            success: function (result) {
                                                                var item = result[0];

                                                                ActualizarProveedor(item);
                                                            }
                                                        })
                                                    }


                                                    function ActualizarDatosProveedor(cadenaAutoComplete) {
                                                        // var code = "OPELMEC";
                                                        // simulo un ingreso y clic en el autocomplete (tiene que tener puesto el autofocus: true)
                                                        // http: //stackoverflow.com/questions/8036143/jquery-autocomplete-select-first-item
                                                        AutocompleteManual(cadenaAutoComplete);
                                                        return;
                                                        $("#DescripcionProveedor").val(cadenaAutoComplete);
                                                        $("#DescripcionProveedor").autocomplete('search', cadenaAutoComplete);
                                                        $(".ui-menu-item:first a").click();
                                                        // '@Url.Action("GetCodigosProveedorAutocomplete", "Proveedor")'
                                                    };


                                                </script>
                                            </div>
                                            <!--/span-->
                                            <div class="span1 lightblue">
                                            </div>
                                            <div class="span1 lightblue">
                                                @Html.LabelFor(model => model.FechaIngreso, "Fecha")
                                            </div>
                                            <div class="span2 lightblue">
                                                @Html.TextBox("FechaIngreso", Model.FechaIngreso.GetValueOrDefault().ToString("dd/MM/yyyy"), new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                                @Html.ValidationMessageFor(model => model.FechaIngreso)
                                                <script>

                                                    $("#FechaIngreso").datepicker({
                                                        changeMonth: true,
                                                        changeYear: true,
                                                        dateFormat: 'dd/mm/yy'
                                                        //numberOfMonths: 2,
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span2 lightblue">
                                                @*@Html.LabelFor(model => model.IdProveedorEventual, "Proveedor de FF")*@ @*para que quede el espacio*@
                                            </div>
                                            <div class="span6 lightblue">
                                                <div class="input-prepend input-append span12" style="margin: 0;">
                                                    @*@Html.TextBoxFor(m => m.Proveedore.RazonSocial, new { id = "DescripcionProveedor", @class = "span12" })*@
                                                </div>
                                            </div>
                                            <div class="span2 lightblue">
                                                @Html.LabelFor(model => model.NumeroRendicionFF, "Numero de rendición") @*para que quede el espacio*@
                                            </div>
                                            <div class="span2 lightblue">
                                                @Html.TextBoxFor(m => m.NumeroRendicionFF, new { id = "NumeroRendicionFF", @class = "span12" })
                                            </div>
                                        </div>






                                        <div class="accordion" id="accordion4">
                                            <div class="accordion-group  accordion-caret" style="border: 0">
                                                <div class="accordion-heading" style="">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse4"
                                                       style="border: 0px; padding: 0px; color: #9C0000; font-size: 10px">
                                                        DATOS PROVEEDOR
                                                    </a>
                                                </div>
                                                <div id="collapse4" class="accordion-body collapse" style="border: 0px; padding: 0px;">
                                                    @*si pones class="accordion-body collapse in" empieza abierto*@
                                                    <div class="accordion-inner" style="border: 0px; padding: 0px;">
                                                        <div class="row-fluid">
                                                            <div class="span5 lightblue">
                                                                @Html.LabelFor(model => model.Proveedor.Direccion, "Dirección ")
                                                                @Html.TextBoxFor(model => model.Proveedor.Direccion, new { @class = "span12", @readonly = true, @disabled = "disabled" })
                                                            </div>
                                                            <!--/span-->
                                                            <div class="span7 lightblue">
                                                                @Html.LabelFor(model => model.Proveedor.Localidad.Nombre, "Localidad")
                                                                @*@Html.TextBoxFor(model => model.Proveedor.Localidad.Nombre, new { @class = "span12", @readonly = true, @disabled = "disabled" })*@
                                                                @Html.ValidationMessageFor(model => model.Proveedor.Localidad)
                                                            </div>
                                                            <!--/span-->
                                                            <!--/span-->
                                                        </div>
                                                        <div class="row-fluid">
                                                            <div class="span5 lightblue">
                                                                @Html.LabelFor(model => model.Proveedor.Provincia.Nombre, "Provincia ")
                                                                @Html.TextBoxFor(model => model.Proveedor.Provincia.Nombre, new { @class = "span12", @readonly = true, @disabled = "disabled" })
                                                            </div>
                                                            <!--/span-->
                                                            <div class="span7 lightblue">
                                                                @Html.LabelFor(model => model.Proveedor.Telefono1, "Telefono")
                                                                @Html.TextBoxFor(model => model.Proveedor.Telefono1, new { @class = "span12", @readonly = true, @disabled = "disabled" })
                                                                @Html.ValidationMessageFor(model => model.Proveedor.Localidad)
                                                            </div>
                                                            <!--/span-->
                                                            <!--/span-->
                                                        </div>
                                                        <div class="row-fluid">
                                                            <div class="span5 lightblue">
                                                                @Html.LabelFor(model => model.Proveedor.Email, "Email ")
                                                                @Html.TextBoxFor(model => model.Proveedor.Email, new { @class = "span12", @readonly = true, @disabled = "disabled" })
                                                            </div>
                                                            <!--/span-->
                                                            <div class="span7 lightblue">
                                                                @Html.LabelFor(model => model.Proveedor.IdCodigoIva, "Condicion IVA")
                                                                @Html.DropDownList("IdCodigoIva", null, new { @class = "span12", @readonly = true, @disabled = "disabled" })
                                                                @Html.ValidationMessageFor(model => model.Proveedor.DescripcionIva)
                                                            </div>
                                                            <div class="span7 lightblue">
                                                                @Html.LabelFor(model => model.Proveedor.IdCodigoIva, "Cat Ganancias")
                                                            </div>
                                                            <div class="span7 lightblue">
                                                                @Html.LabelFor(model => model.Proveedor.IdCodigoIva, "Cat IIBB")
                                                            </div>
                                                            <!--/span-->
                                                            <!--/span-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        @if (false)
                                        {

                                            <div class="row-fluid">
                                                <div class="span2 lightblue">
                                                    @*@Html.LabelFor(model => model.IdCuenta, "Fondo Fijo")*@ @*para que quede el espacio*@
                                                </div>
                                                <div class="span4 lightblue">
                                                    @*@Html.TextBoxFor(m => m.Cuenta.Descripcion, new { id = "DescripcionCuenta", @class = "span12" })*@
                                                </div>
                                                <div class="span2 lightblue">
                                                    @*@Html.LabelFor(model => model.IdCuenta, "Cuenta")*@ @*para que quede el espacio*@
                                                </div>
                                                <div class="span4 lightblue">
                                                    <div class="input-prepend input-append span12" style="margin: 0; border: 0">
                                                        @*@Html.TextBoxFor(m => m.Cuenta.Descripcion, new { id = "DescripcionCuenta", @class = "span12" })*@

                                                    </div>
                                                    <script type="text/jscript">


                                                        $("#DescripcionCuenta").autocomplete({
                                                            source: '@Url.Action("GetCuentasAutocomplete", "Cuenta")', minLength: 0,
                                                            messages: { noResults: "", results: function () { } },
                                                            select: cuentaSeleccionado,
                                                            autoFocus: true
                                                        })

                                                        function cuentaSeleccionado(event, ui) {

                                                            $("#IdCuenta").val(ui.item.id);
                                                            $("#DescripcionCuenta").val(ui.item.value || "");
                                                            ///////////////////////
                                                            event.preventDefault();
                                                        }



                                                    </script>
                                                </div>
                                            </div>



                                        }




                                        <div class="row-fluid">
                                            <div class="span2 lightblue">
                                                @Html.LabelFor(model => model.IdCondicionCompra, "Cond. compra")
                                            </div>
                                            <div class="span4 lightblue">
                                                @Html.DropDownList("IdCondicionCompra", null, String.Empty, new { @class = "span12" })
                                                @Html.ValidationMessageFor(model => model.IdCondicionCompra)
                                            </div>
                                            <div class="span1 lightblue">
                                                @Html.Label("lblAutoriz", "Autoriz.")
                                            </div>
                                            <div class="span1 lightblue">


                                                <input type="checkbox" id="chk0" readonly="readonly" disabled="disabled" class="GridCheckBox"
                                                       title="" />

                                                @*int ca = @ViewBag.CantidadAutorizaciones;

                                                    int j = 1;
                                                    for (var i = 1; i <= ca; i++)
                                                    {
                                                        <input type="checkbox" id="chk(i)" readonly="readonly" disabled="disabled" class="GridCheckBox" title="" />
                                                    }*@



                                            </div>
                                        </div>


                                    </div>




                                    @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
                                    @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
                                    @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
                                    @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@









                                </div>
                            </div>
                        </div>










                        <!-- Modal -->
                        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h3 id="myModalLabel">
                                    Modal header
                                </h3>
                            </div>
                            <div class="modal-body">
                                <p>
                                    One fine body…
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">
                                    Close
                                </button>
                                <button class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </div>
                        <div class="accordion" id="accordion6">
                            <div class="accordion-group  accordion-caret" style="border: 0">
                                <div class="accordion-heading" style="">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapse6"
                                       style="border: 0px; padding: 0px; color: #9C0000; font-size: 10px">DETALLE</a>
                                </div>
                                <div id="collapse6" class="accordion-body collapse in" style="border: 0px; padding: 0px;">
                                    @*si agregas 'in' y pones class="accordion-body collapse in" empieza abierto*@
                                    <div class="accordion-inner" style="border: 0px; padding: 0px;">
                                        <div class="row-fluid" style="margin-bottom: 2px;">
                                            <div id="divGrilla" class="span12 lightblue" style="padding-left: 0px; padding-right: 2px;
                                            min-height: 150px">
                                                <style>
                                                        .ui-jqdialog td {
                                                            border: 0px !important;
                                                        }

                                                        .ui-jqdialog table {
                                                            border: 0px !important;
                                                        }

                                                        .ui-jqdialog .ui-jqdialog-titlebar {
                                                            padding: 0;
                                                            position: relative;
                                                        }


                                                        .ui-jqdialog-titlebar {
                                                            height: 15px;
                                                        }

                                                        .ui-jqdialog button {
                                                        }

                                                        /*   http://stackoverflow.com/questions/14954587/jqgrid-for-twitter-bootstrap  */
                                                        input.ui-pg-input {
                                                            width: auto;
                                                            padding: 0px;
                                                            margin: 0px;
                                                            line-height: normal;
                                                        }



                                                        select.ui-pg-selbox {
                                                            width: auto;
                                                            padding: 0px;
                                                            margin: 0px;
                                                            line-height: normal;
                                                        }

                                                        .ui-widget select {
                                                            margin-bottom: 0px !important; /* para que en la edicion inline de la grilla no me haga mas alto el renglon   */
                                                        }




                                                        .ui-widget-content button {
                                                            background: rgb(231, 231, 231);
                                                            color: black !important;
                                                        }

                                                        .ui-jqgrid tr.footrow-ltr {
                                                            font-size: 9px;
                                                        }





                                                        .ui-jqgrid tr.ui-row-ltr td {
                                                            /* lineas de las grillas verticales*/ /*
                                                    border-right-style: none;
                                                    border-left-style: none;*/
                                                        }

                                                        .ui-icon, .ui-widget-content .ui-icon {
                                                            /*  background-image: none; */
                                                        }


                                                        .AltoRenglones tr.jqgrow td /* .ui-jqgrid tr.jqgrow td */ {
                                                            height: 36px; /* jugar entre .AltoRenglones y el style de font de la grilla */
                                                        }
                                                </style>
                                                <table id="Lista" class="scroll separacion AltoRenglones" cellpadding="0" cellspacing="0"
                                                       style="font-size: 26px; ">
                                                    @*/* jugar entre .AltoRenglones y el style de font de la grilla */*@
                                                </table>
                                            </div>
                                        </div>
                                        @* <div id="ListaPager" class="scroll">
                                            </div>*@
                                        <div style="margin-top: 4px">
                                            <input type="button" class="btn btn-small" id="addData" value="+ Agregar" />
                                            <input type="button" class="btn btn-small" id="edtData" value="Modificar" />
                                            <input type="button" class="btn btn-small" id="delData" value="Borrar" />
                                            <input type="button" class="btn btn-small" id="" value="Buscar" onclick="conmutarPanelesDerecho();   pageLayout.hide('south'); pageLayout.hide('north'); RefrescaAnchoGrillaDetalle();" />
                                        </div>
                                        <br />
                                        <br />
                                        <div class="row-fluid">
                                            <div class="span7 lightblue">
                                                @Html.LabelFor(model => model.Observaciones)
                                                @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12", @style = "height: 100px" })
                                                @Html.ValidationMessageFor(model => model.Observaciones)
                                            </div>
                                            <div class="span5 lightblue">
                                                <style>
                                                    .subtotales input {
                                                        /*height: 16px;*/
                                                        min-height: 18px !important;
                                                        line-height: 18px;
                                                        padding: 0;
                                                        margin: 0;
                                                        font-size: 10px;
                                                    }

                                                        .subtotales input[readonly] {
                                                            background: transparent;
                                                            border: 0;
                                                        }

                                                    .subtotales select {
                                                        /* height : 16px; */
                                                        min-height: 18px !important;
                                                        line-height: 18px;
                                                        padding: 0;
                                                        margin: 0;
                                                        font-size: 10px;
                                                    }

                                                    table td {
                                                        padding: 0px;
                                                        border: solid 1px;
                                                        border-color: transparent;
                                                    }
                                                </style>
                                                <table id="Totales" class="subtotales span12" width="" border="0" cellspacing="0"
                                                       cellpadding="0" style="margin: 0px 0px 0px 0px; height: ; padding: 0px; border-style: none;
                                                border-width: thin; border-spacing: 0px; font-size: xx-small">
                                                    <tr class="">
                                                        <td width="100" colspan="2">
                                                            SUBTOTAL
                                                        </td>
                                                        <td width="100" align="">
                                                            <input type="text" name="Subtotal1" id="Subtotal1" style="width: 85%; text-align: right;"
                                                                   readonly="readonly" />
                                                        </td>
                                                        <td width="100" class="subtotales">
                                                            MONEDA
                                                        </td>
                                                        <td width="100" style="height: 15px; line-height: 14px;" class="">
                                                            @Html.DropDownList("IdMoneda", null, "", new { @class = "span12 ", @style = "height: 15px;   line-height: 14px;" })

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100" colspan="2">
                                                            BON ITM
                                                        </td>
                                                        <td width="100">
                                                            <input type="text" name="TotalBonificacionItems" id="TotalBonificacionItems" style="width: 85%;
                                                            text-align: right;" readonly="readonly" />
                                                        </td>
                                                        <td width="100">
                                                            CONV.PESOS
                                                        </td>
                                                        <td width="100">
                                                            @Html.TextBoxFor(model => model.CotizacionMoneda, new { @class = "span12 subtotales" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100">
                                                            BON GLB
                                                        </td>
                                                        <td width="100" class="span2 subtotales">
                                                            @Html.TextBoxFor(model => model.PorcentajeBonificacion, new { @class = "span8 subtotales" })
                                                            <script>
                                                                $("#PorcentajeBonificacion").change(function () { calculateTotal(); });
                                                                $("#PorcentajeBonificacion").keyup(function () { calculateTotal(); });
                                                            </script>
                                                        </td>
                                                        <td width="100">
                                                            <input type="text" name="TotalBonificacionGlobal" id="TotalBonificacionGlobal" style="width: 85%;
                                                            text-align: right;" readonly="readonly" />
                                                        </td>
                                                        <td width="100">
                                                            COTIZ DOLAR
                                                        </td>
                                                        <td width="100">
                                                            @Html.TextBoxFor(model => model.CotizacionDolar, new { @class = "span12 subtotales" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100" colspan="2">
                                                            SUBTOTAL
                                                        </td>
                                                        <td width="100">
                                                            <input type="text" name="Subtotal2" id="Subtotal2" style="width: 85%; text-align: right;"
                                                                   readonly="readonly" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100" colspan="2">
                                                            IVA
                                                        </td>
                                                        <td width="100">
                                                            <input type="text" name="TotalIva" id="TotalIva" style="width: 85%; text-align: right;"
                                                                   readonly="readonly" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100" colspan="2">
                                                            TOTAL
                                                        </td>
                                                        <td width="100">
                                                            <input type="text" name="Total" id="Total" style="width: 85%; text-align: right;"
                                                                   readonly="readonly" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="accordion" id="accordion5">
                            <div class="accordion-group  accordion-caret" style="">
                                <div class="accordion-heading" style="">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5"
                                       style="border: 0px; padding: 0px; color: #9C0000; font-size: 10px">OTROS</a>
                                </div>
                                <div id="collapse5" class="accordion-body collapse" style="border: 0px; padding: 0px;">
                                    @*si pones "collapse in" empieza abierto*@
                                    <div class="accordion-inner" style="border: 0px; padding: 0px;">
                                        <br />
                                        <div class="row-fluid">
                                            <div class="span12 lightblue">
                                                <div class="span2 lightblue">
                                                    @Html.LabelFor(model => model.FechaVencimiento, "Vencimiento")
                                                    @Html.TextBox("FechaVencimiento", Model.FechaVencimiento.GetValueOrDefault().ToString("dd/MM/yyyy"), new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                                    <script>

                                                        $("#FechaVencimiento").datepicker({
                                                            changeMonth: true,
                                                            changeYear: true,
                                                            dateFormat: 'dd/mm/yy'
                                                            //numberOfMonths: 2,
                                                        });
                                                    </script>
                                                </div>
                                                <div class="span2 lightblue">
                                                    @Html.LabelFor(model => model.FechaRecepcion, "Recepcion")
                                                    @Html.TextBox("FechaRecepcion", Model.FechaRecepcion.GetValueOrDefault().ToString("dd/MM/yyyy"), new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                                    <script>

                                                        $("#FechaRecepcion").datepicker({
                                                            changeMonth: true,
                                                            changeYear: true,
                                                            dateFormat: 'dd/mm/yy'
                                                            //numberOfMonths: 2,
                                                        });
                                                    </script>
                                                </div>
                                                <div class="span6 lightblue">
                                                    @Html.Hidden("IdObra", Model.IdObra)
                                                    @Html.LabelFor(model => model.IdObra, "Obra")
                                                    @Html.TextBoxFor(m => m.Obra.Descripcion, new { id = "DescripcionObra", @class = "span12" })
                                                    @Html.ValidationMessageFor(model => model.IdObra)
                                                    <script type="text/jscript">




                                                        $("#DescripcionObra").autocomplete({
                                                            source: '@Url.Action("GetObrasAutocomplete2", "Articulo")',
                                                            minLength: 0,
                                                            messages: { noResults: "", results: function () { } },
                                                            select: ObraSeleccionado,
                                                            autoFocus: true

                                                        });


                                                        function ObraSeleccionado(event, ui) {

                                                            ObraSeleccionado(ui.item);
                                                            ///////////////////////
                                                            event.preventDefault();
                                                        }

                                                        function ActualizarObra(item) {
                                                            $("#IdObra").val(item.id);
                                                            //                        $("#CodigoProveedor").val(item.codigo || "");
                                                            $("#DescripcionObra").val(item.value || "");
                                                            //                        $("#IdCodigoIva").val(item.idCodigoIva);
                                                        }


                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span2 lightblue">

                                                @Html.LabelFor(model => model.NumeroCAI, "Numero CAI")
                                                @Html.TextBox("NumeroCAI", Model.NumeroCAI)
                                                @Html.LabelFor(model => model.NumeroCAE, "Numero CAE")
                                                @Html.TextBox("NumeroCAE", Model.NumeroCAE)
                                                @Html.LabelFor(model => model.FechaVencimientoCAI, "Vencimiento CAI")
                                                @Html.TextBox("FechaVencimientoCAI", Model.FechaVencimientoCAI.GetValueOrDefault().ToString("dd/MM/yyyy"), new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                                <script>

                                                    $("#FechaVencimientoCAI").datepicker({
                                                        changeMonth: true,
                                                        changeYear: true,
                                                        dateFormat: 'dd/mm/yy'
                                                        //numberOfMonths: 2,
                                                    });
                                                </script>
                                                @*ver anticipos/polizas/recepciones*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*  " navbar navbar-fixed-bottom" background: rgba(234, 234, 234, 0.78); border:  1px solid #e2e2e2;  *@


                    </div>



                    <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236);
                width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                        <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                        <div class="row-fluid " style="padding: 11px 0px 0px 0px">



                            <div class="span8 pull-left">
                            </div>
                            <div class="span4 pull-right">
                                @if (true || Model.FechaIngreso == null)
                                {
                                    if (true || Model.FechaIngreso == null)
                                    {

                                        <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary " />
                                    }
                                    else
                                    {
                                        <span class="label label-info">Liberado</span>

                                    }

                                    if (Model.IdComprobanteProveedor <= 0)
                                    {
                                    }
                                    else
                                    {



                                        @*<a class="btn  btn-large" style="color: Black" href="@Url.Action("Imprimir", new { @id = Model.IdComprobanteProveedor })">
                                            <i class="icon-print"></i>&nbsp;Imprimir
                                        </a>*@



                                        <a class="btn btn-link" style="color: Black" href="@Url.Action("Anular", new { @id = Model.IdComprobanteProveedor })">
                                            <i class=""></i>&nbsp;Anular
                                        </a>
                                    }
                                }
                                else
                                {
                                    <span class="label error-info">ANULADA</span>
                                }
                                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-link " })
                            </div>
                        </div>
                    </div>



                </div>
            </form>
        </div>
    <!--/.fluid-container-->
        <script type="text/javascript">

            $(window).resize(function () {
                RefrescaAnchoGrillaDetalle();

                $("#conscroll").height($(window).height() - 120);
            });

            $(function () {
                var OrigenDescripcionDefault = 0; // ViewBag.OrigenDescripcionDefault






                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: ROOT + 'ComprobanteProveedor/Autorizaciones/',
                    data: { IdComprobanteProveedor: $("#IdComprobanteProveedor").val() },
                    dataType: "Json",
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            var j = i + 1;
                            $("#chk" + j).attr('checked', true);
                            $("#chk" + j).attr('title', data[i].Nombre);
                        }


                    }
                });
                Aprobado();

                function Aprobado() {
                    if ($('#Aprobo').val() != "") {
                        //if ($('#FechaAprobacion').val() != null) {
                        $("#chk0").attr('checked', true);
                        var Aprobo = $("#Aprobo > option:selected").html();
                        $("#chk0").attr('title', Aprobo);
                    }
                    else {
                        $("#chk0").attr('checked', false);
                        $("#chk0").attr('title', "");
                    }
                }






                // pageLayout.show('south');

            })



        </script>



}









