﻿@model IEnumerable<ProntoMVC.Data.Models.ComprobanteProveedor>
@{
    ViewBag.Title = "Compbtes de proveedor";
}
<div>
    <input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
<div>
    <input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
@if (false)
{
    <style>
        /* jqGrid builds some additional divs over the main grid table. The outer div has the class ui-jqgrid. So if you need to remove right and left border existing over the whole grid you can use the following CSS: */
        
        /* este es el marco principal de la grilla */
        .ui-widget-content
        {
            border: 0px solid #aaaaaa;
        }
    </style>
    <style>
        .ui-jqgrid
        {
            border-right-width: 0px;
            border-left-width: 0px;
        }
        /* If you need to remove all grid's borders you can use

.ui-jqgrid { border-width: 0px; }
If you want additionally remove vertical border between the cells in the grid you can use */
        
        .ui-jqgrid tr.ui-row-ltr td
        {
            border-right-color: #E4E4E4;
        }
        
        
        .ui-jqgrid tr.footrow-ltr td
        {
            border-right-color: #E4E4E4 !important;
        }
        
        /*To remove horizontal border between the rows you can use */
        
        .ui-jqgrid tr.ui-row-ltr td
        {
            border-bottom-color: #E4E4E4;
        }
        /*To remove vertical borders between the column headers you can use */
        
        th.ui-th-column
        {
            border-right-color: #E4E4E4 !important;
        }
        /* or alternatively (without the usage of !important) */
        
        .ui-jqgrid-labels .ui-th-column
        {
            border-right-color: #E4E4E4;
        }
    </style>
}
<div class="row-fluid ">
    @* navbar-fixed-top*@ @* navbar-static-top*@
    <div class="alert fade in span12 " id="mensajeAlerta" style="display: none;">
        <button type="button" class="close">
            &times;</button>
        <div id="textoMensajeAlerta">
            @(System.Configuration.ConfigurationManager.AppSettings["CartelAviso"] ?? "")
            @Html.Raw(TempData["Alerta"].NullSafeToString().Replace("\n", "<br/>")) @*uso Raw para que no tome los saltos de linea como caracteres*@
        </div>
    </div>
</div>
<br />
<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid ">
        <div class="span12 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary span2 ">
                Nuevo de Cta Cte
            </button>
            <button onclick="window.location.href='@Url.Action("EditOtros", new { id = -1 })'" class="btn btn-default span2 ">
                Nuevo de Otros
            </button>
            <button onclick="window.location.href='@Url.Action("EditFF", new { id = -1 })'" class="btn btn-default span2 ">
                Nuevo Fondo fijo
            </button>

            <div class="span4">
                <div class="input-prepend input-append">
                    @* <div class="btn-group ">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                En todo <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                Requerimientos
                            </div>
                            <ul class="dropdown-menu">
                                Número
                            </ul>
                        </div>*@
                    <input id="BuscadorListado" type="text" class="" placeholder="Filtrar" style="" />
                    @if (Roles.IsUserInRole(ViewBag.NombreUsuario, "SuperAdmin"))
                    {
                    <select id="campos " class="span4">
                        <option>Número</option>
                        <option>Fecha</option>
                    </select>
                    <button onclick=" jQuery('#Lista').searchGrid({}) " class="btn append ">
                        ...</button> }
                    @*<div>
                            <input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
                        <div>
                            <input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
                        <div>
                            <input id="IdObra" name="IdObra" type="hidden" value=@Request.QueryString["idobra"]></div>*@
                </div>
            </div>
            @if (Roles.IsUserInRole(ViewBag.NombreUsuario, "SuperAdmin"))
            {
            <div class="btn-group  pull-right ">
                <button onclick="  " class="btn">
                    <
                </button>
                <button onclick="  " class="btn ">
                    >
                </button>
            </div>
          
        
                <div class="btn-group span2   pull-right ">
                    <button class="btn dropdown-toggle " data-toggle="dropdown">
                        más <span class="caret "></span>
                    </button>
                    <ul class="dropdown-menu ">
                        <li><a id="Renumerar" href='@Url.Content("~")ComprobanteProveedor/Importador'>Excel</a></li>
                        <li><a id="DuplicarItems" href="#">Importar fondos fijos</a></li>
                    </ul>
                </div>
        
            }
        </div>
    </div>
    <script>

        $("#BuscadorListado").change(function () {



            var grid = jQuery("#Lista");
            var postdata = grid.jqGrid('getGridParam', 'postData');
            jQuery.extend(postdata,
               { filters: '',
                   searchField: 'NumeroReferencia',
                   searchOper: 'eq',
                   searchString: parseInt($("#BuscadorListado").val(), 10) || 0
               });
            grid.jqGrid('setGridParam', { search: true, postData: postdata });
            grid.trigger("reloadGrid", [{ page: 1}]);


            //<select><option value="NumeroRequerimiento" selected="selected">N°</option><option value="Detalle">Detalle</option><option value="NumeroObra">Obra</option><option value="Sector">Sector</option><option value="Observaciones">Observaciones</option><option value="LugarEntrega">Lugar de necesidad</option></select>
        });
    </script>
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px;
        ">
    </table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px">
    </div>
    @if (Roles.IsUserInRole(ViewBag.NombreUsuario, "SuperAdmin"))
    {

        using (Html.BeginForm("Importar", "ComprobanteProveedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
@*<div class="row-fluid">
        <div class="">
            <input type="file" name="file" />
           
        </div>
    </div>*@
    
@*   http://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button *@
    
        <br />
        <div>
            <div style="position: relative;" class="span5">
                <a class='btn' href='javascript:;'>Elija archivo...
                    <input type="file" name="file" style='position: absolute; z-index: 2; top: 0; left: 0;
                        filter: alpha(opacity=0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                        opacity: 0; background-color: transparent; color: transparent;' size="40" onchange='$("#upload-file-info").html($(this).val());'>
                </a>&nbsp; <span class='label label-info' id="upload-file-info"></span>@*<i class="icon-user icon-white"></i>*@
            </div>
            <button type="submit" class="btn span1">
                subir
            </button>
        </div>
    
    
    
        <a class="span1" href="@Url.Content("~")ComprobanteProveedor/Test">test importar</a>
        <a href="@Url.Content("~")Test/FondoFijo">test alta</a>
        <br />
        }
    }
</div>
@*<p>@Html.ActionLink("Nuevo Pedido", "Edit", new { id = -1 }, null)</p> *@
<script type="text/javascript">
    $(document).ready(function () {

        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("ComprobantesProveedor_DynamicGridData", "ComprobanteProveedor")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Acciones', '', '', 'IdPedido', 'Tipo comp', 'Nro.interno', 'Numero', 'CtaCte/FFijo',
            'Fecha comp.', 'Fecha recep', 'Vence', 'Cod.Prov.', 'Proveedor',

            "Proveedor FF",
            "Vale",
             "Condicion IVA",
            "Obra",
            "Cuenta contable",

             "Subtotal",
            "Neto gravado",
            "IVA 1",
            "IVA 2",
            "Aj.IVA",

            "Imp.bonif.",
             "Total",
            "Mon.",
            "Cotiz. dolar",
            "Provincia destino",

            "Observaciones",
             "Ingreso",
             "Fecha ingreso",
          "Modifico",
             "Fecha modif.",

           "Dest.Pago",
         "Nro.Rend.FF",
         "Etapa",
      "Rubro",
         "Circuito de firmas completo",


],

            colModel: [

                        { name: 'act', index: 'act', align: 'center', width: 220, hidden: true, sortable: true, frozen: true, editable: false, search: false }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                        {name: 'act', index: 'act', align: 'center', width: 80, hidden: false, sortable: false, frozen: true, editable: false, search: false }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                        {name: 'act', index: 'act', align: 'center', width: 80, hidden: true, sortable: false, frozen: true, editable: false, search: false }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                        {name: 'IdPedido', index: 'IdPedido', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'Tipo', index: 'Numero', align: 'left', width: 230, frozen: true, editable: false, search: true, searchoptions: { sopt: ['cn','eq'] } },
                        { name: 'Nro int', index: 'Numero', align: 'right', width: 80, frozen: true, editable: false, search: true, searchoptions: { sopt: ['cn','eq'] } },
                        { name: 'Nro', index: 'Orden', align: 'right', width: 160, editable: false, search: true, searchoptions: { sopt: ['cn','eq'] } },
                        { name: 'FechaSalida', index: 'FechaIngreso', width: 100, align: 'center', sorttype: 'date', editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },

                        { name: 'Cumplido', index: 'Proveedor', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'RMs', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Obras', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'codProveedor', index: 'zzzzzz', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Proveedor', index: 'zzzzzz', align: 'right', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn']} },

                        { name: 'ProveedorFF', index: 'ProveedorFF', align: 'right', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'TotalIva1', index: 'zzzzzz', align: 'right', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'IdMoneda', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'IdComprador', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Aprobo', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },

                        { name: 'cantitems', index: 'zzzzzz', align: 'right', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'idaux', index: 'zzzzzz', align: 'left', width: 100, editable: false, hidden: true, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'NumeroComparativa', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'IdTipoCompraRM', index: 'zzzzzz', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Observaciones', index: 'zzzzzz', align: 'left', width: 400, editable: false, search: true, searchoptions: { sopt: ['cn']} },

                        { name: 'DetalleCondicionCompra', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'PedidoExterior', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'IdPedidoAbierto', index: 'zzzzzz', align: 'left', width: 100, hidden: true, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'NumeroLicitacion', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Impresa', index: 'zzzzzz', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn']} },

                        { name: 'UsuarioAnulacion', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'FechaAnulacion', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'MotivoAnulacion', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'ImpuestosInternos', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Equipos', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },

                        { name: 'CircuitoFirmasCompleto', index: 'zzzzzz', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'IdCodigoIva', index: 'zzzzzz', align: 'left', width: 100, hidden: false, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'IdCodigoIva2', index: 'zzzzzz', align: 'left', width: 100, hidden: true, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'IdCodigoIva3', index: 'zzzzzz', align: 'left', width: 100, hidden: true, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'IdCodigoIva4', index: 'zzzzzz', align: 'left', width: 100, hidden: true, editable: false, search: true, searchoptions: { sopt: ['cn']} }


                    ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            ondblClickRow: function (idrow) {
                window.location.href = ROOT + 'ComprobanteProveedor/Edit/' + idrow;


                // $("#edtData").click();

                //edicion inline
                // http://stackoverflow.com/questions/8163106/form-editing-with-inline-editing-to-same-jqgrid
                //                if(id && id!==lastSel){ 
                //                    jQuery('#Lista').restoreRow(lastSel); 
                //                    lastSel=id; 
                //                }
                //                jQuery('#Lista').editRow(id, true); 
                //   

            },


            

            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50],
            sortname: 'IdComprobanteProveedor', // 'FechaRecibo,NumeroRecibo',
            sortorder: 'desc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar', //,


            ///////////////////////////////
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            //////////////////////////////

            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true
            // ,caption: '<b>FACTURAS</b>'

            , gridview: true
            , multiboxonly: true
            , multipleSearch: true


       


        });

        jQuery("#Lista").jqGrid('bindKeys');

        jQuery("#Lista").jqGrid('navGrid', '#ListaPager',
         { csv: true, refresh: true, add: false, edit: false, del: false }, {}, {}, {},
         {
             //sopt: ["cn"]
             //sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc', 'nu', 'nn', 'in', 'ni'],
             width: 700, closeOnEscape: true, closeAfterSearch: true, multipleSearch: true, overlay: false
         }
        );


        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        }); // si queres sacar el enableClear, definilo en las searchoptions de la columna específica http://www.trirand.com/blog/?page_id=393/help/clearing-the-clear-icon-in-a-filtertoolbar/










        pageLayout.hide('east');
        pageLayout.hide('south');

    });




</script>
