﻿@model IEnumerable<ProntoMVC.Data.Models.Recibo>
@{
    ViewBag.Title = "Recibo";
}

<div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
<div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>

<br />

<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("EditCC", new { id = -1 })'" class="btn btn-primary">Nuevo Recibo (Clientes)</button>
            <button onclick="window.location.href='@Url.Action("EditOT", new { id = -1 })'" class="btn btn-primary">Nuevo Recibo (Otros)</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("Recibos_DynamicGridData", "Recibo")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', 'Emitir', 'IdRecibo', 'Punto venta', 'Numero recibo', 'Fecha recibo', 'Tipo', 'Anulado', 'Codigo cliente', 'Cliente', 'Cuenta', 'Mon.', 'Deudores', 'Valores', 'Ret. iva', 'Ret. gan',
                       'Ret. iibb', 'Otros conceptos', 'Obra', 'Vendedor', 'Cobrador', 'Ingreso', 'Fecha ingreso', 'Modifico', 'Fecha modificacion', 'Cotizacion', 'Observaciones'],
            colModel: [
                        { name: 'ver', index: 'ver', hidden: false, width: 50, search: false },
                        { name: 'Emitir', index: 'Emitir', hidden: true, width: 50, search: false },
                        { name: 'IdRecibo', index: 'IdRecibo', align: 'center', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'PuntoVenta', index: 'PuntoVenta', align: 'right', width: 50, editable: false, hidden: false },
                        { name: 'NumeroRecibo', index: 'NumeroRecibo', align: 'right', width: 80, editable: false, hidden: false },
                        {
                            name: 'FechaRecibo', index: 'FechaRecibo', width: 100, align: 'center', sorttype: 'date',
                            hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy',

                            search: true,
                            searchrules: {
                                date: true
                            },
                            searchoptions: { // http://stackoverflow.com/questions/14632735/jqgrid-searching-dates
                                sopt: ['ge', 'le', 'eq'],
                                dataInit: function (elem) {
                                    $(elem).datepicker({
                                        dateFormat: 'dd/mm/yy',
                                        changeYear: true,
                                        changeMonth: true,
                                        showButtonPanel: true,
                                        onSelect: function () {
                                            $(this).keydown();
                                        }
                                    });
                                }
                            }
                        },
                        { name: 'Tipo', index: 'Tipo', align: 'left', width: 40, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Anulado', index: 'Anulado', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CodigoCliente', index: 'Cliente.CodigoCliente', align: 'right', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Cliente', index: 'Cliente.RazonSocial', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'Cuenta', index: 'Cuenta.Descripcion', align: 'left', width: 300, editable: false },
                        { name: 'Moneda', index: 'Moneda.Abreviatura', align: 'center', width: 40, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Deudores', index: 'Deudores', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Valores', index: 'Valores', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'RetencionIVA', index: 'RetencionIVA', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'RetencionGanancias', index: 'RetencionGanancias', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'RetencionIBrutos', index: 'RetencionIBrutos', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'OtrosConceptos', index: 'OtrosConceptos', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Obra', index: 'Obra.NumeroObra', align: 'left', width: 100, editable: false },
                        { name: 'Vendedor', index: 'Vendedore.Nombre', align: 'left', width: 120, editable: false, hidden: false },
                        { name: 'Cobrador', index: 'Vendedore1.Nombre', align: 'left', width: 120, editable: false, hidden: false },
                        { name: 'Ingreso', index: 'Empleado.Nombre', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'FechaIngreso', index: 'FechaIngreso', width: 150, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'Modifico', index: 'Empleado1.Nombre', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'FechaModifico', index: 'FechaModifico', width: 150, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'Cotizacion', index: 'Cotizacion', align: 'right', width: 70, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 400, editable: false, hidden: false }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },


            

            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50],
            sortname: 'FechaRecibo', // 'FechaRecibo,NumeroRecibo',
            sortorder: 'desc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar', //,


            ///////////////////////////////
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            //////////////////////////////

            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true
            // ,caption: '<b>FACTURAS</b>'

            , gridview: true
            , multiboxonly: true
            , multipleSearch: true



            


        });
        jQuery("#Lista").jqGrid('bindKeys');

        jQuery("#Lista").jqGrid('navGrid', '#ListaPager',
         { csv: true, refresh: true, add: false, edit: false, del: false }, {}, {}, {},
         {
             //sopt: ["cn"]
             //sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc', 'nu', 'nn', 'in', 'ni'],
             width: 700, closeOnEscape: true, closeAfterSearch: true, multipleSearch: true, overlay: false
         }
        );


        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        }); // si queres sacar el enableClear, definilo en las searchoptions de la columna específica http://www.trirand.com/blog/?page_id=393/help/clearing-the-clear-icon-in-a-filtertoolbar/








        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });

        pageLayout.hide('east');
        pageLayout.hide('south');
    });

</script>
