﻿@model IEnumerable<ProntoMVC.Data.Models.Asiento>
@{
    ViewBag.Title = "Asientos";
}
<div>
    <input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]>
</div>
<div>
    <input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]>
</div>
@if (false)
{
    <style>
        /* jqGrid builds some additional divs over the main grid table. The outer div has the class ui-jqgrid. So if you need to remove right and left border existing over the whole grid you can use the following CSS: */



        .ui-widget-content {
            border: 0px solid #aaaaaa;
        }

        .ui-jqgrid {
            border-right-width: 0px;
            border-left-width: 0px;
        }
            /* If you need to remove all grid's borders you can use

        .ui-jqgrid { border-width: 0px; }
        If you want additionally remove vertical border between the cells in the grid you can use */

            .ui-jqgrid tr.ui-row-ltr td {
                border-right-color: #E4E4E4;
            }


            .ui-jqgrid tr.footrow-ltr td {
                border-right-color: #E4E4E4 !important;
            }

            /*To remove horizontal border between the rows you can use */

            .ui-jqgrid tr.ui-row-ltr td {
                border-bottom-color: #E4E4E4;
            }
        /*To remove vertical borders between the column headers you can use */

        th.ui-th-column {
            border-right-color: #E4E4E4 !important;
        }
        /* or alternatively (without the usage of !important) */

        .ui-jqgrid-labels .ui-th-column {
            border-right-color: #E4E4E4;
        }
    </style>
}<br />

<div style="padding-left: 15px; padding-right: 15px;">

    <div class="row-fluid">
        <div class="span12 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary span2 ">
                Nuevo
            </button>
            <div class="span4">
                <div class="input-prepend input-append">
                    @* <div class="btn-group ">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                En todo <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                Requerimientos
                            </div>
                            <ul class="dropdown-menu">
                                Número
                            </ul>
                        </div>*@
                    <input id="BuscadorListado" type="text" class="" placeholder="Filtrar" style="" />
                    @*<div>
                            <input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
                        <div>
                            <input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
                        <div>
                            <input id="IdObra" name="IdObra" type="hidden" value=@Request.QueryString["idobra"]></div>*@
                    <button onclick=" jQuery('#Lista').searchGrid({}) " class="btn append ">
                        avanzada
                    </button>
                </div>
            </div>
            @*   <div class="btn-group  pull-right ">
                    <button onclick="  " class="btn">
                        <
                    </button>
                    <button onclick="  " class="btn ">
                        >
                    </button>
                </div>*@
            @if (Roles.IsUserInRole(ViewBag.NombreUsuario, "SuperAdmin") && false)
        {

            <button onclick="  " class="btn span1">
                Excel
            </button>
        }
        </div>
        <br />
        <br />
        <script>



        $("#BuscadorListado").change(function () {



            var grid = jQuery("#Lista");
            var postdata = grid.jqGrid('getGridParam', 'postData');
            jQuery.extend(postdata,
               { filters: '',
                   searchField: 'NumeroPedido',
                   searchOper: 'eq',
                   searchString: parseInt($("#BuscadorListado").val(), 10) || 0
               });
            grid.jqGrid('setGridParam', { search: true, postData: postdata });
            grid.trigger("reloadGrid", [{ page: 1}]);


            //<select><option value="NumeroRequerimiento" selected="selected">N°</option><option value="Detalle">Detalle</option><option value="NumeroObra">Obra</option><option value="Sector">Sector</option><option value="Observaciones">Observaciones</option><option value="LugarEntrega">Lugar de necesidad</option></select>
        });
        </script>
    </div>
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 14px;"></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px">
    </div>
    @*<p>@Html.ActionLink("Nuevo Pedido", "Edit", new { id = -1 }, null)</p> *@
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');
        $('#Lista').jqGrid({
            url: '@Url.Action("Asientos_DynamicGridData", "Asiento")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Acciones', 'Acciones', 'IdCuenta', 'Número', 'Fecha', 'Tipo cuenta',
           'IdCuentaSubdiario', 'Apertura', 'Concepto', 'Debe', 'Haber', 'Diferencia',
            'Ingreso', 'Fecha ingreso', 'Modifico'

            ],
            colModel: [

                        { name: 'act', index: 'act', align: 'center', width: 80, sortable: false, frozen: true, editable: false, search: false }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                        { name: 'act', index: 'act', align: 'center', width: 80, sortable: false, frozen: true, editable: false, search: false, hidden: true }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                        { name: 'IdCuenta', index: 'IdCuenta', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'Numero', index: 'Numero', align: 'left', width: 100, frozen: true, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'Fecha', index: 'Fecha', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'TiposCuenta.Descripcion', index: 'TiposCuenta.Descripcion', width: 100, align: 'center', sorttype: 'date', editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },

                        { name: 'IdCuentaSubdiario', index: 'Jerarquia', align: 'left', width: 100, editable: false, search: true, hidden: true, searchoptions: { sopt: ['cn'] } },

                        { name: 'Apertura', index: 'Jerarquia', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Concepto', index: 'Concepto', align: 'left', width: 250, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Debe', index: 'TiposCuentaGrupos.Descripcion', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Haber', index: 'Obra.Descripcion', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Diferencia', index: 'AjustaPorInflacion', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },

                        { name: 'CodigoSecundario', index: 'CodigoSecundario', align: 'right', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'IdCuentaGasto', index: 'IdCuentaGasto', align: 'right', width: 60, editable: false, search: true, hidden: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'IdObra', index: 'IdObra', align: 'left', width: 100, editable: false, search: true, hidden: true, searchoptions: { sopt: ['cn'] } },


            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            ondblClickRow: function (idrow) {
                window.location.href = ROOT + 'Asiento/Edit/' + idrow;


                // $("#edtData").click();

                //edicion inline
                // http://stackoverflow.com/questions/8163106/form-editing-with-inline-editing-to-same-jqgrid
                //                if(id && id!==lastSel){
                //                    jQuery('#Lista').restoreRow(lastSel);
                //                    lastSel=id;
                //                }
                //                jQuery('#Lista').editRow(id, true);
                //

            },
            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50, 100],
            sortname: 'IdAsiento',
            sortorder: 'desc',
            viewrecords: true,


            ///////////////////////////////
            //width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            //////////////////////////////

            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true
            // ,caption: '<b>PEDIDOS</b>'
        });


        jQuery("#Lista").jqGrid('navGrid', '#ListaPager',
         { csv: true, refresh: true, add: false, edit: false, del: false }, {}, {}, {},
         {
             //sopt: ["cn"]
             //sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc', 'nu', 'nn', 'in', 'ni'],
             width: 700, closeOnEscape: true, closeAfterSearch: true, multipleSearch: true, overlay: false
         }
        );

        jQuery("#Lista").jqGrid('navButtonAdd', '#ListaPager', {
            caption: "",
            buttonicon: "ui-icon-calculator",
            title: "Choose columns",
            onClickButton: function () {
                $(this).jqGrid('columnChooser',
                    { width: 550, msel_opts: { dividerLocation: 0.5 }, modal: true });
                $("#colchooser_" + $.jgrid.jqID(this.id) + ' div.available>div.actions')
                    .prepend('<label style="float:left;position:relative;margin-left:0.6em;top:0.6em">Search:</label>');
            }
        });


        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        }); // si queres sacar el enableClear, definilo en las searchoptions de la columna específica http://www.trirand.com/blog/?page_id=393/help/clearing-the-clear-icon-in-a-filtertoolbar/
        //myGrid.filterToolbar({  });

        jQuery("#Lista").jqGrid('navButtonAdd', '#ListaPager',
            {
                caption: "Filter", title: "Toggle Searching Toolbar",
                buttonicon: 'ui-icon-pin-s',
                onClickButton: function () { myGrid[0].toggleToolbar(); }
            });


    });

</script>
