@using System.Globalization
@model ProntoMVC.Areas.MvcMembership.Models.UserAdministration.DetailsViewModel
@{
    ViewBag.Title = "Usuario " + Model.DisplayName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />
<div style="padding-left: 15px; padding-right: 15px;">
    <div class="" style='font-size: 34px; margin-top: 5px; height: 60px; font-weight: 400;
        text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
        <br />
        @Model.DisplayName [@Model.Status]
        <br />
        <br />
    </div>
    <div class="mvcMembership-password">
        <br />
        <br />
        @using (Html.BeginForm("SetMiPassword", "Account", new { area = "" }, FormMethod.Post, new { id = Model.User.ProviderUserKey }))
        {
            <fieldset>
                <p>
                    <label for="password">
                        Actual contraseņa:</label>
                    @Html.Password("password")
                </p>
                <p>
                    <label for="password">
                        Nueva contraseņa:</label>
                    @Html.Password("nuevapass")
                </p>
                <input type="submit" value="Cambiar" />
            </fieldset>
        }
        <br />
        <br />
        @if (false)
        {
            using (Html.BeginForm("SetMiPassword", "UserAdministration", new
            {

                // id = Model.User.ProviderUserKey
            }))
            {
            <fieldset>
                <p>
                    <label for="password">
                        Nueva contraseņa:</label>
                    @Html.Password("password")
                </p>
                <input type="submit" value="Cambiar" />
            </fieldset>
            }


        }
        @using (Html.BeginForm("ResetPassword", "UserAdministration", new
    {
        id = Model.User.ProviderUserKey
    }))
        {
@*  <fieldset>
            <input type="submit" value="Resetear pass" class="btn btn-primary" />
        </fieldset>*@
        }
    </div>
</div>
<script>

    /////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////

    $(function () {


        $('#crearbase').click(function () {

            var cabecera = { guid: $("#UsuarioGuid").val(),
                basenueva: $("#EmpresaNueva").val(),
                EmpresaDefault: $("#EmpresaDefault").val()
            };


            $('html, body').css('cursor', 'wait');
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: ROOT + 'MvcMembership/UserAdministration/CrearBasePronto',
                dataType: 'json',
                data: JSON.stringify(cabecera), // $.toJSON(cabecera),
                success: function (result) {

                    if (result) {
                        $('html, body').css('cursor', 'auto');

                        if (true) {
                            //window.location = (ROOT + "Pedido/index");
                            // window.location = (ROOT + "Pedido/Edit/" + result.IdPedido);

                        } else {

                            var dt = new Date();
                            var currentTime = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();

                            $("#textoMensajeAlerta").html("Grabado " + currentTime);
                            $("#mensajeAlerta").show();
                            // $('#Lista').trigger('reloadGrid'); // no tenes el id!!!!!
                            //si graban de nuevo, va a dar un alta!!!!


                            $('html, body').css('cursor', 'auto');
                            $('#grabar2').attr("disabled", false).val("Aceptar");
                        }

                    } else {


                        alert('Base creada');
                        $('.loading').html('');
                        $('html, body').css('cursor', 'auto');
                        //$('#grabar2').attr("disabled", false).val("Aceptar");
                    }

                },

                beforeSend: function () {
                    $("#loading").show();
                    // $('#grabar2').attr("disabled", true).val("Espere...");


                },
                complete: function () {
                    $("#loading").hide();
                },


                error: function (xhr, textStatus, exceptionThrown) {
                    try {
                        var errorData = $.parseJSON(xhr.responseText);
                        var errorMessages = [];

                        $('html, body').css('cursor', 'auto');

                        alert(errorData.Message);
                    } catch (e) {
                        $('html, body').css('cursor', 'auto');
                    }

                }
            });
        });

    });

    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////////////////////////

                    
                    
                    
</script>
