﻿@model ProntoMVC.Data.Models.ChangePasswordModel
@{
    ViewBag.Title = "Cambiar contraseña";
}
}
<div class="container-fluid">
    <h2>
        Cambiar contraseña</h2>
    <p>
        Use el formulario siguiente para cambiar la contraseña.
    </p>
    <p>
        Es necesario que las nuevas contraseñas tengan al menos @Membership.MinRequiredPasswordLength
        caracteres.
    </p>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "No se realizó el cambio de contraseña. Corrija los errores e inténtelo de nuevo.")
        <div>
            <fieldset>
                <legend>Información de cuenta</legend>
                <div class="editor-label">
                    @Html.LabelFor(m => m.OldPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <p>
                    <button type="submit" class="btn btn-primary" value="Registrarse">
                    Cambiar contraseña</>
                </p>
            </fieldset>
        </div>
    }
</div>
