﻿@model ProntoMVC.Data.Models.Condiciones_Compra

@{
    ViewBag.Title = "Elija la base";
}


<script crossorigin="anonymous" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script crossorigin="anonymous" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>



@if (false)
{
    <!-- Latest compiled and minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css"
          rel="stylesheet" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
    <!-- Latest Glyphicons minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css"
          rel="stylesheet" />
}
else
{
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
}
<script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>

<div>
    <table style="width: 100%">
        <tr>
            <td style="width: 100px; border: none;">
                <img src="@Url.Content("~/Content/images/logosolo.gif")" alt="" style="text-align: left; width: 100px;" />
            </td>
            <td style="width: ; border: none;">
                <div style="text-align: left; font-size: 24px; width: 200px; font-family: Verdana, Arial, Helvetica, sans-serif;
                    color: #CC3300; font-weight: bold; text-shadow: #6374AB 2px 2px 2px; line-height: 14px;">
                    BDL
                    <br />
                    <br />
                    <div>
                    </div>
                    Consultores
                </div>
            </td>
        </tr>
    </table>
</div>
<div>
    <br />
    <div class="row-fluid">
        <div class="span4">
        </div>
        <div class="span4" style="height: ">
            @Html.Label("Elija la base")
            <div class="row-fluid">
                @Html.ListBox("Bases", null, new { @style = "width: ; font-size: 24px;", @class = "span12" })
                @*@Html.DropDownList("Bases", null, new { @style = "width: 260px", @class = "span12" })*@
            </div>
            <div class="row-fluid">
                @*@Html.ActionLink("Continuar", "BaseElegida", "Home", new { sBase = "Autotrol" }, null)*@
                @*<input type="button" id="grabar" value="Grabar" class="but" />
                        @Url.Action("BaseElegida", "Home")*@ @* http://stackoverflow.com/questions/4113314/html-actionlink-with-id-value-from-a-dropdownlist*@
                @*    @Html.ActionLink("Continuar", "BaseElegida", "Account", null, new { @id = "SubmitName", @class = "btn btn-primary pull-right" })*@
                <a  id="SubmitName"
               @* onclick="window.location.href='@Url.Action("BaseElegida", "Account", new { @id = "SubmitName" })'"  *@
                
      
                
                class="btn btn-large btn-primary span12"  >Continuar</a>@*<button id="Continuar" onclick="window.location.href='@Url.Action("BaseElegida", "Account", null, new { @id = "SubmitName", @class = "but" })' "  class="btn btn-primary"  >*@
            </div>
            <br />
            <div class="row-fluid">
                <a href="@Url.Content("~")Account/Logoff"   class="btn btn-large span12"  >Salir</a>
                <script type="text/javascript">
                    $('#SubmitName').click(function () {
                        //var first = $('#Bases').val();
                        var first = $("#Bases option:selected").text();
                        var path = '@Url.Content("~/Account/BaseElegida")' + "?sBase=" + first
                        $(this).attr("href", path);
                    });

                    //     $('#SubmitButton').click(function () {
                    //         //var first = $('#Bases').val();
                    //        $('#SubmitName').click;
                    //         return false;
                    //     });


                    //        var ButtonKeys = { "EnterKey": 13 };

                    function keypressHandler(e) {
                        if (e.which == 13) {
                            $(this).blur();
                            $('#SubmitName').focus().click(); //give your submit an ID
                        }
                    }

                    $(document).keypress(keypressHandler);


                    //        $(document).ready(function () {
                    //            $('#Bases').keypress(function (e) {
                    //                if (e.which == ButtonKeys.EnterKey) {
                    //                    //                    var defaultButtonId = $(this).attr("defaultbutton");
                    //                    //                    $("#" + defaultButtonId).click();
                    //                    $('#SubmitName').click();
                    //                    return false;
                    //                }
                    //            });
                    //        };


                    //        $('#Bases').click(function (e) {
                    //            if (e.which == ButtonKeys.EnterKey) {
                    //                //                    var defaultButtonId = $(this).attr("defaultbutton");
                    //                //                    $("#" + defaultButtonId).click();
                    //                $('#SubmitName').click();
                    //                return false;
                    //            }
                    //        });

                    $('#Bases').focus();
                </script>
            </div>
            @foreach (SelectListItem b in ViewBag.Bases)
            {
                
@*            <div class="row-fluid">
                <a id="ss" class="btn btn-large btn-primary span12">@b.Text</a>
                <img src="@Url.Content("~/Content/Images/Empresas/" + (@b.Text ?? "DemoPronto") + ".png")"   alt="" style="text-align: left ; margin-top:3px;  margin-left: 20px;  width: ; height: 42px;" />
            </div>
*@        }
            <br />
        </div>
    </div>
    <br />
    <br />
    <div style="display: flex">

        @foreach (var item in ViewBag.Bases)
        {

            <div class="row-fluid">
                <div class="span4">
                </div>
                <div class="span4">
                    <a href="@Url.Content("~/Account/BaseElegida/" + "?sBase=" + item.Text)" class="pull-left"
                       style="padding: 0px">
                        <img title="@item.Text" src="@Url.Content("~/Content/Images/Empresas/" + item.Text + ".png") " style="width: 200px" />
                        @item.Text
                    </a>
                </div>
            </div>
        }
    </div>

</div>
