﻿@model ProntoMVC.Data.Models.LogOnModel
@{
    ViewBag.Title = "Iniciar sesión";
}
<link rel="SHORTCUT ICON" href="@Url.Content("~/Content/images/favicon.png")"  />
<link rel="icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png")"  />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/js/jquery-1.8.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/js/jquery-ui-1.9.0.custom.js")" type="text/javascript"></script>
@*<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />*@
@if (false)
{
    <!-- Latest compiled and minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css"
        rel="stylesheet" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
    <!-- Latest Glyphicons minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css"
        rel="stylesheet" />
}
else
{
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
}
<script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
@* http://stackoverflow.com/questions/827905/asp-net-mvc-login-returnurl-always-null*@
@*@using (Html.BeginForm(null, null, FormMethod.Post, new {id="formid",ReturnUrl = Request.QueryString["ReturnUrl"] }))*@
@using (Html.BeginForm(null, null, FormMethod.Post, new { }))
{
    <input type="hidden" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" /> @* al final tuve que usar un hidden  *@
    
    <div style="height: 1600px; /* -webkit-mask: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0.9)));
        */
        background-image: /*   -webkit-gradient(linear, left top, left bottom, from(rgb(200, 200, 200)) , color-stop(100%, #e8e8e8)) !important;
        */
          
           @*url('https://app.asana.com/-/static/apps/asana/media/blue-slant-pattern.png?1370304127');*@
           @*url('http://www.bootstrapcdn.com/img/bootstrap-bkg.jpg')*@;
           
           background-color: rgb(235, 238, 241);
        background-repeat: repeat;">
        @*background-image: -webkit-gradient(linear, left top, left bottom, from(#DDE4EA), color-stop(100%, #AFBCC8)) !important;" *@
        <div>
            <table style="width: 100%; border: none; border-bottom: 1px;" class="navbar-inner ">
                <tr>
                    <td style="width: 1000px; border: none;">
                        <img src="@Url.Content("~/Content/images/Empresas/DemoPronto.png")" alt="" style="text-align: left; width: 200px; margin-left: 50px; " />
                        @*<img src="@Url.Content("~/Content/images/BDL grande.jpg")" alt="" style="text-align: left; width: 100px;" />*@
                    </td>
                    <td style="width: 100px; border: none;">
                        <img src="@Url.Content("~/Content/images/logosolo.gif")" alt="" style="text-align: left; width: 100px;" />
                        @*<img src="@Url.Content("~/Content/images/BDL grande.jpg")" alt="" style="text-align: left; width: 100px;" />*@
                    </td>
                    <td style="width: ; border: none;">
                        <div style="text-align: left; font-size: 24px; width: 200px; font-family: Verdana, Arial, Helvetica, sans-serif;
                            color: #CC3300; font-weight: bold; text-shadow: #6374AB 1px 1px 2px; line-height: 14px;">
                            BDL
                            <br />
                            <br />
                            <div>
                            </div>
                            Consultores
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="vertical-align: middle; background: /* rgba(255, 255, 255, 0.58); */">
            <div id="myCarousel" class="carousel slide" style="height: 500px; width: 70%; background-color: ">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner " style="text-align: center">
                    <div class="item ">
                        @* <img src="@Url.Content("~/Content/images/virtualmartiresatardecer.jpg")"  alt="" align="middle" 
                        style=" max-height: 500px; height:500px ; width:100%"   >*@
                    </div>
                    <div class="item active" align="middle" style="background-color: ; width: 100%">
                        <img src="@Url.Content("~/Content/images/BDL grande.png")"   
                        style="height: 500px;  width:; background-color: "  alt="" align="left">
                    </div>
                    <div class="item">
                        @* <img src= "@Url.Content("~/Content/images/vistaareaaniacua1200px.jpg")" style="height:500px; max-height: 500px; width: 100%" alt="">*@
                    </div>
                </div>
                @*      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a> <a class="right carousel-control"
                href="#myCarousel" data-slide="next">›</a>*@
            </div>
            <div class="centrar" style="border: 0px solid #CCCCFF; /* background-color: #F0F0FF;
                */
                width: ; top: 270px; margin-right: 60px; left: 80%; font-size: larger; color: #000000;
                vertical-align: middle; padding: 20px">
                <div class="editor-field" style="padding: 0px; width: ; font-size: 24px">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "", @style = "width:  250px; height: 30px; font-size: larger" })
                    @Html.ValidationMessageFor(m => m.UserName)
                    @*      @if  (Html.ValidationMessageFor(m => m.UserName)!="" ){
                     
                 }
                advertencia: tenés el CAPS LOCK activado*@
                </div>
                <div class="editor-field" style="padding: 0px; font-size: 24px">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @style = "width: 250px ; height: 30px; font-size: larger" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="editor-label">
                </div>
                <p>
                    @*                    <input type="button" value="Iniciar sesión" class="btn btn-large btn-primary" 
                    onclick="document.forms['formid'].submit(); "
                        style="width: 100%; font-size: 24px" />
*@
                    <button type="submit" value="Iniciar sesión" class="btn btn-default btn-large btn-primary"
                        style="width: 264px; font-size: 24px">
                        Iniciar sesión</button>
                    @* http://stackoverflow.com/questions/827905/asp-net-mvc-login-returnurl-always-null*@
                    @*"btn btn-large btn-primary" />*@
                    <br />
                    <br />
                    <label class="checkbox" style="width: ; font-size: 14px; vertical-align: bottom">
                        @Html.CheckBoxFor(m => m.RememberMe) Entrar automáticamente @*@Html.LabelFor(m => m.RememberMe)*@</label>
                </p>
                <p>
                    @Html.ValidationSummary(false)
                    @*@Html.ValidationSummary(true, "No se ha iniciado la sesión. Corrija los errores e inténtelo de nuevo.")*@</p>
                @if (false)
                {
                                        <a style="width: ; font-size: 14px; line-height: 46px;" href="RecuperarPassword">¿Olvidaste tu contraseña?</a><br /> }
                                                                                                                                         
                <a style="width: ; font-size: 14px" href="Register">¿No tenés cuenta? Registrate!</a><br />
            </div>
        </div>
        @*
    
    <form class="form-signin" >
    <h2 class="form-signin-heading">
        Please sign in</h2>
    <input type="text" class="input-block-level" placeholder="Email address">
    <input type="password" class="input-block-level" placeholder="Password">
    <label class="checkbox">
        <input type="checkbox" value="remember-me">
        Remember me
    </label>
    <button class="btn btn-large btn-primary" type="submit">
        Sign in</button>


    </form>*@
        <div style="text-align: center">
            <a id="lnkBDL" class="linkHoverSubrayado" href="http://www.bdlconsultores.com.ar/"
                style="text-shadow: 0 1px 0 white; color: #4F6AA3; font-size: Small; font-weight: normal;
                text-align: center; width: 100%; text-decoration: none;">©2013 BDL</a></div>
        <script>            $('#UserName').focus();</script>
        @*<p>
        http://ar.axoft.com/tango/factura/electronica/
        <br />
        logins con yahoo, hotmail y google
        <br />
        Poder entrar directo como invitado en una base demo
        <br />
        @Html.ActionLink("Regístrese", "Register")
        Registrarse y Dar de alta una nueva base para el usuario que se registra
        <br />
        Pinta que no me da boliya porque los usuarios son por aplicacion, aunque esten en
        la bdlmaster. Revisá la base si no tiene una cuenta.
    </p>*@
    </div>}
