﻿@model ProntoMVC.Models.LogOnModel
@{
    ViewBag.Title = "Iniciar sesión";
}
@*<link rel="SHORTCUT ICON" href="@Url.Content("~/Content/images/favicon.png")" />*@
<link rel="SHORTCUT ICON" href="http://bdlconsultores.ddns.net/ProntoTesting/Content/images/favicon.png" type="image/png" />
@*<link rel="icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png")" />*@
@*<link rel="icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png")" />*@
<link rel="shortcut icon" href="http://bdlconsultores.ddns.net/ProntoTesting/Content/images/favicon.ico" type="image/x-icon" />
<link rel="icon" type="image/x-icon" href="http://bdlconsultores.ddns.net/ProntoTesting/Content/images/favicon.ico" />


<script crossorigin="anonymous" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script crossorigin="anonymous" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/jquery-1.8.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/jquery-ui-1.9.0.custom.js")" type="text/javascript"></script>*@
@*<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />*@
@if (false)
{
    <!-- Latest compiled and minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css"
          rel="stylesheet" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
    <!-- Latest Glyphicons minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css"
          rel="stylesheet" />
}
else
{
    @*<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />*@
    @*<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css"
        rel="stylesheet" type="text/css" />*@
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css"
          rel="stylesheet" type="text/css" />
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
}
@*<script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>*@



<style>
    body {
        /* font-family: 'Helvetica Narrow', 'Arial Narrow',Tahoma,Arial,Helvetica,sans-serif;*/
        font-family: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
        font-size: 16px !important;
        background-color:  rgb(250, 250, 250);
    }

    input, button, select, textarea {
        font-size: 11pt;
        /* font-family: 'Helvetica Narrow', 'Arial Narrow',Tahoma,Arial,Helvetica,sans-serif;*/
        font-family: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
    }

</style>

@* http://stackoverflow.com/questions/827905/asp-net-mvc-login-returnurl-always-null*@
@*@using (Html.BeginForm(null, null, FormMethod.Post, new {id="formid",ReturnUrl = Request.QueryString["ReturnUrl"] }))*@
@using (Html.BeginForm(null, null, FormMethod.Post, new {  }))
{

    <div style="background: rgb(250, 250, 250)">
        <input type="hidden" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" /> @* al final tuve que usar un hidden  *@
        <input type="hidden" id="empresa" name="empresa" value=@Request.QueryString["empresa"] />

        <div style="">
            <br />
            <br />
            @if (false)
            {
                <div class="row-fluid  text-center" style="vertical-align: middle;">
                    <div class="span12">
                        <img src="@Url.Content("~/Content/Images/Empresas/" +
                                (
                                    (Request.QueryString["empresa"] !=null)  ?
                                       ( Request.QueryString["empresa"].ToString() + ".png" ):
                                        (System.Configuration.ConfigurationManager.AppSettings["ImagenBienvenida"] ?? "DemoPronto.png")
                                 )
                               )"
                             alt="" style="text-align:  center;
                                width: ; height: 150px;"></img>
                    </div>
                </div>
            }
            else
            {
                <br /><br /><br />
                <div class="row-fluid  text-center" style="font-family: Times New Roman; font-size: 170px; color: #233DB1; font-weight: 300;  text-shadow: 4px 3px 9px gray;">
                    Pronto

                </div>
    <br /><br /><br /><br />
            }
            <br />
            <div class="row-fluid  text-center" style="vertical-align: middle; background: /* rgba(255, 255, 255, 0.58);
            */">
                <div class="span12" style="border: 0px solid #CCCCFF; /* background-color: #F0F0FF;
                */; font-size: larger; color: #000000; vertical-align: middle; padding: 20px">
                    <div class="editor-field" style="padding: 0px; width: ; font-size: 24px">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "", @style = "width:  250px; height: 30px; font-size: larger" })
                        @Html.ValidationMessageFor(m => m.UserName)
                        @*      @if  (Html.ValidationMessageFor(m => m.UserName)!="" ){

                             }
                            advertencia: tenés el CAPS LOCK activado*@
                    </div>
                    <div class="editor-field" style="padding: 0px; font-size: 24px">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @style = "width: 250px ; height: 30px; font-size: larger" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="editor-label">
                    </div>
                    <p>
                        @*                    <input type="button" value="Iniciar sesión" class="btn btn-large btn-primary"
                            onclick="document.forms['formid'].submit(); "
                                style="width: 100%; font-size: 24px" />
                        *@
                        <button type="submit" value="Iniciar sesión" class="btn btn-default btn-large btn-primary"
                                style="width: 264px; font-size: 24px">
                            Iniciar sesión
                        </button>
                        @* http://stackoverflow.com/questions/827905/asp-net-mvc-login-returnurl-always-null*@
                        @*"btn btn-large btn-primary" />*@
                        <br />
                        <br />
                    </p>
                    <div class="text-center  editor-label" style="font-size: 14px;   ">
                        @Html.CheckBoxFor(m => m.RememberMe, new { style = "vertical-align: top;" }) Entrar automáticamente @*@Html.LabelFor(m => m.RememberMe)*@
                        @Html.ValidationSummary(false)
                    </div>
                    <p>
                        @*@Html.ValidationSummary(true, "No se ha iniciado la sesión. Corrija los errores e inténtelo de nuevo.")*@
                    </p>
                    @if (true)
                    {
                        <a style="width: ; font-size: 14px; line-height: 46px;" href="RecuperarPassword">
                            ¿Olvidaste
                            tu contraseña?
                        </a><br /> }
                    <a style="width: ; font-size: 14px" href="Register" class="text-center  editor-label">¿No tenés cuenta? Registrate!</a><br />
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row-fluid   text-center">
                <div style="text-align: center">
                    <a id="lnkBDL" class="linkHoverSubrayado  text-center  editor-label" href="http://www.bdlconsultores.com.ar/"
                       style="text-shadow: 0 1px 0 white; color: #4F6AA3; font-size: Small; font-weight: normal;
                    text-align: center; width: 100%; text-decoration: none;">©2015 BDL</a>
                </div>
            </div>
            <script>            $('#UserName').focus();</script>
            @*<p>
                    http://ar.axoft.com/tango/factura/electronica/
                    <br />
                    logins con yahoo, hotmail y google
                    <br />
                    Poder entrar directo como invitado en una base demo
                    <br />
                    @Html.ActionLink("Regístrese", "Register")
                    Registrarse y Dar de alta una nueva base para el usuario que se registra
                    <br />
                    Pinta que no me da boliya porque los usuarios son por aplicacion, aunque esten en
                    la bdlmaster. Revisá la base si no tiene una cuenta.
                </p>*@
        </div>

    </div>
}
