﻿@model ProntoMVC.Models.RecuperarPasswordModel
@{
    ViewBag.Title = "Cambiar contraseña";
}
<div class="container-fluid">
    <h2>
        Recuperar contraseña</h2>

          <div class="row-fluid">
    <div class="alert fade in span12 " id="mensajeAlerta" style="display: none;">
        <button type="button" class="close">
            &times;</button>
        <p id="textoMensajeAlerta">
            @TempData["Alerta"]
        </p>
        @if ((@TempData["Alerta"] ?? "") != "")
        {
            <script>
                $("#mensajeAlerta").show();
            </script>
        }
    </div>
    </div>
 
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    
    @if (false)
    {
    
        using(Html.BeginForm())
    {
        @Html.ValidationSummary(true, "No se realizó el cambio de contraseña. Corrija los errores e inténtelo de nuevo.")
        <div>
            <fieldset>
              
                <div class="editor-label">

                   @Html.LabelFor(model => model.UserName, "Nombre de usuario")
                     @Html.TextBoxFor(m => m.UserName, new { @autocomplete = "off" })


                </div>

@*                en este form uso la pregunta secreta
                si no la uso, no debo resetear la contraseña!!!, si no, lo puede hacer cualquiera para molestarte
                lo que sí puedo hacer en ese caso, es reenviartela al mail
*@
            @*esto está mal!... no podés hacer la pregunta secreta si no sabes qué usuario supuestamente es!!!!*@
                @Model.PreguntaSecreta
                @Html.TextBoxFor(m => m.RespuestaSecreta, new { @autocomplete = "off" })
            </fieldset>
        </div>
        
           <p>
                    <button type="submit" class="btn btn-primary" value="Recuperar">
                            Resetear y recibir en el mail</button>
                </p>
    }

    }


      @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "No se realizó el cambio de contraseña. Corrija los errores e inténtelo de nuevo.")
        <div>
            <fieldset>
              
                <div class="editor-label">

                   @Html.LabelFor(model => model.UserName, "Nombre de usuario")
                     @Html.TextBoxFor(m => m.UserName    , new { @autocomplete = "off" })


                </div>

@*                en este form NO uso la pregunta secreta
                si no la uso, no debo resetear la contraseña!!!, si no, lo puede hacer cualquiera para molestarte
                lo que sí puedo hacer en ese caso, es reenviartela al mail
*@
            </fieldset>
        </div>
        
           <p>
                      <button type="submit" class="btn btn-primary" value="RecuperarSinReset">
                            Recibir correo</button>

                </p>
    }

                  


</div>
