﻿@model ProntoMVC.Models.RegisterModel
@{
    ViewBag.Title = "Registrarse";
}
<style>

</style>
<div class="container-fluid" style="background: rgb(250, 250, 250)">
    <br />
    <div class="span8" style='font-size: 34px; margin-top: 5px; height: 45px; font-weight: 400;
        text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
        Crear una nueva cuenta
    </div>
    <br />
    @*    <p>
            Es necesario que las contraseñas tengan al menos @Membership.MinRequiredPasswordLength
            caracteres.
        </p>*@
    <div class="row-fluid">
        <div class="alert fade in span12 " id="mensajeAlerta" style="display: none;">
            <button type="button" class="close">
                &times;
            </button>
            <p id="textoMensajeAlerta">
                @TempData["Alerta"]
            </p>
            @if ((@TempData["Alerta"] ?? "") != "")
            {
                <script>
                    $("#mensajeAlerta").show();
                </script>
            }
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid", @autocomplete = "off" }))
    {
        @Html.ValidationSummary(true, "No se creó la cuenta. Corrija los errores e inténtelo de nuevo.")
        <div class="span2"></div>
        <div class="span6">
            <fieldset>
                @*http://stackoverflow.com/questions/15738259/disabling-chrome-autofill?lq=1*@
                <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                <input style="display: none" type="text" name="fakeusernameremembered" />
                <input style="display: none" type="password" name="fakepasswordremembered" />
                <div class="editor-label">
                    @Html.LabelFor(m => m.UserName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Email, new { @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.Password, new { @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <div class="editor-label">
                    <label for="comments">
                        Cuit (con guiones)
                    </label>
                    @*(Opcional. Si no se informa, solo se podrá autorizar por un Administrador)*@
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Grupo, new { @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Grupo)
                </div>
                <br />
                <button type="submit" class="btn btn-primary btn-large" value="Registrarse">
                    Registrarse</button>
            </fieldset>
        </div>
    }
</div>
<script>

    $(function () {

        //        if ($.browser.webkit) {
        //            $('input').attr('autocomplete', 'off');
        //        }


        //        if (navigator.userAgent.toLowerCase().indexOf("chrome") >= 0) {
        //            $(window).load(function () {
        //                $('input:-webkit-autofill').each(function () {
        //                    var text = $(this).val();
        //                    var name = $(this).attr('name');
        //                    $(this).after(this.outerHTML).remove();
        //                    $('input[name=' + name + ']').val(text);
        //                });
        //            });
        //        }
    })

</script>
