﻿@model ProntoMVC.Data.Models.Cliente
@{
    ViewBag.Title = "Cliente " + Model.RazonSocial;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)
    <script src="@Url.Content("~/Scripts/ScriptCliente.js?1519")" type="text/javascript"></script>
    
    <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100% ">
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; padding-left: 25px; padding-right: 25px; overflow-x: hidden;">
                    <div>@Html.Hidden("IdCliente", Model.IdCliente)</div>
                    <div>@Html.Hidden("Codigo", Model.Codigo)</div>
                    <div class="row-fluid" style="margin-bottom: 15px; margin-top: 5px;">
                        <div class="span8 lightblue">
                            @Html.TextBox("RazonSocialCliente", Model.RazonSocial, new { style = "font-weight: 400; text-shadow: 0 1px 0  lightgray; font-size: 24px; border: 0; padding: 0 ; text-align: left; background: transparent;  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Lucida', Tahoma, Arial,'sans-serif'; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; ", @class = "span8", @readonly = "readonly" })
                        </div>
                        <script>
                            $(function () {
                                function resizeInput() {
                                    // $(this).attr('size', $(this).val().length + 2);
                                    $(this).css('width', $(this).val().length * 32);
                                }

                                var valor = $("#Codigo").val();
                                valor = valor.substring(0, 2);
                                $("#Subcodigo").val(valor);
                            })
                        </script>

                    </div>
                    @*<style>
                        body {
                            margin: 5px;
                            background: #A6A6A6;
                        }

                        /* Tab Navigation */
                        .nav-tabs {
                            margin: 0;
                            padding: 0;
                            border: 0;
                        }

                            .nav-tabs > li > a {
                                background: #DADADA;
                                border-radius: 0;
                                box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
                            }

                            .nav-tabs > li.active > a,
                            .nav-tabs > li.active > a:hover {
                                background: #F5F5F5;
                                box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
                            }

                        /* Tab Content */
                        .tab-pane {
                            background: #9A9A9A;
                            box-shadow: 0 0 4px rgba(0,0,0,.4);
                            border-radius: 0;
                            text-align: left;
                            padding: 10px;
                            width: 1030px;
                        }

                    </style>*@
                    @*<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#red" data-toggle="tab">Datos generales</a></li>
                            <li><a href="#contactos" data-toggle="tab">Contactos</a></li>
                            <li><a href="#retenciones" data-toggle="tab">Informacion para retenciones</a></li>
                            <li><a href="#rubros" data-toggle="tab">Rubros provistos</a></li>
                            <li><a href="#datosadicionales" data-toggle="tab">Datos adicionales</a></li>
                        </ul>*@
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a href="#red" data-toggle="tab">Datos generales</a></li>
                        <li><a href="#contactos" data-toggle="tab">Contactos</a></li>
                        <li><a href="#retenciones" data-toggle="tab">Retenciones</a></li>
                        <li><a href="#exportaciones" data-toggle="tab">Exportaciones</a></li>
                        <li><a href="#datoscontables" data-toggle="tab">Datos contables</a></li>
                        <li><a href="#lugaresentrega" data-toggle="tab">Lugares de entrega</a></li>
                        <li><a href="#direccionestelefonos" data-toggle="tab">Direcciones / Telefonos</a></li>
                    </ul>
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="red">
                            <div class="row-fluid">
                                <div class="span2 lightblue">
                                    <label for="Subcodigo">Subcodigo</label>
                                    <input type="text" name="Subcodigo" id="Subcodigo" style="font-size: 15px; text-align: center;" class="span12" />
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.CodigoCliente, "Codigo")
                                    @Html.TextBoxFor(model => model.CodigoCliente, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.CodigoCliente)
                                </div>
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.RazonSocial, "Razon Social")
                                    @Html.TextBoxFor(model => model.RazonSocial, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.RazonSocial)
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.NombreFantasia, "Nombre Comercial")
                                    @Html.TextBoxFor(model => model.NombreFantasia, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.NombreFantasia)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdEstado, "Estado actual")
                                    @Html.DropDownList("IdEstado", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdEstado)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdMoneda, "Moneda habitual")
                                    @Html.DropDownList("IdMoneda", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdMoneda)
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.Direccion)
                                    @Html.TextBoxFor(model => model.Direccion, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Direccion)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdCodigoIva, "Condicion IVA")
                                    @Html.DropDownList("IdCodigoIVA", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdCodigoIva)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.Cuit)
                                    @Html.TextBoxFor(model => model.Cuit, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Cuit)
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span3 lightblue">
                                    @Html.HiddenFor(model => model.IdLocalidad)
                                    @Html.LabelFor(model => model.IdLocalidad, "Localidad")
                                    @Html.TextBox("Localidad", (Model.Localidad == null ? "" : Model.Localidad.Nombre), new { @class = "span12" })
                                    <script type="text/jscript">
                                        $("#Localidad").autocomplete({
                                            source: '@Url.Action("GetLocalidadesAutocomplete","Localidad")',
                                            minLength: 0,
                                            messages: { noResults: "", results: function () { } },
                                            select: function (event, ui) {
                                                $("#IdLocalidad").val(ui.item.id);
                                                $("#Localidad").val(ui.item.value);
                                                $("#IdProvincia").val(ui.item.idprovincia);
                                                event.preventDefault();
                                            }
                                        });
                                    </script>
                                </div>
                                <div class="span1 lightblue">
                                    @Html.LabelFor(model => model.CodigoPostal, "Codigo Postal")
                                    @Html.TextBoxFor(model => model.CodigoPostal, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.CodigoPostal)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.Provincia, "Provincia")
                                    @Html.DropDownList("IdProvincia", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.Provincia)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdPais, "Pais")
                                    @Html.DropDownList("IdPais", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.Pais)
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.Telefono, "Telefono")
                                    @Html.TextBoxFor(model => model.Telefono, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Telefono)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.Fax)
                                    @Html.TextBoxFor(model => model.Fax, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Fax)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.Email)
                                    @Html.TextBoxFor(model => model.Email, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.IdCondicionVenta, "Condicion de venta")
                                    @Html.DropDownList("IdCondicionVenta", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdCondicionVenta)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdListaPrecios, "Lista de precios")
                                    @Html.DropDownList("IdListaPrecios", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdListaPrecios)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.RegistrarMovimientosEnCuentaCorriente, "El cliente no registra mov. en cta. cte.")
                                    @Html.CheckBox("RegistrarMovimientosEnCuentaCorriente", Model.RegistrarMovimientosEnCuentaCorriente == "NO")
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.Vendedor1, "Vendedor")
                                    @Html.DropDownList("Vendedor1", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.Vendedor1)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.Cobrador, "Cobrador")
                                    @Html.DropDownList("Cobrador", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.Cobrador)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdTransportista, "Transportista habitual")
                                    @Html.DropDownList("IdTransportista", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdTransportista)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdRegion, "Region")
                                    @Html.DropDownList("IdRegion", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdRegion)
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span8 lightblue">
                                    @Html.LabelFor(model => model.Observaciones)
                                    @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12", @style = "height: 50px;" })
                                    @Html.ValidationMessageFor(model => model.Observaciones)
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="contactos">
                            <div class="row-fluid">
                                <div class="span8 lightblue">
                                    @Html.LabelFor(model => model.Contacto, "Contacto Principal")
                                    @Html.TextBoxFor(model => model.Contacto, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Contacto)
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span8 lightblue">
                                    <table id="ListaContactos" class="scroll" cellpadding="0" cellspacing="0"></table>
                                    <div id="PagerContactos" class="scroll"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="retenciones">
                            <div class="well well-sm" style="height: 90px; width: 900px;">
                                <h5>Ganancias</h5>
                                <div class="row-fluid">
                                    <div class="span5 lightblue">
                                        @Html.LabelFor(model => model.IGCondicion, "Categoria")
                                        @Html.DropDownList("IGCondicion", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IGCondicion)
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm" style="height: 90px; width: 900px;">
                                <h5>Percepcion IVA</h5>
                                <div class="row-fluid">
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.EsAgenteRetencionIVA, "El cliente es agente de retencion IVA ")
                                        @Html.CheckBox("EsAgenteRetencionIVA", Model.EsAgenteRetencionIVA == "SI")
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.BaseMinimaParaPercepcionIVA, "Base minima para calcular percepcion")
                                        @Html.TextBoxFor(model => model.BaseMinimaParaPercepcionIVA, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.BaseMinimaParaPercepcionIVA)
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.PorcentajePercepcionIVA, "% a aplicar")
                                        @Html.TextBoxFor(model => model.PorcentajePercepcionIVA, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.PorcentajePercepcionIVA)
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm" style="height: 300px; width: 900px;">
                                <h5>Ingresos brutos</h5>
                                <div class="row-fluid">
                                    <div class="span10 lightblue">
                                        @*@Html.LabelFor(model => model.IBCondicion, "Condicion")*@
                                        @Html.RadioButtonFor(model => model.IBCondicion, "1") Exento
                                        @Html.RadioButtonFor(model => model.IBCondicion, "2") Inscripto convenio multilateral
                                        @Html.RadioButtonFor(model => model.IBCondicion, "3") Inscripto Jurisdicion Local
                                        @Html.RadioButtonFor(model => model.IBCondicion, "4") No alcanzado
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.IdIBCondicionPorDefecto, "Categoria IIBB por defecto")
                                        @Html.DropDownList("IdIBCondicionPorDefecto", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdIBCondicionPorDefecto)
                                    </div>
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.IdIBCondicionPorDefecto2, "Categoria IIBB por defecto 2")
                                        @Html.DropDownList("IdIBCondicionPorDefecto2", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdIBCondicionPorDefecto2)
                                    </div>
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.IdIBCondicionPorDefecto3, "Categoria IIBB por defecto 3")
                                        @Html.DropDownList("IdIBCondicionPorDefecto3", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdIBCondicionPorDefecto3)
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.IBNumeroInscripcion, "Nro. Inscripcion")
                                        @Html.TextBoxFor(model => model.IBNumeroInscripcion, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.IBNumeroInscripcion)
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span2 lightblue">
                                        Buenos Aires :
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.PorcentajeIBDirecto, "%IB directo 1")
                                        @Html.TextBoxFor(model => model.PorcentajeIBDirecto, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.PorcentajeIBDirecto)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.FechaInicioVigenciaIBDirecto, "Fecha inicio vigencia 1")
                                        @Html.TextBoxFor(model => model.FechaInicioVigenciaIBDirecto, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.FechaInicioVigenciaIBDirecto)
                                        <script type="text/jscript">
                                            $("#FechaInicioVigenciaIBDirecto").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.FechaFinVigenciaIBDirecto, "Fecha fin vigencia 1")
                                        @Html.TextBoxFor(model => model.FechaFinVigenciaIBDirecto, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.FechaFinVigenciaIBDirecto)
                                        <script type="text/jscript">
                                            $("#FechaFinVigenciaIBDirecto").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.GrupoIIBB, "Grupo 1")
                                        @Html.TextBoxFor(model => model.GrupoIIBB, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.GrupoIIBB)
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span2 lightblue">
                                        Capital :
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.PorcentajeIBDirectoCapital, "%IB directo 2")
                                        @Html.TextBoxFor(model => model.PorcentajeIBDirectoCapital, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.PorcentajeIBDirectoCapital)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.FechaInicioVigenciaIBDirectoCapital, "Fecha inicio vigencia 2")
                                        @Html.TextBoxFor(model => model.FechaInicioVigenciaIBDirectoCapital, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.FechaInicioVigenciaIBDirectoCapital)
                                        <script type="text/jscript">
                                            $("#FechaInicioVigenciaIBDirectoCapital").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.FechaFinVigenciaIBDirectoCapital, "Fecha fin vigencia 2")
                                        @Html.TextBoxFor(model => model.FechaFinVigenciaIBDirectoCapital, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                                        @Html.ValidationMessageFor(model => model.FechaFinVigenciaIBDirectoCapital)
                                        <script type="text/jscript">
                                            $("#FechaFinVigenciaIBDirectoCapital").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                                //numberOfMonths: 2,
                                            });
                                        </script>
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.GrupoIIBBCapital, "Grupo 2")
                                        @Html.TextBoxFor(model => model.GrupoIIBBCapital, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.GrupoIIBBCapital)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="exportaciones">
                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.Importaciones_NumeroInscripcion, "Numero de inscripcion")
                                    @Html.TextBoxFor(model => model.Importaciones_NumeroInscripcion, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Importaciones_NumeroInscripcion)
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.Importaciones_DenominacionInscripcion, "Denominacion inscripcion")
                                    @Html.TextBoxFor(model => model.Importaciones_DenominacionInscripcion, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.Importaciones_DenominacionInscripcion)
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="datoscontables">
                            <div class="well well-sm" style="height: 140px; width: 900px;">
                                <h5>Datos contables</h5>
                                <div class="row-fluid">
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.IdCuenta, "Cuenta contable para operaciones en peso")
                                        @Html.DropDownList("IdCuenta", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdCuenta)
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.IdCuentaMonedaExt, "Cuenta contable para operaciones en moneda extranjera")
                                        @Html.DropDownList("IdCuentaMonedaExt", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdCuentaMonedaExt)
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm" style="height: 140px; width: 900px; ">
                                <h5>Informacion para servicios de cobranza bancarias</h5>
                                <div class="row-fluid">
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.IdBancoDebito, "Banco para debito bancario")
                                        @Html.DropDownList("IdBancoDebito", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdBancoDebito)
                                    </div>
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.CBU, "CBU")
                                        @Html.TextBoxFor(model => model.CBU, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.CBU)
                                    </div>
                                    <div class="span4 lightblue">
                                        @Html.LabelFor(model => model.IdBancoGestionador, "Banco que gestiona el cobro")
                                        @Html.DropDownList("IdBancoGestionador", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdBancoGestionador)
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span3 lightblue">
                                        @Html.LabelFor(model => model.IdTarjetaCredito, "Debito por tarjeta de credito")
                                        @Html.DropDownList("IdTarjetaCredito", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdTarjetaCredito)
                                    </div>
                                    <div class="span2 lightblue">
                                        @Html.LabelFor(model => model.Tarjeta_NumeroTarjeta, "Numero de tarjeta")
                                        @Html.TextBoxFor(model => model.Tarjeta_NumeroTarjeta, new { @class = "span12" })
                                        @Html.ValidationMessageFor(model => model.Tarjeta_NumeroTarjeta)
                                    </div>
                                </div>
                            </div>
                            <div class="span10 lightblue">
                                @Html.LabelFor(model => model.OperacionesMercadoInternoEntidadVinculada, "Regimen informativo de operaciones en el mercado interno - Sujeto / Entidad vinculada")
                                @Html.CheckBox("OperacionesMercadoInternoEntidadVinculada", Model.OperacionesMercadoInternoEntidadVinculada == "SI")
                            </div>
                        </div>

                        <div class="tab-pane" id="lugaresentrega">
                            <div class="row-fluid">
                                <div class="span4 lightblue">
                                    @Html.LabelFor(model => model.DireccionEntrega, "Direccion de entrega principal")
                                    @Html.TextBoxFor(model => model.DireccionEntrega, new { @class = "span12" })
                                    @Html.ValidationMessageFor(model => model.DireccionEntrega)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdLocalidadEntrega, "Localidad")
                                    @Html.DropDownList("IdLocalidadEntrega", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdLocalidadEntrega)
                                </div>
                                <div class="span2 lightblue">
                                    @Html.LabelFor(model => model.IdProvinciaEntrega, "Provincia")
                                    @Html.DropDownList("IdProvinciaEntrega", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                    @Html.ValidationMessageFor(model => model.IdProvinciaEntrega)
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12 lightblue">
                                    <table id="ListaDireccionesEntrega" class="scroll" cellpadding="0" cellspacing="0"></table>
                                    <div id="PagerDireccionesEntrega" class="scroll"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="direccionestelefonos">
                            <div class="row-fluid">
                                <div class="span12 lightblue">
                                    <table id="ListaDireccionesAdicionales" class="scroll" cellpadding="0" cellspacing="0"></table>
                                    <div id="PagerDireccionesAdicionales" class="scroll"></div>
                                </div>
                            </div>
                            <br />
                            <div class="row-fluid">
                                <div class="span12 lightblue">
                                    <table id="ListaTelefonosAdicionales" class="scroll" cellpadding="0" cellspacing="0"></table>
                                    <div id="PagerTelefonosAdicionales" class="scroll"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236); width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span8 pull-left">
                        </div>
                        <div class="span4 pull-right">
                            <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary" />
                            @if (Model.IdCliente > 0)
                            { @Html.ActionLink("Eliminar", "DeleteConfirmed", new { id = Model.IdCliente }, new { @class = "btn  btn-large  btn-default" }) }
                            @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn  btn-large  btn-link" })
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">

        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();

            $("#conscroll").height($(window).height() - 120);
        });
    </script>
}
