﻿@model ProntoMVC.Models.Requerimiento

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Requerimiento</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdRequerimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdRequerimiento)
            @Html.ValidationMessageFor(model => model.IdRequerimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroRequerimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroRequerimiento)
            @Html.ValidationMessageFor(model => model.NumeroRequerimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaRequerimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaRequerimiento)
            @Html.ValidationMessageFor(model => model.FechaRequerimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LugarEntrega)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LugarEntrega)
            @Html.ValidationMessageFor(model => model.LugarEntrega)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observaciones)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Observaciones)
            @Html.ValidationMessageFor(model => model.Observaciones)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdObra, "Obra")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdObra", String.Empty)
            @Html.ValidationMessageFor(model => model.IdObra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCentroCosto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCentroCosto)
            @Html.ValidationMessageFor(model => model.IdCentroCosto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdSolicito, "Empleados1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdSolicito", String.Empty)
            @Html.ValidationMessageFor(model => model.IdSolicito)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdSector, "Sectores")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdSector", String.Empty)
            @Html.ValidationMessageFor(model => model.IdSector)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MontoPrevisto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MontoPrevisto)
            @Html.ValidationMessageFor(model => model.MontoPrevisto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdComprador)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdComprador)
            @Html.ValidationMessageFor(model => model.IdComprador)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Aprobo, "Empleados")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Aprobo", String.Empty)
            @Html.ValidationMessageFor(model => model.Aprobo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaAprobacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaAprobacion)
            @Html.ValidationMessageFor(model => model.FechaAprobacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MontoParaCompra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MontoParaCompra)
            @Html.ValidationMessageFor(model => model.MontoParaCompra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cumplido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cumplido)
            @Html.ValidationMessageFor(model => model.Cumplido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Consorcial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Consorcial)
            @Html.ValidationMessageFor(model => model.Consorcial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UsuarioAnulacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UsuarioAnulacion)
            @Html.ValidationMessageFor(model => model.UsuarioAnulacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaAnulacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaAnulacion)
            @Html.ValidationMessageFor(model => model.FechaAnulacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MotivoAnulacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MotivoAnulacion)
            @Html.ValidationMessageFor(model => model.MotivoAnulacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnviarEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnviarEmail)
            @Html.ValidationMessageFor(model => model.EnviarEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdRequerimientoOriginal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdRequerimientoOriginal)
            @Html.ValidationMessageFor(model => model.IdRequerimientoOriginal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdOrigenTransmision)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdOrigenTransmision)
            @Html.ValidationMessageFor(model => model.IdOrigenTransmision)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdAutorizoCumplido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdAutorizoCumplido)
            @Html.ValidationMessageFor(model => model.IdAutorizoCumplido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdDioPorCumplido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdDioPorCumplido)
            @Html.ValidationMessageFor(model => model.IdDioPorCumplido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaDadoPorCumplido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaDadoPorCumplido)
            @Html.ValidationMessageFor(model => model.FechaDadoPorCumplido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ObservacionesCumplido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ObservacionesCumplido)
            @Html.ValidationMessageFor(model => model.ObservacionesCumplido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdMoneda)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdMoneda)
            @Html.ValidationMessageFor(model => model.IdMoneda)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Detalle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Detalle)
            @Html.ValidationMessageFor(model => model.Detalle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DirectoACompras)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DirectoACompras)
            @Html.ValidationMessageFor(model => model.DirectoACompras)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdAutorizoDirectoACompras)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdAutorizoDirectoACompras)
            @Html.ValidationMessageFor(model => model.IdAutorizoDirectoACompras)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRESTOContrato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRESTOContrato)
            @Html.ValidationMessageFor(model => model.PRESTOContrato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Confirmado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Confirmado)
            @Html.ValidationMessageFor(model => model.Confirmado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaImportacionTransmision)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaImportacionTransmision)
            @Html.ValidationMessageFor(model => model.FechaImportacionTransmision)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdEquipoDestino)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdEquipoDestino)
            @Html.ValidationMessageFor(model => model.IdEquipoDestino)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Impresa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Impresa)
            @Html.ValidationMessageFor(model => model.Impresa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Recepcionado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Recepcionado)
            @Html.ValidationMessageFor(model => model.Recepcionado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Entregado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Entregado)
            @Html.ValidationMessageFor(model => model.Entregado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipoRequerimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TipoRequerimiento)
            @Html.ValidationMessageFor(model => model.TipoRequerimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdOrdenTrabajo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdOrdenTrabajo)
            @Html.ValidationMessageFor(model => model.IdOrdenTrabajo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Aprobo2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Aprobo2)
            @Html.ValidationMessageFor(model => model.Aprobo2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaAprobacion2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaAprobacion2)
            @Html.ValidationMessageFor(model => model.FechaAprobacion2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoCompra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdTipoCompra)
            @Html.ValidationMessageFor(model => model.IdTipoCompra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdImporto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdImporto)
            @Html.ValidationMessageFor(model => model.IdImporto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaLlegadaImportacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaLlegadaImportacion)
            @Html.ValidationMessageFor(model => model.FechaLlegadaImportacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CircuitoFirmasCompleto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CircuitoFirmasCompleto)
            @Html.ValidationMessageFor(model => model.CircuitoFirmasCompleto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCuentaPresupuesto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCuentaPresupuesto)
            @Html.ValidationMessageFor(model => model.IdCuentaPresupuesto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MesPresupuesto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MesPresupuesto)
            @Html.ValidationMessageFor(model => model.MesPresupuesto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequisitosSeguridad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequisitosSeguridad)
            @Html.ValidationMessageFor(model => model.RequisitosSeguridad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Adjuntos)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Adjuntos)
            @Html.ValidationMessageFor(model => model.Adjuntos)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmadoPorWeb)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmadoPorWeb)
            @Html.ValidationMessageFor(model => model.ConfirmadoPorWeb)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DetalleImputacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DetalleImputacion)
            @Html.ValidationMessageFor(model => model.DetalleImputacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUsuarioDeslibero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdUsuarioDeslibero)
            @Html.ValidationMessageFor(model => model.IdUsuarioDeslibero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaDesliberacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaDesliberacion)
            @Html.ValidationMessageFor(model => model.FechaDesliberacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeradorDesliberaciones)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeradorDesliberaciones)
            @Html.ValidationMessageFor(model => model.NumeradorDesliberaciones)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUsuarioEliminoFirmas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdUsuarioEliminoFirmas)
            @Html.ValidationMessageFor(model => model.IdUsuarioEliminoFirmas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaEliminacionFirmas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaEliminacionFirmas)
            @Html.ValidationMessageFor(model => model.FechaEliminacionFirmas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeradorEliminacionesFirmas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeradorEliminacionesFirmas)
            @Html.ValidationMessageFor(model => model.NumeradorEliminacionesFirmas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeradorModificaciones)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeradorModificaciones)
            @Html.ValidationMessageFor(model => model.NumeradorModificaciones)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParaTaller)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParaTaller)
            @Html.ValidationMessageFor(model => model.ParaTaller)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
