﻿@model IEnumerable<ProntoMVC.Data.Models.Requerimiento>
@{
    ViewBag.Title = "Requerimientos";
}
@*<div class="container-fluid">*@
<br />
@if (false)
{
    <style>
        /* jqGrid builds some additional divs over the main grid table. The outer div has the class ui-jqgrid. So if you need to remove right and left border existing over the whole grid you can use the following CSS: */



        .ui-widget-content {
            border: 0px solid #aaaaaa;
        }

        .ui-jqgrid {
            border-right-width: 0px;
            border-left-width: 0px;
        }
            /* If you need to remove all grid's borders you can use

        .ui-jqgrid { border-width: 0px; }
        If you want additionally remove vertical border between the cells in the grid you can use */

            .ui-jqgrid tr.ui-row-ltr td {
                border-right-color: #E4E4E4;
            }


            .ui-jqgrid tr.footrow-ltr td {
                border-right-color: #E4E4E4 !important;
            }

            /*To remove horizontal border between the rows you can use */

            .ui-jqgrid tr.ui-row-ltr td {
                border-bottom-color: #E4E4E4;
            }
        /*To remove vertical borders between the column headers you can use */

        th.ui-th-column {
            border-right-color: #E4E4E4 !important;
        }
        /* or alternatively (without the usage of !important) */

        .ui-jqgrid-labels .ui-th-column {
            border-right-color: #E4E4E4;
        }
    </style>
}


<div style=" padding-left: 15px;  padding-right: 15px ;">
    <div>
        <div class="row-fluid">
            <div class="span12 lightblue">
                <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary span2 ">
                    Nuevo requerimiento
                </button>
                @*   <button onclick="  " class="btn span1">
                        Excel
                    </button>*@
                <div class="span4">
                    <div class="input-prepend input-append">
                        @* <div class="btn-group ">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    En todo <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu">
                                    Requerimientos
                                </div>
                                <ul class="dropdown-menu">
                                    Número
                                </ul>
                            </div>*@
                        <input id="BuscadorListado" type="text" class="" placeholder="Filtrar" style="" />
                        @if (Roles.IsUserInRole(ViewBag.NombreUsuario, "SuperAdmin"))
                        {
                            <select id="campos " class="span4">
                                <option>Número</option>
                                @* <option>Fecha</option>*@
                            </select>
                            <button onclick=" jQuery('#Lista').searchGrid({}) " class="btn append ">
                                ...
                            </button>
                        }
                    </div>
                </div>
                <div class="span2 pull-right" style="text-align: center; display: none">
                    a confirmar
                    @Html.CheckBox("bAConfirmar")
                    a liberar
                    @Html.CheckBox("bALiberar")
                </div>
                @*  <input id="BuscarEnLugarDeFiltrar" type="text" class="" placeholder="Buscar" style="" />*@
                @* <div class="btn-group  pull-right ">
                        <button onclick="  " class="btn">
                            <
                        </button>
                        <button onclick="  " class="btn ">
                            >
                        </button>
                    </div>*@
                @if (false)
                {
                    <div class="btn-group span2">
                        <a class="btn  " style="color: Black" href="#"><i class="icon-print"></i>&nbsp;más</a>
                        <button class="btn dropdown-toggle " data-toggle="dropdown">
                            <span class="caret "></span>
                        </button>
                        <ul class="dropdown-menu ">
                            <li><a class="" href="#"><i class="icon-print"></i>&nbsp;Excel</a></li>
                        </ul>
                    </div>
                }
                <div class="span1">
                    <div>
                        <input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]>
                    </div>
                    <div>
                        <input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]>
                    </div>
                    <div>
                        <input id="IdObra" name="IdObra" type="hidden" value=@Request.QueryString["idobra"]>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>
        <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px;
        "></table>
        <div id="ListaPager" class="scroll" style="text-align: center;">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {


        $("#BuscadorListado").keyup(function () {


            filtrar()

        });


        $("#BuscadorListado").change(function () {

            filtrar()


        });

        function filtrar() {



            var grid = jQuery("#Lista");
            var postdata = grid.jqGrid('getGridParam', 'postData');
            jQuery.extend(postdata,
               {
                   filters: '',
                   searchField: 'NumeroRequerimiento',
                   searchOper: 'eq',
                   searchString: $("#BuscadorListado").val()
               });
            grid.jqGrid('setGridParam', { search: true, postData: postdata });
            grid.trigger("reloadGrid", [{ page: 1 }]);


            //<select><option value="NumeroRequerimiento" selected="selected">N°</option><option value="Detalle">Detalle</option><option value="NumeroObra">Obra</option><option value="Sector">Sector</option><option value="Observaciones">Observaciones</option><option value="LugarEntrega">Lugar de necesidad</option></select>
        }






        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        //$('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("Requerimientos_DynamicGridData", "Requerimiento")',

            postData: {
                'FechaInicial': function () { return $("#FechaInicial").val(); },
                'FechaFinal': function () { return $("#FechaFinal").val(); },
                'IdObra': function () { return $("#IdObra").val(); },
                'bAConfirmar': function () {
                    return $('#bAConfirmar').is(":checked");
                },
                'bALiberar': function () {
                    return $('#bALiberar').is(":checked");
                }
            },


            datatype: 'json',
            mtype: 'POST',
            colNames: ['', '', 'IdRequerimiento', 'Numero', 'Fecha', 'Cump.', 'Recep.', 'Entreg.', 'Impresa', 'Detalle', 'Obra', 'Presupuestos', 'Comparativas',
                       'Pedidos', 'Recepciones', 'Salidas', 'Libero', 'Solicito', 'Sector', 'Usuario anulo', 'Fecha anulacion', 'Motivo anulacion', 'Fechas liberacion',
                       'Observaciones', 'Lugar de entrega', '', '', 'Web'],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 50, sortable: false, editable: false, search: false, frozen: true }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                        { name: 'act', index: 'act', align: 'center', width: 80, sortable: false, editable: false, search: false, frozen: true }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                        { name: 'IdRequerimiento', index: 'IdRequerimiento', align: 'left', width: 0, editable: false, hidden: true, frozen: true },
                        { name: 'NumeroRequerimiento', index: 'NumeroRequerimiento', align: 'right', width: 80, editable: false, frozen: true, search: true, searchoptions: { sopt: ['cn','eq'] } },
                        {
                            name: 'FechaRequerimiento', index: 'FechaRequerimiento', width: 100, align: 'center',
                            sorttype: 'date', editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false, frozen: false
                        },
                        { name: 'Cumplido', index: 'Cumplido', align: 'center', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Recepcionado', index: 'Recepcionado', align: 'center', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Entregado', index: 'Entregado', align: 'center', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Impresa', index: 'Impresa', align: 'center', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Detalle', index: 'Detalle', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Obra.NumeroObra', index: 'Obra.NumeroObra', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Presupuestos', index: 'Presupuestos', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Comparativas', index: 'Comparativas', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Pedidos', index: 'Pedidos', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Recepciones', index: 'Recepciones', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Salidas', index: 'Salidas', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Libero', index: 'Libero', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: [''] } },
                        { name: 'Solicito', index: 'Solicito', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Sector', index: 'Sector', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Usuario_anulo', index: 'Usuario_anulo', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Fecha_anulacion', index: 'Fecha_anulacion', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Motivo_anulacion', index: 'Motivo_anulacion', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Fechas_liberacion', index: 'Fechas_liberacion', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'LugarEntrega', index: 'LugarEntrega', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Web', index: 'Web', align: 'left', width: 0, editable: false, hidden: true, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Web', index: 'Web', align: 'left', width: 0, editable: false, hidden: true, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Web', index: 'Web', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } }

            ],
            //            onSelectRow: function (id) {
            //                if (id && id !== lastSelectedId) {
            //                    if (typeof lastSelectedId !== "undefined") {
            //                        grid.jqGrid('restoreRow', lastSelectedId);
            //                    }
            //                    lastSelectedId = id;
            //                }
            //            },

            ondblClickRow: function (idrow) {
                window.location.href = ROOT + 'Requerimiento/Edit/' + idrow;


                // $("#edtData").click();

                //edicion inline
                // http://stackoverflow.com/questions/8163106/form-editing-with-inline-editing-to-same-jqgrid
                //                if(id && id!==lastSel){
                //                    jQuery('#Lista').restoreRow(lastSel);
                //                    lastSel=id;
                //                }
                //                jQuery('#Lista').editRow(id, true);
                //

            },
            loadComplete: function () {
                //$("#Lista").jqGrid('filterToolbar', {})
            },




            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50],
            sortname: 'NumeroRequerimiento', // 'FechaRecibo,NumeroRecibo',
            sortorder: 'desc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar', //,


            ///////////////////////////////
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            //////////////////////////////

            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true
            // ,caption: '<b>FACTURAS</b>'

        , gridview: true
        , multiboxonly: true
        , multipleSearch: true






            //imgpath: '/content/cupertino/images',
            //loadonce: true,
            //, caption: '<b>REQUERIMIENTOS</b>'
        });
        jQuery("#Lista").jqGrid('bindKeys');

        jQuery("#Lista").jqGrid('navGrid', '#ListaPager',
         { csv: true, refresh: true, add: false, edit: false, del: false }, {}, {}, {},
         {
             //sopt: ["cn"]
             //sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc', 'nu', 'nn', 'in', 'ni'],
             width: 700, closeOnEscape: true, closeAfterSearch: true, multipleSearch: true, overlay: false
         }
        );


        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        }); // si queres sacar el enableClear, definilo en las searchoptions de la columna específica http://www.trirand.com/blog/?page_id=393/help/clearing-the-clear-icon-in-a-filtertoolbar/



        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });


        //$("#Requerimientos").click();





        pageLayout.hide('east');
        pageLayout.hide('south');


    });


</script>
@*
    @{
        var grid = new WebGrid(source: Model,
            defaultSort: "NumeroRequerimiento",
            rowsPerPage: 10,
            canPage: true,
            canSort: true,
            fieldNamePrefix: "ItemRM_",
            selectionFieldName: "selectedRow");
    }

    <div id="grid">
        @grid.GetHtml(
            tableStyle: "webgrid",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            mode: WebGridPagerModes.All,
            firstText: "<< Primera",
            previousText: "< Anterior",
            nextText: "Siguiente >",
            lastText: "Última >>",
                    columns: new[] {
                                            grid.Column(columnName: "NumeroRequerimiento", header: "Nro.", style: "text-align-left"),
                                            grid.Column(columnName: "FechaRequerimiento", header: "Fecha", style: "text-align-left", format: p => p.FechaRequerimiento.ToShortDateString()),
                                            //grid.Column(columnName: "",  format: p=>p.Obra.NumeroObra, header: "Obra", style: "text-align-left"),
                                            //grid.Column(columnName: "Empleados.Nombre", header: "Solicito", style: "text-align-left"),
                                            //grid.Column(columnName: "Empleados1.Nombre", header: "Aprobo", style: "text-align-left"),
                                            //grid.Column(columnName: "Sectores.Descripcion", header: "Sector", style: "text-align-left"),
                                            grid.Column(columnName: "Detalle", header: "Detalle", style: "text-align-left"),
                                            grid.Column("", header: "Acciones",
                                                format: @<text>@Html.ActionLink("Editar", "Edit", new { id = item.IdRequerimiento })|
                                                               @Html.ActionLink("Eliminar", "Delete", new { id = item.IdRequerimiento })</text>
                                            )
                                            }
                                )
    </div>

    <table>
        <tr>
            <th>IdRequerimiento</th>
            <th>Numero RM</th>
            <th>Fecha</th>
            <th>Obra</th>
            <th>Sector</th>
            <th></th>
        </tr>

    @{int i = 1;}
    @foreach (var item in Model)
    {
        <tr class="@(i++ % 2 == 0 ? "highlighted" : "")" >
            <td>@Html.DisplayFor(modelItem => item.IdRequerimiento)</td>
            <td>@Html.DisplayFor(modelItem => item.NumeroRequerimiento)</td>
            <td>@Html.DisplayFor(modelItem => item.FechaRequerimiento)</td>
            <td>@Html.DisplayFor(modelItem => item.Obra.NumeroObra)</td>
            <td>@Html.DisplayFor(modelItem => item.Sectores.Descripcion)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdRequerimiento }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdRequerimiento }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdRequerimiento })
            </td>
        </tr>
    }
    </table>
*@