﻿@model ProntoMVC.Data.Models.Conciliacione
@{
    ViewBag.Title = "Resumen conciliacion";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptResumenConciliacion.js")" type="text/javascript"></script>

    <div id="principal" class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100%  " @*Height of the footer *@>
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; top: 50px; padding-left: 25px; padding-right: 25px; overflow-x: hidden;">
                    <div class="row-fluid">
                        <div class="span3 lightblue">
                            <legend>Resumen conciliacion</legend>
                        </div>
                        <div class="span1 lightblue">
                            <div>@Html.Hidden("IdConciliacion", Model.IdConciliacion)</div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.Numero, "Numero")
                            @Html.TextBoxFor(model => model.Numero, new { style = "text-align: center; font-weight: bold; font-size: 18px;", @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Numero)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.FechaIngreso, "Fecha ingreso")
                            @Html.TextBoxFor(model => model.FechaIngreso, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaIngreso)
                            <script>
                                $("#FechaIngreso").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.FechaInicial, "Fecha inicial resumen")
                            @Html.TextBoxFor(model => model.FechaInicial, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaInicial)
                            <script>
                                $("#FechaInicial").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <div class="span4 lightblue">
                            @Html.LabelFor(model => model.IdRealizo, "Realizo")
                            @Html.DropDownList("IdRealizo", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdRealizo)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4 lightblue">
                            @Html.LabelFor(model => model.IdCuentaBancaria, "Banco")
                            @Html.DropDownList("IdCuentaBancaria", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdCuentaBancaria)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.FechaFinal, "Fecha final resumen")
                            @Html.TextBoxFor(model => model.FechaFinal, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaFinal)
                            <script>
                                $("#FechaFinal").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <div class="span4 lightblue">
                            @Html.LabelFor(model => model.IdAprobo, "Aprobo")
                            @Html.DropDownList("IdAprobo", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdAprobo)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span10 lightblue">
                            <table id="ListaEnExtracto" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager1" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span10 lightblue">
                            <table id="ListaFueraDeExtracto" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager2" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5 lightblue">
                            <table id="ListaNoContable" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager3" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                        <div class="span5 lightblue">
                            <table id="Totales" class="subtotales span12" width="" border="0" cellspacing="0" cellpadding="0" style="margin: 0px 0px 0px 0px; height:; padding: 20px;  border-spacing: 0px; font-size: xx-small; background-color: #E0ECFF; ">
                                <tr class="">
                                    <td width="400" style="font-size: 11px; font-weight: bold; ">Sumatoria movimientos en el extracto (*) :</td>
                                    <td width="100"><input type="text" name="SumatoriaMovimientosEnExtracto" id="SumatoriaMovimientosEnExtracto" style="width: 83%; text-align: right; font-size: 13px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                                <tr class="">
                                    <td width="400" style="font-size: 11px; font-weight: bold; ">Sumatoria movim. en contabilidad (no en extracto) [1] (**) :</td>
                                    <td width="100"><input type="text" name="SumatoriaMovimientosFueraExtracto" id="SumatoriaMovimientosFueraExtracto" style="width: 83%; text-align: right; font-size: 13px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td width="400" style="font-size: 11px; font-weight: bold; ">Saldo contable de la cuenta a la fecha final del extracto [2] :</td>
                                    <td width="100"><input type="text" name="SaldoContable" id="SaldoContable" style="width: 83%; text-align: right; font-size: 13px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td width="400" style="font-size: 11px; font-weight: bold; ">Ordenes de pago anuladas por contraasiento posteriores a [3] :</td>
                                    <td width="100"><input type="text" name="OPAnuladas" id="OPAnuladas" style="width: 83%; text-align: right; font-size: 13px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td width="400" style="font-size: 11px; font-weight: bold; ">Saldo sin tomar movimientos fuera de extracto ( [2] + [3] - [1] ) :</td>
                                    <td width="100"><input type="text" name="Diferencia1" id="Diferencia1" style="width: 83%; text-align: right; font-size: 13px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td width="400" style="font-size: 11px; font-weight: bold; ">Ajustes por movimientos en extracto no contabilizables : </td>
                                    <td width="100">@Html.TextBoxFor(model => model.ImporteAjuste, new { @class = "span12 subtotales", @style = "font-size: 13px; font-weight: bold; text-align: right" })</td>
                                </tr>
                                <tr>
                                    <td width="400" style="font-size: 11px; font-weight: bold; ">Suma movim. pendientes de contabilizar y en extracto (***) :</td>
                                    <td width="100"><input type="text" name="SaldoFueraDeContabilidad" id="SaldoFueraDeContabilidad" style="width: 83%; text-align: right; font-size: 13px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td width="400" style="font-size: 11px; font-weight: bold; ">Saldo final a controlar contra saldo final del extracto :</td>
                                    <td width="100"><input type="text" name="SaldoFinalCalculado" id="SaldoFinalCalculado" style="width: 83%; text-align: right; font-size: 13px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td width="400" style="font-size: 11px; font-weight: bold; ">
                                        <table id="Totales2" class="subtotales span12" width="" border="0" cellspacing="0" cellpadding="0" style="margin: 0px 0px 0px 0px; height:; padding: 0px;  border-spacing: 0px; font-size: xx-small; background-color: #E0ECFF; ">
                                            <tr>
                                                <td width="100" style="font-size: 11px; font-weight: bold; ">Saldo inicial :</td>
                                                <td width="100">@Html.TextBoxFor(model => model.SaldoInicialResumen, new { @class = "span12 subtotales", @style = "font-size: 13px; font-weight: bold; text-align: right" })</td>
                                                <td width="200" style="font-size: 11px; font-weight: bold; ">Saldo final extracto :</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="100">@Html.TextBoxFor(model => model.SaldoFinalResumen, new { @class = "span12 subtotales", @style = "font-size: 13px; font-weight: bold; text-align: right" })</td>
                                </tr>
                                <tr>
                                    <td width="400" style="font-size: 11px; font-weight: bold; ">Diferencia (debe ser igual a cero para grabar el extracto) :</td>
                                    <td width="100"><input type="text" name="Diferencia2" id="Diferencia2" style="width: 83%; text-align: right; font-size: 13px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td width="400" style="font-size: 11px; font-weight: bold; ">Saldo inicial extracto + Movimientos - Saldo final extracto :</td>
                                    <td width="100"><input type="text" name="Diferencia3" id="Diferencia3" style="width: 83%; text-align: right; font-size: 13px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span10 lightblue">
                            @Html.LabelFor(model => model.Observaciones)
                            @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Observaciones)
                        </div>
                    </div>
                </div>

                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236); width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span4 lightblue">
                            <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();
            $("#conscroll").height($(window).height() - 120);
        });
    </script>
}