﻿@model ProntoMVC.Data.Models.OrdenPago
@{
    ViewBag.Title = "Orden de Pago";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptOrdenPago.js")"  type="text/javascript"></script>
    @*<script src="~/Scripts/js/jquery.alerts.js"></script>
    <link href="~/Content/jquery.alerts.css" rel="stylesheet" />*@
    
    <div id="principal" class="container-fluid">
        <form class="form-horizontal">
            <legend>Orden de pago (Otros)</legend>

            <div>@Html.Hidden("IdOrdenPago", Model.IdOrdenPago)</div>
            <div>@Html.Hidden("IdCuenta", Model.IdCuenta)</div>

            <div>@Html.Hidden("IdsComprobanteProveedorRetenidosIva", Model.IdsComprobanteProveedorRetenidosIva)</div>
            <div>@Html.Hidden("TotalesImportesRetenidosIva", Model.TotalesImportesRetenidosIva)</div>
            <div>@Html.Hidden("Anulada", Model.Anulada)</div>
            <div>@Html.Hidden("FechaAnulacion", Model.FechaAnulacion)</div>
            <div>@Html.Hidden("IdUsuarioAnulo", Model.IdUsuarioAnulo)</div>
            <div>@Html.Hidden("MotivoAnulacion", Model.MotivoAnulacion)</div>
            <div>@Html.Hidden("Valores", Model.Valores)</div>
            <div>@Html.Hidden("Acreedores", Model.Acreedores)</div>
            <div>@Html.Hidden("Tipo", Model.Tipo)</div>

            <div class="row-fluid">
                <div class="span1 lightblue">
                    @Html.LabelFor(model => model.NumeroOrdenPago, "Numero")
                    @Html.TextBoxFor(model => model.NumeroOrdenPago, new { style = "font-weight: bold; font-size: 18px;", @class = "span12", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.NumeroOrdenPago)
                </div>
                <div class="span1 lightblue">
                    @Html.LabelFor(model => model.FechaOrdenPago, "Fecha")
                    @Html.TextBoxFor(model => model.FechaOrdenPago, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                    @Html.ValidationMessageFor(model => model.FechaOrdenPago)
                    <script>
                        $("#FechaOrdenPago").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'dd/mm/yy'
                            //numberOfMonths: 2,
                        });
                    </script>
                </div>
                <div class="span1 lightblue">
                    <label for="CodigoCuenta">Codigo</label>
                    <input type="text" name="CodigoCuenta" id="CodigoCuenta" style="font-size: 15px; text-align: center;" class="span12" />
                </div>
                <div class="span4 lightblue">
                    @Html.LabelFor(model => model.IdCuenta, "Cuenta")
                    @Html.DropDownList("IdCuenta", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                    @Html.ValidationMessageFor(model => model.IdCuenta)
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var IdObra, IdCuentaGasto, newOptions

                            $('select#IdCuenta').change(function () {
                                DatosCuenta($(this).val(), "p", 0, "Codigo");
                            });

                            $('#CodigoCuenta').change(function () {
                                var CodigoCuenta = $(this).val();
                                var IdCuenta = TraerCuentaPorCodigo(CodigoCuenta);
                                $('select#IdCuenta').val(IdCuenta);
                            });

                            $('select#IdObra').change(function () {
                                IdObra = $(this).val();
                                IdCuentaGasto = $('select#IdCuentaGasto').val();

                                newOptions = TraerCuentasPorIdObraIdCuentaGasto(IdObra, IdCuentaGasto, "p");
                                if (newOptions.length > 0) {
                                    $("select#IdCuenta").empty();
                                    $("select#IdCuenta").append(newOptions);
                                }
                            });

                            $('select#IdCuentaGasto').change(function () {
                                IdCuentaGasto = $(this).val();
                                IdObra = $('select#IdObra').val();

                                newOptions = TraerCuentasPorIdObraIdCuentaGasto(IdObra, IdCuentaGasto, "p");
                                if (newOptions.length > 0) {
                                    $("select#IdCuenta").empty();
                                    $("select#IdCuenta").append(newOptions);
                                }
                            });

                            $('select#IdTipoCuentaGrupo').change(function () {
                                IdTipoCuentaGrupo = $(this).val();

                                newOptions = TraerCuentasPorIdTipoCuentaGrupo(IdTipoCuentaGrupo, "p");
                                if (newOptions.length > 0) {
                                    $("select#IdCuenta").empty();
                                    $("select#IdCuenta").append(newOptions);
                                }
                            });
                        });
                    </script>
                    @if (Model.IdCuenta > 0) { <script>$(function () { DatosCuenta(Model.IdCuenta, "p", 0, "Codigo"); })</script> }
                </div>
                <div class="span2 lightblue">
                    @Html.LabelFor(model => model.IdObra, "Obra")
                    @Html.DropDownList("IdObra", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                    @Html.ValidationMessageFor(model => model.IdObra)
                    <script>
                        $(function () {
                            $('#IdObra').change(function () {
                                //ActualizarPuntoVenta();
                                //RefrescarM();
                            });
                        });
                    </script>
                </div>
                <div class="span1 lightblue">
                    @Html.LabelFor(model => model.IdCuentaGasto, "Cuenta gasto")
                    @Html.DropDownList("IdCuentaGasto", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                    @Html.ValidationMessageFor(model => model.IdCuentaGasto)
                </div>
                <div class="span1 lightblue">
                    <label for="CodigoCuenta">Grupo cuenta</label>
                    @Html.DropDownList("IdTipoCuentaGrupo", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                </div>
                <div class="span1 lightblue">
                    @Html.LabelFor(model => model.AsientoManual, "Asiento Manual")
                    @Html.CheckBox("AsientoManual", Model.AsientoManual == "SI")
                </div>
            </div>

            <div class="row-fluid">
                <div class="span7 lightblue">
                    <table id="ListaValores" class="scroll" cellpadding="0" cellspacing="0"></table>
                    <div id="ListaPager3" class="scroll" style="text-align: center; height: 30px"></div>
                </div>
                <div class="span5 lightblue">
                    <table id="ListaContable" class="scroll" cellpadding="0" cellspacing="0"></table>
                    <div id="ListaPager2" class="scroll" style="text-align: center; height: 30px"></div>
                </div>
            </div>
            <br />
            <div class="row-fluid">
                <div class="span3 lightblue">
                    <table id="ListaRubrosContables" class="scroll" cellpadding="0" cellspacing="0"></table>
                    <div id="ListaPager5" class="scroll" style="text-align: center; height: 30px"></div>
                </div>
                <div class="span4 lightblue">
                    @Html.LabelFor(model => model.Observaciones)
                    @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12", @style = "height: 250px;" })
                    @Html.ValidationMessageFor(model => model.Observaciones)
                </div>
                <div class="span5 lightblue">
                    <style>
                        .subtotales input {
                            /*height: 16px;*/
                            min-height: 18px !important;
                            line-height: 18px;
                            padding: 0;
                            margin: 0;
                            font-size: 12px;
                            text-align: right;
                            font-weight: bold;
                            background-color: #e8eef4;
                        }

                            .subtotales input[readonly] {
                                background: transparent;
                                border: 0;
                            }

                        .subtotales select {
                            /* height : 16px; */
                            min-height: 18px !important;
                            line-height: 18px;
                            padding: 0;
                            margin: 0;
                            font-size: 10px;
                        }

                        table td {
                            padding: 0px;
                            border: solid 1px;
                            border-color: transparent;
                        }
                    </style>
                    <table id="Totales" class="subtotales span12" width="" border="0" cellspacing="0" cellpadding="0"
                           style="margin: 0px 0px 0px 0px; height:; padding: 20px; border-style: groove; border-width: 0px; border-spacing: 0px; font-size: xx-small; background-color: #E0ECFF; ">
                        <tr class="">
                            <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">SUBTOTAL</td>
                            <td width="100"><input type="text" name="Subtotal" id="Subtotal" style="width: 83%; text-align: right; font-size: 12px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                            <td width="100">MONEDA</td>
                            <td width="100">@Html.DropDownList("IdMoneda", null, "", new { @class = "span12 ", @style = "height: 15px;   line-height: 14px;" })</td>
                        </tr>
                        <tr>
                            <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">RETENCION IVA</td>
                            <td width="100">@Html.TextBoxFor(model => model.RetencionIVA, new { @class = "span10 subtotales" })</td>
                            <td width="100">CONV.PESOS</td>
                            <td width="100">@Html.TextBoxFor(model => model.CotizacionMoneda, new { @class = "span8 subtotales" })</td>
                        </tr>
                        <tr>
                            <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">RETENCION GANANCIAS</td>
                            <td width="100">@Html.TextBoxFor(model => model.RetencionGanancias, new { @class = "span10 subtotales" })</td>
                            <td width="100">COTIZ DOLAR</td>
                            <td width="100">@Html.TextBoxFor(model => model.CotizacionDolar, new { @class = "span8 subtotales" })</td>
                        </tr>
                        <tr>
                            <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">RETENCION IIBB</td>
                            <td width="100">@Html.TextBoxFor(model => model.RetencionIBrutos, new { @class = "span10 subtotales" })</td>
                            <td width="100">COTIZ EURO</td>
                            <td width="100">@Html.TextBoxFor(model => model.CotizacionEuro, new { @class = "span8 subtotales" })</td>
                        </tr>
                        <tr>
                            <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">RETENCION SUSS</td>
                            <td width="100">@Html.TextBoxFor(model => model.RetencionSUSS, new { @class = "span10 subtotales" })</td>
                            <td width="100"></td>
                            <td width="100"></td>
                        </tr>
                        <tr>
                            <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">DESCUENTOS</td>
                            <td width="100">@Html.TextBoxFor(model => model.Descuentos, new { @class = "span10 subtotales" })</td>
                            <td width="100"></td>
                            <td width="100"></td>
                        </tr>
                        <tr>
                            <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">OP COMPLEMENTARIA</td>
                            <td width="100"><input type="text" name="OPComplementaria" id="OPComplementaria" style="width: 83%; text-align: right; font-size: 12px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                            <td width="100"></td>
                            <td width="100"></td>
                        </tr>
                        <tr>
                            <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">TOTAL OP COMPLEM.</td>
                            <td width="100"><input type="text" name="TotalOPComplementaria" id="TotalOPComplementaria" style="width: 83%; text-align: right; font-size: 12px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                            <td width="100"></td>
                            <td width="100"></td>
                        </tr>
                        <tr>
                            <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">DIFERENCIA</td>
                            <td width="100"><input type="text" name="Diferencia" id="Diferencia" style="width: 83%; text-align: right; font-size: 12px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                            <td width="100"></td>
                            <td width="100"></td>
                        </tr>
                    </table>

                    <br />
                    <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />
                    <input type="button" id="ActualizarDatos" value="Calcular" class="btn  btn-large btn-primary " usesubmitbehavior="false" />
                    @if (Model.IdOrdenPago > 0)
                    {<input type="button" id="anular" value="Anular" class="btn  btn-large btn-primary" />}
                    <script>
                        $(function () {
                            $("#anular").click(function () {
                                $("#dialog-password").dialog({
                                    buttons: {
                                        'Aceptar': function () {
                                            //window.location.href = ROOT + 'OrdenPago/Anular/' + $("#IdOrdenPago").val();
                                            var idAux = $("#Aux1").val();
                                            $("#Anulada").val("OK");
                                            $("#FechaAnulacion").val(Hoy());
                                            $("#IdUsuarioAnulo").val(idAux);
                                            $('#grabar2').click();
                                        },
                                        'Cancelar': function () {
                                            $(this).dialog('close');
                                        }
                                    },
                                    open: function () {
                                    }
                                });
                                $('#dialog-password').dialog('open');
                                $('#mySelect').prop("disabled", false);
                                CargarUsuariosConPermisoDeAnulacion();
                            });

                            function CargarUsuariosConPermisoDeAnulacion() {
                                var combo = $("#mySelect")
                                combo.find("option:gt(0)").remove();
                                combo.find("option:first").text("Cargando...");
                                $.getJSON(ROOT + 'Articulo/GetStoreProc?sp=Empleados_TX_ParaAnularPorFormulario&p1=32', {
                                }, function (json) {
                                    combo.find("option:first").text("");
                                    for (var i = 0; i < json.length; i++) {
                                        $("<option/>").attr("value", json[i].value).text(json[i].title).appendTo(combo);
                                    }
                                });
                            }
                        })
                    </script>
                    @if (Model.FechaAnulacion == null)
                    {
                    }
                    else
                    {
                        <span class="label error-info">ANULADA</span>
                        <script>
                            $(function () {
                                deshabilitar();
                            })
                        </script>
                    }
                    @if (Model.AsientoManual == "SI")
                    {
                    <script>$(function () { ActivarAsientoManual(true); })</script> }
                    else
                    {
                    <script>$(function () { ActivarAsientoManual(false); })</script> }
                </div>
            </div>
            <br />
            <br />
            @if (Model.FechaAnulacion == null)
            {
            }
            else
            {
                <span class="label error-info">ANULADA</span>
            }
        </form>
    </div>

    <script type="text/javascript">
        $(function () {
            //pageLayout.hide('east');
            pageLayout.show('east');
            Aprobado();
            function Aprobado() {
                if ($('#Aprobo').val() != "") {
                    //if ($('#FechaAprobacion').val() != null) {
                    $("#chk0").attr('checked', true);
                    var Aprobo = $("#Aprobo > option:selected").html();
                    $("#chk0").attr('title', Aprobo);
                }
                else {
                    $("#chk0").attr('checked', false);
                    $("#chk0").attr('title', "");
                }
            }
        })
    </script>
}