﻿@model ProntoMVC.Data.Models.OrdenPago
@{
    ViewBag.Title = "Orden de Pago";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptOrdenPago.js")" type="text/javascript"></script>
    @*<script src="~/Scripts/js/jquery.alerts.js"></script>
        <link href="~/Content/jquery.alerts.css" rel="stylesheet" />*@

    <div id="principal" class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100%  " @*Height of the footer *@>
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; top: 50px; padding-left: 25px; padding-right: 25px; overflow-x: hidden;">
                    <br />
                    <div id="">
                        <div class="row-fluid" style="">
                            @*            <div class="" style='font-size: 34px; height: 40px; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
                            *@
                            <div class="" style='font-size: 34px; margin-top: 5px; height: 45px; font-weight: 400; text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
                                Orden de pago (Proveedores)
                                @Html.DisplayFor(model => model.NumeroOrdenPago, new { style = "height: 45px ; font-weight: bold; font-size: 34px; border: 0; padding: 0; background: transparent;", @class = "", @readonly = "readonly" })
                                @*@Html.TextBoxFor(model => model.NumeroRequerimiento, new { style = "height: 45px ; font-weight: bold; font-size: 34px; border: 0; padding: 0; background: transparent;", @class = "", @readonly = "readonly" })*@
                            </div>
                        </div>
                    </div>

                    <div>@Html.Hidden("IdOrdenPago", Model.IdOrdenPago)</div>
                    <div>@Html.Hidden("IdProveedor", Model.IdProveedor)</div>
                    <div>@Html.Hidden("IdsComprobanteProveedorRetenidosIva", Model.IdsComprobanteProveedorRetenidosIva)</div>
                    <div>@Html.Hidden("TotalesImportesRetenidosIva", Model.TotalesImportesRetenidosIva)</div>
                    <div>@Html.Hidden("Anulada", Model.Anulada)</div>
                    <div>@Html.Hidden("FechaAnulacion", Model.FechaAnulacion)</div>
                    <div>@Html.Hidden("IdUsuarioAnulo", Model.IdUsuarioAnulo)</div>
                    <div>@Html.Hidden("MotivoAnulacion", Model.MotivoAnulacion)</div>
                    <div>@Html.Hidden("Valores", Model.Valores)</div>
                    <div>@Html.Hidden("Acreedores", Model.Acreedores)</div>
                    <div>@Html.Hidden("Tipo", Model.Tipo)</div>

                    <div class="row-fluid">
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.NumeroOrdenPago, "Numero")
                            @Html.TextBoxFor(model => model.NumeroOrdenPago, new { style = "font-weight: bold; font-size: 18px;", @class = "span12", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.NumeroOrdenPago)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.FechaOrdenPago, "Fecha")
                            @Html.TextBoxFor(model => model.FechaOrdenPago, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaOrdenPago)
                            <script>
                                $("#FechaOrdenPago").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <div class="span3 lightblue">
                            @Html.HiddenFor(model => model.IdProveedor)
                            @Html.LabelFor(model => model.IdProveedor, "Proveedor")
                            @Html.TextBoxFor(m => m.Proveedore.RazonSocial, new { id = "DescripcionProveedor", @class = "span12" })
                            <script type="text/jscript">
                                $("#CodigoProveedor").autocomplete({
                                    source: '@Url.Action("GetCodigosProveedorAutocomplete", "Proveedor")', minLength: 0,
                                    messages: { noResults: "", results: function () { } },
                                    select: proveedorSeleccionado,
                                    autoFocus: true
                                })

                                $("#DescripcionProveedor").autocomplete({
                                    source: '@Url.Action("GetCodigosProveedorAutocomplete", "Proveedor")',
                                    minLength: 0,
                                    messages: { noResults: "", results: function () { } },
                                    select: proveedorSeleccionado,
                                    autoFocus: true
                                });

                                function proveedorSeleccionado(event, ui) {
                                    ActualizarProveedor(ui.item);
                                    ///////////////////////
                                    event.preventDefault();
                                }

                                function ActualizarProveedor(item) {
                                    $("#IdProveedor").val(item.id);
                                    $("#CodigoProveedor").val(item.codigo || "");
                                    $("#DescripcionProveedor").val(item.value || "");
                                    $("#IdCodigoIva").val(item.idCodigoIva);

                                    $("#Proveedor_Email").val(item.Email || "");
                                    $("#Proveedor_Telefono").val(item.Telefono || "");
                                    $("#Proveedor_Direccion").val(item.Direccion || "");
                                    $("#Proveedor_Provincia_Nombre").val(item.Provincia || "");
                                    $("#Proveedor_Localidad_Nombre").val(item.Localidad || "");
                                    $("#Proveedor_Fax").val(item.Fax || "");
                                    $("#Proveedor_Cuit").val(item.Cuit) || "";
                                    $("#IdCondicionVenta").val(item.IdCondicionVenta);
                                    $("#IdListaPrecios").val(item.IdListaPrecios);

                                    $("#Proveedor_EsAgenteRetencionIVA").val(item.EsAgenteRetencionIVA || "");
                                    $("#Proveedor_BaseMinimaParaPercepcionIVA").val(item.BaseMinimaParaPercepcionIVA) || "";
                                    $("#Proveedor_PorcentajePercepcionIVA").val(item.PorcentajePercepcionIVA) || "";

                                    $("#IdIBCondicionPorDefecto").val(item.IdIBCondicionPorDefecto);
                                    $("#IdIBCondicionPorDefecto2").val(item.IdIBCondicionPorDefecto2);
                                    $("#IdIBCondicionPorDefecto3").val(item.IdIBCondicionPorDefecto3);
                                    var someNumericValue = '@(ViewBag.someStringValue)'; //http://stackoverflow.com/questions/10389649/possible-to-access-mvc-viewbag-object-from-javascript-file
                                    $("#Proveedor_PercepcionIIBB").val(someNumericValue);
                                    $('#Proveedor_IBCondicionCat1_AlicuotaPercepcion').val(item.AlicuotaPercepcion1);
                                    $('#Proveedor_IBCondicionCat2_AlicuotaPercepcion').val(item.AlicuotaPercepcion2);
                                    $('#Proveedor_IBCondicionCat3_AlicuotaPercepcion').val(item.AlicuotaPercepcion3);

                                    ActualizarPercepcionIIBB();
                                    $("#ListaDrag").trigger("reloadGrid");
                                    // ActualizarListaPuntoVenta();
                                    // ActualizarPuntoVenta();
                                }

                                function ActualizarPercepcionIIBB() {
                                    var mvarIBCondicion, mvarPercepcionIIBB, mvarId;

                                    mvarIBCondicion = $("#Proveedor_IBCondicion"); // IBCondicion del Proveedor elegido
                                    mvarPercepcionIIBB = $("#PercepcionIIBB"); // PercepcionIIBB de parametros generales -los parametros generales los debo incluir en el model, o en el viewmodel? -agregalos al viewbag...

                                    if (mvarIBCondicion == 1 || mvarIBCondicion == 4 || (mvarId < 0 && mvarPercepcionIIBB != "SI")) {
                                        $("#IdIBCondicionPorDefecto").prop('disabled', true);
                                        $("#IdIBCondicionPorDefecto2").prop('disabled', true);
                                        $("#IdIBCondicionPorDefecto3").prop('disabled', true);
                                    } else {
                                        $("#IdIBCondicionPorDefecto").prop('disabled', false);
                                        $("#IdIBCondicionPorDefecto2").prop('disabled', false);
                                        $("#IdIBCondicionPorDefecto3").prop('disabled', false);
                                    }
                                }

                                function AutocompleteManual(term) {
                                    $.ajax({
                                        type: 'POST',
                                        contentType: 'application/json; charset=utf-8',
                                        url: ROOT + 'Proveedor/GetCodigosProveedorAutocomplete',
                                        dataType: 'json',
                                        // data:JSON.stringify( {formulario: colData , grilla: dataToSend })
                                        data: JSON.stringify({ term: term }),
                                        success: function (result) {
                                            var item = result[0];
                                            ActualizarProveedor(item);
                                        }
                                    })
                                }

                                function ActualizarDatosProveedor(cadenaAutoComplete) {
                                    // var code = "OPELMEC";
                                    // simulo un ingreso y clic en el autocomplete (tiene que tener puesto el autofocus: true)
                                    // http: //stackoverflow.com/questions/8036143/jquery-autocomplete-select-first-item
                                    AutocompleteManual(cadenaAutoComplete);
                                    return;
                                    $("#DescripcionProveedor").val(cadenaAutoComplete);
                                    $("#DescripcionProveedor").autocomplete('search', cadenaAutoComplete);
                                    $(".ui-menu-item:first a").click();
                                    // '@Url.Action("GetCodigosProveedorAutocomplete", "Proveedor")'
                                };
                            </script>
                        </div>
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.IdObra, "Obra")
                            @Html.DropDownList("IdObra", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdObra)
                            <script>
                                $(function () {
                                    $('#IdObra').change(function () {
                                        //ActualizarPuntoVenta();
                                        //RefrescarM();
                                    });

                                });
                            </script>
                        </div>
                        @*<div class="span1 lightblue table-bordered">
                                @Html.LabelFor(model => model.Tipo, "Tipo de OP")
                                @Html.RadioButtonFor(model => model.Tipo, "CC") Cta.Cte.
                                @Html.RadioButtonFor(model => model.Tipo, "FF") Fdo.Fijo
                                @Html.RadioButtonFor(model => model.Tipo, "OT") Otros
                                @Html.ValidationMessageFor(model => model.Tipo)
                            </div>*@
                    </div>

                    <div class="row-fluid">
                        <div class="span7 lightblue">
                            <table id="Lista" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager1" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                        <div class="span5 lightblue">
                            <table id="ListaContable" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager2" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                    </div>
                    <br />
                    <div class="row-fluid">
                        <div class="span7 lightblue">
                            <table id="ListaValores" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager3" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                        <div class="span5 lightblue">
                            <style>
                                .subtotales input {
                                    /*height: 16px;*/
                                    min-height: 18px !important;
                                    line-height: 18px;
                                    padding: 0;
                                    margin: 0;
                                    font-size: 12px;
                                    text-align: right;
                                    font-weight: bold;
                                    background-color: #e8eef4;
                                }

                                    .subtotales input[readonly] {
                                        background: transparent;
                                        border: 0;
                                    }

                                .subtotales select {
                                    /* height : 16px; */
                                    min-height: 18px !important;
                                    line-height: 18px;
                                    padding: 0;
                                    margin: 0;
                                    font-size: 10px;
                                }

                                table td {
                                    padding: 0px;
                                    border: solid 1px;
                                    border-color: transparent;
                                }
                            </style>
                            <table id="Totales" class="subtotales span12" width="" border="0" cellspacing="0" cellpadding="0"
                                   style="margin: 0px 0px 0px 0px; height:; padding: 20px; border-style: groove; border-width: 0px; border-spacing: 0px; font-size: xx-small; background-color: #E0ECFF; ">
                                <tr class="">
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">SUBTOTAL</td>
                                    <td width="100"><input type="text" name="Subtotal" id="Subtotal" style="width: 83%; text-align: right; font-size: 12px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                    <td width="100">MONEDA</td>
                                    <td width="100">@Html.DropDownList("IdMoneda", null, "", new { @class = "span12 ", @style = "height: 15px;   line-height: 14px;" })</td>
                                </tr>
                                <tr>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">RETENCION IVA</td>
                                    <td width="100">@Html.TextBoxFor(model => model.RetencionIVA, new { @class = "span10 subtotales" })</td>
                                    <td width="100">CONV.PESOS</td>
                                    <td width="100">@Html.TextBoxFor(model => model.CotizacionMoneda, new { @class = "span8 subtotales" })</td>
                                </tr>
                                <tr>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">RETENCION GANANCIAS</td>
                                    <td width="100">@Html.TextBoxFor(model => model.RetencionGanancias, new { @class = "span10 subtotales" })</td>
                                    <td width="100">COTIZ DOLAR</td>
                                    <td width="100">@Html.TextBoxFor(model => model.CotizacionDolar, new { @class = "span8 subtotales" })</td>
                                </tr>
                                <tr>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">RETENCION IIBB</td>
                                    <td width="100">@Html.TextBoxFor(model => model.RetencionIBrutos, new { @class = "span10 subtotales" })</td>
                                    <td width="100">COTIZ EURO</td>
                                    <td width="100">@Html.TextBoxFor(model => model.CotizacionEuro, new { @class = "span8 subtotales" })</td>
                                </tr>
                                <tr>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">RETENCION SUSS</td>
                                    <td width="100">@Html.TextBoxFor(model => model.RetencionSUSS, new { @class = "span10 subtotales" })</td>
                                    <td width="100"></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">DESCUENTOS</td>
                                    <td width="100">@Html.TextBoxFor(model => model.Descuentos, new { @class = "span10 subtotales" })</td>
                                    <td width="100"></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">OP COMPLEMENTARIA</td>
                                    <td width="100"><input type="text" name="OPComplementaria" id="OPComplementaria" style="width: 83%; text-align: right; font-size: 12px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                    <td width="100"></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">TOTAL OP COMPLEM.</td>
                                    <td width="100"><input type="text" name="TotalOPComplementaria" id="TotalOPComplementaria" style="width: 83%; text-align: right; font-size: 12px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                    <td width="100"></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">DIFERENCIA</td>
                                    <td width="100"><input type="text" name="Diferencia" id="Diferencia" style="width: 83%; text-align: right; font-size: 12px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                    <td width="100"></td>
                                    <td width="100"></td>
                                </tr>
                            </table>

                            <br />


                        </div>
                    </div>
                    <br />
                    <div class="row-fluid">
                        <div class="span3 lightblue">
                            <table id="ListaRubrosContables" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager5" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                        <div class="span9 lightblue">
                            <table id="ListaImpuestos" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager4" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                    </div>
                    <br />

                    <div class="row-fluid">
                        <div class="span10 lightblue">
                            @Html.LabelFor(model => model.Observaciones)
                            @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Observaciones)
                        </div>
                        <!--/span-->
                    </div>
                    <br />
                    <br />
                    @if (Model.FechaAnulacion == null)
                    {
                    }
                    else
                    {
                        <span class="label error-info">ANULADA</span>
                    }

                </div>

                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236); width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span1 pull-right"></div>
                        <div class="span11 pull-right">
                            @*<input type="button" id="ActualizarDatos" value="Calcular" class="btn  btn-large   pull-right" usesubmitbehavior="false" />
                            @if (Model.IdOrdenPago > 0)
                            {<input type="button" id="anular" value="Anular" class="btn  btn-large btn-danger  pull-right" />}
                            
                            <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary   pull-right" usesubmitbehavior="false" />*@
                            @Html.ActionLink("Volver al listado", "IndexExterno", null, new { @class = "btn btn-link pull-right" })

                        </div>

                        <script>
                            $(function () {
                                $("#anular").click(function () {
                                    $("#dialog-password").dialog({
                                        buttons: {
                                            'Aceptar': function () {
                                                //window.location.href = ROOT + 'OrdenPago/Anular/' + $("#IdOrdenPago").val();
                                                var idAux = $("#Aux1").val();
                                                $("#Anulada").val("OK");
                                                $("#FechaAnulacion").val(Hoy());
                                                $("#IdUsuarioAnulo").val(idAux);
                                                $('#grabar2').click();
                                            },
                                            'Cancelar': function () {
                                                $(this).dialog('close');
                                            }
                                        },
                                        open: function () {
                                        }
                                    });
                                    $('#dialog-password').dialog('open');
                                    $('#mySelect').prop("disabled", false);
                                    CargarUsuariosConPermisoDeAnulacion();
                                });

                                function CargarUsuariosConPermisoDeAnulacion() {
                                    var combo = $("#mySelect")
                                    combo.find("option:gt(0)").remove();
                                    combo.find("option:first").text("Cargando...");
                                    $.getJSON(ROOT + 'Articulo/GetStoreProc?sp=Empleados_TX_ParaAnularPorFormulario&p1=32', {
                                    }, function (json) {
                                        combo.find("option:first").text("");
                                        for (var i = 0; i < json.length; i++) {
                                            $("<option/>").attr("value", json[i].value).text(json[i].title).appendTo(combo);
                                        }
                                    });
                                }
                            })
                        </script>
                        @if (Model.FechaAnulacion == null)
                        {
                        }
                        else
                        {
                            <span class="label error-info">ANULADA</span>
                            <script>
                                $(function () {
                                    deshabilitar();
                                })
                            </script>
                        }
                        @if (Model.AsientoManual == "SI")
                        {
                            <script>$(function () { ActivarAsientoManual(true); })</script> }
                        else
                        {
                            <script>$(function () { ActivarAsientoManual(false); })</script> }
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();
            $("#conscroll").height($(window).height() - 120);
        });

        $(function () {
            //pageLayout.hide('east');
            pageLayout.show('east');
            Aprobado();
            function Aprobado() {
                if ($('#Aprobo').val() != "") {
                    //if ($('#FechaAprobacion').val() != null) {
                    $("#chk0").attr('checked', true);
                    var Aprobo = $("#Aprobo > option:selected").html();
                    $("#chk0").attr('title', Aprobo);
                }
                else {
                    $("#chk0").attr('checked', false);
                    $("#chk0").attr('title', "");
                }
            }
        })
    </script>
}