﻿@model ProntoMVC.Data.Models.Moneda

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Moneda</legend>

        <div>@Html.Hidden("IdMoneda", Model.IdMoneda)</div>
        @Html.HiddenFor(model => model.IdMoneda)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Abreviatura)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Abreviatura)
            @Html.ValidationMessageFor(model => model.Abreviatura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodigoAFIP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CodigoAFIP)
            @Html.ValidationMessageFor(model => model.CodigoAFIP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GeneraImpuestos, "Genera impuestos?")
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.GeneraImpuestos, "SI") SI
            @Html.RadioButtonFor(model => model.GeneraImpuestos, "NO") NO
            @Html.ValidationMessageFor(model => model.GeneraImpuestos)
        </div>

        <br />

        <p>
            <input type="submit" value="Eliminar" />
        </p>
    </fieldset>
}
@using (Html.BeginForm())
{
    <p>
        @Html.ActionLink("Volver al listado", "Index")
    </p>
}
