﻿@model ProntoMVC.Data.Models.Transportista

@{
    ViewBag.Title = "Edit";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="container-fluid">
            <legend>Transportista</legend>
            <div>
                @Html.Hidden("IdTransportista", Model.IdTransportista)
                @Html.HiddenFor(model => model.IdTransportista)
            </div>

            <div class="row-fluid">
                <div class="span4 lightblue">
                    @Html.LabelFor(model => model.RazonSocial, "Razon social")
                    @Html.TextBoxFor(model => model.RazonSocial, new { @class = "span12" })
                    @Html.ValidationMessageFor(model => model.RazonSocial)
                </div>
                <div class="span2 lightblue">
                    @Html.LabelFor(model => model.Codigo)
                    @Html.TextBoxFor(model => model.Codigo, new { @class = "span12" })
                    @Html.ValidationMessageFor(model => model.Codigo)
                </div>
            </div>

            <div class="row-fluid">
                <div class="span4 lightblue">
                    @Html.LabelFor(model => model.Direccion, "Direccion")
                    @Html.TextBoxFor(model => model.Direccion, new { @class = "span12" })
                    @Html.ValidationMessageFor(model => model.Direccion)
                </div>

                <div class="span2 lightblue">
                    @Html.HiddenFor(model => model.IdLocalidad)
                    @Html.LabelFor(model => model.IdLocalidad, "Localidad")
                    @Html.TextBox("Localidad", (Model.Localidade == null ? "" : Model.Localidade.Nombre), new { @class = "span12" })
                    <script type="text/jscript">
                        $("#Localidad").autocomplete({
                            source: '@Url.Action("GetLocalidadesAutocomplete")',
                            minLength: 0,
                            messages: { noResults: "", results: function () { } },
                            select: function (event, ui) {
                                $("#IdLocalidad").val(ui.item.id);
                                $("#Localidad").val(ui.item.value);
                                $("#IdProvincia").val(ui.item.idprovincia);
                                event.preventDefault();
                            }
                        });
                    </script>
                </div>

                <div class="span2 lightblue">
                    @Html.LabelFor(model => model.IdProvincia, "Provincia")
                    @Html.DropDownList("IdProvincia", String.Empty)
                    @Html.ValidationMessageFor(model => model.IdProvincia)
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2 lightblue">
                    @Html.LabelFor(model => model.CodigoPostal, "Codigo postal")
                    @Html.TextBoxFor(model => model.CodigoPostal, new { @class = "span12" })
                    @Html.ValidationMessageFor(model => model.CodigoPostal)
                </div>

                <div class="span2 lightblue">
                    @Html.LabelFor(model => model.Telefono, "Telefono")
                    @Html.TextBoxFor(model => model.Telefono, new { @class = "span12" })
                    @Html.ValidationMessageFor(model => model.Telefono)
                </div>

                <div class="span2 lightblue">
                    @Html.LabelFor(model => model.Email, "Email")
                    @Html.TextBoxFor(model => model.Email, new { @class = "span12" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="span2 lightblue">
                    @Html.LabelFor(model => model.Cuit, "Cuit")
                    @Html.TextBoxFor(model => model.Cuit, new { @class = "span12" })
                    @Html.ValidationMessageFor(model => model.Cuit)
                </div>
            </div>

            <br />

            <p>
                <input type="submit" value="Guardar" />
            </p>
            <div>
                @Html.ActionLink("Volver al listado", "Index")
            </div>
        </div>
</fieldset>
}
