﻿@model IEnumerable<ProntoMVC.Data.Models.Transportista>
@{
    ViewBag.Title = "Transportistas";
}

<br />
<p>
    <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nuevo transportista</button>
</p>

<table id="Lista" class="scroll" cellpadding="0" cellspacing="0"></table>
<div id="ListaPager" class="scroll" style="text-align: center; height: 30px"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("Listado_jqGrid", "Transportista")',
            datatype: 'json',
            mtype: 'POST',
            shrinkToFit: true,
            colNames: ['Acciones', 'IdTransportista', 'Razon social', 'Codigo', 'Direccion', 'Localidad', 'Cod.Pos.', 'Provincia', 'Telefono', 'Email', 'Cuit'],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 0, sortable: false, editable: false, search: false },
                        { name: 'IdTransportista', index: 'IdTransportista', align: 'left', width: 0, editable: false, hidden: true },
                        { name: 'RazonSocial', index: 'RazonSocial', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Codigo', index: 'Codigo', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Direccion', index: 'Direccion', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Localidad', index: 'Localidad', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CodigoPostal', index: 'CodigoPostal', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Provincia', index: 'Provincia', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Telefono', index: 'Telefono', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Email', index: 'Email', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Cuit', index: 'Cuit', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } }
                    ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50, 100],
            sortname: 'IdTransportista',
            sortorder: 'asc',
            viewrecords: true,
            width: 'auto',
            height: '100%',
            altRows: false,
            footerrow: true,
            userDataOnFooter: true,
            caption: '<b>TRANSPORTISTAS</b>'
        });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });

    });

</script>
