﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #5c87b2;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #034af3;
 /*   text-decoration: underline; */
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: underline;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

/*input[type="text"],*/ 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/


table {
    border: solid 1px  #e8eef4;  
    border-collapse: collapse;
}

table td {
    /*padding: 5px;*/
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}





/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

/* Products   
----------------------------------------------------------*/
.products 
{
    margin: 0 auto;  
  	
}

 

.products td, .products th
{
    padding: 5px 15px;
    border: none;
    border-bottom: solid 1px #D4D4D4;
   
}

.products th a
{
    text-decoration: none;
	
}

.highlighted
{
    background-color: #FFFF66;
}

.center 
{
	 text-align: center;
}

.arrow {
	display: inline-block;
    height: 16px;    
    vertical-align: middle;
    width: 13px;
}

.arrow.up 
{
    background-image: url('images/arrow-up.png');	
}

.arrow.down
{
    background-image: url('images/arrow-down.png');	
}

.pagination {
	text-align: center;
	margin: 15px auto;
}
.pagination .current
{
    background-color: #FFFF66;
    border-radius: 5px;
    color: blue;
    padding: 4px 8px;
}

.pagination a
 {
    background-color: #FFFFFF;
    border: 1px solid #86B5EE;
    border-radius: 5px;
    padding: 3px 7px 4px;    
    color: #61ACEA;
    text-decoration: none;
}

.pagination a:hover 
{
	background-color:#FBEFBD;
}

.page-size
{
	display: inline-block;
    margin-left: 50px;
    
}

.page-size select {
	border: 1px solid #86B5EE;
	padding: 2px 2px 2px 5px;
	border-radius: 5px;
	cursor: pointer;
}

.product-search 
{
	text-align: center;
	margin: 15px 0;
}


.arrow {
	display: inline-block;
    height: 16px;    
    vertical-align: middle;
    width: 13px;
}

.arrow.up 
{
    background-image: url('images/arrow-up.png');	
}

.arrow.down
{
    background-image: url('images/arrow-down.png');	
}

.webgrid
{
    width: 50%;
    border: 0px;
    border-collapse: collapse;
}
     
.webgrid a
{
    color: #000;
}
    
.webgrid-header
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-bottom: 2px solid #3966A2;
    height: 40px;
    
    border-top: 2px solid #D6E8FF;
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}
    
.webgrid-footer
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-top: 2px solid #3966A2;
    height: 30px;
    
    border-bottom: 2px solid #D6E8FF;
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}
    
.webgrid-alternating-row
{
    height: 30px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d2d2d2;
    
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}
    
.webgrid-row-style
{
    height: 30px;
    border-bottom: 1px solid #d2d2d2;
    
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}
    
.webgrid-selected-row
{
    font-weight: bold;
}



/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
scrollbar
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*  gmail */


::-webkit-resizer
{
    /* lo quito porque me arruina el textbox multiline */ /*     -webkit-border-radius:4px;     background-color:#666; */
}

/*
::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: #fff;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar:hover
{
    background-color: #eee;
}
::-webkit-scrollbar-thumb
{
    min-height: 0.8em;
    min-width: 0.8em;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-thumb:hover
{
    background-color: #bbb;
}
::-webkit-scrollbar-thumb:active
{
    background-color: #888;
}

*/

/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/


/*  asana  */


/*
::-webkit-scrollbar {
background: rgba(0, 0, 0, 0.05);
box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-moz-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-webkit-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
}
 
::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.05);
border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-moz-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-webkit-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
}
 
::-webkit-scrollbar-thumb {
background: rgba(0, 0, 0, 0.05);
border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-moz-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-webkit-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
}



.asana-desktop ::-webkit-scrollbar-thumb, .dropdown::-webkit-scrollbar-thumb {
background: rgba(0, 0, 0, 0.05);
border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-moz-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-webkit-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
}




*/



/*  /////////////////////////////////////////////////////////////////////////////////////////// */
/*  /////////////////////////////////////////////////////////////////////////////////////////// */
/*  /////////////////////////////////////////////////////////////////////////////////////////// */


/*  CSS Mios */

.centrar
{
	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top:50%;
	left:50%;
	/*determinamos una anchura*/
	width:260px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	  margin-left:-80px; 
	/*determinamos una altura*/
	/*height:150px;*/
	/*indicamos que el margen superior, es la mitad de la altura*/
	margin-top:-110px;
	
	/*
border:1px solid #CCCCFF;
	background-color: #F0F0FF;
*/
	color: #000000;
	padding: 20px;
	font-size: larger;
	 height: 230px;
	/*
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
*/
    border-bottom: none;
}
.but
{
    height: 25px;
    min-width: 74px; /* border-color: #F0C36D;         color: #222;     padding: 0 10px;     border: 1px solid transparent;     border-radius: 2px;     -webkit-border-radius: 2px;     box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
    font-family: Verdana;
    padding: 1px !important;
    color: white;
    text-shadow: 0px -1px #114D97;
    border: 1px solid #114D97;
    background-color: #1F8DD6; /* AZUL ASANA */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#74C1ED), color-stop(10%, #1F8DD6));
    background-image: -moz-linear-gradient(90deg, #1F8DD6 90%, #74C1ED);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; /* http://phrogz.net/CSS/vertical-align/index.html */ /* vertical-align: middle;*/
    text-align: center; /*line-height: 27px;*/ /* AZUL FLUO GOOGLE */ /* background-color: #4D90FE; background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED)); background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED); background-image: -moz-linear-gradient(top,#4D90FE,#4787ED); background-image: -ms-linear-gradient(top,#4D90FE,#4787ED); background-image: -o-linear-gradient(top,#4D90FE,#4787ED); background-image: linear-gradient(top,#4D90FE,#4787ED); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed'); border: 1px solid #3079ED; */
}





 /* parche para que el jqgrid no se vea mal con el bootstrap de twitter */
 
 input.ui-pg-input {
    width: auto;
    padding: 0px;
    margin: 0px;
    line-height: 14px
}
select.ui-pg-selbox {
    width: auto;
    padding: 0px;
    margin: 0px;
    line-height: 18px
}