﻿@model ProntoMVC.Data.Models.Empleado

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Empleado</legend>

    <div class="display-label">IdEmpleado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdEmpleado)
    </div>

    <div class="display-label">Legajo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Legajo)
    </div>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">UsuarioNT</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsuarioNT)
    </div>

    <div class="display-label">Sector</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sector.Descripcion)
    </div>

    <div class="display-label">IdCargo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCargo)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Interno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Interno)
    </div>

    <div class="display-label">Administrador</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Administrador)
    </div>

    <div class="display-label">Iniciales</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Iniciales)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">SisMan</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SisMan)
    </div>

    <div class="display-label">HorasJornada</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HorasJornada)
    </div>

    <div class="display-label">IdSector1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSector1)
    </div>

    <div class="display-label">IdCargo1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCargo1)
    </div>

    <div class="display-label">IdSector2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSector2)
    </div>

    <div class="display-label">IdCargo2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCargo2)
    </div>

    <div class="display-label">IdSector3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSector3)
    </div>

    <div class="display-label">IdCargo3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCargo3)
    </div>

    <div class="display-label">IdSector4</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSector4)
    </div>

    <div class="display-label">IdCargo4</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCargo4)
    </div>

    <div class="display-label">Dominio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dominio)
    </div>

    <div class="display-label">SisMat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SisMat)
    </div>

    <div class="display-label">FechaNacimiento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaNacimiento)
    </div>

    <div class="display-label">TipoUsuario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoUsuario)
    </div>

    <div class="display-label">GrupoDeCarga</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GrupoDeCarga)
    </div>

    <div class="display-label">CuentaBancaria</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CuentaBancaria)
    </div>

    <div class="display-label">InformacionAuxiliar</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InformacionAuxiliar)
    </div>

    <div class="display-label">IdCuentaFondoFijo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCuentaFondoFijo)
    </div>

    <div class="display-label">IdObraAsignada</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdObraAsignada)
    </div>

    <div class="display-label">Activo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activo)
    </div>

    <div class="display-label">Idioma</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Idioma)
    </div>

    <div class="display-label">PuntoVentaAsociado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PuntoVentaAsociado)
    </div>

    <div class="display-label">IdLugarEntregaAsignado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdLugarEntregaAsignado)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Volver al listado", "Index")
    </p>
}
