﻿@model IEnumerable<ProntoMVC.Data.Models.Empleado>
    @{
        ViewBag.Title = "Empleados";
    }

<br />
<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nuevo empleado</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("Listado_jqGrid", "Empleado")',
            datatype: 'json',
            mtype: 'POST',
            shrinkToFit: true,
            colNames: ['Acciones', 'IdEmpleado', 'Nombre', 'Legajo', 'Usuario red', 'Sector', 'Cargo', 'Email', 'Iniciales', 'Es adm?', 'Cuenta ff asignada', 'C.Costo asignado', 'Activo?'],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 0, sortable: false, editable: false, search: false },
                        { name: 'IdEmpleado', index: 'IdEmpleado', align: 'left', width: 0, editable: false, hidden: true },
                        { name: 'Nombre', index: 'Nombre', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Legajo', index: 'Legajo', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'UsuarioNT', index: 'UsuarioNT', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Sector', index: 'Sector', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Cargo', index: 'Cargo', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Email', index: 'Email', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Iniciales', index: 'Iniciales', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Administrador', index: 'Administrador', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CuentaFFAsignada', index: 'CuentaFFAsignada', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'ObraAsignada', index: 'ObraAsignada', align: 'left', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Activo', index: 'Activo', align: 'center', width: 0, editable: false, search: true, searchoptions: { sopt: ['cn'] } }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 20,
            rowList: [10, 20, 50, 100],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            width: 'auto',
            height: '100%',
            altRows: false,
            footerrow: true,
            userDataOnFooter: true,
            caption: '<b>EMPLEADOS</b>'
        });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
    });
</script>
