﻿@model ProntoMVC.Data.Models.OrdenesCompra
@{
    ViewBag.Title = "Orden de compra";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{
    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptOrdenCompra.js")" type="text/javascript"></script>

    <style>
        .subtotales input {
            /*height: 16px;*/
            min-height: 18px !important;
            line-height: 18px;
            padding: 0;
            margin: 0;
            font-size: 12px;
            text-align: right;
            font-weight: bold;
            background-color: #e8eef4;
        }
        .subtotales input[readonly] {
            background: transparent;
            border: 0;
        }
        .subtotales select {
            /* height : 16px; */
            min-height: 18px !important;
            line-height: 18px;
            padding: 0;
            margin: 0;
            font-size: 10px;
        }
        table td {
            padding: 0px;
            border: solid 1px;
            border-color: transparent;
        }
    </style>

    <div id="principal" class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100%  " @*Height of the footer *@>
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; top: 50px; padding-left: 25px; padding-right: 25px; overflow-x: hidden;">
                    <div class="row-fluid">
                        <div class="span6 lightblue titulo">
                            Orden de Compra
                        </div>
                        <div class="span1 lightblue">
                            <div>@Html.Hidden("IdOrdenCompra", Model.IdOrdenCompra)</div>
                            <div>@Html.Hidden("IdCliente", Model.IdCliente)</div>
                            <div>@Html.Hidden("Anulada", Model.Anulada)</div>
                            <div>@Html.Hidden("FechaAnulacion", Model.FechaAnulacion)</div>
                            <div>@Html.Hidden("IdAutorizaAnulacion", Model.IdUsuarioAnulacion)</div>
                            <div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
                            <div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
                        </div>
                        <div class="span1 lightblue"></div>
                        <div class="span2 lightblue"></div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.NumeroOrdenCompra, "Numero")
                            @Html.TextBoxFor(model => model.NumeroOrdenCompra, new { style = "text-align: center; font-weight: bold; font-size: 18px;", @class = "span12", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.NumeroOrdenCompra)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.NumeroOrdenCompraCliente, "Nro. OC cliente")
                            @Html.TextBoxFor(model => model.NumeroOrdenCompraCliente, new { style = "text-align: center; font-weight: bold; font-size: 18px;", @class = "span12" })
                            @Html.ValidationMessageFor(model => model.NumeroOrdenCompraCliente)
                        </div>
                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.FechaOrdenCompra, "Fecha")
                            @Html.TextBoxFor(model => model.FechaOrdenCompra, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaOrdenCompra)
                            <script>
                                $("#FechaOrdenCompra").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.IdCondicionVenta, "Condicion de venta")
                            @Html.DropDownList("IdCondicionVenta", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdCondicionVenta)
                        </div>
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.IdObra, "Obra")
                            @Html.DropDownList("IdObra", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdObra)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span6 lightblue">
                            <label for="Cliente">Cliente</label>
                            <input type="text" name="Cliente" id="Cliente" style="font-size: 15px; text-align: left;" class="span12" />
                            <script type="text/jscript">
                                $("#Cliente").autocomplete({
                                    source: '@Url.Action("GetClientesAutocomplete", "Cliente")',
                                    minLength: 0,
                                    messages: { noResults: "", results: function () { } },
                                    select: function (event, ui) {
                                        $("#IdCliente").val(ui.item.id);
                                        $("#Cliente").val(ui.item.value);
                                        $("#IdCondicionVenta").val(ui.item.IdCondicionVenta);
                                        event.preventDefault();
                                        ActualizarDatos();
                                    }
                                });
                            </script>
                        </div>
                        <div class="span2 lightblue">
                            <label for="CondicionIva">Condicion Iva</label>
                            <input type="text" name="CondicionIva" id="CondicionIva" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span1 lightblue">
                            <label for="Cuit">Cuit</label>
                            <input type="text" name="Cuit" id="Cuit" style="font-size: 10px; text-align: center;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span3 lightblue">
                            <label for="Email">Email</label>
                            <input type="text" name="Email" id="Email" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4 lightblue">
                            <label for="Direccion">Direccion</label>
                            <input type="text" name="Direccion" id="Direccion" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span2 lightblue">
                            <label for="Localidad">Localidad</label>
                            <input type="text" name="Localidad" id="Localidad" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span2 lightblue">
                            <label for="Provincia">Provincia</label>
                            <input type="text" name="Provincia" id="Provincia" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span1 lightblue">
                            <label for="CodigoPostal">Cod. postal</label>
                            <input type="text" name="CodigoPostal" id="CodigoPostal" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                        <div class="span2 lightblue">
                            <label for="Telefono">Telefono</label>
                            <input type="text" name="Telefono" id="Telefono" style="font-size: 15px; text-align: left;" readonly="readonly" class="span12" />
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12 lightblue">
                            <table id="ListaArticulos" class="scroll" cellpadding="0" cellspacing="0"></table>
                            <div id="ListaPager1" class="scroll" style="text-align: center; height: 30px"></div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span6 lightblue">
                            <table id="Adicionales" class="span12" width="" border="0" cellspacing="0" cellpadding="0"
                                   style="margin: 0px 0px 0px 0px; height:; padding: 20px; border-style: groove; border-width: 0px; border-spacing: 0px; font-size: xx-small;">
                                <tr class="">
                                    <td width="220"><label for="CAE">Lista de precio :</label></td>
                                    <td width="200">
                                        @Html.DropDownList("IdListaPrecios", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.IdListaPrecios)
                                    </td>
                                </tr>
                                <tr class="">
                                    <td width="220"><label for="Aprobo">Aprobo :</label></td>
                                    <td width="200">
                                        @Html.DropDownList("Aprobo", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                                        @Html.ValidationMessageFor(model => model.Aprobo)
                                    </td>
                                </tr>
                                <tr class="">
                                    <td width="120"></td>
                                    <td width="300">
                                        @if (Model.FechaAnulacion != null)
                                        {
                                            <span style="margin: 0px 0px 0px 0px; height:; padding: 5px; border-style: groove; border-width: 0px; border-spacing: 0px; font-size: 15px; background-color: rgb(100%, 88%, 88%); ">ANULADA</span>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="span6 lightblue">
                            <table id="Totales" class="subtotales span12" width="" border="0" cellspacing="0" cellpadding="0"
                                   style="margin: 0px 0px 0px 0px; height:; padding: 20px; border-style: groove; border-width: 0px; border-spacing: 0px; font-size: xx-small; background-color: #E0ECFF; ">
                                <tr class="">
                                    <td width="100">MONEDA</td>
                                    <td width="100">@Html.DropDownList("IdMoneda", null, "", new { @class = "span12 ", @style = "height: 15px;   line-height: 14px;" })</td>
                                    <td width="10"></td>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">SUBTOTAL</td>
                                    <td width="60"></td>
                                    <td width="150"><input type="text" name="Subtotal" id="Subtotal" style="width: 83%; text-align: right; font-size: 12px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td width="100"></td>
                                    <td width="100"></td>
                                    <td width="10"></td>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">% BONIFICACION</td>
                                    <td width="60">@Html.TextBoxFor(model => model.PorcentajeBonificacion, new { @class = "span8 subtotales" })</td>
                                    <td width="150"><input type="text" name="Bonificacion" id="Bonificacion" style="width: 83%; text-align: right; font-size: 12px; font-weight: bold; background-color: #e8eef4; " readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td width="100"></td>
                                    <td width="100"></td>
                                    <td width="10"></td>
                                    <td width="150" colspan="2" style="font-size: 12px; font-weight: bold; ">TOTAL ORDEN COMPRA</td>
                                    <td width="60"></td>
                                    <td width="150">@Html.TextBoxFor(model => model.ImporteTotal, new { @class = "span10 subtotales" })</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12 lightblue">
                            @Html.LabelFor(model => model.Observaciones)
                            @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Observaciones)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span1 lightblue">
                            <label for="ArchivoAdjunto1">Archivo adjunto 1</label>
                        </div>
                        <div class="span4 lightblue">
                            @Html.TextBoxFor(model => model.ArchivoAdjunto1, new { @class = "span12", @readonly = "readonly" })
                        </div>
                        <div class="span1 lightblue">
                            <label for="ArchivoAdjunto2">Archivo adjunto 2</label>
                        </div>
                        <div class="span4 lightblue">
                            @Html.TextBoxFor(model => model.ArchivoAdjunto2, new { @class = "span12", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span1 lightblue">
                            <label for="ArchivoAdjunto3">Archivo adjunto 3</label>
                        </div>
                        <div class="span4 lightblue">
                            @Html.TextBoxFor(model => model.ArchivoAdjunto3, new { @class = "span12", @readonly = "readonly" })
                        </div>
                        <div class="span1 lightblue">
                            <label for="ArchivoAdjunto4">Archivo adjunto 4</label>
                        </div>
                        <div class="span4 lightblue">
                            @Html.TextBoxFor(model => model.ArchivoAdjunto4, new { @class = "span12", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span1 lightblue">
                            <label for="ArchivoAdjunto5">Archivo adjunto 5</label>
                        </div>
                        <div class="span4 lightblue">
                            @Html.TextBoxFor(model => model.ArchivoAdjunto5, new { @class = "span12", @readonly = "readonly" })
                        </div>
                        <div class="span1 lightblue">
                            <label for="ArchivoAdjunto6">Archivo adjunto 6</label>
                        </div>
                        <div class="span4 lightblue">
                            @Html.TextBoxFor(model => model.ArchivoAdjunto6, new { @class = "span12", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="row-fluid">
                        @*<div class="span3 lightblue">
                            <input type="file" id="FileUpload" multiple />
                            <input type="button" id="Upload" value="Adjuntar" />
                        </div>*@
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Agregar adjuntos...</span>
                            @if (Model.IdOrdenCompra <= 0)
                            {<input id="fileupload" type="file" name="files[]" multiple>}
                        </span>
                        <br />
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">0% completo</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236); width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span8 lightblue"></div>
                            <div class="span4 lightblue">
                                <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />
                                @if (Model.IdOrdenCompra > 0)
                                {<input type="button" id="anular" value="Anular" class="btn  btn-large btn-primary" />}
                                @*<input type="button" id="probar" value="Probar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />*@
                                <script>
                                    $(function () {
                                        $("#anular").click(function () {
                                            $("#dialog-password").dialog({
                                                buttons: {
                                                    'Aceptar': function () {
                                                        //window.location.href = ROOT + 'OrdenPago/Anular/' + $("#IdOrdenPago").val();
                                                        var idAux = $("#Aux1").val();
                                                        $("#Anulada").val("SI");
                                                        $("#FechaAnulacion").val(Hoy());
                                                        $("#IdUsuarioAnulacion").val(idAux);
                                                        $('#grabar2').click();
                                                    },
                                                    'Cancelar': function () {
                                                        $(this).dialog('close');
                                                    }
                                                },
                                                open: function () {
                                                }
                                            });
                                            $('#dialog-password').dialog('open');
                                            $('#mySelect').prop("disabled", false);
                                            CargarUsuariosConPermisoDeAnulacion();
                                        });

                                        function CargarUsuariosConPermisoDeAnulacion() {
                                            var combo = $("#mySelect")
                                            combo.find("option:gt(0)").remove();
                                            combo.find("option:first").text("Cargando...");
                                            $.getJSON(ROOT + 'Articulo/GetStoreProc?sp=Empleados_TX_ParaAnularPorFormulario&p1=21', {
                                            }, function (json) {
                                                combo.find("option:first").text("");
                                                for (var i = 0; i < json.length; i++) {
                                                    $("<option/>").attr("value", json[i].value).text(json[i].title).appendTo(combo);
                                                }
                                            });
                                        }
                                    })
                                </script>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(window).resize(function () {
            RefrescaAnchoGrillaDetalle();
            $("#conscroll").height($(window).height() - 120);
        });
    </script>
}