﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Firma.aspx.vb" Inherits="Firma" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Página sin título</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:DropDownList ID="cmbEmpleado" runat="server" Width="152px">
        </asp:DropDownList>
        &nbsp;&nbsp;
        <asp:TextBox ID="txtPass" runat="server" ></asp:TextBox>
        &nbsp;
        <asp:Button ID="btnCancelar" runat="server"  Text="Cancelar" />
        <asp:Button ID="btnAceptar" runat="server"  Text="Aceptar" /></div>
    </form>
</body>
</html>
